<div class="feedback popup-content">
    <h2 class="title-no-line">
        {% if(shop==0) %}
            Отзыв о сайте
        {% else %}
            Отзыв о магазине {{ store_name }}
        {% endif %}
    </h2>
    <p class="align-center"><b>Внимание:</b> в отзывах запрещается использовать нецензурные и оскорбительные <br>выражения,
        а также указывать ссылки на внешние интернет-ресурсы.</p>
    {% set form = active_form_begin({
        'id' : 'reviews-form',
        'layout' : 'horizontal',
        'fieldConfig':{
            'horizontalCssClasses':{
                'wrapper':'form-input-group',
            }
        },
        'options' : {
            'class' : 'feedback-form',
            'role' : 'form'
        },
    }) %}


        {{ form.field(model, 'uid', {'template': '{input}'}).hiddenInput().label(false) | raw }}

        {{ form.field(model, 'title',{
            'template' :
            '{beginWrapper}<i>'~svg("info",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
        }).textInput({'placeholder':'Заголовок','required':true}) | raw }}

        {{ form.field(model, 'text',{
            'template' :
            '{input}\n{error}'
        }).textarea({'placeholder':'Текст отзыва','required':true}) | raw }}


        <div class="rating rating-editor">
            <span class="rating-title">Рейтинг:</span>
            <span class="rating-wrapper">
              {% if model.rating > 0 %}
                {% for i in range(1, model.rating|round()) %}
                  {{ svg('star', 'rating-star site-rating_star-icon')|raw }}
                {% endfor %}
              {% endif %}

              {% set estar =  5 - model.rating|round() %}
              {% if estar != 0 %}
                {% for i in range(1, estar) %}
                  {{ svg('star', 'rating-star site-rating-open site-rating_star-icon')|raw }}
                {% endfor %}
              {% endif %}
            </span>
        </div>

        {{ form.field(model, 'rating',{
            'template' :
            '{input}'
        }).hiddenInput().label(false) | raw}}

        <button type="submit" class="btn block_margin-auto btn-min_width240 btn-margin_top">Оставить отзыв</button>
    {{ active_form_end() }}
</div>