<section class="margin">
  <h1 class="reviews__header">{{ t('main', 'reviews')|raw }}</h1>

  {% if reviews|length > 0 %}

    <div class="flex-wrap flex-line margin-half">
      {% set i=0 %}
      {% set user_cashbak_hide=true %}
      {% set comments_max_height=true %}
      {% for review in reviews %}
        {% set i=i+1 %}
        {% set comment_hide = (6 < i) %}
        {% include 'parts/comment.twig' %}
      {% endfor %}
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
    </div>

  {% else %}
    {{ t('main', 'reviews_empty')|raw }}
  {% endif %}

  <div class="margin-half">
    {% include 'parts/pagination.twig' %}
  </div>

  <div class="align-center">
    {% if user_id %}
      <a href="{{ _href('#reviews/send')|raw }}" class="btn modals_open">{{ t('main', 'review_add')|raw }}</a>
    {% else %}
        {{ t('main', 'review_add_you_must <a class="blue modals_open" href="{register}">register</a> or <a class="blue modals_open" href="{login}">login</a>', {'register': _href('#registration') ,'login': _href('#login')})|raw }}
    {% endif %}
  </div>


</section>