<div class="feedback popup-content">
  <h2 class="title-no-line">
    {% if(shop==0) %}
      {{ t('main', 'review_add_form_site')|raw }}
    {% else %}
        {{ t('main', 'review_add_form_{store}', {'store':store_name })|raw }}
    {% endif %}
  </h2>
  <p class="align-center">{{ t('main', 'review_add_can_only_registered')|raw }}</p>

  <div class="align-center">
    <a href="{{ _href('#login')|raw }}" class="btn btn-transform btn-margin btn-mini modals_open">{{ t('common', 'do_login')|raw }}</a>
    <a href="{{ _href('#registration')|raw }}" class="btn btn-mini btn-margin modals_open">{{ t('common','do_register')|raw }}</a>
  </div>
</div>