{{ use('/yii/grid/GridView') }}
{% set title = 'Вывод денег' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="stores-index">
  <div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1  style="padding: 0">{{ html.encode(this.title) }}</h1>
                <div class="col-md-3">
                    <div class="sum_information">
                        <div class="line">
                            <div class="name">Пользователей</div>
                            <div class="value">
                                {{ stat.users }} / {{ stat.users_all }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sum_information">
                        <div class="line">
                            <div class="name">Сумма</div>
                            <div class="value">
                                {% for item in stat.summ %}
                                    <div>{{ _nf(item.summ)|raw }} {{ item.currency }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="line">
                            <div class="name">Всего</div>
                            <div class="value">
                                {% for item in stat.summ_all %}
                                    <div>{{ _nf(item.summ)|raw }} {{ item.currency }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="withdraw_buttons">
                                <a href="/admin/withdraw/delete" class="ajax-action btn btn-danger" ><span class="fa fa-trash"></span> Удалить</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12">
          {{ grid_view_widget({
              'id': 'grid-ajax-action',
              'dataProvider': dataProvider,
              'pager' : {
                'firstPageLabel' : true,
                'lastPageLabel' : true,
                'maxButtonCount':20
              },
              'filterModel': searchModel,
                'columns': [
                {'class': '\\yii\\grid\\SerialColumn'},
                {'class': '\\yii\\grid\\CheckboxColumn'},
                'uid',
              {
                  'format':'raw',
                  'attribute':'user_id',
                  'value' : table_value.user
              },
              {
                'format':'raw',
                'attribute':'process_id',
                'filter':process_list,
                'value' : table_value.process
              },
                'bill',
              {
                  'attribute': 'amount',
                  'value': table_value.amount,
                  'format': 'raw'
              },
              'ip',
              'user_agent',
              'request_date',
                {
                  'format':'raw',
                  'attribute':'status',
                  'filter':{
                    '':'Любой',
                    0:"В ожидании",
                    1:"Отменен",
                    2:"Подтвержден",
                },
                  'value' : table_value.status
                },
                {'class': '\\yii\\grid\\ActionColumn',
                  'template' : '{update}',
                },
              ],
            })
          }}
        </div>
      </div>
    </section>
  </div>
{#
'status',
'request_date',
'user_comment:ntext',
'admin_comment:ntext'
#}
</div>