{% if categories|length %}
    <ul class="shops-category-menu_list" >
        {% for category in categories  %}
            <li class="shops-category-menu_item {% if category.children|length %} menu-group{% endif %} {% if category.current %}open{% endif %}">
                {% if category.id == current %}
                    <span class="active">{{ category.name|raw }} {% if category.count %}({{ category.count }}){% endif %}
                        {% if category.children|length %}
                            {{ svg('angle-down', 'menu_angle-down', '@frontend')|raw }}
                        {% endif %}
                    </span>
                {% else %}
                    <a class="shops-category-menu_link" href="{{ _href('/shop'~category.url)|raw }}">{{ category.name|raw }} {% if category.count %}({{ category.count }}){% endif %}
                        {% if category.children|length %}
                            {{ svg('angle-down', 'menu_angle-down', '@frontend')|raw }}
                        {% endif %}
                    </a>
                {% endif %}
                {% if category.children and category.children|length %}
                    {% set categories = category.children %}
                    {% include('category_menu.twig') %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}