{% set lavel = _if(lavel or lavel|length>0,lavel,1) %}
{% set activ_parent = _if(lavel>1,activ_parent,true) %}

{% if categories|length %}
    <ul class="shops-category-menu_list" >
        {% for category in categories  %}
          {% set active = _if(activ_parent and current and current[lavel-1] and category.route== current[lavel-1],true,false) %}
            <li class="shops-category-menu_item {% if category.children|length %} menu-group{% endif %} {% if active %}open{% endif %}">
                {% if active %}
                    <span class="active">{{ category.name|raw }} {% if category.count_all %}({{ category.count_all }}){% endif %}
                        {% if category.children|length %}
                            {{ svg('angle-down', 'menu_angle-down', '@frontend')|raw }}
                        {% endif %}
                    </span>
                {% else %}
                    <a class="shops-category-menu_link" href="{{ _href('/shop/'~category.full_route)|raw }}">{{ category.name|raw }} {% if category.count_all %}({{ category.count_all }}){% endif %}
                        {% if category.children|length %}
                            {{ svg('angle-down', 'menu_angle-down', '@frontend')|raw }}
                        {% endif %}
                    </a>
                {% endif %}
                {% if category.children and category.children|length %}
                  {{ this.render('category_menu',{
                    categories : category.children,
                    lavel: lavel+1,
                    activ_parent: active
                  }) |raw }}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}