{% if show_dialog %}
    <div class="header-countries_dialog">
        <div class="header-countries_dialog-wrap">
            <div class="header-countries_dialog-image">
                {{ svg('global')|raw }}
            </div>
            <div class="header-countries_dialog-dialog">
                <div class="header-countries_dialog-dialog-title">
                    {{ t('main', 'country_select_dialog_title') }}
                </div>
                <p class="header-countries_dialog-dialog-text">
                    {{ t('main', 'country_select_dialog_text') }}
                </p>
                <div class="header-countries_dialog-dialog-buttons">
                    <button class="btn btn-mini header-countries_dialog-dialog-button-apply">{{ t('main', 'country_select_dialog_apply') }}</button>
                    <button class="btn btn-mini header-countries_dialog-dialog-button-choose">{{ t('main', 'country_select_dialog_select') }}</button>
                </div>
            </div>
            <div class="header-countries_dialog-close">
                <a class="header-countries_dialog-close-button">{{ svg('close')|raw }}</a>
            </div>
        </div>

    </div>
{% endif %}