{% if regions|length>1 %}
  <ul class="header-upline_lang-list btn-header">
    <li>
      {{ regions[active.region].name }}

      <ul class="header-upline_lang-list-drap">
        {% for k,region in regions %}
          {% if k!=active.region %}
            <li><a href="{{ region.url }}" class="header-upline_lang-link">{{ region.name|e }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endif %}

{% if langs|length>1 %}
  <ul class="header-upline_lang-list btn-header">
    <li>
      <img src="{{ langs[active.lang].icon|e }}" class="header-upline_lang-img">
      {{ langs[active.lang].name }}

      <ul class="header-upline_lang-list-drap">
        {% for k,lang in langs %}
          {% if k!=active.lang %}
            <li><a href="{{ lang.url }}" class="header-upline_lang-link"><img src="{{ lang.icon|e }}" class="header-upline_lang-img">{{ lang.name|e }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endif %}
<div style="display: none;" id="sd_lang_list" data-json="{{ langlist }}"></div>