<div class="content-wrapper">
  <section class="account-home">
    <div class="row">
      <div class="col-md-12">
        <div class="balance">
          {% set curr = app.params.currencies[app.params.valuta].icon ? app.params.currencies[app.params.valuta].icon : '' %}
          <div>{{ t('account', 'affiliate_referrals') }}: <b>{{number_referrals}}</b></div>
          <div class="confirm">{{ t('account', 'affiliate_referrals_payments_confirmed') }}: <span>{{_nf(confirmed_payments_referrals) | raw}} {{ curr|raw }}</span></div>
          <div class="pending">{{ t('account', 'affiliate_referrals_payments_expected') }}: <span>{{_nf(pending_payments_referrals) | raw}} {{ curr|raw }}</span></div>
          <br>
          <div class="history hpayments">
            <a href="/account/users">{{ t('common', 'read_more') }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="affiliate account-padding">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          {% if h1 %}
            {{ h1 | raw}}
          {% else %}
            {{ t('account', 'affiliate_h1_default') }}
          {% endif %}
        </h1>
      </div>
      {% include 'parts/principle-affiliate.twig' %}
      <div class="col-md-12 ways-to-invite">
        <h2 class="text-center">{{ t('account', 'affiliate_how_to_share') }}</h2>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe052;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5 style="white-space: nowrap;">{{ t('account', 'affiliate_do_share') }}</h5>

          <div
            class="share42init accauntSoc accauntSoc_32"
            data-socials="1,0,2,4,3"
            data-icon-type="css"
            data-title="{{ _constant('affiliate_share_title')}}"
            data-description="{{ _constant('affiliate_share_description')}}"
            data-image="https://secretdiscounter.ru{{images_path}}templates/woman_600.png"
            data-url="https://secretdiscounter.ru/?r={{user_id}}"
          ></div>
          <script type="text/javascript" src="/js/share42.js"></script>

        </div>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe021;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5>{{ t('account', 'affiliate_do_share_link') }}</h5>
          <p class="link" style="margin-top: -5px; margin-bottom: 0">
            <input type="text" class="link" readonly="readonly" value="https://secretdiscounter.ru/?r={{user_id}}">
          </p>
          <p class="link-sent" >
            <a href="" class="link-to-clipboard" data-link="https://secretdiscounter.ru/?r={{user_id}}">{{ t('account', 'affiliate_copy_to_clipboard') }}/a>
          </p>
        </div>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe028;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5>{{ t('account', 'affiliate_share_by_email') }}</h5>
          <p style="margin-top: -5px;">
              {{ t('account', 'affiliate_share_by_email_text') }}
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <p class="warning text-center">
          {{ t('account', 'affiliate_share_attention')|raw }}
          {#<b>Внимание!</b> Для продвижения Вашей реферальной ссылки категорически запрещается использовать СПАМ.#}
          {#<br>#}
          {#Об остальных условиях партнерской программы читайте ниже.#}
        </p>
      </div>
    </div>
  </section>
  {% if content %}
  <section class="section-content section-padding">
    {{ content | raw}}
  </section>
  {% endif %}
</div>
