{% set curr = currencyIcon(app.params.valuta) %}

<section class="account-balance">
  <div class="account-balance-row">
    <div class="account-balance-block">
        {{ t('account', 'affiliate_referrals') }}:
      <span>{{ number_referrals }}</span>
    </div>
    <div class="account-balance-block">
        {{ t('account', 'affiliate_referrals_payments_confirmed') }}:
      <span class="account-balance-confirm">{{ _nf(confirmed_payments_referrals)|raw }}&nbsp{{ curr|raw }}</span>
    </div>
    <div class="account-balance-block">
        {{ t('account', 'affiliate_referrals_payments_expected') }}:
      <span class="account-balance-pending">{{ _nf(pending_payments_referrals)|raw }}&nbsp{{ curr|raw }}</span>
    </div>
    <div class="account-balance-block"></div>
  </div>
  <div class="account-balance-row">
    <div class="account-balance-block account-balance-block-link">
      <a href="/account/users">{{ t('common', 'read_more') }}</a>
    </div>
  </div>
</section>


{% if affiliate %}
  <section>
    {% if this.user.waitModeration==1 %}
      <div class="account-balance">
        <h3>Заявка на модерации</h3>
        <p>
          Ваша заявка вебмастера принята.
          Ожидайте ответа администратора. После одобрения на ваш e-mail придет письмо с подтверждением.
        </p>
      </div>
    {% endif %}

    <h1>
      {% if h1 %}
        {{ h1 | raw }}
      {% else %}
        {{ t('account', 'affiliate_h1_default') }}
      {% endif %}
    </h1>

    {% include 'parts/principle-affiliate.twig' %}


    <h2 class="text-center">{{ t('account', 'affiliate_how_to_share') }}</h2>

    <div class="flex-line tablets_flex-col">
      <div class="instruction-item tablets_flex-row tablets_text-aling_left">
        {{ svg('global','instruction-icon instruction-icon-mini svg-no-stroke')|raw }}
        <div class="instruction-wrap">
          <div class="instruction-title">
            Расскажите о нас в соцсетях
          </div>
          <div class="instruction-content">
            <div
                class="share42init accauntSoc accauntSoc_32"
                data-socials="1,0,2,4,3"
                data-icon-type="svg"
                data-icon-size=28
                data-title="{{ _constant('affiliate_share_title') }}"
                data-description="{{ _constant('affiliate_share_description') }}"
                data-url="https://secretdiscounter.ru/?r={{ user_id }}"
            ></div>
          </div>
        </div>
      </div>
      <div class="instruction-item tablets_flex-row tablets_text-aling_left">
        {{ svg('megaphone','instruction-icon instruction-icon-mini svg-no-stroke')|raw }}
        <div class="instruction-wrap">
          <div class="instruction-title">
            Отправьте друзьям ссылку
          </div>
          <div class="instruction-content">
              <input type="text" class="link" readonly="readonly" value="https://secretdiscounter.ru/?r={{ user_id }}">

              <a href="" class="blue set_clipboard"
                 data-clipboard="https://secretdiscounter.ru/?r={{ user_id }}"
                 data-clipboard-notify="Ваша партнёрская ссылка скопирована в буфер обмена. Удачной работы!"
              >{{ t('account', 'affiliate_copy_to_clipboard') }}</a>
          </div>
        </div>
      </div>
      <div class="instruction-item tablets_flex-row tablets_text-aling_left">
        {{ svg('mail','instruction-icon instruction-icon-mini svg-no-stroke')|raw }}
        <div class="instruction-wrap">
          <div class="instruction-title">
            Или по электронной почте
          </div>
          <div class="instruction-content">
            Отправьте ссылку всем своим друзьям по e-mail
          </div>
        </div>
      </div>
    </div>

    <p class="align-center">
      {{ t('account', 'affiliate_share_attention')|raw }}
    </p>

  </section>
{% else %}
  <h1>
    {% if h1 %}
      {{ h1 | raw }}
    {% else %}
      {{ t('account', 'affiliate_h1_default') }}
    {% endif %}
  </h1>
  {% if this.user.waitModeration==1 %}
    <div class="account-balance">
      <h3>Заявка на модерации</h3>
      <p>
        Ваша заявка вебмастера принята.
        Ожидайте ответа администратора. После одобрения на ваш e-mail придет письмо с подтверждением.
      </p>
    </div>
  {% endif %}
{% endif %}

{% if content %}
  <section class="section-content section-padding margin">
     {{ _tags_class(content, {'a':'blue'}) | raw}}
  </section>
{% endif %}

