<div class="cpa_box tab_{{tariff.id}} to_remove" rm_class=".tab_butt_{{tariff.id}}">
  <h4>
    Настройки CPA
    <span class="ajax_remove" uid="{{tariff.id}}" mode="cpa" url="/admin/stores/ajax_remove/cpa">
      Удалить
    </span>
  </h4>
  <div class="edit_wrapper ajax_save" uid="{{tariff.id}}" save_url="/admin/stores/ajax_save/cpa">
    <div class="edit_blk">
      <p>
        <span>Affiliate ID:</span> <br>
        {% if tariff.cpa_id == 1 %}
          <input type="text" mode="cpa" name="affiliate_id" value="{{tariff.affiliate_id}}">
        {% else %}
          <input type="text" value="{{tariff.id}}" disabled>
        {% endif %}
      </p>
    </div>
    {% if tariff.cpa_id != 2 %}
      <div class="edit_blk">
        <p><span>Affiliate LINK:</span> <br><input type="text" mode="cpa" name="affiliate_link" value="{{tariff.affiliate_link}}"></p>
      </div>
    {% endif %}
  </div>

  <h4>
    События
    <span class="add_button add_shop_element" mode="action" parent="{{tariff.id}}">Добавить событие</span>
  </h4>
  {% for action in tariff.storeActions %}
    {% include 'store/actions.twig' %}
  {% endfor %}
</div>