<section class="instruction margin">
    <div class="page-wrap">
        <h2 class="content-header">{{ t('shop', 'why_only_we_title')|raw }}</h2>
        <div class="flex-line tablets_block">
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('shop','instruction-icon instruction-icon-big','@frontend')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ t('shop', 'why_only_we_save_time')|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ t('shop', 'why_only_we_save_time_text')|raw }}
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('bay','instruction-icon instruction-icon-big','@frontend')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ t('shop', 'why_only_we_compare')|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ t('shop', 'why_only_we_compare_text')|raw }}
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('pig','instruction-icon instruction-icon-big','@frontend')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ t('shop', 'why_only_we_cashback')|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ t('shop', 'why_only_we_cashback_text')|raw }}
                    </div>
                </div>
            </div>
        </div>
        <p class="align-center">
            <span class="notes"></span> <b><a class="blue" href="{{ _href('/offline-system', 'https://secretdiscounter.com')|raw }}">{{ _constant('index-hello-instructions', 0, 7)|raw }}</a></b></p>
    </div>
</section>