<div class="col-md-12">
    <div class="sum_information">
        <div class="line">
            <div class="name">Пользователей в выборке</div>
            <div class="value">
                {{ stats_query.users }}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table  class="table table-sum" >
        <tr>
            <th></th>
            <th>Сумма заказов</th>
            <th>Вознаграждение</th>
            <th>Кэшбэк</th>
            <th>Бонус другу</th>
        </tr>
        <tr class="line">
            <td class="name">Всего</td>
            <td class="value">{{ _nf(stats_query.all.order_price)|raw }}</td>
            <td class="value">{{ _nf(stats_query.all.reward)|raw }}</td>
            <td class="value">{{ _nf(stats_query.all.cashback)|raw }}</td>
            <td class="value">{{ _nf(stats_query.all.ref)|raw }}</td>
        </tr>
        <tr class="line">
            <td class="name">В ожидании</td>
            <td class="value">{{ _nf(stats_query.wait.order_price)|raw }}</td>
            <td class="value">{{ _nf(stats_query.wait.reward)|raw }}</td>
            <td class="value">{{ _nf(stats_query.wait.cashback)|raw }}</td>
            <td class="value">{{ _nf(stats_query.wait.ref)|raw }}</td>
        </tr>
        <tr class="line">
            <td class="name">Отменено</td>
            <td class="value">{{ _nf(stats_query.revoke.order_price)|raw }}</td>
            <td class="value">{{ _nf(stats_query.revoke.reward)|raw }}</td>
            <td class="value">{{ _nf(stats_query.revoke.cashback)|raw }}</td>
            <td class="value">{{ _nf(stats_query.revoke.ref)|raw }}</td>
        </tr>
        <tr class="line">
            <td class="name">Подтверждено</td>
            <td class="value">{{ _nf(stats_query.success.order_price)|raw }}</td>
            <td class="value">{{ _nf(stats_query.success.reward)|raw }}</td>
            <td class="value">{{ _nf(stats_query.success.cashback)|raw }}</td>
            <td class="value">{{ _nf(stats_query.success.ref)|raw }}</td>
        </tr>
    </table>
</div>
