{{ use('/yii/grid/GridView') }}
{% set title = 'Платежи' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="payments-index">
    <div class="payments-index">
        <div class="content-wrapper">
            <section>
                <div class="row">
                    <div  class="col-md-12">
                            <h1>{{ html.encode(this.title) }}</h1>
                            {# include('_search.twig', {'model': searchModel}) #}
                            <p>
                                <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Payments' }}</a>
                                <a href="#get_admitad" class="btn btn-info {{ _if(canAdmitadUpdate,'get_admitad','disabled') }}">{{ 'Получить даные с Admitad' }}</a>
                                <a href="https://www.admitad.com/ru/webmaster/statistics/actions/?{{ _if(sub_ids>0,'sub_ids='~sub_ids) }}&predefined_range=this_year" class="btn btn-warning" target="_blank">{{ 'Перейти в Admitad' }}</a>
                            </p>
                                {{ grid_view_widget({
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,
                                'columns': [
                                {'class': '\\yii\\grid\\SerialColumn'},
                                    'uid',
                                    'action_id',
                                    {
                                        'format':'raw',
                                        'attribute':'action_date',
                                        'headerOptions' : {
                                            'class' : 'col-md-2'
                                        },
                                        'filter': data_ranger
                                    },
                                    {
                                        'format':'raw',
                                        'attribute':'status',
                                        'value' : 'stringStatus',
                                        'filter':{
                                        '':'Любой',
                                        0:"В ожидании",
                                        1:"Отклонён",
                                        2:"Подтвержден",
                                        },
                                    },
                                    {
                                        'format':'raw',
                                        'attribute':'order_price',
                                        'value': old_value_control,
                                    },
                                    {
                                        'format':'raw',
                                        'attribute':'reward',
                                        'value': old_value_control,
                                    },
                                    'cashback',
                                    {
                                        'format':'raw',
                                        'attribute':'user_id',
                                        'value':'email',
                                    },
                                    {
                                        'format':'raw',
                                        'attribute':'storeName'
                                    },
                                    {'class': '\\yii\\grid\\ActionColumn',
                                        'template' : '{update} {delete}',
                                    },
                            ],
                        })
                    }}
                    {#
                    'order_price',
                    'reward',
                    'cashback',
                    'status',
                    'click_date',
                    'action_date',
                    'status_updated',
                    'closing_date',
                    'cpa_id',
                    'additional_id',
                    'ref_bonus_id',
                    'ref_bonus',
                    'ref_id',
                    'loyalty_status',
                    'order_id',
                    'shop_percent',
                    'kurs'
                    #}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>