{{ use('/yii/grid/GridView') }}
{% set title = 'Платежи' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="payments-index">
    <div class="payments-index">
        <div class="content-wrapper">
            <section>
                <div class="row">
                    <h1>{{ html.encode(this.title) }}</h1>
                    {# include('_search.twig', {'model': searchModel}) #}
                    <p>
                        <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Payments' }}</a>
                    </p>
                        {{ grid_view_widget({
                    'dataProvider': dataProvider,
                    'filterModel': searchModel,
                        'columns': [
                        {'class': '\\yii\\grid\\SerialColumn'},
                            'uid',
                            'action_id',
                            {
                                'format':'raw',
                                'attribute':'status',
                                'value' : 'stringStatus',
                                'filter':{
                                '':'Любой',
                                0:"В ожидании",
                                1:"Отклонён",
                                2:"Подтвержден",
                                },
                            },
                            'ref_bonus',
                            'reward',
                            {
                                'format':'raw',
                                'attribute':'email',
                            },
                            {
                                'format':'raw',
                                'attribute':'storeName'
                            },
                            {'class': '\\yii\\grid\\ActionColumn',
                                'template' : '{update} {delete}',
                            },
                    ],
                })
            }}
        {#
        'order_price',
        'reward',
        'cashback',
        'status',
        'click_date',
        'action_date',
        'status_updated',
        'closing_date',
        'cpa_id',
        'additional_id',
        'ref_bonus_id',
        'ref_bonus',
        'ref_id',
        'loyalty_status',
        'order_id',
        'shop_percent',
        'kurs'
        #}
        </div>
            </section>
        </div>
    </div>
</div>