<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">
                    <div class="confirm">Баланс: <span>{{_nf(this.balance.current) | raw}} <span class="fa fa-rub"></span></span></div>
                    <div class="pending">В ожидании: <span>{{_nf(this.balance.pending) | raw}} <span class="fa fa-rub"></span></span></div>
                    <div class="charity">Пожертвовано: <span>{{_nf(this.balance.charity) | raw}}  <span class="fa fa-rub"></span></span> <a href="/account/dobro/transfer" class="btn-fill">Благотворительность</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>История запросов на вывод денег</h3>
            </div>
            {% if withdraw|length > 0 %}
            <div class="col-md-12">
                <table class="table table-wh">
                    <thead>
                        <tr>
                            <th>Дата запроса</th>
                            <th>Способ</th>
                            <th>Счёт/Номер/Email</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th>Комментарий администратора</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for w in withdraw %}
                        <tr>
                            <td>{{_date(w.request_date)}}</td>
                            <td>{{w.name}}</td>
                            <td>{{w.bill}}</td>
                            <td class="cashback {{w.status}}">
                                {{ _nf(w.amount) | raw}} <span class="fa fa-rub"></span>
                            </td>
                            <td class="status {{w.status}}">
                            {% if w.status == 1 %}
                            <span class="fa fa-clock-o"></span> В ожидании
                            {% endif %}
                            {% if w.status == 2 %}
                            <span class="fa fa-check"></span> Подтверждён
                            {% endif %}         
                            {% if w.status == 0 %}
                            <span class="fa fa-times"></span> Отклонён
                            {% endif %}     
                            </td>
                            <td>
                                {{ _n_to_br(w.admin_comment) | raw}}
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="col-md-12">
                <div class="not-found">На данный момент Вы ни разу не делали запрос на вывод денежных средств.</div>
            </div>
            {% endif %}
        </div>
    </section>
    {% include '/parts/pagination.twig' %}
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>Итого выплачено: {{ _nf(user.sum_withdraw) | raw }} руб</h3>
            </div>
        </div>
    </section>

</div>