|raw{% include('parts/account/user_balance.twig') %}
{% set curr = currencyIcon(app.user.identity.currency) %}

<section class="account account-padding">
  <h1>{{ t('account', 'withdraw_history')|raw }}</h1>

  {% if withdraw|length > 0 %}
    <table class="table ta_left adaptive adaptive-tablets">

      <tr>
        <th>{{ t('common', 'date_request')|raw }}</th>
        <th>{{ t('common', 'method')|raw }}</th>
        <th>{{ t('common', 'cashe_nomber_email')|raw }}</th>
        <th>{{ t('common', 'amount')|raw }}</th>
        <th>{{ t('common', 'status')|raw }}</th>
        <th>{{ t('common', 'admin_comment')|raw }}</th>
      </tr>

      {% for w in withdraw %}
        <tr>
          <td>{{ _date(w.request_date) }}</td>
          <td>{{ w.name }}</td>
          <td>{{ w.bill }}</td>
          <td class="cashback {{ w.status }}">
            {{ _nf(w.amount) | raw }}&nbsp;{{ curr|raw }}
          </td>
          <td class="status {{ w.status }}">
            {% if w.status == '0' %}
              {{ svg('clock-o','currency-icon')|raw }}{{ w.status_title }}
            {% elseif w.status == '1' %}
              {{ svg('close','currency-icon')|raw }}{{ w.status_title }}
            {% elseif w.status == '2' %}
              {{ svg('check','currency-icon')|raw }}{{ w.status_title }}
            {% endif %}
          </td>
          <td>
            {{ _n_to_br(w.admin_comment) | raw }}
          </td>
        </tr>
      {% endfor %}

    </table>

  {% else %}
    <div class="not-found">{{ t('account', 'withdraw_empty')|raw }}</div>
  {% endif %}
  {% include '/parts/pagination.twig' %}
</section>

<section class="account-padding">
  <h3>{{ t('account', 'withdraw_total')|raw }}: {{ _nf(user.sum_withdraw) | raw }} {{ curr | raw }}</h3>
</section>
