<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">
                    {% include('parts/user_balance.twig') %}
                </div>
            </div>
        </div>
    </section>
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ t('account', 'withdraw_history') }}</h3>
            </div>
            {% if withdraw|length > 0 %}
            <div class="col-md-12">
                <table class="table table-wh">
                    <thead>
                        <tr>
                            <th>{{ t('common', 'date_request') }}</th>
                            <th>{{ t('common', 'method') }}</th>
                            <th>{{ t('common', 'cashe_nomber_email') }}</th>
                            <th>{{ t('common', 'amount') }}</th>
                            <th>{{ t('common', 'status') }}</th>
                            <th>{{ t('common', 'admin_comment') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set curr = app.params.currencies[app.params.valuta].text ? app.params.currencies[app.params.valuta].icon : '' %}
                        {% for w in withdraw %}
                        <tr>
                            <td>{{_date(w.request_date)}}</td>
                            <td>{{w.name}}</td>
                            <td>{{w.bill}}</td>
                            <td class="cashback {{w.status}}">
                                {{ _nf(w.amount) | raw}} {{ curr|raw }}
                            </td>
                            <td class="status {{w.status}}">
                            {% if w.status == 1 %}
                            <span class="fa fa-clock-o"></span>
                            {% endif %}
                            {% if w.status == 2 %}
                            <span class="fa fa-check"></span>
                            {% endif %}         
                            {% if w.status == 0 %}
                            <span class="fa fa-times"></span>
                            {% endif %}
                                {{w.status_title}}
                            </td>
                            <td>
                                {{ _n_to_br(w.admin_comment) | raw}}
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="col-md-12">
                <div class="not-found">{{ t('account', 'withdraw_empty') }}</div>
            </div>
            {% endif %}
        </div>
    </section>
    {% include '/parts/pagination.twig' %}
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                {% set curr = app.params.currencies[app.params.valuta].text ? app.params.currencies[app.params.valuta].text : '' %}
                <h3>{{ t('account', 'withdraw_total') }}: {{ _nf(user.sum_withdraw) | raw }} {{ curr }}</h3>
            </div>
        </div>
    </section>

</div>