{% include('parts/account/user_balance.twig') %}
{% set curr = currencyIcon(app.params.valuta) %}

<section class="account account-padding">
  <h1>{{ t('account', 'withdraw_history') }}</h1>

  {% if withdraw|length > 0 %}
    <table class="table ta_left adaptive adaptive-tablets">

      <tr>
        <th>{{ t('common', 'date_request') }}</th>
        <th>{{ t('common', 'method') }}</th>
        <th>{{ t('common', 'cashe_nomber_email') }}</th>
        <th>{{ t('common', 'amount') }}</th>
        <th>{{ t('common', 'status') }}</th>
        <th>{{ t('common', 'admin_comment') }}</th>
      </tr>

      {% for w in withdraw %}
        <tr>
          <td>{{ _local_date(w.request_date, t('dictionary', 'date_format_long'))|raw }}</td>
          <td>{{ w.name }}</td>
          <td>{{ w.bill }}</td>
          <td class="cashback {{ w.status }}">
            {{ _nf(w.amount) | raw }}&nbsp;{{ curr|raw }}
          </td>
          <td class="status {{ w.status }}">
            {% if w.status == '0' %}
              {{ svg('clock-o','currency-icon')|raw }}{{ w.status_title }}
            {% elseif w.status == '1' %}
              {{ svg('close','currency-icon')|raw }}{{ w.status_title }}
            {% elseif w.status == '2' %}
              {{ svg('check','currency-icon')|raw }}{{ w.status_title }}
            {% endif %}
          </td>
          {% if w.admin_comment != '' %}
            <td class="scroll_box-item account-table">
              <div class="scroll_box-content auto_hide_control">
                <div class="scroll_box-text max_text_hide">
                    {{ _n_to_br(w.admin_comment) | raw }}
                </div>
                <a class="blue scroll_box-show_more">{{ t('common', 'read_all_topic')|raw }}</a>
              </div>
            </td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}

    </table>

  {% else %}
    <div class="not-found">{{ t('account', 'withdraw_empty') }}</div>
  {% endif %}
  {% include '/parts/pagination.twig' %}
</section>

<section class="account-padding">
  <h3>{{ t('account', 'withdraw_total') }}: {{ _nf(user.sum_withdraw) | raw }} {{ curr | raw }}</h3>
</section>
