{{ use('/yii/widgets/ActiveForm') }}

<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ html.encode(this.title) }}
                </h1>
            </div>
            <div class="stores-form">
                {% set form = active_form_begin() %}

                <div class="col-md-6">
                    <p><span>Название:</span> <br>{{ form.field(model, 'name').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Название по русски:</span> <br>{{ form.field(model, 'local_name').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Route:</span> <br>{{ form.field(model, 'route').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>URL:</span> <br>{{ form.field(model, 'url').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Акция</span> {{ form.field(model, 'action_id').dropDownList({'0' : '','1' : 'Двойной кэшбэк'}).label(false)|raw }}</p>
                </div>
                <div class="col-md-6">
                    <p>
                        <span>Logo:</span>
                        <img for="Stores[logoImage]" style="max-height: 150px;" src="images/logos/{{ model.logo | raw }}">
                    </p>
                    {{ form.field(model, 'logoImage').fileInput().label(false)|raw }}
                    <p><span>Валюта:</span> <br> {{ form.field(model, 'currency').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Отображаемый cashback:</span> <br>{{ form.field(model, 'displayed_cashback').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Отображаемое время холда (дней):</span> <br>{{ form.field(model, 'hold_time').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Процент отдаваемый от нашей выгоды:</span> <br>{{ form.field(model, 'percent').textInput({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Магазин активен:</span><br>
                        {{ form.field(model, 'is_active').dropDownList({'-1' : 'Выключен','0' : 'Приостановлен','1' : 'Активен'}).label(false)|raw }}
                    </p>
                    <p><span>Магазин оффлайн:</span><br>
                        {{ form.field(model, 'is_offline').dropDownList({'0' : 'Онлайн','1' : 'Оффлайн'}).label(false)|raw }}
                    </p>
                    <p><span>Связанный магазин (ID):</span> <br>{{ form.field(model, 'related').textInput({'maxlength':true}).label(false)|raw }}</p>
                </div>
                <div class="col-md-12">
                    <p><span>Alias:</span> <br>{{ form.field(model, 'alias').textarea({'maxlength':true}).label(false)|raw }}</p>
                    <p><span>Краткое описание  (Информация о  ...):</span> <br> {{ form.field(model, 'short_description').textarea({'maxlength':true,'class':'visual_editor'}).label(false)|raw }} </p>
                    <p>
                        <span>Описание  (Информация о кэшбэк в ...):</span>
                        <br> {{ form.field(model, 'description').textarea({'maxlength':true,'class':'visual_editor'}).label(false)|raw }}
                    </p>
                    <p><span>Специальные условия  (Дополнительная информация):</span> <br> {{ form.field(model, 'conditions').textarea({'maxlength':true,'class':'visual_editor'}).label(false)|raw }}</p>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                </div>
                {{ active_form_end() }}
            </div>
        </div>
    </section>
</div>