{{ use('/yii/widgets/ActiveForm') }}
<div class="stores-search">
    {% set form = active_form_begin({
            'action': ['index'],
            'method': 'get',
        })
    %}

    {{ form.field(model, 'uid')|raw }}

    {{ form.field(model, 'name')|raw }}

    {{ form.field(model, 'route')|raw }}

    {{ form.field(model, 'alias')|raw }}

    {{ form.field(model, 'url')|raw }}

    {# form.field(model, 'logo')|raw #}

    {# form.field(model, 'description')|raw #}

    {# form.field(model, 'currency')|raw #}

    {# form.field(model, 'displayed_cashback')|raw #}

    {# form.field(model, 'conditions')|raw #}

    {# form.field(model, 'added')|raw #}

    {# form.field(model, 'visit')|raw #}

    {# form.field(model, 'hold_time')|raw #}

    {# form.field(model, 'is_active')|raw #}

    {# form.field(model, 'short_description')|raw #}

    {# form.field(model, 'local_name')|raw #}

    {# form.field(model, 'active_cpa')|raw #}

    {# form.field(model, 'percent')|raw #}

    {# form.field(model, 'action_id')|raw #}

    {# form.field(model, 'contact_name')|raw #}

    {# form.field(model, 'contact_phone')|raw #}

    {# form.field(model, 'contact_email')|raw #}

    <div class="form-group">
        <input type="submit" value="{{ 'Search' }}" class="btn btn-primary">
        <input type="reset" value="{{ 'Reset' }}" class="btn btn-default">
    </div>
    {{ active_form_end() }}
</div>