{{ use('/yii/grid/GridView') }}
{% set title = 'Stores' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="stores-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1 style="padding: 0">{{ html.encode(this.title) }}</h1>
                    <div class="col-md-6">
                        <div class="sum_information">
                            <div class="line">
                                <div class="name"><a href="/admin/stores">Всего магазинов</a></div>
                                <div class="value">
                                    {{ stat.all }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=1">Активных</a></div>
                                <div class="value">
                                    {{ stat.active }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=0">Приостановленных</a></div>
                                <div class="value">
                                    {{ stat.waiting }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=-1">Выключенных</a></div>
                                <div class="value">
                                    {{ stat.blocked }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[charity]=1">Благотворительных</a></div>
                                <div class="value">
                                    {{ stat.charity }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sum_information">
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[cpa_id]=1">Через CPA</a></div>
                                <div class="value">
                                    {{ stat.cpa_cpa }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[cpa_id]=2">Оффлайн</a></div>
                                <div class="value">
                                    {{ stat.cpa_offline }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[cpa_id]=3">Прямые</a></div>
                                <div class="value">
                                    {{ stat.cpa_direct }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    {# include('_search.twig', {'model': searchModel}) #}
                    <p>
                        <a href="/admin/stores/create" class="btn btn-success">Создать магазин</a>
                    </p>
                    {{ grid_view_widget({
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,

                            'pager' : {
                                'firstPageLabel' : true,
                                'lastPageLabel' : true,
                                'maxButtonCount':20
                            },
                             'columns': [
                                {'class': '\\yii\\grid\\SerialColumn'},

                                'uid',
                                'name',
                                {
                                    'format':'raw',
                                    'attribute':'route',
                                    'value' : table_value.route
                                },
                                'local_name',
                                {
                                    'format':'raw',
                                    'attribute':'url',
                                    'value' : table_value.url
                                },
                                'visit',
                                'category_cnt',
                                {
                                    'format':'raw',
                                    'attribute':'is_offline',
                                    'filter':{
                                        '':'Любой',
                                        0:"Онлайн",
                                        1:"Оффлайн",
                                    },
                                    'value' : table_value.is_offline
                                },
                                {
                                    'format':'raw',
                                    'attribute':'is_active',
                                    'filter':{
                                        '':'Любой',
                                        1:"Активен",
                                        0:"Приостановлен",
                                        '-1':"Выключен",
                                    },
                                    'value' : table_value.is_active
                                },
                                {'class': '\\yii\\grid\\ActionColumn',
                                    'template' : '{update} {delete}',
                                },
                            ],
                        })
                    }}
                </div>
            </div>
        </section>
    </div>
{#
'logo',
'description:ntext',
'currency',
'displayed_cashback',
'conditions:ntext',
'added',
'visit',
'hold_time:datetime',
'is_active',
'short_description:ntext',
'local_name',
'active_cpa',
'percent',
'action_id',
'contact_name',
'contact_phone',
'contact_email:email'
#}
</div>