{{ use('/yii/grid/GridView') }}
{% set title = 'Stores' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="stores-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1 style="padding: 0">{{ html.encode(this.title) }}</h1>
                    <div class="col-md-6">
                        <div class="sum_information">
                            <div class="line">
                                <div class="name"><a href="/admin/stores">Всего магазинов</a></div>
                                <div class="value">
                                    {{ stat.all }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=1">Активных</a></div>
                                <div class="value">
                                    {{ stat.active }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=0">Приостановленных</a></div>
                                <div class="value">
                                    {{ stat.waiting }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[is_active]=-1">Выключенных</a></div>
                                <div class="value">
                                    {{ stat.blocked }}
                                </div>
                            </div>
                            <div class="line">
                                <div class="name"><a href="/admin/stores?StoresSearch[charity]=1">Благотворительных</a></div>
                                <div class="value">
                                    {{ stat.charity }}
                                </div>
                            </div>
                        </div>

                        <div style="padding-top:25px;">
                            <form action="/admin/stores/" method="get">
                                <div class="form-group">
                                    <label for="stores-affiliate-id">Affiliate ID</label><br>
                                    <input id="stores-affiliate-id" type="text" class="form-control" style="display: inline-block; max-width: 420px;" name="StoresSearch[affiliate_id]" value="{{ searchModel.affiliate_id }}">
                                </div>
                                <div class="form-group">
                                    <label for="storessearch-status_update_range">Изменение статуса</label>
                                  {{ data_ranger|raw }}
                                </div>
                                <button type="submit" class="btn btn-primary">Поиск</button>
                            </form>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="sum_information">
                            {% for key, cpa_item in stat_cpa  %}
                                <div class="line">
                                    <div class="name wide">{% if key == 0 %}Тип CPA (активного): {% endif %} {{ cpa_item.name }}</div>
                                    <div class="value">
                                        <a href="/admin/stores?StoresSearch[cpa_id]={{ cpa_item.id }}">{{ cpa_item.count }}</a>
                                        {% if cpa_item.id > 0 %}
                                            (<a href="/admin/stores?StoresSearch[active_cpa_type]={{ cpa_item.id }}">{{ stat_cpa_active[key].count }}</a>)
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="line">
                                <div class="name wide">Тип магазина: Онлайн</div>
                                <div class="value">
                                    <a href="/admin/stores?StoresSearch[shop_type]=online">{{ stat.online }}</a>
                                </div>
                            </div>
                            <div class="line">
                                <div class="name wide">Оффлайн</div>
                                <div class="value">
                                    <a href="/admin/stores?StoresSearch[shop_type]=offline">{{ stat.offline }}</a>
                                </div>
                            </div>
                            <div class="line">
                                <div class="name wide">Гибрид</div>
                                <div class="value">
                                    <a href="/admin/stores?StoresSearch[shop_type]=hubrid">{{ stat.hubrid }}</a>
                                </div>
                            </div>
                            {% if actions_end %}
                                <div class="line">
                                    <div class="name wide">Закончилось время акции</div>
                                    <div class="value">
                                        <a href="/admin/stores?StoresSearch%5Baction_end%5D=1">{{ actions_end }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {# include('_search.twig', {'model': searchModel}) #}
                <div class="col-md-6">
                    <a href="/admin/stores/create" class="btn btn-success">Создать магазин</a>
                </div>
                <div class="col-md-12">
                    {{ grid_view_widget({
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,

                            'pager' : {
                                'firstPageLabel' : true,
                                'lastPageLabel' : true,
                                'maxButtonCount':20
                            },
                             'columns': [
                                {'class': '\\yii\\grid\\SerialColumn'},

                                'uid',
                                'name',
                                {
                                    'format':'raw',
                                    'attribute':'route',
                                    'value' : table_value.route
                                },
                                'local_name',
                                {
                                    'format':'raw',
                                    'attribute':'url',
                                    'value' : table_value.url
                                },
                                'visit',
                                'category_cnt',
                                'displayed_cashback',
                                {
                                    'attribute':'active_cpa_type',
                                    'format': 'raw',
                                    'label': 'Тип активного Cpa',
                                    'value': table_value.active_cpa_name,
                                    'filter': cpa_types
                                },
                                {
                                    'format':'raw',
                                    'attribute':'shop_type',
                                    'label':'Тип магазина',
                                    'filter':{
                                        '':'Любой',
                                        'online':"Онлайн",
                                        'offline':"Оффлайн",
                                        'hubrid':"Гибрид",
                                    },
                                    'value' : table_value.is_offline
                                },
                                {
                                    'format':'raw',
                                    'attribute':'is_active',
                                    'filter':{
                                        '':'Любой',
                                        1:"Активен",
                                        0:"Приостановлен",
                                        '-1':"Выключен",
                                    },
                                    'value' : table_value.is_active
                                },
                                {'class': '\\yii\\grid\\ActionColumn',
                                    'template' : '{update} {delete}',
                                },
                            ],
                        })
                    }}
                </div>
            </div>
        </section>
    </div>
{#
'logo',
'description:ntext',
'currency',
'displayed_cashback',
'conditions:ntext',
'added',
'visit',
'hold_time:datetime',
'is_active',
'short_description:ntext',
'local_name',
'active_cpa',
'percent',
'action_id',
'contact_name',
'contact_phone',
'contact_email:email'
#}
</div>