{{ use('/yii/widgets/ActiveForm') }}
{% set title = 'Update Stores: ' ~ model.name %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Stores', 'url': path(['index'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([{'label': model.name, 'url': path('view', {'id': model.uid})}]) %}
{% set breadcrumbs = breadcrumbs|merge(['Update']) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="stores-update">
    <div class="content-wrapper">
        <section class="account-padding view-list view-current">
            <div class="row">
                {% if store %}
                    <div class="col-md-12">
                        <div class="stores-form">
                            {% set form = active_form_begin({'options' : {'enctype' : 'multipart/form-data'}}) %}
                            <p class="title first">Основная информация</p>
                            <div class="edit_wrapper">
                                <div class="edit_blk">
                                    <p><span>UID:</span> {{store.uid}}</p>
                                    <p><span>Добавлен:</span> {{store.added}}</p>
                                    <p><span>Посещений:</span> {{store.visit}}</p>
                                    <p><span>Картчка магазина:</span> <a href="/stores/{{store.route}}" target="_blank">перейти</a></p>
                                    <p><span>Название:</span> <br>{{ form.field(model, 'name').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Название по русски:</span> <br>{{ form.field(model, 'local_name').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Route:</span> <br>{{ form.field(model, 'route').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>URL:</span> <br>{{ form.field(model, 'url').textInput({'maxlength':true}).label(false)|raw }}</p>
                                </div>
                                <div class="edit_blk">
                                    <p><span>Logo:</span> <img src=" {{model.logo}} "> </p>
                                    {{ form.field(model, 'logoImage').fileInput().label(false)|raw }}
                                    <p><span>Валюта:</span> <br> {{ form.field(model, 'currency').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Отображаемый cashback:</span> <br>{{ form.field(model, 'displayed_cashback').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Отображаемое время холда (дней):</span> <br>{{ form.field(model, 'hold_time').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Процент отдаваемый от нашей выгоды:</span> <br>{{ form.field(model, 'percent').textInput({'maxlength':true}).label(false)|raw }}</p>
                                    <p><span>Магазин активен:</span><br>
                                        {{ form.field(model, 'is_active').dropDownList({'-1' : 'Заблокирован пользователем','0' : 'Временно не активен','1' : 'Активен'}).label(false)|raw }}
                                    </p>
                                    <p><span>Action ID</span> {{ form.field(model, 'action_id').dropDownList({'0' : '','1' : 'Двойной кэшбэк'}).label(false)|raw }}</p>
                                </div>
                            </div>
                            <p><span>Alias:</span> <br>{{ form.field(model, 'alias').textarea({'maxlength':true}).label(false)|raw }}</p>
                            <p><span>Краткое описание  (Информация о  ...):</span> <br> <textarea name="short_description" class="visual_editor">{{store.short_description}}</textarea></p>
                            <p>
                                <span>Описание  (Информация о кэшбэк в ...):</span>
                                <br> {{ form.field(model, 'description').textarea({'maxlength':true}).label(false)|raw }}</textarea>
                            </p>
                            <p><span>Специальные условия  (Дополнительная информация):</span> <br> {{ form.field(model, 'conditions').textarea({'maxlength':true}).label(false)|raw }}</p>
                            <input type="hidden" name="type" value="update_main_information">
                            <div class="form-group">
                                <button type="submit" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">{{ model.isNewRecord ? 'Create' : 'Сохранить' }}</button>
                            </div>
                            {{ active_form_end() }}

                        <p class="title">Тарифы</p>

                        <div class="tarif_select_blk">
                            {% if tariffs|length > 0 %}
                                {% for tariff in tariffs %}
                                    {% include 'store/tab_head_suf.html' %}
                                {% endfor %}
                            {% endif %}
                            <ul class="tab_control ajax_save" uid="{{store.uid}}" save_url="/admin/stores/ajax_save/active_cpa">
                                {% if tariffs|length > 0 %}
                                    {% for tariff in tariffs %}
                                        {% include 'store/tab_head_but.html' %}
                                    {% endfor %}
                                {% endif %}
                                <li class="add_button">
                                    Добавить CPA
                                    <ul>
                                        {% for cpa in cpa_list %}
                                            <li code="{{cpa.id}}" parent="{{store.uid}}" class="add_shop_element" mode="cpa">{{cpa.name}}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <div class="content_tab">
                                {% if tariffs|length > 0 %}
                                    {% for tariff in tariffs %}
                                        {% include 'store/tab_body.html' %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if categories|length > 0 %}
                            <p class="title">Категории магазина</p>
                            <form method="post" action="/admin/stores/update?id={{store.uid}}" name="categories-edit-stores">
                                <ul class="ch_tree">
                                    {% for category in categories %}
                                        <li>
                                            <label>
                                                <input {% if category.uid in store_categories %} checked {% endif %} data-uid="{{category.uid}}" data-parent-id="{{category.parent_id}}" type="checkbox" name="category_id[]" value="{{category.uid}}"><span>{{category.name}}</span>
                                            </label>
                                            {% if category.childrens|length > 0 %}
                                                <ul>
                                                    {% for category_ch in category.childrens %}
                                                        <li>
                                                            <label>
                                                                <input {% if category_ch.uid in store_categories %} checked {% endif %} data-uid="{{category_ch.uid}}" data-parent-id="{{category_ch.parent_id}}" type="checkbox" name="category_id[]" value="{{category_ch.uid}}"><span>{{category_ch.name}}</span>
                                                            </label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    <input type="hidden" name="id" value="{{store.uid}}">
                                    <input type="hidden" name="type" value="update_categories">
                                    <button type="submit">Изменить</button>
                                </ul>
                            </form>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="not-found">Магазин не найден.</div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>