<section class="shop-calc-cashback margin short-calc-cashback">
  <div class="shop-calc-cashback_wrap page-wrap align-center">
      <div class="shop-calc-cashback_content">

        <h3 class="shop-calc-cashback_content-header">Калькулятор кэшбэка в {{current_store.name}}</h3>

          <div class="shop-calc-cashback_content-form">
            <label for="shop-calc-summ">Стоимость покупки</label>
              <input id="shop-calc-summ"
                  type="text"
                  value="100"
                  data-cashback-currency="{{ current_store.currency }}"
                  data-cashback="{{current_store.displayed_cashback}}"
                  data-cashback-promo="{{ _cashback(current_store.displayed_cashback, '',current_store.action_id) }}"
              >
          <select>
            {% for item in curs %}
              <option
                  value="{{item.value}}"
                  code="{{item.code}}"
                  {% if item.code== current_store.currency %}
                    selected
                  {% endif %}
              >
                {{item.code}}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="shop-calc-cashback_content-result">
          Ваш кэшбэк для магазина <span class="shop-calc-cashback_content-result-store">{{current_store.name}}</span> составит
            до
            <span class="shop-calc-cashback_content-result-value calc-result_value">0</span>
            рублей
            {% if current_store.displayed_cashback ends with '%' %}
            {% else %}
              (фиксированная ставка)
            {% endif %}
        </div>
      </div>
  </div>

</section>