<section class="shop-calc-cashback margin short-calc-cashback">
  <div class="page-wrap">
    <div class="shop-calc-cashback_content align-center">

      <h3 class="shop-calc-cashback_content-header">{{ t('main', 'calc_cashback_in_{store}', {'store': current_store.name})|raw }}</h3>

        <div class="shop-calc-cashback_content-form">
          <label for="shop-calc-summ">{{ t('main','calc_cashback_price')|raw }}</label>
            <input id="shop-calc-summ"
                   class="ctrl"
                type="text"
                value="100"
                data-cashback-currency="{{ current_store.currency }}"
                data-cashback="{{ _cashback(current_store.displayed_cashback, '',0) }}"
                data-cashback-promo="{{ _cashback(current_store.displayed_cashback, '',current_store.action_id) }}"
            >
        <select class="ctrl">
          {% for item in curs %}
            <option
                value="{{ exchange(1,item.code,currency)}}"
                code="{{item.code}}"
                {% if item.code== current_store.currency %}
                  selected
                {% endif %}
            >
              {{item.code}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="shop-calc-cashback_content-result">
        {{ t('main', 'calc_cashback_{store}_cashback <span class="shop-calc-cashback_content-result-value calc-result_value">0</span> cur', {'store': current_store.name,'currency':currency})|raw }}
          {% if current_store.displayed_cashback ends with '%' %}
          {% else %}
            {{ t('main','calc_cashback_fixed')|raw }}
          {% endif %}
      </div>
      <div class="shop-calc-cashback_content-description">
        {{ t('main', 'calc_cashback_term')|raw }}
      </div>
    </div>
  </div>

</section>