<div class="store-reviews-list-item_inner" data-comment-id="{{review.uid}}">
    <div class="store-reviews-list-item_inner-logo align-center">
        {% if test_image(review.photo) %}
            <div class="store-reviews-list-item_inner-logo-photo" style="background-image:url({{ review.photo }})"></div>
        {% else %}
            <div class="store-reviews-list-item_inner-logo-no_ava" style="background-image: url(/images/no_ava.png);"></div>
        {% endif %}
        <div class="store-reviews-list-item_inner-logo-name">
            {% if ((review.name) and (review.name|length > 2)) %}
                {{ review.name }}
            {% else %}
                {{ email_to_name(review.email)}}
            {% endif %}
        </div>
        <div class="store-reviews-list-item_inner-logo-rating">
            {% for i in range(1, review.rating) %}
            <span class="fa fa-star"></span>
            {% endfor %}

            {% set estar =  5 - review.rating %}
            {% if estar != 0 %}
                {% for i in range(1, estar) %}
                <span class="fa fa-star-o"></span>
                {% endfor %}
            {% endif %}                   
        </div>
    </div>
    <div class="store-reviews-list-item_inner-text align-center">
        <div class="store-reviews-list-item_inner-text-title">{{review.title}}</div>
        <div class="store-reviews-list-item_inner-text-date">{{review.added}}</div>
        <div class="store-reviews-list-item_inner-text-comment">{{review.text}}</div>

    </div>
</div>