<div class="scroll_box-item {{ _if(comment_hide,'scroll_box-item-hide') }}">
    <div class="scroll_box-title">
        <div class="scroll_box-avatar" style="background-image: url({{review.photo|replace({ 'http:':'https:'}) }});"></div>
        <div class="scroll_box-user">
            <div class="scroll_box-user_name">{{ _if(review.name,review.name,email_to_name(review.email)) }}</div>
            {% if not user_cashbak_hide %}
                <div class="scroll_box-user_cashback">
                    <span>
                        {{ _nf(max(review.sum_confirmed+review.sum_pending,review.show_balance))|raw }} руб. кэшбэка
                    </span>
                </div>
            {% endif %}
            <div class="rating comments-rating">
                {% for i in range(1, review.rating) %}
                    {{ svg('star','rating-star')|raw }}
                {% endfor %}

                {% set estar =  5 - review.rating %}
                {% if estar != 0 %}
                    {% for i in range(1, estar) %}
                        {{ svg('star','rating-star svg-no-fill')|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="scroll_box-content {{ _if(comments_max_height,'auto_hide_control')}}">
        <div
            class="scroll_box-text
                {{
                    _if(comments_max_height and not not_admin_coment,
                        _if(review.answer,'max_text_hide','max_text_hide max_text_hide-x2'),
                        ''
                    )
                }}">
            {{review.text}}
        </div>

        {% if not not_admin_coment and review.answer %}
            <div class="scroll_box-answer {{ _if(comments_max_height,'max_text_hide max_text_hide-gray','') }}">
                {{review.answer}}
            </div>
        {% endif %}

        {% if comments_max_height %}
            <a class="scroll_box-show_more">Читать полностью</a>
        {% endif %}
    </div>

</div>