<div class="coupon coupons-list_item hover-box" data-uid="{{coupon.uid}}">
    <a href="/coupons/{{coupon.store_route}}/{{ coupon.uid }}" class="coupons-list_item-name ">
        <span>
            {{coupon.name}}
                <span class="color-red{% if coupon.store_action_id == 1 %} old {% endif %}">
                    +&nbsp;кэшбэк&nbsp;{{ _cashback(coupon.store_cashback, coupon.store_currency)|raw }}
                </span>
            {% if coupon.store_action_id == 1 %}
                <span class="color-red">&nbsp;
                    +&nbsp;кэшбэк&nbsp;{{ _cashback(coupon.store_cashback, coupon.store_currency,coupon.store_action_id)|raw }}
                </span>
            {% endif %}
        </span>
    </a>
    <div class="coupons-list_item-wrap">
        <div class="coupons-list_item-logo">
            {% if coupon.store_action_id == 1 %}
                <span class="promo-label x2"></span>
            {% endif %}
            <a class="coupons-list_item-logo-wrap" href="/stores/{{coupon.store_route}}{{ _if(coupon.store_is_offline,'-offline') }}">
                <img class="coupons-list_item-logo-img" src="/images/logos/{{coupon.store_image}}" alt="{{coupon.store_name}}">
            </a>
          {% if not store_coupons %}
            <a class="coupons-list_item-content-link-all" href="/coupons/{{coupon.store_route}}">
                    <span class="coupons-list_item-content-link-all-wrap">
                        {{ svg('table')|raw }}Показать все купоны <span>{{coupon.store_name}} </span>
                    </span>
            </a>
          {% endif %}
        </div>
        <div class="coupons-list_item-content">
          <div class="coupons-list_item-logo-info">
            {% if not_active %}
              <div class="coupons-list_item-time">Магазин {{coupon.store_name}} временно неактивен</div>
            {% else %}
              <div class="coupons-list_item-time"><span class="clock" data-end="{{coupon.date_end}}"></span></div>
            {% endif %}
            <div class="coupons-list_item-visit">
              Воспользовались:
              <span class="coupons-list_item-visit-count">{{ _nf(coupon.visit*(35+15*sin(coupon.uid)),0) }}</span>
            </div>
          </div>
            <div class="coupons-list_item-content-goto">
                <div class="coupons-list_item-content-goto-promocode">
                    <div class="coupons-list_item-content-goto-promocode-title">Промокод</div>
                    {% if coupon.promocode!='' %}
                        <div
                            class="coupons-list_item-content-goto-promocode-value set_clipboard"
                            data-clipboard="{{ coupon.promocode }}"
                            data-clipboard-notify="Промокод успешно скопирован в буфер обмена."
                            data-original-title="Скопировать в буфер обмена"
                            data-toggle="tooltip"
                        >
                            <div class="coupons-list_item-content-goto-promocode-code">
                                {{coupon.promocode}}
                            </div>
                            <div class="coupons-list_item-content-goto-promocode-btn">
                              {{ svg('clipboard') | raw}}
                            </div>
                        </div>
                    {% else %}
                        <div class="coupons-list_item-content-goto-promocode-value">
                          <div class="coupons-list_item-content-goto-promocode-code">
                              НЕ&nbsp;ТРЕБУЕТСЯ
                          </div>
                        </div>
                    {% endif %}
                </div>
                <a
                    href="/goto/coupon:{{ coupon.uid }}"
                    target="_blank"
                    class="btn coupons-list_item-content-goto-promocode-link"
                    rel="nofollow noopener"
                >Перейти в магазин</a>
            </div>
        </div>
    </div>
</div>