<div class="coupon coupons-list_item hover-box" data-uid="{{ coupon.uid }}">
  <a href="{{ _href('/coupons/'~coupon.store_route~'/'~coupon.uid)|raw }}" class="coupons-list_item-name "  {{ _if(coupons_target_blank,'target="_blank" rel="nofollow noopener"')|raw }}>
        <span>
            {{ coupon.name }}
            <span class="coupons-list_item-name-cashback{% if coupon.store_action_id == 1 %} old {% endif %}">
                    {{ _if(coupon.store_cashback ==0,' + кэшбэк') }} {{ _shop_cashback(coupon.store_cashback, coupon.store_currency, 0, '+&nbsp;'~t('main', 'cashback_low')~'&nbsp;')|raw }}
            </span>
            {% if coupon.store_action_id == 1 %}
                 <span class="coupons-list_item-name-cashback">&nbsp;
                      {{ _shop_cashback(coupon.store_cashback, coupon.store_currency,coupon.store_action_id, '+&nbsp;'~t('main', 'cashback_low')~'&nbsp;')|raw }}
                 </span>
            {% endif %}
        </span>
  </a>
  <div class="coupons-list_item-wrap">
    <div class="coupons-list_item-logo">
      {% if coupon.store_action_id == 1 %}
        <span class="promo-label x2"></span>
      {% endif %}
      <a class="coupons-list_item-logo-wrap"
         href="{{ _href('/stores/'~coupon.store_route~(_if(coupon.store_is_offline,'-offline')))|raw }}"
          {{ _if(coupons_target_blank,'target="_blank" rel="nofollow noopener"')|raw }}
      >
        <img class="coupons-list_item-logo-img" src="/images/logos/{{ coupon.store_image }}"
             alt="{{ coupon.store_name }}">
      </a>
      {% if not store_coupons %}
        <a class="coupons-list_item-content-link-all" href="{{ _href('/coupons/'~coupon.store_route)|raw }}" {{ _if(coupons_target_blank,'target="_blank" rel="nofollow noopener"')|raw }}>
                    <span class="coupons-list_item-content-link-all-wrap">
                        {{ svg('table')|raw }}{{ t('main', 'coupons_show_all')|raw }} <span>{{ coupon.store_name }} </span>
                    </span>
        </a>
      {% endif %}
    </div>

    {% set not_active = (coupon.store_is_active != 1) %}

    <div class="coupons-list_item-content">
      <div class="coupons-list_item-logo-info">
        <div class="coupons-list_item-logo-info-left">
          {% if not_active %}
            {#<div class="coupons-list_item-time">Магазин {{coupon.store_name}} временно неактивен</div>#}
            <div class="coupons-list_item-time coupons-list_item-time-inactive">{{ t('main', 'coupon_not_active')|raw }}</div>
          {% else %}
            <div class="coupons-list_item-time"><span class="clock" data-end="{{ coupon.date_end }}"></span></div>
          {% endif %}
          <div class="coupons-list_item-visit">
            {{ t('main', 'coupon_used')|raw }}:
            <span class="coupons-list_item-visit-count">{{ _nf(coupon.visit,0) | raw }}</span>
          </div>
        </div>
        <div class="coupons-list_item-logo-info-share">
          {% set coupon_name = coupon.name ~ " +&nbsp;кэшбэк&nbsp;" ~ _cashback(coupon.store_cashback, '',coupon.store_action_id)~"&nbsp;"~coupon.store_currency %}
          <div class="coupons-list_item-logo-info-share-header">{{ t('main','share_width_friends')|raw }}:</div>
          <div class="share42init accauntSoc accauntSoc_32"
               data-url="{{ _href('/coupons/'~coupon.store_route~'/'~coupon.uid, 'https://secretdiscounter.ru') }}"
               data-image="https://secretdiscounter.ru/images/logos/{{ coupon.store_image }}"
               data-title="{{ coupon_name|raw }}"
               data-description="{{ this.description }}"
               data-socials="{{ app.params.regions_list[app.params.region].socialsShareList }}"
               data-icon-type="svg"
               data-icon-size=24
          >
          </div>
        </div>
      </div>
      <div class="coupons-list_item-content-goto">
        <div class="coupons-list_item-content-goto-promocode">
          <div class="coupons-list_item-content-goto-promocode-title">{{ t('account', 'promocode')|raw }}</div>
          {% if coupon.promocode!='' %}
            <div
                class="coupons-list_item-content-goto-promocode-value set_clipboard"
                data-clipboard="{{ coupon.promocode }}"
                data-clipboard-notify="{{ t('main', 'coupon_copied_to_clipboard')|raw }}"
            >
              <div class="coupons-list_item-content-goto-promocode-code">
                {{ coupon.promocode }}
              </div>
              <div
                  class="coupons-list_item-content-goto-promocode-btn"
                  data-original-title="{{ t('main', 'coupon_copy_to_clipboard')|raw }}"
                  data-toggle="tooltip"
              >
                {{ svg('clipboard') | raw }}
              </div>
            </div>
          {% else %}
            <div class="coupons-list_item-content-goto-promocode-value">
              <div class="coupons-list_item-content-goto-promocode-code">
                {{ t('main', 'is_not_need')|raw }}
              </div>
            </div>
          {% endif %}
        </div>
        <a
            href="{{ _href('/goto/coupon:'~coupon.uid)|raw }}"
            class="btn coupons-list_item-content-goto-promocode-link"
            target="_blank"
            rel="nofollow noopener"
            data-user="{{ user_id }}"
            data-inactive="{{ not_active }}"
            {% if not_active %}data-message="{{ t('main', 'coupon_and_{store}_temporary_unavailabe', {'store':coupon.store_name})|raw }}"{% endif %}
        >{{ t('main', 'coupon_do_use')|raw }}</a>
      </div>
    </div>
  </div>
</div>