<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 leftcol">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Друзья, так всё таки, что такое "кэшбэк"?</h5>
    <p>Кэшбэк (от англ. cashback или амер. cash back — возврат наличных денег) — <i>Wiki</i>. 
    Другими словами это часть потраченных на покупки денег, которые Вы получаете обратно.</p>
</div>
<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 rightcol">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Хм, отлично! А сколько денег я получу обратно?</h5>
    <p>Размер кэшбэка может быть любой и зависит от конкретного магазина. Однако он бывает двух типов — фиксированный <i>(например, 500 рублей)</i> или зависящий от стоимости покупки <i>(например, 10% от суммы заказа)</i>. Точный размер кэшбэка всегда указан в описании магазина.</p>
</div>
<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 leftcol">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Звучит заманчиво, но в чём подвох? Зачем это магазинам?</h5>
    <p>Подвоха никакого нет. Магазинам это выгодно, так как мы приводим к ним потенциального покупателя.
    Почему это выгодно нам? Магазин платит нам вознаграждение (если Вы что-то купите перейдя через наш сервис), которым мы в свою очередь делимся с Вами. Ваша выгода очевидна — экономия на каждой покупке в интернете. Все счастливы.</p>
</div>
<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 rightcol mh">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Жаль, что не узнал о Вас раньше! А можно мне вернуть деньги за прошлые заказы (до регистрации)?</h5>
    <p>К сожалению нет. Обязательным условием для получения кэшбэка является регистрация и переход в интернет-магазин с нашего кэшбэк-сервиса. Так как раньше Вы не были у нас зарегистрированы, то и кэшбэк за прошлые заказы получить нельзя.</p>
</div>
<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 leftcol">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Хорошо, я совершил покупку. Как быстро кэшбэк зачислится на мой счёт?</h5>
    <p>Кэшбэк автоматически зачислится на Ваш счёт в течении суток с момента совершения покупки. За редким исключением зачисление средств может произойти в течении нескольких недель. Для вывода кэшбэк станет доступным в тот момент, когда интернет-магазин подтвердит Ваш заказ. Данное время указано в описании магазина на нашем сервисе <i>(в среднем — 3 недели)</i>.</p>
</div>
<div class="faq-content_item col-md-6 col-sm-12 col-xs-12 rightcol">
    <h5 class="faq-content_item-head">{{ svg('commenting-o', 'faq-content_item-icon')|raw }}Как я могу вывести накопленный кэшбэк?</h5>
    <p class="faq__text">Как только сумма кэшбэка доступного для вывода превысит 350 рублей, Вы сможете его вывести
        любым удобным для Вас способом:</p>
    <ul class="faq-content_item-list faq__list">
        <li>На интернет кошелёк WebMoney, Яндекс.Деньги или Qiwi</li>
        <li>На счёт мобильного телефона</li>
        <li>Через PayPal</li>
        <li>На карточку Visa или MasterCard</li>
    </ul>
</div>