<section class="margin install-application install-application-index">
    <div class="page-wrap">
        <div class="install-plugin-index_border border-double align-center">
            <div class="border-double-in flex-line flex-line-untill-tablets flex-2col">
                <div class="margin-half padding-box-h">
                    <h3 class="content-header">{{ t('main','mobile_app')|raw }}</h3>
                    <p>{{ t('main','mobile_app_text')|raw }} </p>
                    <div class="flex-line flex-line-around index-app">
                        <div class="index-app-img footer-app-waiting">
                            {{ svg('app_store')|raw }}
                            {{ svg('app_w','footer-app-waiting-label')|raw }}
                        </div>
                        <div class="index-app-img">
                            <a rel="nooper nofollow noreferrer" target="_blank" href="https://play.google.com/store/apps/details?id=com.secretdiscounter.cashback">{{ svg('play_market')|raw }}</a>
                        </div>
                    </div>
                </div>
                <div class="margin-half padding-box-h">
                    <h3 class="content-header">{{ t('main', 'affiliate_system')|raw }}</h3>
                    <p>{{ t('main', 'affiliate_system_text')|raw }}</p>
                    <p><a class="btn" href="{{ _href('/affilate-system')|raw }}">{{ t('main', 'go')|raw }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>