<div class="affiliate row">
    <div class="affiliate-barcode col-sm-4  ways-invitation">
        <h3 class="affiliate-barcode_header no_print">
            {% if friend_user %}
                {{ t('account', 'offline_friend_pr_code') }} ↓
                {% set user_code_img = friend_user.barcodeImg  %}
                {% set user_id = friend_user.uid  %}
                {% set print = "print();return false;" %}
            {% else %}
                {% if user_id %}
                    {% set print = "window.open(this.href).print();return false;" %}
                {% else %}
                    {{ t('account', 'offline_pr_code_example') }} ↓
                    {% set user_code_img = "/images/barcode_sample.png"%}
                {% endif %}
            {% endif %}
        </h3>
        <img src="{{ user_code_img }}" alt="" width="230">
        {% if friend_user or user_id %}
            <p class="affiliate-barcode_link-sent no_print">

                <a href="" class="set_clipboard link-to-clipboard"
                   data-link="{{ user_code }}"
                   data-text="{{ t('account', 'offline_pr_code_is_copy') }}"
                   data-clipboard="{{ user_code }}"
                   data-clipboard-notify="{{ t('account', 'offline_pr_code_is_copy') }}"
                ><b>{{ t('account', 'offline_pr_code_do_copy') }}</b></a>
            </p>
        {% endif %}
    </div>
    {% if user_id %}
        <div class="affiliate-invitation no_print col-sm-4  ways-invitation">
            <div class="margin affiliate-margin">
                <div class="affiliate-invitation_icon-download">
                    {{ svg('download')|raw }}
                </div>
                <div class="affiliate-invitation_download">
                    <p class="intro-content_header"><a href="{{ user_code_img }}" download>{{ t('account', 'offline_pr_code_do_save') }}</a></p>
                </div>
            </div>
            {% if friend_user or user_id %}
                <div class="margin affiliate-margin">
                    <div class="affiliate-invitation_icon-invitation">
                        {{ svg('global')|raw }}
                    </div>
                    <div class="affiliate-invitation_invitation">
                        <a name="link-to-clipboard"></a>
                        <p  class="affiliate-invitation_invitation-header">{{ t('account', 'offline_pr_code_share') }}</p>

                        <div
                                {#class="share42init accauntSoc accauntSoc_32"#}
                                class="share42init"
                                data-socials="1,0,2,4,10,11,12"
                                data-icon-type="css"
                                data-title="{{ _constant('affiliate_offline_title')}}"
                                data-description="{{ _constant('affiliate_offline_description')}}"
                                data-image="https://secretdiscounter.ru{{ user_code_img }}"
                                data-url="https://secretdiscounter.ru/offline?ref={{user_id}}"
                        ></div>
                        {% if not friend_user %}
                            <script type="text/javascript" src="/js/share42.js"></script>
                        {% endif %}
                    </div>
                </div>
                <div class="margin affiliate-margin">
                    <div class="affiliate-invitation_icon-printer">
                        {{ svg('printer')|raw }}
                    </div>
                    <div class="affiliate-invitation_printer">
                        <p class="intro-content_header"><a href="/offline?ref={{user_id}}" onclick="{{ print }};return false;" download>{{ t('account', 'offline_pr_code_print') }}</a></p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
