<div class="col-md-12">
    <h2>ВАШ ЛИЧНЫЙ ШТРИХКОД</h2>
</div>
<div class="affiliate row">
    <div class="col-md-4 ways-invitation">
        <img src="{{ user_code_img }}" alt="" width="230">
    </div>

    <div class="col-md-4 ways-invitation">
        <div class="col-md-12">
            <div class="intro-icon">
                <span class="icon icon-download" aria-hidden="true" data-icon=""></span>
            </div>
            <div class="intro-content">
                <h5><a href="{{ user_code_img }}" download>Сохрани</a></h5>
                <p style="margin-top: -5px;">
                    себе что б было всегда под рукой
                </p>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 35px">
            <div class="intro-icon">
                <span data-icon="" class="icon"></span>
            </div>
            <div class="intro-content">
                <h5 style="white-space: nowrap;">Поделись с родными или друзьями</h5>

                <div
                        class="share42init accauntSoc accauntSoc_32"
                        data-socials="1,0,2,4,3"
                        data-icon-type="css"
                        data-title="{{ _constant('affiliate_share_title')}}"
                        data-description="{{ _constant('affiliate_share_description')}}"
                        data-image="https://secretdiscounter.ru{{images_path}}templates/woman_600.png"
                        data-url="https://secretdiscounter.ru/?r={{user_id}}"
                ></div>
                <script type="text/javascript" src="/js/share42.js"></script>
            </div>
        </div>

    </div>
</div>
