<h3>Ваш личный штрихкод ↓</h3>

<div class="affiliate row">
    <div class="col-md-4 ways-invitation">
        <img src="{{ user_code_img }}" alt="" width="230">
    </div>

    <div class="col-md-4 ways-invitation">
        <div class="col-md-12">
            <div class="intro-icon">
                <span class="icon icon-download" aria-hidden="true" data-icon=""></span>
            </div>
            <div class="intro-content">
                <p class="intro-content_header"><a href="{{ user_code_img }}" download>Сохранить в телефон или ПК</a></p>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 35px">
            <div class="intro-icon">
                <span data-icon="" class="icon"></span>
            </div>
            <div class="intro-content">
                <p  class="intro-content_header">Поделиться с родными или друзьями</p>

                <div
                        class="share42init accauntSoc accauntSoc_32"
                        data-socials="1,0,2,4,10,11,12"
                        data-icon-type="css"
                        data-title="{{ _constant('affiliate_offline_title')}}"
                        data-description="{{ _constant('affiliate_offline_description')}}"
                        data-image="https://secretdiscounter.ru{{ user_code_img }}"
                        data-url="https://secretdiscounter.ru/offline?r={{user_id}}"
                ></div>
                <script type="text/javascript" src="/js/share42.js"></script>
            </div>
        </div>

    </div>
</div>
