{{ user_code_img }}

<p><strong>ВАШ ЛИЧНЫЙ ШТРИХКОД</strong></p>

+ тут ссылки
Скопировать в буфер
Поделиться (с расшарами на вайбер, телеграмм, вотсапп, мыло, еще как-то там)


<a href="{{ user_code_img }}" download>Скачать</a>
<div
        class="share42init accauntSoc accauntSoc_32"
        data-socials="1,0,2,4,3"
        data-icon-type="css"
        data-title="{{ _constant('affiliate_share_title')}}"
        data-description="{{ _constant('affiliate_share_description')}}"
        data-image="https://secretdiscounter.ru{{images_path}}templates/woman_600.png"
        data-url="https://secretdiscounter.ru/?r={{user_id}}"
></div>
<script type="text/javascript" src="/js/share42.js"></script>