
{% set ref_link = ref_link~'?r='~user_id %}
<div class="social-block-share share42init accauntSoc accauntSoc_32"
     {#data-url="https://secretdiscounter.ru/new-year{{ref_link}}"#}
     data-url="https://secretdiscounter.ru/{{ ref_link }}"
     data-title="{{ html.encode(this.title) }}"
     data-description="{{ this.description }}"
     data-icon-type="svg"
     data-icon-size=28
     data-socials="1,0,2,4,3"
     data-promo="{{ promo_code }}"
>
</div>