<div class="shop hover-box">
    {% if store.action_id == 1 %}
        <span class="shop_promo-label shop_promo-label_x2"></span>
    {% endif %}
    <div class="shop-logo">
        <a class="shop-logo_link" href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}">
            <img class="shop-logo_link-img" src="images/logos/{{store.logo}}" alt="{{store.name}}">
        </a>
    </div>
    <div class="shop_panel">
        {% if store.reviews_rating %}
            <a href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}#reviews"
               class="shop_panel-item"
               data-toggle="tooltip" data-state="delete" data-placement="top"
               data-original-title="Рейтинг магазина на основании отзывов {{ store.reviews_count }} наших пользователей"
            >
                {{ svg('star','shop_panel-item_icon shop_panel-item_icon-star')|raw }}
                <span>
                    {{ _nf(store.reviews_rating, 1) }}
                </span>
            </a>
        {% endif %}

        {% if store.is_offline %}
            <a
                    class="shop_panel-item ignore-hash"
                    data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Оффлайн-магазин"
            >
                {{ svg('offline_shop','shop_panel-item_icon')|raw }}
            </a>
        {% endif %}

        {% if store.related %}
            {% set s=getShop(store.related) %}
            {% if s.is_active !=-1 %}
                <a
                        class="shop_panel-item" href="/stores/{{ s.route }}{{ _if(s.is_offline,'-offline') }}"
                        data-toggle="tooltip" data-state="delete" data-placement="top"
                        data-original-title="{{ _if(store.is_offline,'Есть и интернет-магазин','Данный магазин представлен и в оффлайне') }}"
                >
                    {{ svg('link','shop_panel-item_icon')|raw }}
                </a>
            {% endif %}
        {% endif %}

        {% if user_id %}
            {% if store.uid in fav_ids %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Удалить магазин из Избранного">
                    {{ svg('heart','shop_panel-item_icon')|raw }}
                </a>
            {% else %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="add" data-placement="top" data-original-title="Добавить магазин в Избранное">
                    {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
                </a>
            {% endif %}
        {% else %}
            <a class="shop_panel-item favorite-link" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Добавить в Избранное">
                {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
            </a>
        {% endif %}
    </div>
    <a
            class="shop_header {{ _if(store.name|length> 35,"small-size") }}"
            href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}"
    >
        <span>
            {{store.name}}
        </span>
    </a>

    <a class="shop-cashback-link {% if store.action_id != 0 %}shop-cashback-link_action{% endif %}" href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}">
            Кэшбэк
        {% if store.action_id == 1 %}
            <span class="shop-cashback-link_cashback_old shop-cashback_old">
                {{ _shop_cashback(store.displayed_cashback, store.currency)|raw }}
            </span>
            <span class="shop-cashback-link_cashback">
                {{ _shop_cashback(store.displayed_cashback, store.currency,store.action_id)|raw }}
            </span>
        {% else %}
            <span class="shop-cashback-link_cashback">
                {{ _shop_cashback(store.displayed_cashback, store.currency)|raw }}
            </span>

        {% endif %}
    </a>
</div>