<div class="shop">
    {% if store.action_id == 1 %}
        <span class="promo-label x2"></span>
    {% endif %}
    <div class="logo">
        <a href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}"><img src="images/logos/{{store.logo}}" alt="{{store.name}}"></a>
    </div>
  <div class="shop__header">
      <a href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}" {% if store.name|length> 35 %} class="small-size" {% endif
    %}>
          {{store.name}}
      </a>
  </div>
    <div class="shop-bottom">
        <a class="cashback-link {% if store.action_id == 1 %}old-cashback{% endif %}" href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}">

            Кэшбэк <b>{{ _shop_cashback(store.displayed_cashback, store.currency)|raw }}</b>

        </a>
        {% if store.action_id != 0 %}
        <a class="cashback-link" href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}">

            Кэшбэк <b>{{ _shop_cashback(store.displayed_cashback, store.currency,store.action_id)|raw }}</b>

        </a>
        {% endif %}
        <div class="shop_panel">
            {% if store.is_offline %}
                <a
                    class="shop-link ignore-hash ia"
                    data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Оффлайн-магазин"
                >
                    {#<span class="fa fa-star"></span>#}
                    <span class="fa fa-home"></span>
                </a>
            {% endif %}
            {% if store.rating %}
                <a href="/stores/{{store.route}}{{ _if(store.is_offline,'-offline') }}#reviews"
                   class="shop-link"
                   data-toggle="tooltip" data-state="delete" data-placement="top"
                   data-original-title="Рейтинг магазина на основании отзывов наших пользователей"
                >
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>
                        {{ _nf(store.rating, 1) }}
                    </span>
                </a>
            {% endif %}


            {% if store.related %}
                {% set s=getShop(store.related) %}
                {% if s.is_active !=-1 %}
                    <a
                        class="shop-link workHref" href="/stores/{{ s.route }}{{ _if(s.is_offline,'-offline') }}"
                        data-toggle="tooltip" data-state="delete" data-placement="top"
                        data-original-title="{{ _if(store.is_offline,'Есть и интернет-магазин','Данный магазин представлен и в оффлайне') }}"
                    >
                        {#<span class="fa fa-star"></span>#}
                        <span class="fa fa-link"></span>
                    </a>
                {% endif %}
            {% endif %}

            {% if user_id %}
                {% if store.uid in fav_ids %}
                <a class="shop-link favorite-link ignore-hash ia" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Удалить магазин из избранного">
                    {#<span class="fa fa-star"></span>#}
                    <span class="fa fa-heart"></span>
                </a>
                {% else %}
                <a class="shop-link favorite-link ignore-hash ia" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="add" data-placement="top" data-original-title="Добавить магазин в избранное">
                    {#<span class="fa fa-star-o muted"></span>#}
                    <span class="fa fa-heart-o muted"></span>
                </a>
                {% endif %}
            {% else %}
                <a class="shop-link favorite-link ignore-hash" href="#registration" data-toggle="tooltip" data-placement="top" data-original-title="Добавить в избранное">
                    {#<span class="fa fa-star-o muted"></span>#}
                    <span class="fa fa-heart-o muted"></span>
                </a>
            {% endif %}
        </div>
    </div>
</div>