{% if this.site_rating %}
<div typeof="v:Review-aggregate" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="http://rdf.data-vocabulary.org/#" class="microdata-site-rating">
    {{ t('main', 'rating') }}
    <span property="v:itemreviewed">Secret Discounter:
        <span  rel="v:rating">
            <span class="number" typeof="v:Rating">
                <span property="v:average">{{ _nf(this.site_rating.value, 1) }}</span>
                {{ t('main', 'from') }}
                <span property="v:best">5 </span>
            </span>
        </span>
        <a class="site-rating modals_open" href="#reviews/send">
            {% if this.site_rating.value > 0 %}
                {% for i in range(1, this.site_rating.value|round()) %}
                    {{ svg('star', 'site-rating_star-icon')|raw }}
                {% endfor %}
            {% endif %}

            {% set estar =  5 - this.site_rating.value|round() %}
            {% if estar != 0 %}
                {% for i in range(1, estar) %}
                    {{ svg('star-o', 'site-rating_star-icon')|raw }}
                {% endfor %}
            {% endif %}
        </a>
        <span class="small">
            {{ t('main', 'based_on_{count}_users_opinion', {'count': this.site_rating.reviews_count})|raw }}
        </span>
    </span>
</div>
{% endif %}