{% if current_store.is_offline == 1 and store_points.points %}
<section class="store-points">
    <div class="container">
        <div class="row">
            <div class="col-md-12 store-points__info">

                {#шапка от условий#}
                {% if store_points.points|length == 1 %}
                    {#одна точка#}

                {% elseif store_points.countries|length == 1 and store_points.cities|length == 1  %}
                    {#несколько точек в одном городе #}
                    <h4>Сеть магазинов {{ current_store.name }} в {{store_points.points[0].country }}, {{store_points.cities[0] }}</h4>
                    {% set no_country = 1 %}
                    {% set no_city = 1 %}

                {% elseif store_points.countries|length == 1   %}
                    {#несколько точек в одной стpане #}
                    <h4>Сеть магазинов {{ current_store.name }} в {{store_points.points[0].country }}</h4>
                    <div class="store-points__point-selects">
                        <select hidden name="store_point_country" id="store_point_country">
                            <option value=""></option>
                            <option value="{{ store_points.points[0].country}}" selected>{{ store_points.points[0].country }}</option>
                        </select>
                        <label for="store_point_city">Выберите город</label>
                        <select name="store_point_city" id="store_point_city">
                            <option value=""></option>
                            {% for city in store_points.cities %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% set no_country = 1 %}
                    {% set no_visible = 1 %}

                    {% else %}
                    {#точки в разных странах#}
                    <h4>Сеть магазинов {{ current_store.name }}</h4>
                    <div class="store-points__point-selects">
                        <label for="store_point_country">Выберите страну</label>
                        <select name="store_point_country" id="store_point_country">
                            <option data-cities="{{ store_points.cities|join(',') }}" value=""></option>
                            {% for country, country_arr in store_points.countries %}
                                <option data-cities="{{ country_arr|join(',') }}" value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                        <label for="store_point_">Выберите город</label>
                        <select name="store_point_city" id="store_point_city">
                            <option value=""></option>
                            {% for city in store_points.cities %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% set no_visible = 1 %}

                {% endif %}
                {#вывод точек для всех условий #}
                <div class="store-points__points{% if store_points.points|length == 1 %}-single{% endif %}" id="store-points">
                {% for store_point in store_points.points %}
                    <div {% if no_visible == 1 %}hidden{% endif %} data-city="{{ store_point.city }}" data-country="{{ store_point.country }}" class="store-points__point">
                        <h5>{{ store_point.name }}</h5>
                        {% if no_country != 1 %}
                            <div class="store-points__point_country" >
                                Страна  {{ store_point.country }}
                            </div>
                        {% endif %}
                        {% if no_city != 1 %}
                            <div class="store-points__point_city " >
                                Город  {{ store_point.city }}
                            </div>
                        {% endif %}
                        <div class="store-points__point_name " >
                            {{ store_point.address }}
                        </div>
                        <div class="store-points__point_work-time " >
                            {% set work_times = store_point.work_time_details %}
                        Время работы
                            {% include('parts/work_time.twig') %}
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>

            <div id="map" class="store-points__map"></div>
        </div>
    </div>
</section>
    <script>
        var googleMap = {
            initMap: function() {

                    var map = new google.maps.Map(document.getElementById('map'), {
                        {% if store_points.range.avg_x and store_points.range.avg_y %}
                            center: {lat: {{store_points.range.avg_y }}, lng: {{ store_points.range.avg_x }} },//средняя между точками
                        {% else %}
                            center: {lat: 55.753686, lng: 37.629944},//москва красная прощадь
                        {% endif %}
                        {% if store_points.range.zoom %}
                            zoom: {{ store_points.range.zoom }},
                        {% else %}
                            zoom: 10,
                        {% endif %}
                        mapTypeId: 'roadmap'
                    });

                {% for store_point in store_points.points %}
                    {% if store_point.coordinate_x and store_point.coordinate_y %}
                        new google.maps.Marker({
                            position : {lat: {{ store_point.coordinate_y }}, lng: {{ store_point.coordinate_x }} },
                            map: map,
                            title: '{{ store_point.name }}'
                        });
                    {% endif %}
                {% endfor %}
            }
        };
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ app.params.googleApiKey }}&libraries=places&callback=googleMap.initMap" async defer></script>
{% endif %}