{% if current_store.is_offline == 1 and store_points.points %}
<section class="store-points">
    <div class="container">
        <div class="row">
            <div class="col-md-12 store-points__info">

                {#шапка от условий#}
                {% if store_points.points|length == 1 %}
                    {#одна точка#}
                    <h3>Магазин {{ current_store.name }} в {{store_points.cities[0] }}</h3>

                {% elseif store_points.countries|length == 1 and store_points.cities|length == 1  %}
                    {#несколько точек в одном городе #}
                    <h3>Сеть магазинов {{ current_store.name }} в {{store_points.points[0].country }}, {{store_points.cities[0] }}</h3>

                {% elseif store_points.countries|length == 1   %}
                    {#несколько точек в одной стpане #}
                    <h3>Сеть магазинов {{ current_store.name }} в {{store_points.points[0].country }}</h3>
                    <div class="col-sm-12 store-points__point-selects">
                        <select hidden name="store_point_country" id="store_point_country">
                            <option value=""></option>
                            <option value="{{ store_points.points[0].country}}" selected>{{ store_points.points[0].country }}</option>
                        </select>
                        <div class="col-sm-2">
                            <label for="store_point_city">Выберите город</label>
                        </div>
                        <div class="col-sm-4">
                            <select  class="form-control"  name="store_point_city" id="store_point_city">
                                <option value=""></option>
                                {% for city in store_points.cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% set no_visible = 1 %}


                    {% else %}
                    {#точки в разных странах#}
                    <h3>Сеть магазинов {{ current_store.name }}</h3>
                    <div class="col-sm-12 store-points__point-selects">
                        <div class="col-sm-2">
                            <label for="store_point_country">Выберите страну</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" name="store_point_country" id="store_point_country">
                                <option data-cities="{{ store_points.cities|join(',') }}" value=""></option>
                                {% for country, country_arr in store_points.countries %}
                                    <option data-cities="{{ country_arr|join(',') }}" value="{{ country }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="store_point_">Выберите город</label>
                        </div>
                        <div class="col-sm-4">
                            <select  class="form-control"  name="store_point_city" id="store_point_city">
                                <option value=""></option>
                                {% for city in store_points.cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% set no_visible = 1 %}

                {% endif %}
                {#вывод точек для всех условий #}
                <div class="col-md-12 store-points__points {% if store_points.points|length == 1 %}single{% endif %} {% if no_visible == 1 %}hidden{% endif %}" id="store-points">
                    <h3>Адреса магазина {{ current_store.name }}</h3>

                    <table class="store-points__points_table" >
                        <thead >
                            <tr class="store-points__points_head">
                                <td>Название</td>
                                <td>Адрес</td>
                                <td>Время работы</td>
                                <td>Телефон</td>
                            </tr>
                        </thead>
                        {% for store_point in store_points.points %}
                        <tr  {% if no_visible == 1 %}hidden{% endif %}
                             data-city="{{ store_point.city }}"
                             data-country="{{ store_point.country }}"
                             class="store-points__points_row" >
                            <th>{{ store_point.name }}</th>
                            <th>{{ store_point.address }}</th>
                            <th>
                                {% set work_times = store_point.work_time_details %}
                                {% include('parts/work_time.twig') %}
                            </th>
                            <th>
                                {{ store_point.phone }}
                            </th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>

            <div id="map" class="{% if no_visible == 1 %}hidden{% endif %} store-points__map"></div>
        </div>
    </div>
</section>
    <script>
        var googleMap = {
            mapElement: document.getElementById('map'),
            points: [],
            map: null,
            initMap: function() {

                    this.map = new google.maps.Map(this.mapElement, {
                        {% if store_points.range.avg_x and store_points.range.avg_y %}
                            center: {lat: {{store_points.range.avg_y }}, lng: {{ store_points.range.avg_x }} },//средняя между точками
                        {% else %}
                            center: {lat: 55.753686, lng: 37.629944},//москва красная прощадь
                        {% endif %}
                        {% if store_points.range.zoom %}
                            zoom: {{ store_points.range.zoom }},
                        {% else %}
                            zoom: 10,
                        {% endif %}
                        mapTypeId: 'roadmap'
                    });

                {% for store_point in store_points.points %}
                    {% if store_point.coordinate_x and store_point.coordinate_y %}
                        var marker = new google.maps.Marker({
                            position : {lat: {{ store_point.coordinate_y }}, lng: {{ store_point.coordinate_x }} },
                            map: this.map,
                            title: '{{ store_point.name }}',
                            {% if no_visible == 1 %}
                                visible: false
                            {% endif %}
                        });
                        this.points.push({
                            'city':'{{ store_point.city }}',
                            'country': '{{ store_point.country }}',
                            'marker': marker
                        });

                    {% endif %}
                {% endfor %}
            },
            hideMarkers: function() {
                this.points.forEach(function(point){
                    point.marker.setVisible(false);
                });
            },
            showMarker: function(country, city){
                if (this.map === null) {
                    this.showMap();
                }
                this.points.forEach(function(point){
                    if (point.country == country && point.city == city) {
                        point.marker.setVisible(true);
                    }
                });
            },
            showMap: function() {
                if (this.map === null) {
                    this.initMap();
                }
                this.mapElement.classList.remove('hidden');
            },
            hideMap: function() {
                this.mapElement.classList.add('hidden');
            }

        };
    </script>
    {% if no_visible == 1 %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ app.params.googleApiKey }}&libraries=places" async defer></script>
    {% else %}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ app.params.googleApiKey }}&libraries=places&callback=googleMap.initMap" async defer></script>
    {% endif %}

{% endif %}