
{% set curr = app.params.currencies[app.params.valuta].icon ? app.params.currencies[app.params.valuta].icon : '' %}

<section class="account-balance">
    <div class="account-balance-block">
        {{ t('account', 'user_balance')}}:
        <span class="account-balance-confirm">{{ _nf(this.balance.current)|raw }} {{ curr|raw }}</span>
    </div>
    <div class="account-balance-block">
        {{ t('account', 'user_balance_in_waiting') }}:
        <span class="account-balance-waiting">{{ _nf(this.balance.pending)|raw }} {{ curr|raw }}</span>
    </div>
    <div class="account-balance-block">
        {{ t('account', 'user_balance_charity')}}:
        <span class="account-balance-charity">{{ _nf(this.balance.charity)|raw }} {{ curr|raw }} </span>
        <a href="/account/dobro/transfer" class="btn-fill">{{ t('common', 'charity') }}</a>
    </div>
    <div class="history hpayments"><a href="/account/payments">{{ t('account', 'view_payments_history') }}</a></div>
</section>
