{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-sm-12">

                <div class="product-parameters-form">
                    {% set form = active_form_begin() %}

                    {{ form.field(model, 'code').textInput({'maxlength':true,'disabled':true})|raw }}

                    {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

                    {{ form.field(model, 'CategoryTree').textInput({'disabled':true}).label('Категории')|raw }}

                    <div class="form-group field-productparameters-category_id" {% if model.synonym %}style="display: none;"{% endif %}">
                        <label class="control-label" for="productparameters-category_id">Категория</label>
                        <input class="category_tree_input" id="productparameters-category_id" type="hidden"
                            name="ProductParameters[category_id]" value="{{ model.category_id }}" data-root="Корень"
                            data-refresh_url="admin/params/list" data-refresh_slave="productparameters-synonym" data-id="{{ model.id }}"
                            data-slave_prompt="Параметр, для которого будет являться синонимом" />
                        <div class="help-block"></div>
                    </div>

                    {{ form.field(model, 'synonym').dropDownList(
                        possible_synonym,
                        {
                            'prompt':'Параметр, для которого будет являться синонимом',
                            'class': 'form-control form-imput-depend-empty',
                            'data-depend-slave' : 'productparameters-category_id,',
                        })|raw }}

                    {{ form.field(model, 'parameter_type').dropDownList(typeFilter)|raw }}

                    {{ form.field(model, 'active').dropDownList(activeFilter, {'prompt':'Введите статус'})|raw }}


                    {{ form.field(model, 'created_at').textInput({'disabled':true})|raw }}

                    <div class="form-group">
                        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}"
                               class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    </div>
                    {{ active_form_end() }}
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var category_data='{{ product_categories_data|raw }}';
</script>
