{% if products|length %}
<section>
    <h3>Продукты, в которых встречается</h3>
    <table class="aling-center">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Название</th>
            <th>Параметры</th>
            <th>Категория</th>
            <th>Магазин</th>
        </tr>
        </thead>
        <tbody>
           {% for product in products %}
               <tr>
                   <td ><a href="/admin/product/update/id:{{ product.id }}">
                           <img width="100" src="{{ product.image }}" alt=""></a>
                   </td>
                   <td >
                       <a href="/admin/product/update/id:{{ product.id }}">
                           <span class="{{ _model_active_class('shop\\modules\\product\\models\\Product', product.available) }}">{{ product.name }}</span>
                       </a>
                   </td>
                   <td>
                       {% for param, values in product.params %}
                           {% set param_db = _product_param_by_code(param, product_category) %}
                           {% if param_db %}
                               <a href="/admin/params/update/id:{{ param_db.id }}">
                                   <span class="{{ _model_active_class('frontend\\modules\\params\\models\\ProductParameters', param_db.active) }}">{{ param }}</span> :
                               </a>
                           {% else %}
                               <span class="{{ _model_active_class('frontend\\modules\\params\\models\\ProductParameters', 0) }}">{{ param }}</span> :
                           {% endif %}
                           {% for value in values %}
                               {% set value_db = _product_value_by_name(value, param_db.id) %}
                               {% if loop.index0 > 0 %}, {% endif %}
                               {% if value_db %}
                               <a href="/admin-values/params/update/id:{{ value_db.id }}">
                                   <span class="{{ _model_active_class('frontend\\modules\\params\\models\\ProductParametersValues', value_db.active) }}">{{ value }}</span>
                               </a>
                               {% else %}
                                   <span class="{{ _model_active_class('frontend\\modules\\params\\models\\ProductParametersValues', 0) }}">{{ value }}</span>
                               {% endif %}
                           {% endfor %}
                           <br>
                       {% endfor %}
                   </td>
                   <td>{{ _product_category_tree(product.categories[0], 2)|raw }}</td>
                   <td><a href="admin/stores/update/id:{{ product.store_id }}">{{ product.store.name }}</a></td>
               </tr>
           {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}