<div class="content-wrapper" style="margin-top: 0px;    padding-top: 0;">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>Подключенные магазины</h1>
            </div>
            <div class="col-md-12">
                <p>
                    <a href="#admin/b2b_users/add-store/id:{{ user_id }}" class="btn btn-success ajaxFormOpen">{{ 'Подключить магазин' }}</a>
                </p>
                {% if cpa_list|length > 0 %}
                    <table class="table table-users">
                        <thead>
                        <tr>
                            <th>Магазин</th>
                            <th>CPA</th>
                            <th>Контактное лицо</th>
                            <th>Почта для связи</th>
                            <th>Телефон для связи</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cpa in cpa_list %}
                            {% set  cpaStore = cpa.cpaStore %}
                            {% set  store = cpaStore.store %}
                            <tr
                                    class="ajax_save to_remove"
                                    uid="{{ store.uid }}"
                                    save_url="/admin/b2b_users/update-store"
                            >
                                <td>{{ store.name }}</td>
                                <td>{{ cpaStore.cpa.name }}</td>
                                <td><input value="{{ store.contact_name }}" mode="contact_name" name="contact_name"></td>
                                <td><input value="{{ store.contact_email }}" mode="contact_email" name="contact_email"></td>
                                <td><input value="{{ store.contact_phone }}" mode="contact_phone" name="contact_phone"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="col-md-12">
                        <div class="not-found">На данный момент магазины еще не подключенны.</div>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
</div>
