{{ use('/yii/widgets/ActiveForm') }}
{{ use('/yii/helpers/Html') }}
    {% set form = active_form_begin({
        'id' : 'form',
        'enableAjaxValidation' : false,
        'enableClientValidation' : false,
        'validateOnSubmit':false,

    }) %}
    <h3>Шаг 2. Выбор тип CPA</h3>
    {% if error %}
        <p styele="color:red;">
            {{ error }}
        </p>
    {% endif %}
    <div class="form-group">
        <label class="control-label">Магазин</label>
        {{ store.name }}
        {{ html.input('hidden', 'store_id', store.uid) | raw}}
    </div>
    <div class="form-group">
        {% if cpa_list %}
            <label class="control-label">CPA</label>
            <select name="сpa_id">
            {% for cpa in cpa_list %}
                <option value="{{ cpa.id }}">
                    {{ cpa.cpa.name }}(
                    {% if cpa.cpa_id==1 %}
                        {{ cpa.affiliate_id }}
                    {% else %}
                        {{ cpa.id }}
                    {% endif %}
                    )
                </option>
                </label>
            {% endfor %}
            </select>
        {% else %}
            Нет доступных CPA в магазине. Перейдите в редактирование магазина.
        {% endif %}
    </div>

    <br>

    <div class="form-group">
        <a href="/admin/stores/update/id:{{ store.uid }}" class="btn btn-primary" target="_blank">Редактировать магазин</a>
        {% if cpa_list %}
            <input type="submit" value="Далее" class="btn btn-success">
        {% endif %}
    </div>
{{ active_form_end() }}