{{ use('/yii/widgets/ActiveForm') }}
{{ use('/yii/helpers/Html') }}
    {% set form = active_form_begin({
        'id' : 'form',
        'enableAjaxValidation' : false,
        'enableClientValidation' : false,
        'validateOnSubmit':false,

    }) %}
    <h3>Шаг 1. Выбор магазина</h3>
    <div class="form-group">
        <label class="control-label">Магазин(id)</label>
        {{ html.input('text', 'username', '', {'class' : 'ds'}) | raw}}
    </div>

    <br>

    <div class="form-group">
        <input type="submit" value="Далее" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
{{ active_form_end() }}