{{ use('/yii/grid/GridView') }}
{% set title = 'Пользователи-партнеры' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="b2b-users-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                    {# include('_search.twig', {'model': searchModel}) #}
                    <p>
                        <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Создать пользователя-партнера' }}</a>
                    </p>
                    {{ grid_view_widget({
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,
                                'columns': [
                                {'class': '\\yii\\grid\\SerialColumn'},

                                'id',
                                'email:email',
                                'fio',
                                'created_at',
                                'login_at',
                                'ip',
                                {
                                    'format':'raw',
                                    'attribute':'is_active',
                                    'value' : 'stringActive',
                                    'filter':{
                                        '':'Любой',
                                        0:"В ожидании",
                                        1:"Отклонён",
                                        2:"Подтвержден",
                                    },
                                },
                                {'class': '\\yii\\grid\\ActionColumn',
                                    'template' : '{login} {update} {delete}',
                                    'buttons' : actionButtons
                                },
                            ],
                        })
                    }}
                </div>
            </div>
        </section>
    </div>
</div>
{#
'password_hash',
'password_reset_token',
'email_confirm_token:email',
'auth_key',
'created_at',
'login_at',
'ip'
#}
</div>