{% include('parts/account/user_balance.twig') %}

    <section class="account account-padding">

                <h3>{{ t('account', 'history_transitions') }}</h3>


            {% if visit_history|length > 0 %}

                <table class="table table-transition">
                        <tr>
                            <th>Дата перехода</th>
                            <th>{{ t('common', 'shop') }}</th>
                        </tr>


                        {% for visit in visit_history %}
                        <tr>
                            <td>{{_local_date(visit.visit_date, date_format)}}</td>
                            <td class="store"><a href="/stores/{{visit.route}}{{ _if(visit.is_offline,'-offline') }}">{{visit.name}}</a></td>
                        </tr>
                        {% endfor %}
                </table>

            {% else %}
                <div class="not-found">{{ t('account', 'history_transitions_empty') }}</div>
            {% endif %}

        {% include '/parts/pagination.twig' %}
    </section>

