<section>
    <div class="page-wrap">
        <h2>Почему мы – лучшие</h2>
        <div class="flex-line flex-wrap tablets_flex-col">
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('offline','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Кэшбэк в оффлайне
                    </div>
                    <div class="instruction-content">
                        За покупки в интернете кэшбэк возвращают десятки сервисов, в оффлайне – только мы.
                    </div>
                </div>
            </div>

            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('coin','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Отсутствие
                        минимальной выплаты
                    </div>
                    <div class="instruction-content">
                        Выводите хоть 1 рубль, не ждите, пока накопится 500 рублей, как в других сервисах.
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('stopwatch','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Самый быстрый вывод денег
                    </div>
                    <div class="instruction-content">
                        За покупки во многих магазинах и ресторанах мы выплачиваем уже на следующий день!
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('support-big','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Круглосуточная техподдержка
                    </div>
                    <div class="instruction-content">
                        E-mail, 3 телефона, live chat – решим любые ваши вопросы и проблемы.
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('coins','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Накопительная система
                    </div>
                    <div class="instruction-content">
                        Чем больше вы покупаете – тем больше мы возвращаем. Ваш кэшбэк может вырасти на 30%!
                        <a href="#">Подробнее здесь</a>
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('padlock-big','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Безопасность банковского уровня
                    </div>
                    <div class="instruction-content">
                        Все ваши данные передаются по защищенному протоколу SSL. Также мы не имеем доступа к вашим кредиткам – все платежи вы совершаете на сайте конечного магазина, на который переходите с нашего сайта.
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('binoculars','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Отслеживание посылок
                    </div>
                    <div class="instruction-content">
                        На нашем сайте можно отследить посылку свыше 300 почтовых и курьерских служб.
                    </div>
                </div>
            </div>
            <div class="instruction-item instruction-item-230 instruction-item-tablets-full tablets_flex-row tablets_text-aling_left">
                {{ svg('heart-big','instruction-icon')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Благотворительность
                    </div>
                    <div class="instruction-content">
                        10% от всех наших доходов, заработанных в том числе и с вашей помощью, мы отправляем на <a href="#">благотворительность</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>