<section class="advantages_line margin">
    <div class="page-wrap flex-line laptop-min_flex-wrap" >
        <div class="advantages_line-item">
            {{ svg('percentages','advantages_line-icon')|raw }}
            <span>До 45% возврата</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('calendar','advantages_line-icon')|raw }}
            <span>Вывод на следующий день</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('padlock','advantages_line-icon')|raw }}
            <span>Безопасность банковского уровня</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('support','advantages_line-icon')|raw }}
            <span>Круглосуточная поддержка</span>
        </div>
    </div>
</section>
<section class="advantages_line_second margin">
    <div class="page-wrap flex-line laptop-min_flex-wrap advantages_line_second-wrap" >
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.total_save,0,true,'<span>&nbsp;</span>')|raw }} руб</span>
            <span class="advantages_line_second-label">SecretDiscounter уже сэкономил своим пользователям</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.count_save,0,true,'<span>&nbsp;</span>')|raw }} </span>
            <span class="advantages_line_second-label">покупок совершено за неделю</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.sum_save,2,true,'<span>&nbsp;</span>')|raw }} руб</span>
            <span class="advantages_line_second-label">максимальный кэшбэк за вчера</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.save_persent,0,true,'<span>&nbsp;</span>')|raw }}%</span>
            <span class="advantages_line_second-label">столько в среднем экономят наши пользователи при помощи промокодов и кэшбэка</span>
        </div>
    </div>
</section>