<section class="margin">
    <div class="page-wrap">
        <h2>Почему мы – лучшие</h2>
        <div class="flex-line flex-wrap">
            <div class="instruction-item instruction-item-230">
                {{ svg('offline','instruction-icon')|raw }}
                <div class="instruction-title">
                    Кэшбэк в оффлайне
                </div>
                <div class="instruction-content">
                    За покупки в интернете кэшбэк возвращают десятки сервисов, в оффлайне – только мы.
                </div>
            </div>

            <div class="instruction-item instruction-item-230">
                {{ svg('coin','instruction-icon')|raw }}
                <div class="instruction-title">
                    Отсутствие
                    минимальной выплаты
                </div>
                <div class="instruction-content">
                    Выводите хоть 1 рубль, не ждите, пока накопится 500 рублей, как в других сервисах.
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('stopwatch','instruction-icon')|raw }}
                <div class="instruction-title">
                    Самый быстрый вывод денег
                </div>
                <div class="instruction-content">
                    За покупки во многих магазинах и ресторанах мы выплачиваем уже на следующий день!
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('support','instruction-icon')|raw }}
                <div class="instruction-title">
                    Круглосуточная техподдержка
                </div>
                <div class="instruction-content">
                    E-mail, 3 телефона, live chat – решим любые ваши вопросы и проблемы.
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('coins','instruction-icon')|raw }}
                <div class="instruction-title">
                    Накопительная система
                </div>
                <div class="instruction-content">
                    Чем больше вы покупаете – тем больше мы возвращаем. Ваш кэшбэк может вырасти на 30%!
                    <a href="#" class="btn btn-round btn-transform">Подробнее здесь</a>
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('padlock','instruction-icon')|raw }}
                <div class="instruction-title">
                    Безопасность банковского уровня
                </div>
                <div class="instruction-content">
                    Все ваши данные передаются по защищенному протоколу SSL. Также мы не имеем доступа к вашим кредиткам – все платежи вы совершаете на сайте конечного магазина, на который переходите с нашего сайта.
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('look','instruction-icon')|raw }}
                <div class="instruction-title">
                    Отслеживание посылок
                </div>
                <div class="instruction-content">
                    На нашем сайте можно отследить посылку свыше 300 почтовых и курьерских служб.
                </div>
            </div>
            <div class="instruction-item instruction-item-230">
                {{ svg('heart','instruction-icon svg-no-fill')|raw }}
                <div class="instruction-title">
                    Благотворительность
                </div>
                <div class="instruction-content">
                    10% от всех наших доходов, заработанных в том числе и с вашей помощью, мы отправляем на благотворительность.
                </div>
            </div>
        </div>
    </div>
</section>