<section class="advantages_line margin">
    <div class="page-wrap flex-line laptop-min_flex-wrap" >
        <div class="advantages_line-item">
            {{ svg('percentages','advantages_line-icon')|raw }}
            <span>{{ _constant('index-advantages-inline', 0, 0) }}</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('calendar','advantages_line-icon')|raw }}
            <span>{{ _constant('index-advantages-inline', 0, 1) }}</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('padlock','advantages_line-icon')|raw }}
            <span>{{ _constant('index-advantages-inline', 0, 2) }}</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('support','advantages_line-icon')|raw }}
            <span>{{ _constant('index-advantages-inline',0, 3) }}</span>
        </div>


    </div>
</section>
<section class="advantages_line_second margin">
    <div class="page-wrap flex-line laptop-min_flex-wrap advantages_line_second-wrap" >
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.total_save,0,true,'<span>&nbsp;</span>')|raw }} руб</span>
            <span class="advantages_line_second-label">{{ _constant('index-advantages-inline-two', 0, 0) }}</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.count_save,0,true,'<span>&nbsp;</span>')|raw }} </span>
            <span class="advantages_line_second-label">{{ _constant('index-advantages-inline-two', 0, 1) }}</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.sum_save,2,true,'<span>&nbsp;</span>')|raw }} руб</span>
            <span class="advantages_line_second-label">{{ _constant('index-advantages-inline-two', 0, 2) }}</span>
        </div>
        <div class="advantages_line_second-item">
            <span class="advantages_line_second-counter">{{ _nf(sd_counter.save_persent,0,true,'<span>&nbsp;</span>')|raw }}%</span>
            <span class="advantages_line_second-label">{{ _constant('index-advantages-inline-two', 0, 3) }}</span>
        </div>
    </div>
</section>