<section class="margin">
    <div class="page-wrap">
        <h2>С нами дружат</h2>
        <div class="flex-line flex-wrap">
            {% set social_list = _constant("social_list") %}
            {% for item in social_list %}
                {% if item.on_index==1 %}
                    <div class="instruction-item instruction-item-230 gray-box">
                        <div class="flex-line">
                            {{ svg('color/'~item.code,'instruction-social_logo')|raw }}
                            <div class="instruction-social_counter">
                                <span>{{ _nf(item.count,0)|raw }}</span>
                                {{ item.index_text }}
                            </div>
                        </div>
                        <a class="social-btn social-btn-{{ item.code }}" href="{{ item.url }}">
                            {% set sub_icon=item.code~_if(item.code=='vk','','_mini') %}
                            {% if item.code!="ok" %}
                                {{ svg('color/'~sub_icon,'social-btn-logo')|raw }}
                            {% endif %}
                            {{ item.button }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>