<section class="index-hello">
    <div class="page-wrap page-wrap-flex" >
        <div class="index-hello_left">
            <h1>{{ h1|raw }}</h1>
            <p class="index-hello_description">
                {{ _constant('welcome') | raw}}
            </p>
            <div class="index-hello_counter laptop-min_bold">
                {{ _constant('index-hello-counter')|raw }}
            </div>

            <div class="index-hello_fw_li-in">
                <a href="#registration" class="btn  btn-red btn-narrow index-hello_margin_btn modals_open">{{ t('common', 'register_free') }}</a>
                <a href="/affiliate-system" class="btn  btn-transform btn-narrow btn-share">{{ t('common', 'tell_to_friends') }}</a>
            </div>
            {{ _constant('index-hello-advantages')|raw }}

        </div>
        <div class="index-hello_center" data-toggle="tooltip"
             data-original-title="{{ t('main', 'welcome_to_shops_future') }}" data-top="200" data-left="190" data-placement="bottom" data-norevert="1"></div>
        <div class="index-hello_right">
            <div class="index-hello_right-link index-hello_right-link-absolute">
                <a href="#video?v=RlV3PyIYTqU" class="modals_open">
                <span class="index-hello_right-icon">
                    <span class="index-hello_right-svg_wrap">
                        {{ svg('play','index-hello_right-svg')|raw }}
                    </span>
                </span>
                    <span class="index-hello_right-link_text">{{ t('main', 'watch_video') }}</span>
                </a>
            </div>

        </div>
    </div>
</section>