<section class="index-hello">
    <div class="page-wrap page-wrap-flex" >
        <div class="index-hello_left">
            <h1>Добро пожаловать
                в будущее магазинов!</h1>
            <div class="index-hello_counter laptop-min_bold">
                к нам присоединились:
                <div class="index-hello_counter-numbers">
                    {{ _nf(sd_counter.user_count,0,true,'<span class="index-hello_counter-numbers_space"></span>',1)|raw }}
                </div>
            </div>
            <p class="index-hello_description">
                SecretDiscounter – самый умный способ совершать покупки, ведь вы получаете <b>часть денег обратно</b> за все, что покупаете – в онлайне и в реальных магазинах. Это называется <b>кэшбэк</b> и на Западе успешно работает с 1998 года.
            </p>
            <ul class='icons-list index-hello_icons-list'>
                <li class="index-hello_fw_li">
                    <a href="#registration" class="btn  btn-red  index-hello_margin_btn modals_open">Зарегистрироваться</a>
                </li>
                <li>
                    {{ svg('online','icons-list_icon')|raw }}
                    <span class="icons-list_title">Кэшбэк в онлайн-магазинах</span>
                </li>
                <li>
                    {{ svg('offline','icons-list_icon')|raw }}
                    <span class="icons-list_title">Кэшбэк в реальных магазинах</span>
                </li>
                <li>
                    {{ svg('gift','icons-list_icon')|raw }}
                    <span class="icons-list_title">Бесплатные купоны и промокоды</span>
                </li>
                <li>
                    {{ svg('look','icons-list_icon')|raw }}
                    <span class="icons-list_title">Отслеживание посылок</span>
                </li>

            </ul>
        </div>
        <div class="index-hello_center"></div>
        <div class="index-hello_right">
            <a href="#video?v=RlV3PyIYTqU" class="index-hello_right-link index-hello_right-link-absolute modals_open">
                <span class="index-hello_right-icon">
                    <span class="index-hello_right-svg_wrap">
                        {{ svg('play','index-hello_right-svg')|raw }}
                    </span>
                </span>
                <span class="index-hello_right-link_text">Посмотреть видео</span>
            </a>
        </div>
    </div>
</section>