<section class="margin install-plugin-index hidden ">
    <div class="page-wrap install-plugin-index_border align-center">
        <h2>Расширение SecretDiscounter</h2>
        <p>
            Установите наш плагин для браузера – и больше никогда не пропустите кэшбэк. Получите возможность активировать кэшбэк в один клик прямо на сайте магазина!
        </p>
        <p><strong>Расширение доступно для следующих браузеров:</strong></p>
        <div class="plugin-browsers margin-half">
            <a href="https://chrome.google.com/webstore/category/extensions" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-chrome current">{{ svg("chrome")|raw}}</a>
            <a href="https://addons.mozilla.org/ru/firefox/" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-firefox">{{ svg("firefox")|raw}}</a>
            <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-opera">{{ svg("opera")|raw}}</a>
            <div class="plugin-browsers-browser plugin-browsers-browser-yandex">{{ svg("yandex")|raw}}</div>
            <div class="plugin-browsers-browser plugin-browsers-browser-safari">{{ svg("safari")|raw}}</div>
        </div>
        <div class="margin-half">
            <a href="https://chrome.google.com/webstore/category/extensions" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-chrome hidden">Установить для Chrome&nbsp;&rarr;</a>
            <a href="https://addons.mozilla.org/ru/firefox/" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-firefox hidden">Установить для Fairfox&nbsp;&rarr;</a>
            <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-opera hidden">Установить для Opera&nbsp;&rarr;</a>
            <a href="#" class="btn plugin-browsers-link plugin-browsers-link-yandex hidden">Установить для Yandex&nbsp;&rarr;</a>
            <a href="#" class="btn plugin-browsers-link plugin-browsers-link-safari hidden">Установить для Safari&nbsp;&rarr;</a>
        </div>
    </div>


    </div>
</section>