<section class="instruction margin">
    <div class="page-wrap">
        <h2>{{ _constant('index-hello-instructions', 0, 0)|raw }}</h2>
        <div class="flex-line tablets_flex-col">
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('shop','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ _constant('index-hello-instructions', 0, 1)|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ _constant('index-hello-instructions', 0, 2)|raw }}
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('bay','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ _constant('index-hello-instructions', 0, 3)|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ _constant('index-hello-instructions', 0, 4)|raw }}
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('pig','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        {{ _constant('index-hello-instructions', 0, 5)|raw }}
                    </div>
                    <div class="instruction-content">
                        {{ _constant('index-hello-instructions', 0, 6)|raw }}
                    </div>
                </div>
            </div>
        </div>
        <p class="align-center">
            <span class="notes"></span> <b><a class="blue" href="/offline-system">{{ _constant('index-hello-instructions', 0, 7)|raw }}</a></b></p>
    </div>
</section>