<section class="margin install-plugin-index hidden align-center">
    <div class="page-wrap">
        <h2>Установите плагин</h2>
        <p>
            Установите плагин для браузера от <a href="https://secretdiscounter.ru"> SecretDiscounter.ru</a> – и больше никогда не пропустите кэшбэк. Получите возможность активировать кэшбэк в один клик прямо на сайте магазина!
        </p>
        <p>Расширение доступно для следующих браузеров:</p>
        <div class="plugin-browsers">
            <a href="https://chrome.google.com/webstore/category/extensions" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-chrome current">{{ svg("chrome")|raw}}</a>
            <a href="https://addons.mozilla.org/ru/firefox/" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-firefox">{{ svg("firefox")|raw}}</a>
            <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="plugin-browsers-browser plugin-browsers-browser-opera">{{ svg("opera")|raw}}</a>
            <div class="plugin-browsers-browser plugin-browsers-browser-yandex">{{ svg("yandex")|raw}}</div>
            <div class="plugin-browsers-browser plugin-browsers-browser-safari">{{ svg("safari")|raw}}</div>
        </div>
        <div>
            <a href="https://chrome.google.com/webstore/category/extensions" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-chrome hidden">Установить для Chrome&nbsp;&rarr;</a>
            <a href="https://addons.mozilla.org/ru/firefox/" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-firefox hidden">Установить для Fairfox&nbsp;&rarr;</a>
            <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-opera hidden">Установить для Opera&nbsp;&rarr;</a>
            <a href="#" class="btn plugin-browsers-link plugin-browsers-link-yandex hidden">Установить для Yandex&nbsp;&rarr;</a>
            <a href="#" class="btn plugin-browsers-link plugin-browsers-link-safari hidden">Установить для Safari&nbsp;&rarr;</a>
        </div>
    </div>


    </div>
</section>