<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">
                    {% include('parts/user_balance.twig') %}
                </div>
            </div>
        </div>
    </section>
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                {{ _constant('account_payments_history')|raw }}
            </div>
            {% if payments|length > 0 %}
            <div class="col-md-12">
                <table class="table table-payments">
                    <thead>
                        <tr>
                            <th>ID SD</th>
                            <th>{{ t('common', 'shop_or_service') }}</th>
                            <th>{{ t('common', 'date_active') }}</th>
                            <th>{{ t('common', 'cashback') }}</th>
                            <th>{{ t('common', 'status') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set curr_icon = app.params.currencies[app.params.valuta].icon ? app.params.currencies[app.params.valuta].icon : '' %}
                        {% for payment in payments %}
                        <tr>
                            <td>{{payment.action_id}}</td>
                            <td class="store">
                            {% if payment.is_active == '1' %}
                            <a href="/stores/{{payment.route}}{{ _if(payment.is_offline,'-offline') }}">{{payment.name}}</a>
                            {% else %}
                            {{payment.name}}
                            {% endif %}
                            </td>
                            <td>{{ _date(payment.action_date)}}</td>
                            <td class="cashback status_{{payment.status}}">
                                {{ _nf(payment.cashback) | raw }} {{ curr_icon|raw }}
                            </td>
                            <td class="status status_{{payment.status}}">
                                {% if payment.status == '0' %}
                                <span class="fa fa-clock-o"></span>
                                {% endif %}
                                {% if payment.status == '2' %}
                                <span class="fa fa-check"></span>
                                {% endif %}
                                {% if payment.status == '1' %}
                                <span class="fa fa-times"></span>
                                {% endif %}
                                    {{payment.status_title}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="col-md-12">
                <div class="not-found">{{ t('account', 'payments_no_found') }}</div>
            </div>
            {% endif %}
        </div>
    </section>
    {% include '/parts/pagination.twig' %}


    {% set curr = app.params.currencies[app.params.valuta].text ? app.params.currencies[app.params.valuta].text : '' %}

    <section>
        <div class="row">
            <div class="col-md-12 sum_information_wrapper">
                <h3 class="header">{{ t('account', 'summary') }}:</h3>
                <div class="sum_information">
                    <div class="line">
                        <div class="name">{{ t('account', 'confirmed') }}</div>
                        <div class="value">
                            {{ _nf(user.sum_confirmed) | raw}} {{ curr }}
                        </div>
                    </div>
                    <div class="line">
                        <div class="name">{{ t('account', 'expected') }}</div>
                        <div class="value">
                            {{ _nf(user.sum_pending) | raw }} {{ curr }}
                        </div>
                    </div>
                    <div class="line">
                        <div class="name">{{ t('account', 'revoked') }}</div>
                        <div class="value">
                            {{ _nf(user.sum_declined) | raw }} {{ curr }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>