{% include('parts/account/user_balance.twig') %}
<section class="account">
  {{ _tags_class(_constant('account_payments_history'), {'a':'blue'})|raw }}
  {% if payments|length > 0 %}
    <table class="table ta_left adaptive adaptive-phones">
      <tr>
        <th>ID SD</th>
        <th>{{ t('common', 'shop_or_service')|raw }}</th>
        <th>{{ t('common', 'date_active')|raw }}</th>
        <th>{{ t('common', 'cashback')|raw }}</th>
        <th>{{ t('common', 'status')|raw }}</th>
      </tr>

      {% set curr_icon = currencyIcon(app.user.identity.currency) %}
      {% for payment in payments %}
        <tr>
          <td>{{ payment.action_id }}</td>
          <td class="store">
            {% if payment.is_active != -1 %}
              <a href="/stores/{{ payment.route }}{{ _if(payment.is_offline,'-offline') }}">{{ payment.name }}</a>
            {% else %}
              {{ payment.name }}
            {% endif %}
          </td>
          <td>{{ _date(payment.action_date) }}</td>
          <td class="cashback status_{{ payment.status }}">
            {{ _nf(payment.cashback) | raw }} {{ curr_icon|raw }}
          </td>
          <td class="status status_{{ payment.status }}">
            {% if payment.status == '0' %}
              {{ svg('clock-o','currency-icon')|raw }}
            {% endif %}
            {% if payment.status == '2' %}
              {{ svg('check','currency-icon')|raw }}
            {% endif %}
            {% if payment.status == '1' %}
              {{ svg('times','currency-icon')|raw }}
            {% endif %}
            {{ payment.status_title }}
          </td>
        </tr>
      {% endfor %}
    </table>

    {% include '/parts/pagination.twig' %}
  {% else %}
    <br>
    <p class="not-found">{{ t('account', 'payments_no_found') | raw }}</p>
    <a href="/stores" class="btn">{{ t('account', 'payments_no_found_btn') | raw }}</a>
  {% endif %}
</section>

{% if payments|length > 0 %}

  <section class="margin">
    <h3>{{ t('account', 'summary')|raw }}:</h3>
    <div>
      {{ t('account', 'confirmed')|raw }}:
      <b>{{ _nf(user.sum_confirmed) | raw }}&nbsp;{{ curr_icon | raw }}</b>
    </div>
    <div>
      {{ t('account', 'expected')|raw }}:
      <b>{{ _nf(user.sum_pending) | raw }}&nbsp;{{ curr_icon | raw }}</b>
    </div>
    <div>
      {{ t('account', 'revoked')|raw }}:
      <b>{{ _nf(user.sum_declined) | raw }}&nbsp;{{ curr_icon | raw }}</b>
    </div>
  </section>
{% endif %}