<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">
                    <div class="confirm">Баланс: <span>{{_nf(this.balance.current) | raw}} <span class="fa fa-rub"></span></span></div>
                    <div class="pending">В ожидании: <span>{{_nf(this.balance.pending) | raw}}  <span class="fa fa-rub"></span></span></div>
                    <div class="charity">Пожертвовано: <span>{{_nf(this.balance.charity) | raw}}  <span class="fa fa-rub"></span></span> <a href="/account/fund-transfer" class="btn-fill">Благотворительность</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>История заказов</h3>
                <p>
                    Ниже представлена информация о заказах, которые Вы оформили, перейдя через наш <a href="/stores">каталог магазинов</a>.
                    Данные о таких заказах отобразятся автоматически в течение нескольких часов (за редким исключением — в течение нескольких дней). 
                    
                    Если Вы уверены, что <a href="/recommendations">правильно</a> оформили заказ, но он здесь не появился в списке, настоятельно рекомендуем обратиться в нашу <a href="/account/support">службу поддержки</a>. 
                    <br><br>
                    Проверить информацию о том, зафиксировался ли Ваш переход в интернет-магазин, можно <a href="/account/transitions">по данной ссылке</a>.
                </p>
            </div>
            {% if payments|length > 0 %}
            <div class="col-md-12">
                <table class="table table-payments">
                    <thead>
                        <tr>
                            <th>ID SD</th>
                            <th>Магазин/Сервис</th>
                            <th>Дата действия</th>
                            <th>Кэшбэк</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <td>{{payment.action_id}}</td>
                            <td class="store">
                            {% if payment.is_active == '1' %}
                            <a href="/stores/{{payment.route}}">{{payment.name}}</a>
                            {% else %}
                            {{payment.name}}
                            {% endif %}
                            </td>
                            <td>{{ _date(payment.action_date)}}</td>
                            <td class="cashback status_{{payment.status}}">
                                {{ _nf(payment.cashback) | raw }} <span class="fa fa-rub"></span>
                            </td>
                            <td class="status status_{{payment.status}}">
                                {% if payment.status == '0' %}
                                <span class="fa fa-clock-o"></span>
                                {% endif %}
                                {% if payment.status == '2' %}
                                <span class="fa fa-check"></span>
                                {% endif %}
                                {% if payment.status == '1' %}
                                <span class="fa fa-times"></span>
                                {% endif %}
                                    {{payment.status_title}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="col-md-12">
                <div class="not-found">На данный момент Вы не совершали никаких заказов.</div>
            </div>
            {% endif %}
        </div>
    </section>
    {% include '/parts/pagination.twig' %}
</div>