{% set curr = currencyIcon(app.user.identity.currency) %}
{% set user_curr = currencyIcon(ref_user.currency) %}
<div class="content-wrapper">
            <h3>{{ t('account', 'users_referral_history') }}</h3>
        <div>
            {{ t('account', 'users_referral_status') }}:
            <b>
                {{ref_user.loyalty_status_data.display_name}}
                ({{ref_user.loyalty_status_data.bonus}}%)
                {% if ref_user.loyalty_status_data.is_vip==1 %}
                    <br>{{ t('account', 'users_vip_client') }}
                {% endif %}
            </b>
        </div>
        <div>
            {{ t('account', 'users_payment_confirmed_expected') }}:
            <b>{{ _nf(total.cnt_confirm,0) | raw}}</b> /
            <b>{{ _nf(total.cnt_pending,0) | raw}}</b>
        </div>
        <div>
            {{ t('account', 'users_cashback_confirmed_expected') }}:
            <b>{{ _nf(total.sum_confirm) | raw}} {{ user_curr | raw}}</b> /
            <b>{{ _nf(total.sum_pending) | raw}} {{ user_curr | raw}}</b>
        </div>
        <div>
            {{ t('account', 'users_summ_confirmed_expected') }}:
            <b>{{ _nf(total.sum_ref_confirm) | raw}} {{ curr | raw}}</b> /
            <b>{{ _nf(total.sum_ref_pending) | raw}} {{ curr | raw}}</b>
        </div>
        <form method="get" class="col-md-12">
            {{ t('common', 'date_range') }}:
            {{ data_ranger | raw }}
        </form>
    <section class="account-padding">
            {% if payments|length > 0 %}
                <table  class="table ta_left adaptive adaptive-tablets">
                        <tr>
                            <th>ID SD</th>
                            <th>{{ t('common', 'shop_or_service') }}</th>
                            <th>{{ t('common', 'date_active') }}</th>
                            <th>{{ t('common', 'amount_order') }}</th>
                            <th>{{ t('common', 'cashback') }}</th>
                            <th>{{ t('common', 'your_bonus') }}</th>
                            <th>{{ t('common', 'status') }}</th>
                        </tr>

                      {% for payment in payments %}
                        <tr>
                            <td>{{payment.action_id}}</td>
                            <td class="store">
                            {% if payment.is_active == '1' %}
                            <a href="/stores/{{payment.route}}{{ _if(payment.is_offline,'-offline') }}">{{payment.name}}</a>
                            {% else %}
                            {{payment.name}}
                            {% endif %}
                            </td>
                            <td>{{ _date(payment.action_date)}}</td>
                            <td>
                                {{ _nf(payment.order_price * payment.kurs) | raw }} {{ user_curr | raw}}
                            </td>
                            <td>
                                {{ _nf(payment.cashback) | raw }} {{ curr | raw}}
                            </td>
                            <td  class="status status_{{payment.status}}">
                                {{ _nf(payment.ref_bonus) | raw }} {{ curr | raw}}
                            </td>
                            <td class="status status_{{payment.status}}">
                              {% if payment.status == '0' %}
                                {{ svg('clock-o','currency-icon')|raw }}
                              {% endif %}
                              {% if payment.status == '2' %}
                                {{ svg('check','currency-icon')|raw }}
                              {% endif %}
                              {% if payment.status == '1' %}
                                {{ svg('times','currency-icon')|raw }}
                              {% endif %}
                              {{payment.status_title}}
                            </td>
                        </tr>
                      {% endfor %}
                </table>

            {% else %}
                <div class="not-found">{{ t('account', 'users_referral_payments_empty') }}</div>
            {% endif %}

    </section>
    {% include '/parts/pagination.twig' %}
</div>