{{ use('/yii/widgets/ActiveForm') }}
{{ use('/unclead/multipleinput/MultipleInput') }}
<div class="b2b-stores-points-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'store_id').textInput({'maxlength':true}).hiddenInput().label(false)|raw }}

        {{ form.field(model, 'route').textInput({'readOnly':true})|raw }}

        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'address').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'coordinate_x').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'coordinate_y').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'work_time').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'work_time_details').widget(MultipleInput.className(), {
            'max':'7',
            'columns': [
                {
                    'name': 'work_time_day_1',
                    'title': 'Пн.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_2',
                    'title': 'Вт.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_3',
                    'title': 'Ср.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_4',
                    'title': 'Чт.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_5',
                    'title': 'Пт.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_6',
                    'title': 'Сб.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_day_7',
                    'title': 'Вс.',
                    'type': 'checkbox',
                },
                {
                    'name': 'work_time_start',
                    'title': 'Начало работы',
                },
                {
                    'name': 'work_time_end',
                    'title': 'Конец работы',
                },
                {
                    'name': 'work_time_lunch_start',
                    'title': 'Начало перерыва',
                },
                {
                    'name': 'work_time_lunch_end',
                    'title': 'Конец перерыва',
                },
            ],
        })|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Изменить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>