{% set title = 'Приём платежа' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Точка продаж', 'url': path(['/stores_points'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="b2b-stores-points-create">
    <h1>{{ html.encode(this.title) }}</h1>
    <div class="b2b-stores-points-form">
        {% set form = active_form_begin() %}

        {{ form.errorSummary(model)|raw }}

        {{ form.field(model, 'uid').textInput({'maxlength':true}).hiddenInput().label(false)|raw }}

        {{ form.field(model, 'user_id').textInput({'maxlength':true})|raw }}

        {% if category|length > 1 %}
            {{ form.field(model, 'category').dropDownList(categories, {'prompt':'Выберите категорию'} )|raw }}
        {% endif %}

        {{ form.field(model, 'order_price').textInput({'maxlength':true})|raw }}

        {% if store.cash_number == 1 %}
            {{ form.field(model, 'order_id').textInput({'maxlength':true})|raw }}
        {% endif %}

        <div  class="col-md-12">
             <div class="form-group">
                <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Подтвердить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
            </div>
        </div>
        {{ active_form_end() }}

    </div>
</div>