{% set title = 'Изменение точки продаж: ' ~ model.name %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Личный кабинет', 'url': path(['/home'])}]) %}
{#{% set breadcrumbs = breadcrumbs|merge([{'label': 'Точка продаж ' ~ model.name, 'url': path('view', {'id': model.id})}]) %}#}
{% set breadcrumbs = breadcrumbs|merge(['Изменение точки продаж '~ model.name]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="b2b-stores-points-update">
    <h1>{{ this.title }}</h1>
        {{ include('_form.twig', {
                'model': model,
            })
        }}
</div>