{{ use('/yii/widgets/ActiveForm') }}
<div class="constants-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}
        {% if model.ftype=='textarea' %}
            {{ form.field(model, 'text').textarea({'rows':6})|raw }}
        {% else  %}
            {{ form.field(model, 'text').textarea({'rows':6, 'class':'visual_editor'})|raw }}
        {% endif %}

        {{ form.field(model, 'ftype').dropDownList({'textarea':'textarea','reachtext':'reachtext'})|raw }}

        {{ form.field(model, 'updated_at').textInput()|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>