{{ use('/yii/grid/GridView') }}
{% set title = 'Константы' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="constants-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                </div>
                <div class="col-md-12" style="margin-bottom: 10px;">
                    {% for category in categories %}
                        <a class="btn btn-primary" href="{{ category.link }}">{{ category.name }} ({{ category.count }})</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    {# include('_search.twig', {'model': searchModel}) #}
                    {{ grid_view_widget({
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,
                                'columns': [
                                'uid',
                                'name',
                                'title',
                                'ftype',
                                {'class': '\\yii\\grid\\ActionColumn',
                                    'template' : '{update}',

                                },
                            ],
                        })
                    }}
                {#
                'updated_at'
                #}
                </div>
            </div>
        </section>
    </div>
</div>