{% set title = title %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
    {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="site-index">

    <div class="">
        <h1>{{ h1 }}</h1>
    </div>

    <div class="body-content">

        <div class="row">
            {{ content|raw }}
        </div>

    </div>
</div>