{% set title = title %}
{{ set(this, 'title', title) }}

{% if not no_breadcrumbs %}
    {% if not this.params.breadcrumbs %}
        {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
    {% endif %}
    {% set breadcrumbs = this.params.breadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge([title]) %}
    {{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
{% endif %}
<div class="site-index">

    <div class="">
        <h1>{{ h1 }}</h1>
    </div>

    <div class="body-content">
        {{ this.params.no_breadcrumbs }}
        {% if before_content %}
            {{ before_content | raw}}
        {% endif %}
        {% if before_include %}
            {% include(parts(before_include)) %}
        {% endif %}
        {#<div class="row">#}
            {{ content|raw }}
        {#</div>#}
        <div class="hidden">
            <input id="recaptcha-key" type="hidden" value="{{ app.reCaptcha.siteKey }}">
        </div>

    </div>
</div>