{{ use('/yii/grid/GridView') }}
{% set title = 'Переходы пользователей' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
    {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}

<div class="stores-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1  style="padding: 0">{{ html.encode(this.title) }}</h1>
                    {{ grid_view_widget({
                        'dataProvider': dataProvider,
                        'pager' : {
                            'firstPageLabel' : true,
                            'lastPageLabel' : true,
                            'maxButtonCount':15
                        },
                        'filterModel': searchModel,
                        'columns': [
                        {'class': '\\yii\\grid\\SerialColumn'},
                        'uid',
                        {
                            'format':'raw',
                            'attribute':'user_id',
                            'value' : tableValue.user,
                        },
                        {
                            'format':'raw',
                            'attribute':'source',
                            'filter':{
                                '':'Любой',
                                1:"Купоны",
                                0:"Шопы",
                            },
                            'value': tableValue.source,
                        },
                        {
                            'format':'raw',
                            'attribute':'visit_date',
                            'headerOptions' : {
                                'class' : 'col-md-2'
                            },
                            'filter': data_ranger
                        },
                        {
                            'format':'raw',
                            'attribute':'store_id',
                            'value' : tableValue.store,
                        },
                        'user_ip',
                        ],
                    })
                    }}
                </div>
            </div>
        </section>
    </div>
</div>
