{{ register_asset_bundle('frontend/assets/AppAsset') }}
{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}" class="no-js" >
<head>
    <title>{{ html.encode(this.title) }}</title>
    <base href="/">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-90471086-2', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '239595223199647'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=239595223199647&ev=PageView&noscript=1"
        /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <meta property="og:image" content="https://secretdiscounter.ru{{images_path}}templates/woman_600.png" />
    <meta property="og:title" content="{{ _constant('affiliate_share_title')}}" />
    <meta property="og:type"  content="website" />
    <meta property="og:description"   content="{{ _constant('affiliate_share_description')}}" />
    <meta property="og:headline" content="Top 10 Most Challenging Hikes in North America" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="{{images_path}}templates/woman_600.png"/>


    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.ico">

    {% if pagination_tags.prev_page is not null %}
        <link rel="prev" href="{{site_url}}{{pagination_tags.prev_page}}">
    {% endif %}
    {% if pagination_tags.next_page is not null %}
        <link rel="next" href="{{site_url}}{{pagination_tags.next_page}}">
    {% endif %}

    {% for style in exclusionCSSheader %}
        <link rel="stylesheet" href="{{style}}">
    {% endfor %}

    {% for css_link in minifyCSS %}
        <link rel="stylesheet" href="{{css_link}}">
    {% endfor %}

    {% for scriptH in exclusionJSheader %}
        <script src="{{scriptH}}"></script>
    {% endfor %}
    {{ html.csrfMetaTags | raw }}
    {{   void(this.head) }}
</head>
<body id="top">
{{   void(this.beginBody()) }}
<header class="cd-main-header">
    <a href="/" class="cd-logo"><img src="/images/templates/secretdiscounter-logo.png" alt="secretdiscounter logo"></a>
    <div class="cd-search is-hidden">
        <form action="/search" name="account-search" method="get">
            <input type="search" id="search" name="query" value="" placeholder="Найти магазин">
        </form>
    </div>
    <div class="sub-menu">
        <ul class="account-nav">
            {#<li class="link-head-stores"><a href="/stores"><span>Магазины</span></a></li>#}
            <li class="link-head-stores stores submenu-handl">
                <a href="/stores"><span class="stores-flash">{{ t('common', 'shops') }}</span></a>
                {{ use('frontend/components/CategoryMenu') }}
                {% set category_tree = category_menu_widget({'show_hidden': false}) %}
                {% if category_tree %}
                    <div class="submenu">
                        <span class="fa fa-caret-up"></span>
                        <div class="tree">
                            {{category_tree|raw}}
                        </div>
                    </div>
                {% endif %}
            </li>
            <li class="stores submenu-handl">
                <a href="/coupons">{{ t('common', 'coupons') }}</a>
                {{ use('frontend/components/CategoryCouponsMenu') }}
                {% set category_coupons_list = category_coupons_menu_widget() %}
                {% if category_coupons_list %}
                    <div class="submenu coupons">
                        <span class="fa fa-caret-up"></span>
                        <div class="tree">
                            {{category_coupons_list|raw}}
                        </div>
                    </div>
                {% endif %}
            </li>

            <li><a href="/promo">{{ t('common', 'discounts') }}</a></li>
        </ul>
    </div>
    <a href="#0" class="cd-nav-trigger"><span></span></a>
    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <li class="has-children account">
                <a href="/logout" class="acclogout" onclick="location.href = '/logout'">
                    {% if setting.photo %}
                        <img src="{{setting.photo}}" alt="photo_{{setting.email}}">
                    {% else %}
                        {% if setting.sex == 'm' or setting.sex == '' %}
                            <span data-icon="&#xe040;" class="icon no-avatar"></span>
                        {% elseif setting.sex == 'f' %}
                            <span data-icon="&#xe041;" class="icon no-avatar"></span>
                        {% endif %}
                    {% endif %}
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {{ t('common', 'logout') }}
                </a>
            </li>
        </ul>
    </nav>
    <a class="dobrohead" href="/dobro"><i class="fa fa-heart" aria-hidden="true"></i> <span>{{ t('common', 'good_works') }}</span></a>
    <div class="mobile-menu">
        <div class="mobile-menu-buttons">
        <a class="btn-mobile-menu" href="/stores">Интернет-магазины</a>
        <a class="btn-mobile-menu" href="/coupons">Промокоды</a>
        </div>
        <div class="mobile-menu-buttons">
        <a class="btn-mobile-menu disable">Оффлайн магазины</a>
        <a class="btn-mobile-menu white" href="/account/affiliate">Приведи друга</a>
        </div>
    </div>
</header>
<main class="cd-main-content">
    <nav class="cd-side-nav">
        <ul class="first">
            <li class="top-information">
                <div class="logo">
                    {% if setting.photo %}
                        <img src="{{setting.photo}}" alt="photo_{{setting.email}}">
                    {% else %}
                        {% if setting.sex == 'm' or setting.sex == '' %}
                            <span data-icon="&#xe040;" class="icon no-avatar"></span>
                        {% elseif setting.sex == 'f' %}
                            <span data-icon="&#xe041;" class="icon no-avatar"></span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="info-text">
                    {% set curr = app.params.currencies[app.params.valuta].icon ? app.params.currencies[app.params.valuta].icon : '' %}
                    {{ t('account', 'user_balance_current')}}: <span> {{ _nf(this.balance.current)|raw }} {{ curr|raw }} </span>
                </div>
            </li>
            <li class="dobro-account">
                {{ get_menu_item({'href':'/dobro', 'title': t('account','menu_make_good')})|raw }}
            </li>
            <li class="cd-label">{{ t('account', 'menu_personal_cabinet') }}</li>
            <li class="overview users">
                {{ get_menu_item({'href':'/account', 'title': t('account', 'menu_main_page')})|raw }}
            </li>
            <li class="has-children bookmarks">
                {{ get_menu_item({'href':'/account/payments', 'title': t('account', 'menu_history')})|raw }}
                <ul>
                    <li>
                        {{ get_menu_item({'href':'/account/payments', 'title': t('account', 'menu_history_payments')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/bonuses', 'title': t('account', 'menu_history_bonuses')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/transitions', 'title': t('account', 'menu_history_visits')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/withdraw/history', 'title': t('account', 'menu_history_withdraw')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/charity', 'title': t('account', 'menu_history_charity')})|raw }}
                    </li>
                </ul>
            </li>
            <li class="notifications">
                {% set noty_count=noty_novi_count ? '<span class="count">'~noty_novi_count~'</span>' : '' %}
                {{ get_menu_item({'href':'/account/notification', 'title': t('account', 'menu_notify')~noty_count})|raw }}
            </li>
        </ul>
        <ul>
            <li class="cd-label">{{ t('account', 'menu_extends')}}</li>
            <li class="help-icon fasicon has-children">
                {{ get_menu_item({'href':'/account/support', 'title': t('account', 'menu_help')})|raw }}
                <ul>
                    <li>
                        {{ get_menu_item({'href':'/account/support', 'title': t('account', 'menu_help_support')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/howitworks', 'title': t('account', 'menu_help_howitworks')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/faq', 'title': t('account', 'menu_help_faq')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/loyalty', 'title': t('account', 'menu_help_loyalty')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/recommendations', 'title': t('account', 'menu_help_recommendations')})|raw}}
                    <li>
                        {{ get_menu_item({'href':'/reviews', 'title': t('account', 'menu_help_reviews')})|raw }}
                    </li>
                </ul>
            </li>
            <li class="favorite-icon fasicon">

                        {{ get_menu_item({'href':'/account/favorites', 'title': t('account', 'menu_favorites')})|raw }}

            </li>
            {% if _can('MetaView') %}
                <li class="offlineshop-icon fasicon">
                        {{ get_menu_item({'href':'/account/offline', 'title': t('account', 'menu_offline')})|raw }}
                </li>
            {% endif %}
            <li class="affiliate-icon fasicon">
                        {{ get_menu_item({'href':'/account/affiliate', 'title': t('account', 'menu_affiliate')})|raw }}
            </li>
            <li class="settings-icon fasicon">
                        {{ get_menu_item({'href':'/account/settings', 'title': t('account', 'menu_settings')})|raw }}
            </li>
        </ul>
        <ul>
            <li class="cd-label">{{ t('account', 'menu_tools') }}</li>
            <li class="action-btn"><a href="/account/withdraw">{{ t('account', 'menu_withdraw') }}</a></li>
        </ul>

        {#<div>#}

            {#<a href="account/affiliate" class="affiliate_block"></a>#}
        {#</div>#}
        {{ use('frontend/components/Banner') }}
        {%  set banners  = banner_widget({'place':'account-left-menu','options':{
            'wrapper_class':'account_banner__wrapper',
            'item_class': 'account_banner__item',
            'href_class': 'account_banner__href',
            'image_class': 'account_banner__image',
        }}) %}
        {% if banners %}
            {{ banners|raw }}
        {% endif %}
    </nav>
    {{ content|raw }}
</main>
{% for script in minifyJS %}
    <script src="{{script}}"></script>
{% endfor %}
{% for scriptF in exclusionJSfooter %}
    <script src="{{scriptF}}"></script>
{% endfor %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42229559 = new Ya.Metrika({
                    id:42229559,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42229559" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{{   void(this.endBody()) }}
{{ Notification() | raw}}
</body>
</html>
{{   void(this.endPage()) }}