<!DOCTYPE html>
<html lang="{{ app.language }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="theme-color" content="#000">

    <base href="/">

    <title>{{ html.encode(this.title) }}</title>

    <!-- SEO -->
    <meta name="keywords" content="__________" />
    <meta name="description" content="__________" />

    <!-- favicon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.ico">

    <!--css-->
    <link rel="stylesheet" href="/css/new/styles.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include 'base/header.twig' %}

    <div class="content-wrap{{ _if(params('global_bg'),' '~params('global_bg')) }}">
      {% if this.all_params.slider|length > 0 %}
        {% set slider=this.all_params.slider %}
        {% include 'parts/slider.twig' %}
      {% endif %}

      {% if this.all_params.wrap=='index' %}
          {{ content|raw }}
      {% else %}
        {% include 'parts/catalog_breadcrumbs.twig' %}
        <div class="page-wrap{{ _if(params('global_wrap'),' '~params('global_wrap')) }}">
          {{ content|raw }}
        </div>
      {% endif %}
    </div>
    {% include 'index/down_page_baner.twig' %}
    {% include 'base/footer.twig' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/new/scripts.js"></script>
  </body>
</html>
