<div class="coupons-abc">
    <div  class="coupons-abc_chars">
        {% for char, stores in stores_abc|slice(0, 27) %}

            {% if offline %}
                {% set href = '/stores'~favorites_link~(current_category ? '/'~current_category.route~'-offline':'/offline')~'?w='~char %}
            {% else %}
                {% set href = '/stores'~favorites_link~(current_category ? '/'~current_category.route:'')~'?w='~char %}
            {% endif %}

            {% if stores|length and stores_abc_w != char %}
                {#<a href="/stores{% if current_category %}/{{ current_category.route }}{% endif %}?w={{ char|raw }}">{{ char|raw }} </a>#}
                <a href="{{ href|raw }}">{{ char|raw }} </a>
            {% else %}
                <span {% if stores_abc_w == char %}class="active"{% endif %}>{{ char|raw }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <div  class="coupons-abc_chars row-2">
        {% for char, stores in stores_abc|slice(27) %}

            {% if offline %}
                {% set href = '/stores'~favorites_link~(current_category ? '/'~current_category.route~'-offline':'/offline')~'?w='~char %}
            {% else %}
                {% set href = '/stores'~favorites_link~(current_category ? '/'~current_category.route:'')~'?w='~char %}
            {% endif %}

            {% if stores|length and stores_abc_w != char %}
                <a href="{{ href|raw }}">{{ char|raw }}</a>
            {% else %}
                <span {% if stores_abc_w == char %}class="active"{% endif %}>{{ char|raw }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>