{% set comments_max_height = true %}

<section id=reviews class="margin">
  <div class="page-wrap ">
    <h2 class="comments_header">{{ t('main', 'reviews_about_{store}', {'store': current_store.name})|raw }}</h2>
    {% if store_reviews|length == 0 %}
      <div class="comments_no-comments align-center">
        <p class="ntfnd">
            {{ t('main', 'reviews_about_{store}_is_empty', {'store': current_store.name})|raw }}
        </p>
      </div>
    {% endif %}

    {#<div class="flex-wrap flex-line">#}
    <div class="flex-wrap shop-comments">
      {% set i=0 %}
      {% set user_cashbak_hide=true %}
      {% for review in store_reviews %}
        {% set i=i+1 %}
        {% set comment_hide = (6 < i) %}
        {% include 'parts/comment.twig' %}
      {% endfor %}
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
    </div>

    <div class="align-center">
      {% if store_reviews|length>6 %}
        <a class="btn btn-mini btn-round btn-transform btn-margin btn-margin_vertical-mini show_all" data-cntrl-class="scroll_box-item-hide" href="#">{{ t('main','reviews_show_all')|raw }}</a>
        <a class="btn btn-mini btn-round btn-transform btn-margin btn-margin_vertical-mini hide_all" data-cntrl-class="scroll_box-item-hide" href="#" style="display: none;">{{ t('main','reviews_hide_all')|raw }}</a>
      {% endif %}

      {% if user_id %}
        <a href="{{ _href('#reviews/send?shop='~current_store.uid)|raw }}" class="btn btn-mini btn-round btn-margin btn-margin_vertical-mini modals_open">{{ t('main', 'reviews_add')|raw }}</a>
      {% else %}
        <p>
            {{ t('main', 'you_need_<a href="{register}" class="modals_open">register</a>or<a href="{login}" class="modals_open">login</a>to_add_review', {'register': _href('#registration'),'login': _href('#login')})|raw }}
        </p>
      {% endif %}
    </div>
  </div>
</section>