{% if coupons %}
  {% if not current_category %}
    <section class="margin">
    <div class="page-wrap">
  {% endif %}
  {% if current_store.name %}
    <h2>{{ t('main', 'coupons_for_{store}', {'store': current_store.name})|raw }}</h2>
  {% else %}
    {% if current_category %}
        <h2>{{ t('main', 'coupons_for_{category}', {'category': current_category.name != '' ?  '«'~current_category.name~'»' : ''})|raw }}</h2>
    {% else %}
      <h2>{{ t('main', 'coupons_new')|raw }}</h2>
    {% endif %}
  {% endif %}
  <div class="coupons-list coupons-list-stores {{ _if(current_category.name,'','narrow list-4 ') }}narrow_off">
    {% for coupon in coupons %}
      {% include 'parts/coupon.twig' %}
    {% endfor %}
    <div class="coupons coupons-empty"></div>
    <div class="coupons coupons-empty"></div>
    <div class="coupons coupons-empty"></div>
  </div>
  <div class="align-center">
    {% if current_store.name and current_store.route %}
      <a href="{{ _href('/coupons/'~current_store.route)|raw }}" class="btn btn-transform btn-narrow" {{ _if(coupons_target_blank,'target="_blank" rel="nofollow noopener"')|raw }}>
        {{ t('main', 'coupons_all_for_{store}_', {'store': current_store.name})|raw }}
      </a>
    {% else %}
      <a href="{{ _href('/coupons')|raw }}" class="btn btn-transform btn-narrow" {{ _if(coupons_target_blank,'target="_blank" rel="nofollow noopener"')|raw }}>
        {{ t('main', 'coupons_all_{count}_', {'count': total_all_coupon ? '('~total_all_coupon~')' : ''})|raw }}
      </a>
    {% endif %}
  </div>
  {% if not current_category %}
    </div>
    </section>
  {% endif %}
{% endif %}
