{{ use('frontend/components/CategoryMenu') }}

{% set ext_menu_items = offline == 1 ? 'favorite,all_shops' : 'favorite,all_shops,abc' %}
{% set category_tree = category_menu_widget({'show_hidden': true, 'ext_items': ext_menu_items, 'offline': offline}) %}
{% if category_tree %}

    <div class="catalog-categories_tree-cat accordeon">
        <div class="catalog-categories_tree-cat-close">
            {{ svg('close', 'catalog-categories_tree-cat-close-icon')|raw }}
            <span class="catalog-categories_tree-cat-close-tittle">Категории</span>
        </div>
        {{ category_tree|raw }}
    </div>

    {#{% if stores_abc %}#}
        {#<div  class="catalog-categories_abc">#}
            {#<h5 class="catalog-categories_abc-header">Поиск по алфавиту</h5>#}
            {#{% for char, stores in stores_abc %}#}
                {#{% if stores == true or stores|length > 0  %}#}
                    {#<a href="/stores?w={{ char|raw }}">{{ char|raw }} </a>#}
                {#{% else %}#}
                    {#<span>{{ char }}</span>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</div>#}
    {#{% endif %}#}

    {{ use('frontend/components/Banner') }}

    {% set banner_places = current_category ?
    ['shops-left-menu','stores-'~current_category.parent_id~'-left-menu','stores-'~current_category.uid~'-left-menu'] :
    ['shops-left-menu','shops-catalog-left-menu'] %}

    {% set banners  = banner_widget({
    'place':banner_places,'options':{'wrapper_class':'banner__wrapper margin',}}) %}
    {% if banners %}
        {{ banners|raw }}
    {% endif %}

{% endif %}