  <section class="margin shop-tracker">
      <div class="page-wrap gray-box wrap-round">
        {% if current_store %}
          <h2 class="shop-tracker_header title-no-line">{{ t('main', 'track_package_for_{store}_here', {'store': current_store.name})|raw }}</h2>
        {% endif %}
          <p>
              {{ t('main', 'track_package_push_button')|raw }}
          </p>
          <div class="widget_1track" data-width="100%" data-lang="{{ app.params.lang_code }}"></div>
          <div class="shop-tracker_example test_track">{{ t('main', 'track_package_example')|raw }}: RB673410396RU, RM759395483CN</div>
          <p>
              {{ _constant('trackers')|raw}}
          </p>
      </div>
  </section>


  <script>
      (function(e,t,n){
          if(e.getElementById(n))return;
          var i=e.getElementsByTagName(t)[0];
          var r=e.createElement(t);
          r.id=n;
          r.src="//1track.ru/public/widget/widget.js";
          i.parentNode.insertBefore(r,i)
      })(document,"script","widget-1track-js");
  </script>