<div class="shop hover-box">
    {% if brand.logo %}
        <div class="shop-logo">
            <a class="shop-logo_link" href="{{ _href('/vendor/'~brand.route) }}">
                <img class="shop-logo_link-img" src="images/brands/{{brand.logo}}" alt="{{ _eol(brand.name, 20) }}">
            </a>
        </div>
    {% endif %}

    <a class="shop_header {{ _if(store.name|length> 35,"small-size") }}"
       href="{{ _href('/vendor/'~brand.route) }}" >
        <div class="shop_header-title">
            <span class="shop_header-title_name">
                {{brand.name}}
            </span>
        </div>
    </a>

</div>