<div class="shop hover-box">
    {#{% if category.image %}#}
    {#<div class="shop-logo">#}
        {#<a class="shop-logo_link" href="{{ _href('/'~category.parentsTree(true)) }}">#}
            {#<img class="shop-logo_link-img" src="images/logos/{{category.image}}" alt="{{ _eol(category.name, 20) }}">#}
        {#</a>#}
    {#</div>#}
    {#{% endif %}#}

    <a class="shop_header {{ _if(store.name|length> 35,"small-size") }}"
            href="{{ _href('/category/'~category.parentsTree(category, true)) }}" >
        <div class="shop_header-title">
            <span class="shop_header-title_name">
                {{category.name}}
            </span>
            {#{% if category.description %}#}
                {#<span  class="shop_header-title_description_extend">#}
                  {#{{ category.description|raw}}#}
              {#</span>#}
            {#{% endif %}#}
        </div>
    </a>

</div>