<div class="catalog-stores_sort-desctop">
    <span class="catalog-stores_sort-desctop-title">{{ t('main', 'sort_by')|raw }}:</span>
    <ul >
        {% for sortLink in sortlinks %}
            <li><a href="{{ _href(sortLink.link) }}" class="blue{% if sortLink.active == 1 %} active{% endif %}" >{{sortLink.title}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="catalog-stores_sort-mobile">

    <div class="catalog-stores_sort-mobile-select sd-select linked">
        <span class="catalog-stores_sort-mobile-title">{{ t('main', 'sort_by')|raw }}:</span>
        {% for sortLink in sortlinks %}
             {% if sortLink.active == 1 %}
                 <span class="sd-select-selected">{{ sortLink.title_mobile }}
                    {{ svg('angle-down','','@frontend')|raw }}
                 </span>
             {% endif %}
        {% endfor %}
        <ul class="sd-select-drop">
            {% for sortLink in sortlinks%}
                <li>
                    {% if sortLink.active == 1 %}
                        <span>{{sortLink.title_mobile}}</span>
                    {% else %}
                        <a href="{{ _href(sortLink.link) }}">{{sortLink.title_mobile}}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" name=""/>
    </div>
</div>