<section class="settings account-padding account-margin-top">
  <div class="border-wrap account-settings">
    {{ _constant('account_email_confirm')|raw }}

    {% set form = active_form_begin({
    'id':'user_setting',
    'layout' : 'horizontal',
    'options': {'class': 'form-horizontal_aling-left'},
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group form-input-group-fl',
    }
    },
    }) %}

    {{ form.field(model, 'email',{
      'template' :
      '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).textInput({'placeholder':t('common', 'email_address')}) | raw }}
    <input type="hidden" name="path" value="{{ path }}">

    <div class="form-group">
      <input type="submit"
             value="{{ _if(path,t('account', 'email_confirm_send_activation_key'),t('account','email_confirm_send_activation_key_repeat')) }}"
             class="btn">
    </div>
  {{ active_form_end() }}
  </div>

</section>
