<div class="content-wrapper">
    <section class="settings account-padding">

        {% if path %}
            <h3>Подтвердите E-mail</h3>
            <p>Для перехода в магазин необходимо, чтобы адрес вашей электронной почты был подтвержден.</p>
            <p style="color:red;">
                На ваш почтовый ящик <b>{{ this.user.email }}</b>
                {{ _if(this.user.email_verify_time,_date(this.user.email_verify_time,"%H:%M")~" (МСК)") }}
                было отправлено письмо со ссылкой для активации.
                Если письмо не пришло в течение 5 минут – проверьте папку «Спам».
            </p>

            <p>
                В случае, если письмо так и не дошло, проверьте правильность ввода вашего электронного адреса и отправьте повторное письмо.
            </p>
        {% else %}
            <h3>Отправить повторное письмо</h3>
            <p>
                Письмо для активации было отправлено на этот адрес – проверьте его правильность и измените в случае необходимости и нажмите «отправить повторное письмо».
            </p>
        {% endif %}


        <div class="col-sm-6">
            {% set form = active_form_begin({
                'id':'user_setting',
                'layout' : 'horizontal',
                'fieldConfig':{
                    'horizontalCssClasses':{
                        'wrapper':'form-input-group',
                    }
                },
            }) %}

            {{ form.field(model, 'email',{
                'template' :
                '{beginWrapper}<i class="fa fa-envelope"></i>{input}\n{endWrapper}\n{error}'
            }).textInput({'placeholder':'Email адрес'}) | raw }}
            <input type="hidden" name="path" value="{{ path }}">

            <div class="form-group">
                <input type="submit" value="{{  _if(path,"Отправить ключ активации","Отправить повторное письмо")}}" class="btn-fill btn-form">
            </div>
            {{ active_form_end() }}
        </div>


    </section>
</div>