{{ use('/yii/widgets/LinkPager') }}
{% set title = t('account', 'you_followers_on_sd') %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}

  {% set curr = currencyIcon(app.params.valuta) %}
  <section>
        <h2>{{ html.encode(this.title) }}</h2>
      <div>
        {{ t('account', 'users_users_total') }}:
        <b>{{ _nf(users_total.total,0)  | raw}}</b>
      </div>
      <div>
        {{ t('account', 'users_users_active') }}:
        <b>{{ _nf(users_total.active,0) | raw}}</b>
      </div>
      <div>
        {{ t('account', 'users_your_status') }}:
        <b>
          {{ bonus_status.display_name }}
          ({{ bonus_status.bonus }}%)
          {% if bonus_status.is_webmaster==1 %}
             - {{ t('account', 'users_your_status_webmaster') }}
          {% endif %}
        </b>
      </div>
      <div>
        {{ t('account', 'users_payment_confirmed_expected') }}:
        <b>{{ _nf(users_total.cnt_confirmed,0) | raw}}</b> /
        <b>{{ _nf(users_total.cnt_pending,0) | raw}}</b>
      </div>
      <div>
        {{ t('account', 'users_cashback_confirmed_expected') }}:
        <b>{{ _nf(users_total.sum_confirmed,0) | raw}} {{ curr | raw}}</b> /
        <b>{{ _nf(users_total.sum_pending,0) | raw}} {{ curr | raw}}</b>
      </div>
      <div>
        {{ t('account', 'users_summ_confirmed_expected') }}:
        <b>{{ _nf(users_total.sum_to_ref_confirmed,0) | raw}} {{ curr | raw}}</b> /
        <b>{{ _nf(users_total.sum_to_ref_pending,0) | raw}} {{ curr | raw}}</b>
      </div>
      <form method="get">
        {{ t('common', 'date_range') }}:
        {{ data_ranger | raw }}
      </form>

      {% if users|length > 0 %}
        <table class="table ta_left  adaptive adaptive-tablets">
          <tr>
            <th>ID</th>
            <th>{{ t('common', 'date_register') }}</th>
            <th>{{ t('common', 'status_loyalty') }}</th>
            <th>
              {{ t('account', 'users_payment_confirmed_expected_table_header')|raw }}
            </th>
            <th>
              {{ t('account', 'users_cashback_confirmed_expected_table_header')|raw }}
            </th>
            <th>
             {{ t('account', 'users_bonus_confirmed_expected_table_header')|raw }}
            </th>
            <th></th>
          </tr>

            {% for user in users %}
              <tr>
                <td>{{user.uid}}</td>
                <td>{{user.added}}</td>
                <td>
                  {{user.loyalty_status_data.display_name}}
                  ({{user.loyalty_status_data.bonus}}%)
                  {% if user.loyalty_status_data.is_vip==1 %}
                    <br>{{ t('account', 'users_vip_client') }}
                  {% endif %}
                </td>
                <td>
                  {{ _nf(user.cnt_confirmed,0) | raw}}
                  /
                  {{ _nf(user.cnt_pending,0) | raw}}
                </td>
                <td>
                  {{ _nf(user.sum_confirmed) | raw }} {{ curr | raw}}
                  /
                  {{ _nf(user.sum_pending) | raw }} {{ curr | raw}}
                </td>
                <td>
                  {{ _nf(user.sum_to_friend_confirmed) | raw }} {{ curr | raw}}
                  /
                  {{ _nf(user.sum_to_friend_pending) | raw }} {{ curr | raw}}
                </td>
                <td>
                  {% if (user.cnt_confirmed + user.cnt_pending) > 0 %}
                   <a  class="blue" href="/account/payments/ref/id:{{ user.uid }}">{{ t('account', 'users_payments_details') }}</a>
                  {% endif %}
                </td>

              </tr>
            {% endfor %}
        </table>
        {% include '/parts/pagination.twig' %}

      {% else %}
            <div class="not-found">{{ t('account', 'users_referrals_empty') }}</div>
      {% endif %}
  </section>

