{{ use('/yii/widgets/LinkPager') }}
{% set title = 'За время работы с SecretDiscounter Вы привели' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}


<div class="content-wrapper">
  <section>
    <div class="row">
      <div class="col-md-12">
        <h3>{{ html.encode(this.title) }}</h3>
      </div>
      <div class="col-md-12">
        Количество друзей:
        <b>{{ _nf(users_total.total,0)  | raw}}</b>
      </div>
      <div class="col-md-12">
        Из них активных (совершающих покупки):
        <b>{{ _nf(users_total.active,0) | raw}}</b>
      </div>
      <div class="col-md-12">
        Ваш статус партнера:
        <b>
          {{ bonus_status.display_name }}
          ({{ bonus_status.bonus }}%)
          {% if bonus_status.is_webmaster==1 %}
             - веб мастеров
          {% endif %}
        </b>
      </div>
      <div class="col-md-12">
        Количество покупок (подтвержденных/ожидающие):
        <b>{{ _nf(users_total.cnt_confirmed,0) | raw}}</b> /
        <b>{{ _nf(users_total.cnt_pending,0) | raw}}</b>
      </div>
      <div class="col-md-12">
        Кэшбек друзей (подтвержденный/ожижаемый):
        <b>{{ _nf(users_total.sum_confirmed,0) | raw}} руб</b> /
        <b>{{ _nf(users_total.sum_pending,0) | raw}} руб</b>
      </div>
      <div class="col-md-12">
        Доход от друзей (подтвержденный/ожижаемый):
        <b>{{ _nf(users_total.sum_to_ref_confirmed,0) | raw}} руб</b> /
        <b>{{ _nf(users_total.sum_to_ref_pending,0) | raw}} руб</b>
      </div>
    </div>

    <div class="col-md-12">
      {% if users|length > 0 %}
        <table class="table table-users">
          <thead>
          <tr>
            <th>ID</th>
            <th>Дата регистрации</th>
            <th>Статус лояльности</th>
            <th>
              Покупок<br>
              (подтвержденных/ожидающих)
            </th>
            <th>
              Кэшбек друзей <br>
              (подтвержденный/ожижаемый)
            </th>
            <th>
              Ваш бонус <br>
              (подтвержденный/ожижаемый)
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{user.uid}}</td>
                <td>{{user.added}}</td>
                <td>
                  {{user.loyalty_status_data.display_name}}
                  ({{user.loyalty_status_data.bonus}}%)
                  {% if user.loyalty_status_data.is_vip==1 %}
                    <br>VIP клиент
                  {% endif %}
                </td>
                <td>
                  {{ _nf(user.cnt_confirmed,0) | raw}}
                  /
                  {{ _nf(user.cnt_pending,0) | raw}}
                </td>
                <td>
                  {{ _nf(user.sum_confirmed) | raw }} р
                  /
                  {{ _nf(user.sum_pending) | raw }} р
                </td>
                <td>
                  {{ _nf(user.sum_to_friend_confirmed) | raw }} р
                  /
                  {{ _nf(user.sum_to_friend_pending) | raw }} р
                </td>
                <td>
                  {% if (user.cnt_confirmed + user.cnt_pending) > 0 %}
                   <a href="/account/payments/ref/id:{{ user.uid }}">Детали покупок</a>
                  {% endif %}
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include '/parts/pagination.twig' %}

      {% else %}
          <div class="col-md-12">
            <div class="not-found">На данный момент у Вас нет еще рефералов.</div>
          </div>
      {% endif %}
    </div>

  </section>
</div>
