{{ use('/yii/bootstrap/ActiveForm') }}

{% set show_user_id=true %}
{% include('parts/account/user_balance.twig') %}


<section class="settings margin">
  <div class="border-wrap account-settings">
    {% set form = active_form_begin({
    'id':'user_setting',
    'layout' : 'horizontal',
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group form-input-group-fl',
    }
    },
    'options' : {
    'enctype' : 'multipart/form-data',
    'role' : 'form'
    },
    }) %}

    <h2>{{ t('account', 'account_settings') }}</h2>
    <div class="page-wrap-flex flex-2col">
      <div>
      <div class="form-group-s">

        {{ form.field(model, 'name',{
          'template' :
          '{beginWrapper}<i>'~svg("user",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
        }).textInput({'placeholder':t('account', 'account_user_name')}) | raw }}

        {{ form.field(model, 'email',{
          'template' :
          '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
        }).textInput({'placeholder':t('account', 'account_user_email')}) | raw }}

        {{ form.field(model, 'birthday',{
          'template' :
          '{beginWrapper}<i>'~svg("calendar_f",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
        }).widget(MaskedInput_class,{
          'mask': '99-99-9999',
          'clientOptions' : {
            'placeholder' : t('account', 'date_mask_text'),
          },
        }) | raw }}

        {% if model.email_verified == 0 %}
          <div class="align-center">
            <a class="btn"
               href="{{ _href('/account/sendverifyemail')|raw }}">{{ t('account', 'send_email_verify_repeat') | raw}}</a>
          </div>
        {% endif %}
        </div>

        <div class="form-group-s">
          <span class="form-title">{{ t('account', 'sex') }}:</span>
          <input type="radio" class="radio radio-opacity" id="radio-1" name="UserSetting[sex]"
                 value="m" {% if this.user.sex == 'm' %} checked {% endif %}>
          <label for="radio-1">{{ svg("men",'svg-icon svg-icon-men') |raw }} {{ t('account', 'male') }}</label>

          <input type="radio" class="radio radio-opacity" id="radio-2" name="UserSetting[sex]"
                 value="f" {% if this.user.sex == 'f' %} checked {% endif %}>
          <label for="radio-2">{{ svg("women",'svg-icon svg-icon-women') |raw }} {{ t('account', 'famale') }}</label>
        </div>

        <div class="form-group-s">
          <span for="" class="form-title">{{ t('account','notify_settings') }}:</span>
          <input type="checkbox" class="checkbox account" id="checkbox-1" name="UserSetting[notice_email]"
                 value="1" {% if this.user.notice_email == '1' %} checked {% endif %}>
          <label for="checkbox-1">{{ t('account','notify_settings_email')|raw }}</label>
          <input type="checkbox" class="checkbox account" id="checkbox-2" name="UserSetting[notice_email_status]"
                 value="1" {% if this.user.notice_email_status == '1' %} checked {% endif %}>
          <label for="checkbox-2">{{ t('account','notify_settings_email_status')|raw }}</label>
        </div>

      </div>
      <div>
        <div class="account-avatar form-group-s">
          <span class="form-title">{{ t('account', 'avatar') }}:</span>
          <img for="UserSetting[new_photo]" style="max-height: 150px;" src="{{ _if(
          model.photo,
          model.photo,
          '/images/templates/avatar-'~_if(model.sex=='f','female','male')~'.jpg'
          ) | raw }}">
          <p>
            <strong>{{ t('account','photo_redraw_after_save_settings')|raw }}</strong></p>
          <div class="upload">
            <span class="btn btn-full_width">
              <b>{{ t('account','upload_avatar') }}</b>
              <br><span>{{ t('account','upload_avatar_max_size') }}</span>
              <input name="UserSetting[new_photo]" type="file">
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="align-center margin-half">
      {{ _constant('account_agree_with_terms')|raw }}
    </div>

    <div class="align-center">
      <button type="submit" class="btn">{{ t('account', 'save_settings') }}</button>
    </div>

    {{ active_form_end() }}
  </div>
  <div class="border-wrap account-settings">
    {% set form = active_form_begin({
    'id':'user_setting_password',
    'layout' : 'horizontal',
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group form-input-group-fl',
    }
    },
    'options' : {
    'enctype' : 'multipart/form-data',
    'role' : 'form'
    },
    }) %}
    <h2>{{ t('account','password_change') }}</h2>

    {{ form.field(model_pas, 'password_change',{
        'template': '{input}'
    }).hiddenInput({'value': '1'}).label(false)|raw }}

    {{ form.field(model_pas, 'old_password',{
      'template' :
      '{beginWrapper}<i>'~svg("unlock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).passwordInput({
      'placeholder':t('account', 'password_old'),
    }) | raw }}

    {{ form.field(model_pas, 'new_password',{
      'template' :
      '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).passwordInput({'placeholder':t('account', 'password_new')}) | raw }}

    {{ form.field(model_pas, 'r_new_password',{
      'template' :
      '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).passwordInput({'placeholder':t('account', 'password_repeat')}) | raw }}
    <div class="align-center">
      <button type="submit" class="btn">{{ t('account', 'save_password') }}</button>
    </div>

    {{ active_form_end() }}
  </div>
  <div class="border-wrap account-settings">
    <h2>{{ t('account', 'social_accounts') }}</h2>

    {% if socials | length >0 %}
      <table class="table table-payments">

        <tr>
          <th>{{ t('account', 'social_account') }}</th>
          <th>{{ t('account', 'user_name') }}</th>
          <th></th>
        </tr>

        {% for social in socials %}
          <tr>
            <td class="account-table-social_icon">
              <a
                  class="acount-service-link_sd"
                  href="{{ social.url }}"
                  target="_blank"
                  rel="nofollow noopener"
              >
                {{ svg(social.social_name~'-round','svg-icon svg-icon-x2') | raw }}
              </a>
            </td>
            <td>
              {{ social.name }}
            </td>
            <td>
                                        <span
                                            class="ajax_remove"
                                            mode="reload"
                                            uid="{{ social.uid }}"
                                            url="{{ _href('/account/users/social-delete')|raw }}"
                                            data-remove-error="{{ t('account', 'social_account_delete_error') }}"
                                        >
                                          {{ t('common', 'delete') }}
                                        </span>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>{{ t('account', 'social_accounts_empty') }}</p>
    {% endif %}
    <p>{{ t('account', 'social_accounts_add') }}:</p>
    {{ use('frontend/components/socials/EauthWidget') }}
    {{ eauth_widget_widget({'float':'left'}) }}

  </div>
  <div class="border-wrap account-settings">
    <h2>{{ t('account', 'delete_account') }}</h2>
    <div class="align-center">
      <a href="{{ _href('#deleteaccount')|raw }}" class="btn modals_open">{{ t('common', 'delete') }}</a>
    </div>
  </div>
</section>
