{{ use('/yii/bootstrap/ActiveForm') }}

{% set show_user_id=true %}
{% include('parts/account/user_balance.twig') %}


<section class="settings account-padding">
  {% set form = active_form_begin({
  'id':'user_setting',
  'layout' : 'horizontal',
  'fieldConfig':{
  'horizontalCssClasses':{
  'wrapper':'form-input-group',
  }
  },
  'options' : {
  'enctype' : 'multipart/form-data',
  'role' : 'form'
  },
  }) %}

  <div class="page-wrap-flex flex-2col">
    <div>
      <h3>{{ t('account', 'account_settings') }}</h3>

      {{ form.field(model, 'name',{
        'template' :
        '{beginWrapper}<i>'~svg("user",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).textInput({'placeholder':t('account', 'account_user_name')}) | raw }}

      {{ form.field(model, 'email',{
        'template' :
        '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).textInput({'placeholder':t('account', 'account_user_email')}) | raw }}


      {{ form.field(model, 'birthday',{
        'template' :
        '{beginWrapper}<i>'~svg("calendar_f",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).widget(MaskedInput_class,{
        'mask': '9999-99-99'
      }) | raw }}

      {% if model.email_verified == 0 %}
        <p>
          <a class="btn btn-yellow-border"
             href="/account/sendverifyemail">{{ t('account', 'send_email_verify_repeat') }}</a>
        </p>
      {% endif %}

      <div class="form-group-s">
        <span class="form-title">{{ t('account', 'sex') }}:</span>
        <input type="radio" class="radio" id="radio-1" name="UserSetting[sex]"
               value="m" {% if this.user.sex == 'm' %} checked {% endif %}>
        <label for="radio-1">{{ svg("men",'svg-icon svg-icon-men') |raw }} {{ t('account', 'male') }}</label>

        <input type="radio" class="radio" id="radio-2" name="UserSetting[sex]"
               value="f" {% if this.user.sex == 'f' %} checked {% endif %}>
        <label for="radio-2">{{ svg("women",'svg-icon svg-icon-women') |raw }} {{ t('account', 'famale') }}</label>
      </div>

      <div class="account-avatar form-group-s">
        <span class="form-title">{{ t('account', 'avatar') }}:</span>
        <img for="UserSetting[new_photo]" style="max-height: 150px;" src="{{ _if(
        model.photo,
        model.photo,
        '/images/templates/avatar-'~_if(model.sex=='f','female','male')~'.jpg'
        ) | raw }}">
        <p>
          <strong>{{ t('account','photo_redraw_after_save_settings')|raw }}</strong></p>
        <div class="upload">
          <span class="btn">
            <b>{{ t('account','upload_avatar') }}</b>
            <br><span>{{ t('account','upload_avatar_max_size') }}</span>
            <input name="UserSetting[new_photo]" type="file">
          </span>
        </div>
      </div>

      <div class="form-group-s">
        <span class="form-title">{{ t('account','notify_settings') }}:</span>
        <input type="checkbox" class="checkbox" id="checkbox-1" name="UserSetting[notice_email]"
               value="1" {% if this.user.notice_email == '1' %} checked {% endif %}>
        <label for="checkbox-1">{{ t('account','notify_settings_email') }}</label>
      </div>
    </div>
    <div>
      <h3>{{ t('account','password_change') }}</h3>

      {{ form.field(model, 'old_password',{
        'template' :
        '{beginWrapper}<i>'~svg("unlock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).passwordInput({'placeholder':t('account', 'password_old')}) | raw }}

      {{ form.field(model, 'new_password',{
        'template' :
        '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).passwordInput({'placeholder':t('account', 'password_new')}) | raw }}

      {{ form.field(model, 'r_new_password',{
        'template' :
        '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
      }).passwordInput({'placeholder':t('account', 'password_repeat')}) | raw }}

      <h3>{{ t('account', 'social_accounts') }}</h3>

      {% if socials | length >0 %}
        <table class="table table-payments">

          <tr>
            <th>{{ t('account', 'social_account') }}</th>
            <th>{{ t('account', 'user_name') }}</th>
            <th></th>
          </tr>

          {% for social in socials %}
            <tr>
              <td class="td-center">
                <a
                    class="acount-service-link_sd"
                    href="{{ social.url }}"
                    target="_blank"
                    rel="nofollow noopener"
                >
                  {{ svg(social.social_name~'-round','svg-icon svg-icon-x2') | raw }}
                </a>
              </td>
              <td>
                {{ social.name }}
              </td>
              <td>
                                        <span
                                            class="ajax_remove"
                                            mode="reload"
                                            uid="{{ social.uid }}"
                                            url="/account/users/social-delete"
                                            data-remove-error="{{ t('account', 'social_account_delete_error') }}"
                                        >
                                          {{ t('common', 'delete') }}
                                        </span>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>{{ t('account', 'social_accounts_empty') }}</p>
      {% endif %}
      <p>{{ t('account', 'social_accounts_add') }}:</p>
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ eauth_widget_widget({'float':'left'}) }}

    </div>
  </div>


  <button type="submit" class="btn">{{ t('account', 'save_settings') }}</button>

  {{ active_form_end() }}

</section>
