{% set show_payment_link=true %}
{% include('parts/account/user_balance.twig') %}

{% if this.user.email_verified == 0 %}
  <section class="yellow-box wrap-round margin">
    {{ _constant('account_verify_email')|raw }}
  </section>
{% endif %}

<section class="align-center margin border-wrap flex-line flex-line-untill-tablets install-plugin-account hidden flex-align-center">
  <img class="account-image-width-250" src="/images/templates/browsers.png" alt="плагины для браузеров">
  <div>
    <h3 class="margin-half account-margin-top account-cashbonus">Установите наше расширение для браузера и оно само напомнит о кэшбэке</h3>
    <div class="margin-half flex-line flex-line-untill-tablets flex-align-center flex-around">
      <a href="https://chrome.google.com/webstore/detail/secretdiscounterru-%E2%80%93-%D0%BA%D1%8D%D1%88%D0%B1/mcolhhemfacpoaghjidhliecpianpnjn" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-chrome hidden">Установить для Chrome&nbsp;&rarr;</a>
      <a href="https://addons.mozilla.org/ru/firefox/addon/secretdiscounter-%D0%BA%D1%8D%D1%88%D0%B1%D1%8D%D0%BA-%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81/" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-firefox hidden">Установить для Fairfox&nbsp;&rarr;</a>
      <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-opera hidden">Установить для Opera&nbsp;&rarr;</a>
      <a href="https://addons.opera.com/ru/extensions/?ref=page" target="_blank" class="btn plugin-browsers-link plugin-browsers-link-yandex hidden">Установить для Yandex&nbsp;&rarr;</a>
      <a href="#"
         data-notyfy_class="notify_box-alert"
         class="btn plugin-browsers-link plugin-browsers-link-safari hidden disabled"
         data-button_yes="false"
         data-title="Приносим свои извинения"
         data-question="Плагин для браузера Safari находится в разработке">
            Установить для Safari&nbsp;&rarr;
      </a>
      <a href="#" class="install-plugin-account-later">Напомнить позже</a>
    </div>
  </div>
</section>


{% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}
  <section class="margin account-welcome_share border-wrap flex-line flex-line-untill-tablets flex-align-center">
    <img class="account-image-height-200" src="/images/templates/secretdiscounter-platinum.jpg" alt="поделиться с друзьями">
    <div class="align-center">
      <p class="account-welcome_share-text">Для того, чтобы активировать платиновый статус лояльности и получить +30% к ставке кэшбэка в подарок, расскажите о нас в своих соцсетях:</p>
      <div class="share42init accauntSoc accauntSoc_32 wrap-tablets"
           data-url="https://secretdiscounter.ru?r={{ user_id }}"
           data-title="Друзья! Вот сервис, который возвращает до 40% с каждой покупки, в интернете и оффлайне. Регистрируйтесь и не переплачивайте!"
           data-description="Кэшбэк-сервис SecretDiscounter помогает Вам экономить и возвращать часть денег с каждой покупки в интернет-магазинах России и мира."
           data-socials="1,0,2,4,3,5,6"
           data-icon-size="40"
           data-icon-type="svg"
           data-script-after="$('#account_circles_items').removeClass('hidden');notification.notifi({'type':'info','title':'Успешно','message':'Спасибо за репост, ваш премиум-аккаунт на 10 дней активирован.'});"
      >
      </div>
      <p>Мы будем очень признательны, если вы расскажете о нас более, чем в одной соцсети. Спасибо!</p>
    </div>
  </section>
{% endif %}

<section id="account_circles_items" class="margin border-wrap {% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}hidden{% endif %}">
  <h2>
    {{ t('account', 'user_loyalty_status') }}
  </h2>
  <div class="align-center margin" style="margin-top: -20px;">
    <a href="#loyalty" class="modals_open" data-notyclass="notify_box-wide">Узнать подробнее</a>
  </div>

  <div class="account-circles-wrap">
    {% for key,status in statuses_marafon %}
      <div class="account-circles-item {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-active') }}">
        {% if status.total<100 %}
          {% if status.total_p>0 %}
            <div class="account-circles-item-padding"
                 style="width: {{ status.total_p }}%;height: {{ status.total_p }}%;"></div>
          {% endif %}

          {% if status.total>0 %}
            <div class="account-circles-item-confirm"
                 style="width: {{ status.total }}%;height: {{ status.total }}%;"></div>
          {% endif %}
        {% endif %}
        <div class="account-circles-item-name">
          {% if  status.bonus>0 %}
            {{ status.display_name }}
          {% endif %}
        </div>
        <div
            class="
                          account-circles-item-percent
                          account-circles-item-percent-{{ status.code }}
                          {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-percent-active') }}
                      "
            {% if  status.description %}
              data-toggle="tooltip" data-original-title="{{ status.description }}"
            {% endif %}
        >
                      <span class="account-circles-item-percent-text">
                          {% if  status.bonus>0 %}
                            +{{ status.bonus }}%
                          {% else %}
                            {{ status.display_name }}
                          {% endif %}
                      </span>
        </div>
        <div class="account-circles-item-sum">
          {% if  status.min_sum %}
            {{ _nf(status.min_sum,0) | raw }}&nbsp;{{ currencyIcon(status.valuta) | raw }}
          {% else %}

          {% endif %}
        </div>
        <div class="account-circles-item-dop_label">
          {% if key==t_satus_id %}
            <div class="account-circles-item-dop_label-active">
              {{ t('account', 'user_loyalty_current_status') }}
            </div>
          {% else %}
            {% if key==4 %}
              <a href="#"
                 data-question="Извините, данная функция находится в разработке"
                 data-button_yes="ОК"
                 data-notyfy_class="notify_box-alert"
                 data-title="<br>"
                 class="disabled">
                Подключить сейчас
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if desire %}
    <div class="cashbonus account-margin-top align-center margin-half">
      {{ t('account', 'for_status {desire} left {left}', {'desire':desire, 'left': _nf(left)~'&nbsp;'~currencyIcon(app.params.valuta)} ) | raw }}
    </div>
  {% endif %}
  {% if (not(this_tarif.min_sum)) and (this_tarif.bonus>0) %}
    <div class="account-status-uniq account-margin-top align-center  margin-half">
      {{ t('account', 'loyalty_status_min_sum {tariff_min_summ}', {'tariff_min_summ': this_tarif.bonus~'%'})|raw }}
    </div>
  {% endif %}

  {% if user.new_loyalty_status_end>0 %}
    <div class="cashbonus vip account-margin-top align-center  margin-half">
      {{ t('account', 'premium_status_since {user_loyalty_status_end}', {'user_loyalty_status_end':date(user.new_loyalty_status_end)})|raw }}
    </div>
  {% elseif this_tarif.is_vip==1 %}
    <div class="cashbonus vip account-margin-top align-center  margin-half">
      {{ t('account', 'loyalty_vip_client')|raw }}
    </div>
  {% endif %}
</section>

<section class="align-center margin border-wrap flex-line flex-line-untill-tablets flex-align-center">
  <img class="account-image-height-200" src="/images/templates/shutterstock_322090571.jpg" alt="пригласить друзей">
  <div>
    <div class="margin-half account-margin-top account-cashbonus">
      Также к нам можно приводить друзей и зарабатывать с их покупок
    </div>
    <a class="btn btn-transform margin-half" href="account/affiliate">Узнать подробнее</a>
  </div>
</section>



{% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}
  <div class="align-center margin">
    <a href="/stores" class="btn">Перейти к покупкам с кэшбэком &#8594;</a>
  </div>
{% endif %}
