{% set show_payment_link=true %}
{% include('parts/account/user_balance.twig') %}

{% if this.user.email_verified == 0 %}
  <section class="yellow-box yellow-box-wrap margin padding-box-bottom align-center">
    {{ _constant('account_verify_email')|raw }}
  </section>
{% endif %}

{#доступные акции для участия#}
{% if actions.enabled or actions.joined %}
  <section class="align-center margin border-wrap">
    <h2>{{ t('account', 'enabled_actions') }}</h2>
    {% for action in actions.joined %}
        {% include 'parts/account/action.twig' %}
    {% endfor %}
    {% for action in actions.enabled_account_start %}
        {% include 'parts/account/action.twig' %}
    {% endfor %}
  </section>
{% endif %}

{% set browsers = app.params.plugin.browsers %}
{% if browsers %}
  <section class="align-center margin border-wrap flex-line flex-line-untill-tablets install-plugin-account hidden flex-align-center">
    <img class="account-image-width-250" src="/images/templates/browsers.png" alt="плагины для браузеров">
    <div>
      <h3 class="margin-half account-margin-top account-cashbonus">{{ t('main', 'install_plugin_and_it_will_notice_about_cashback') }}</h3>
      <div class="margin-half flex-line flex-line-untill-tablets flex-align-center flex-around">
        {% for key, browser in browsers %}
          {% if browser.status != 'disabled' %}
            <a href="{{ browser.url }}" target="_blank"  class="btn plugin-browsers-link plugin-browsers-link-{{ key }} hidden {% if browser.status == 'inactive' %} disabled {% endif %}"
              {% if browser.status == 'inactive'  %}
              data-notyfy_class="notify_box-alert"
              data-button_yes="false"
              data-title="{{ t('common', 'excuse_me') }}"
              data-question="{{ t('main', 'plugin_for_browser_{browser}_in_develop', {'browser': _ucfirst(key)})|raw }}"
              {% endif %}>{{ t('main', 'install_for_{browser}', {'browser': _ucfirst(key)})|raw }}</a>
          {% endif %}
        {% endfor %}
        <a href="#" class="blue install-plugin-account-later">{{ t('common', 'remind_me_later') }}</a>
      </div>
    </div>
  </section>
{% endif %}


{% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}
  <section class="margin account-welcome_share border-wrap flex-line flex-line-untill-tablets flex-align-center">
    <img class="account-image-height-200" src="/images/templates/secretdiscounter-platinum.jpg" alt="{{ t('common', 'share_width_friends')|raw }}">
    <div class="align-center">
      <p class="account-welcome_share-text">{{ t('account', 'share_in_social_networks_to_get_platin_status')|raw }}</p>
      <div class="share42init accauntSoc accauntSoc_32 wrap-tablets"
           data-url="https://secretdiscounter.ru?r={{ user_id }}"
           data-title="{{ t('account', 'this_is_the_service_what_returns_cashback_from_every_bying_in_internet_and_offline_shops')|raw }}"
           data-description="{{ t('account', 'secret_discounter_hepls_you_save_your_money')|raw }}"
           data-socials="{{ app.params.regions_list[app.params.region].socialsShareList }}"
           data-icon-size="40"
           data-icon-type="svg"
           data-script-after="$('#account_circles_items').removeClass('hidden');notification.notifi({'type':'info','title':'{{ t('common', 'successfull') }}','message':'{{ t('account', 'Спасибо за репост, ваш премиум-аккаунт на 10 дней активирован.')|raw }}'});"
      >
      </div>
      <p>{{ t('account', 'share_about_us_in_more_than_one_social_network')|raw }}</p>
    </div>
  </section>
{% endif %}

<section id="account_circles_items" class="margin border-wrap {% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}hidden{% endif %}">
  <h2>
    {{ t('account', 'user_loyalty_status') }}
  </h2>
  <div class="align-center margin" style="margin-top: -20px;">
    <a href="{{ _href('#loyalty')|raw }}" class="modals_open" data-notyclass="notify_box-wide">{{ t('common', 'to_know_details') }}</a>
  </div>

  <div class="account-circles-wrap">
    {% for key,status in statuses_marafon %}
      <div class="account-circles-item {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-active') }}">
        {% if status.total<100 %}
          {% if status.total_p>0 %}
            <div class="account-circles-item-padding"
                 style="width: {{ status.total_p }}%;height: {{ status.total_p }}%;"></div>
          {% endif %}

          {% if status.total>0 %}
            <div class="account-circles-item-confirm"
                 style="width: {{ status.total }}%;height: {{ status.total }}%;"></div>
          {% endif %}
        {% endif %}
        <div class="account-circles-item-name">
          {% if  status.bonus>0 %}
            {{ status.display_name }}
          {% endif %}
        </div>
        <div
            class="
                          account-circles-item-percent
                          account-circles-item-percent-{{ status.code }}
                          {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-percent-active') }}
                      "
            {% if  status.description %}
              data-toggle="tooltip" data-original-title="{{ status.description }}"
            {% endif %}
        >
                      <span class="account-circles-item-percent-text">
                          {% if  status.bonus>0 %}
                            +{{ status.bonus }}%
                          {% else %}
                            {{ status.display_name }}
                          {% endif %}
                      </span>
        </div>
        <div class="account-circles-item-sum">
          {% if  status.min_sum %}
            {{ _nf(status.min_sum[app.user.identity.currency],0) | raw }}&nbsp;{{ currencyIcon(app.user.identity.currency) | raw }}
          {% else %}

          {% endif %}
        </div>
        <div class="account-circles-item-dop_label">
          {% if key==t_satus_id %}
            <div class="account-circles-item-dop_label-active">
              {{ t('account', 'user_loyalty_current_status') }}
            </div>
          {% else %}
            {% if key==4 %}
              <a href="#"
                 data-question="{{ t('common', 'sorry_this_is_in_develop') }}"
                 data-button_yes="ОК"
                 data-notyfy_class="notify_box-alert"
                 data-title="<br>"
                 class="disabled blue" >
                {{ t('common', 'add_right_now') }}
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="align-center">
    <input type="checkbox" class="checkbox" {% if user.notice_email_status %} checked {% endif %}>
    <label for="checkbox-2">{{ t('account','notify_settings_email_status')|raw }} <a class="blue" href="{{ _href('/account/settings')|raw }}">{{ t('common', 'update') }}</a></label>
  </div>

  {% if desire %}
    <div class="cashbonus account-margin-top align-center margin-half">
      {{ t('account', 'for_status {desire} left {left}', {'desire':desire, 'left': _nf(left)~'&nbsp;'~currencyIcon(app.user.identity.currency)} ) | raw }}
    </div>
  {% endif %}
  {% if (not(this_tarif.min_sum)) and (this_tarif.bonus>0) %}
    <div class="account-status-uniq account-margin-top align-center  margin-half">
      {{ t('account', 'loyalty_status_min_sum {tariff_min_summ}', {'tariff_min_summ': this_tarif.bonus~'%'})|raw }}
    </div>
  {% endif %}

  {% if user.new_loyalty_status_end>0 %}
    <div class="cashbonus vip account-margin-top align-center  margin-half">
      {{ t('account', 'premium_status_since {user_loyalty_status_end}', {'user_loyalty_status_end':date(user.new_loyalty_status_end)})|raw }}
    </div>
  {% elseif this_tarif.is_vip==1 %}
    <div class="cashbonus vip account-margin-top align-center  margin-half">
      {{ t('account', 'loyalty_vip_client')|raw }}
    </div>
  {% endif %}
</section>


<section class="align-center margin border-wrap flex-line flex-line-untill-tablets flex-align-center">
  <img class="account-image-height-200" src="/images/templates/shutterstock_322090571.jpg" alt="{{ t('common', 'invite_friends' ) }}">
  <div>
    <div class="margin-half account-margin-top account-cashbonus">
      {{ t('account', 'you_can_invite_friends_and get_money_from_their_byings')|raw }}
    </div>
    <a class="btn btn-transform margin-half" href="{{ _href('/account/affiliate')|raw }}">{{ t('common', 'to_know_details') }}</a>
  </div>
</section>



{% if user.new_loyalty_status_end!=0 and newuser and newuser == '1' %}
  <div class="align-center margin">
    <a href="{{ _href('/stores')|raw }}" class="btn">{{ t('account', 'start_byuing_with_cashback')|raw }}</a>
  </div>
{% endif %}


