{% set show_payment_link=true %}
{% include('parts/account/user_balance.twig') %}

{% if this.user.email_verified == 0 %}
  <section class="yellow-box wrap-round margin">
    {{ _constant('account_verify_email')|raw }}
  </section>
{% endif %}

<section class="margin">
  <h2>
    {{ t('account', 'user_loyalty_status') }}
  </h2>
  <div class="align-center margin">
    <a href="#loyalty" class="modals_open" data-notyclass="notify_box-wide">Узнать подробнее</a>
  </div>

  <div class="account-circles-wrap">
    {% for key,status in statuses_marafon %}
      <div class="account-circles-item {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-active') }}">
        {% if status.total<100 %}
          {% if status.total_p>0 %}
            <div class="account-circles-item-padding"
                 style="width: {{ status.total_p }}%;height: {{ status.total_p }}%;"></div>
          {% endif %}

          {% if status.total>0 %}
            <div class="account-circles-item-confirm"
                 style="width: {{ status.total }}%;height: {{ status.total }}%;"></div>
          {% endif %}
        {% endif %}
        <div class="account-circles-item-name">
          {% if  status.bonus>0 %}
            {{ status.display_name }}
          {% endif %}
        </div>
        <div
            class="
                        account-circles-item-percent
                        account-circles-item-percent-{{ status.code }}
                        {{ _if(status.bonus <= this_tarif.bonus,'account-circles-item-percent-active') }}
                    "
            {% if  status.description %}
              data-toggle="tooltip" data-original-title="{{ status.description }}"
            {% endif %}
        >
                    <span class="account-circles-item-percent-text">
                        {% if  status.bonus>0 %}
                          +{{ status.bonus }}%
                        {% else %}
                          {{ status.display_name }}
                        {% endif %}
                    </span>
        </div>
        <div class="account-circles-item-sum">
          {% if  status.min_sum %}
            {{ _nf(status.min_sum,0) | raw }}&nbsp;{{ currencyIcon(status.valuta) | raw }}
          {% else %}

          {% endif %}
        </div>
        <div class="account-circles-item-dop_label">
          {% if key==t_satus_id %}
            <div class="account-circles-item-dop_label-active">
              {{ t('account', 'user_loyalty_current_status') }}
            </div>
          {% else %}
            {% if key==4 %}
              <a href="#"
                 data-question="Извините, данная функция находится в разработке"
                 data-button_yes="ОК"
                 data-notyfy_class="notify_box-alert"
                 data-title="<br>"
                 class="disabled">
                Подключить сейчас
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>


<section class="align-center margin">
  {% if desire %}
    <div class="cashbonus">
      {{ t('account', 'for_status {desire} left {left}', {'desire':desire, 'left': _nf(left)~'&nbsp;'~currencyIcon(app.params.valuta)} ) | raw }}
    </div>
  {% endif %}
  {% if (not(this_tarif.min_sum)) and (this_tarif.bonus>0) %}
    <div class="account-status-uniq">
      {{ t('account', 'loyalty_status_min_sum {tariff_min_summ}', {'tariff_min_summ': this_tarif.bonus~'&nbsp;%'})|raw }}
    </div>
  {% endif %}

  {% if user.new_loyalty_status_end>0 %}
    <div class="cashbonus vip">
      {{ t('account', 'premium_status_since {user_loyalty_status_end}', {'user_loyalty_status_end':date(user.new_loyalty_status_end)})|raw }}
    </div>
  {% elseif this_tarif.is_vip==1 %}
    <div class="cashbonus vip">
      {{ t('account', 'loyalty_vip_client')|raw }}
    </div>
  {% endif %}
</section>

{% if newuser and newuser == '1' %}

  <div class="align-center">
    <a href="/stores" class="btn">Перейти к покупкам с кэшбэком &#8594;</a>
  </div>
  <br>
  <!-- Google Code for &#1056;&#1077;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1094;&#1080;&#1080; Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 850118529;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "qJEeCJa2r3IQgY-vlQM";
    var google_remarketing_only = false;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt=""
           src="//www.googleadservices.com/pagead/conversion/850118529/?label=qJEeCJa2r3IQgY-vlQM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>


  <script type="text/javascript" src="https://egrozaw.info/7jq8jtjfxga3kh51qvb?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/834nqjz3i8q3qe8fcr2?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/7utc33i3ore4rvtkea7?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/531g9lu5uze3of7bark?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/9bh1vntqjh66h1s23i9?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/6us9lg4gh0a6b4opxky?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/78n50jks6564tuuog91?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/5p7nc5rhdlm6myve9fr?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/55t85fbtst64nxrcabn?action_script=1&type=script"></script>
  <script type="text/javascript" src="https://egrozaw.info/88o7i6yfdwa5lha97wk?action_script=1&type=script"></script>
{% endif %}