{% if filter %}
<div class="catalog_product_filter margin-half">
    <form class="catalog_product_filter-form" method="get" {% if filter.action %}action="{{ filter.action }}" {% endif %}>
        <div class="catalog_product_filter-items margin-half">
            {% if filter.query %}
                <input type="hidden" name="query" value="{{ filter.query }}">
                <input type="hidden" name="limit" value="{{ limit }}">
            {% endif %}
            {% if filter.month %}
                <input type="hidden" name="month" value="1">
            {% endif %}
            {% if filter.profit %}
                <input type="hidden" name="profit" value="1">
            {% endif %}
            <input type="hidden" name="module" value="product">
            <div class="catalog_product_filter-items-item catalog_product_filter-items-item-price margin-half">
                <div class="catalog_product_filter-header">
                    {{ t('shop','filter_price') }}
                </div>
                <div class="catalog_product_filter-price slider-price">
                    <div class="catalog_product_filter-items-item-price-inputs">

                        <label for="slider-price-start" class="slider-price_label label-start">{{ t('shop', 'filter_price_from') }}</label>
                        <input type="hidden" name="price-start-min" value="{{ filter.price_start }}">
                        <input type="hidden" name="price-end-max" value="{{ filter.price_end }}">
                        <input type="text" id="slider-price-start" name="price-start"
                               placeholder="{{ t('shop', 'filter_price_from-placeholder') }}"
                               data-range="{{ filter.price_start }}" data-user="{{ filter.price_start_user }}"
                               class="catalog_product_filter-price-imput price_start"
                               value="{{ filter.price_start_user }}">
                        <label for="slider-price-end" class="slider-price_label label-end">{{ t('shop', 'filter_price_end') }}</label>
                        <input type="text" id="slider-price-end" name="price-end"
                               placeholder="{{ t('shop', 'filter_price_end-placeholder') }}"
                               data-range="{{ filter.price_end }}" data-user="{{ filter.price_end_user }}"
                               class="catalog_product_filter-price-imput price_end"
                               value="{{ filter.price_end_user }}">
                        руб.
                    </div>
                    <div id="filter-slider-price" class=" slider-price_element"></div>
                </div>

            </div>
            {% if filter.vendors|length >0 %}
            <div class="catalog_product_filter-items-item catalog_product_filter-items-item-checkbox  margin-half product-filter {% if filter.vendors|length >10 %}accordion{% endif %} ">
                <div class="catalog_product_filter-header">
                    {{ t('shop','filter_vendor') }}
                </div>
                {% if filter.vendors|length >10 %}
                    <div class="catalog_product_filter-input-wrap form-group">
                        <label for="catalog_product_filter-input">{{ t('shop', 'filter_enter_3_chars') }}</label>
                        <input class="form-control" type="text" id="catalog_product_filter-input" value="">
                    </div>
                {% endif %}
                <div class="catalog_product_filter-vendor catalog_product_filter-checkbox {% if filter.vendors|length >10 %}accordion-content-clickable{% endif %}">
                    {% for vendor in filter.vendors  %}
                        <div class="catalog_product_filter-checkbox_item accordion-checkbox">
                            <input  class="catalog_product_filter-checkbox_item-checkbox" type="checkbox" id="label-filer-vendor{{ vendor.route }}" name="vendor[]" value="{{ vendor.route }}"
                                    {% if vendor.route in filter.vendors_user %} checked {% endif %} >
                            <label for="label-filer-vendor{{ vendor.route }}">{{ vendor.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                {% if filter.vendors|length >10 %}
                    <div class="accordion-control-wrap">
                        <div class="accordion-control open"><a href="">{{ t('shop', 'show_all_vendors_({count})', {'count':filter.vendors|length}) }}</a></div>
                        <div class="accordion-control close"><a href="">{{ t('shop', 'show_all_vendors_close') }}</a></div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
          {% if filter.stores|length >0 %}
            <div class="catalog_product_filter-items-item catalog_product_filter-items-item-checkbox  margin-half">
                <div class="catalog_product_filter-header">
                    {{ t('shop','filter_stores') }}
                </div>
                <div class="catalog_product_filter-stores  catalog_product_filter-checkbox">
                    {% for store in filter.stores  %}
                        <div class="catalog_product_filter-checkbox_item">
                            <input type="checkbox" id="label-filer-store{{ store.uid }}" name="store_id[]" value="{{ store.uid }}"
                                    {% if store.uid in filter.store_user %} checked {% endif %} >
                            <label for="label-filer-store{{ store.uid }}">{{ store.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
          {% endif %}
        </div>

        <div class="catalog_product_filter-form-submit align-center">
            <input type="submit" class="btn" value="{{ t('shop', 'filter_start') }}">
        </div>
    </form>
</div>
{% endif %}





