<!--поле контент из метатегов только для категории-->
{% if content  %}
  <section class="margin">
    <div class="catalog_category-content">
      {{content|raw}}
    </div>
  </section>
{% endif %}

<section class="catalog margin">
  <div class="page-wrap page-wrap-flex">
    {#слева категории#}

    <div class="catalog-categories">
      {% include('left_menu.twig') %}
    </div>
    {#справа контент#}
    <div class="catalog-stores coupons">

      <h1 >
        {% if h1 %}
          <!--h1 из базы-->
          {{h1|raw}}
        {% else %}
          <!--если нет, то -->
          {{ store.name }}: {{coupon.name}}
        {% endif%}
      </h1>

      {% include('parts/coupon.twig') %}

      <h2>Еще больше купонов {{ store.name }}</h2>
      <div  class="catalog-coupons margin">
        {% if stores_coupon|length > 0 %}
          <div class="catalog_list catalog-coupons_list coupons-list margin narrow_off">
            {% if stores_coupon|length > 0 %}
              {% for coupon in stores_coupon %}
                {% include 'parts/coupon.twig' %}
              {% endfor %}
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
            {% else %}
                Ничего не найдено.
            {% endif %}

          </div>

          <div class="catalog-stores_pagination catalog_pagination">
            {% if pagination %}
              {{pagination|raw}}
            {% endif %}
          </div>
        {% else %}
          <p>Ничего не найдено.</p>
        {% endif %}
      </div>

      {% if coupon_ended|length > 0 %}
        <h2>Завершившиеся акции, скидки и промокоды</h2>
        <div  class="catalog-coupons margin">
          {% for coupon in coupon_ended %}
            <div class="accordion">
              <div class="accordion-control accordion-title">{{ coupon.name }}</div>
              <div class="accordion-content">
                <b>А что писать если нет описания?</b>
                {{ coupon.description }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="coupons_buttons align-center margin">
            <a class="btn  btn-round coupons_buttons-margin" href="/coupons/{{ store.routeUrl }}/expired"><span>Завершившиеся акции, купоны и промокоды</span></a>
        </div>
      {% endif %}

        {% if coupons|length > 0 %}
          <h2>Лучшие купоны</h2>
          <div  class="catalog-coupons margin">
            <div class="catalog_list catalog-coupons_list coupons-list margin narrow_off">
                {% for coupon in coupons %}
                    {% include 'parts/coupon.twig' %}
                {% endfor %}
            </div>
          </div>
          <div class="coupons_buttons align-center margin">
            <a class="btn  btn-round coupons_buttons-margin" href="/coupons"><span>Показать все купоны и промокоды</span></a>
          </div>
        {% endif %}

    </div>
  </div>
</section>
