<!--поле контент из метатегов -->
{% if content and page==1%}
  <section class="gray-box wrap-round margin">
    {{ content | raw}}
  </section>
{% endif %}

<section class="catalog margin">
  <div class="page-wrap page-wrap-flex">
    {#слева категории#}

    <div class="catalog-categories">
      {% include('left_menu.twig') %}
    </div>
    {#справа контент#}
    <div class="catalog-stores coupons">

      <h1 >
        {% if h1 %}
          <!--h1 из базы-->
          {{h1|raw}}
        {% else %}
          <!--если нет, то -->
          {{ store.name }}: {{coupon.name}}
        {% endif%}
      </h1>

      <div class="coupons-list single">
          {% include('parts/coupon.twig') %}
      </div>


      <div class="content-wrap coupons_mobile-relative">
        {% if stores_coupon|length > 0 %}
          <h2>Еще больше промокодов {{ store.name }}</h2>
          <div  class="catalog-coupons margin">
            <div class="catalog_list catalog-coupons_list coupons-list margin narrow_off">
              {% for coupon in stores_coupon %}
                {% include 'parts/coupon.twig' %}
              {% endfor %}
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="coupons coupons-empty"></div>
              <div class="catalog-stores_subscribe coupons_mobile-bottom">
                {% include('parts/mail_subscribe.twig') %}
              </div>
            </div>



            {% include('parts/pagination.twig') %}
        </div>
        {%  else %}
            <div class="catalog-stores_subscribe coupons_mobile-bottom">
                {% include('parts/mail_subscribe.twig') %}
            </div>
        {% endif %}

        {% if coupon_ended|length > 0 %}
          {% include('parts/coupon_ended_list.twig') %}
        {% endif %}

        <div class="coupons_buttons align-center">
          {% if counts.expired > 0 %}
            <div class="coupons_buttons-top">
                <a class="btn btn-transform coupons_buttons-margin" href="/coupons/{{ store.routeUrl }}/expired"><span>Показать все завершившиеся акции ({{ counts.expired}})</span></a>
            </div>
          {% endif %}
          <div class="coupons_buttons-bottom">
            {% if counts.actual > 0 %}
              <a class="btn btn-transform btn-round coupons_buttons-margin" href="/coupons/{{ store.routeUrl }}"><span>Все промокоды этого магазина ({{ total_v }})</span></a>
            {% endif %}

            <a class="btn btn-transform btn-round coupons_buttons-margin" href="/coupons"><span>Все промокоды ({{ total_all_coupons }})</span></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
