    {% if (content or current_category.description) and page==1%}
      <section class="gray-box wrap-round margin laptop_hide">
        {% if current_category.description %}
          {{ current_category.description | raw }}
        {% else %}
          {{ content | raw}}
        {% endif %}
      </section>
    {% endif %}

    <section class="catalog margin">
        <div class="page-wrap page-wrap-flex">
            {#слева категории#}
            <div class="catalog-categories">
                {% include('left_menu.twig') %}
            </div>
            {#справа шопы#}
            <div class="catalog-stores coupons ">

                <h1 >
                    {% if h1 %}
                        <!--h1 из базы-->
                        {{h1|raw}}
                    {% else %}
                        <!--если нет, то -->
                        {% if current_category.name != '' %}
                            {{current_category.name}}: акции, скидки, распродажи и промкоды - {{ _local_date('', '%BRUS %G', true) }}
                        {% elseif current_store.name != '' %}
                            Акции, скидки, распродажи и промкоды {{current_store.name}} - {{ _local_date('', '%BRUS %G', true) }}
                        {% else %}
                            Лучшие акции, скидки, распродажи и промокоды от наших <a href="/stores">интернет-магазинов</a>
                        {% endif %}
                        <span>({{total_v}})</span>
                    {% endif%}
                </h1>

                {#кнопка категории#}
                <div class="catalog-categories_tree-toggle">
                    {{ svg('bars-slim', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-close')|raw }}
                    {{ svg('close', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-open')|raw }}
                    <span class="catalog-categories_tree-toggle-tittle">Сменить категорию</span>
                </div>

                {#выбор и отображение сортировки#}
                <div class="margin-half page-wrap-flex catalog-stores_sort">
                    {% include('parts/list_type_switcher.twig') %}

                    {% include('parts/sort-links.twig') %}

                    <div class="catalog-stores_sort-info">Показано {% if total_v > 0 %}{{offset_coupons + 1}}{% else %}0{% endif %}-{{offset_coupons + show_coupons}} из {{total_v}}</div>
                </div>

                {% if current_store == null %}
                    {#алфавитный поиск при отсутствии шопа#}
                    <div class="coupons-abc">
                        <div  class="coupons-abc_chars">
                            {% for char, stores in stores_abc|slice(0, 27) %}
                                {% if stores|length and stores_abc_w != char %}
                                    <a href="/coupons{% if current_category and current_category.route  and current_category.route!='/' %}/{{ current_category.route }}{% endif %}?w={{ char|raw }}">{{ char|raw }}</a>
                                {% else %}
                                    <span {% if stores_abc_w == char %}class="active"{% endif %}>{{ char|raw }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div  class="coupons-abc_chars row-2">
                            {% for char, stores in stores_abc|slice(27) %}
                                {% if stores|length and stores_abc_w != char %}
                                    <a href="/coupons{% if current_category and current_category.route and current_category.route!='/' %}/{{ current_category.route }}{% endif %}?w={{ char|raw }}">{{ char|raw }}</a>
                                {% else %}
                                    <span {% if stores_abc_w == char %}class="active"{% endif %}>{{ char|raw }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="category-title-wrapper">
                    {% include 'parts/dropdown-limit-catalog.twig' %}
                </div>
                <div  class="catalog-coupons {% if pagination|length == 0 %}margin-half{% else %}margin{% endif %}">
                    {% if coupons|length > 0 %}
                        <div class="catalog_list catalog-coupons_list coupons-list {{ _if(coupons_view=='narrow'," narrow",'') }}">
                          {% if coupons|length > 0 %}
                            {% for coupon in coupons %}
                                  {% include 'parts/coupon.twig' %}
                            {% endfor %}
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                          {% else %}
                              Ничего не найдено.
                          {% endif %}
                        </div>


                        {% include('parts/pagination.twig') %}


                    {% else %}
                        <p>Ничего не найдено.</p>
                    {% endif %}
                </div>

                {% if expired == 1 %}
                    <div class="coupons_buttons align-center">
                        {% if counts.actual > 0 and current_store %}
                        <div class="coupons_buttons-top">
                            <a class="btn btn-narrow btn-transform coupons_buttons-margin" href="/coupons/expired"><span>Показать все завершившиеся акции ({{ counts_all.expired }})</span></a>
                        </div>
                        {% endif %}
                        <div class="coupons_buttons-bottom">
                            {% if counts.actual > 0 %}
                                {% if current_store %}
                                    <a class="btn btn-transform  btn-mini btn-round coupons_buttons-margin" href="/coupons/{{ current_store.routeUrl }}"><span>Все промокоды этого магазина ({{ counts.actual }})</span></a>
                                {% endif %}
                                {% if current_category %}
                                    <a class="btn bnt-mini btn-transform btn-round coupons_buttons-margin" href="/coupons/{{ current_category.route }}"><span>Все промокоды этой категории ({{ counts.actual }})</span></a>
                                {% endif %}
                            {% endif %}
                            <a class="btn btn-mini  btn-round coupons_buttons-margin" href="/coupons"><span>Все промокоды ({{ total_all_coupons }})</span></a>
                        </div>
                    </div>
                {% endif %}

              <!--краткая информация категории-->
              {% if current_category.short_description %}
                <div class="catalog_category-content margin">
                  <div class="catalog_category-short-description">
                    {{current_category.short_description|raw}}
                  </div>
                </div>
              {% endif %}

              <!--краткая информация о магазине для купона-->
              {% if current_store.coupon_description and page==1 and expired != 1 %}
                <div class="catalog_category-content margin">
                  <div class="catalog_category-short-description">
                    {{current_store.coupon_description|raw}}
                  </div>
                </div>
              {% endif %}

              {% if current_store and counts.expired>0 and expired == null %}
                {% include('parts/coupon_ended_list.twig') %}
              {% endif %}

              {% if expired == null and counts.expired %}
                <div class="coupons_buttons align-center">
                  {% if current_store %}
                    <a class="btn btn-transform btn-narrow coupons_buttons-margin" href="/coupons/{{ current_store.routeUrl }}/expired"><span>Показать все завершившиеся акции ({{ counts.expired }})</span></a>
                  {% elseif current_category %}
                    <a class="btn btn-transform btn-narrow coupons_buttons-margin" href="/coupons/{{ current_category.route }}/expired"><span>Завершившиеся акции, купоны и промокоды ({{ counts.expired }})</span></a>
                  {% else %}
                    <a class="btn btn-transform btn-narrow coupons_buttons-margin" href="/coupons/expired"><span>Завершившиеся акции, купоны и промокоды ({{ counts.expired }})</span></a>
                  {% endif %}
                </div>
              {% endif %}

              {% if (is_root or new or top) and page==1 and expired == null %}
                <div class="catalog_category-content">
                  <div class="catalog_category-short-description">
                    {% if is_root %}
                        {{ _constant('coupons_main') | raw}}
                    {% elseif new %}
                        {{ _constant('coupons_new') | raw}}
                    {% elseif top %}
                        {{ _constant('coupons_top') | raw}}
                    {% endif %}
                  </div>
                </div>
              {% endif %}

            </div>
        </div>
    </section>
