    <!--краткая информация категории-->
    {% if current_category.short_description %}
        <section class="margin">
                <h3 class="title-center">{{current_category.name}}</h3>
                <div class="catalog_category-short-description">
                    {{current_category.short_description|raw}}
                </div>
        </section>
    {% endif %}


    <section class="catalog margin">
        <div class="page-wrap page-wrap-flex">
            {#слева категории#}
            <div class="catalog-categories">
                {% include('left_menu.twig') %}
            </div>
            {#справа шопы#}
            <div class="catalog-stores coupons ">

                <h1 >
                    {% if h1 %}
                        <!--h1 из базы-->
                        {{h1|raw}}
                    {% else %}
                        <!--если нет, то -->
                        {% if current_category.name != '' %}
                            {{current_category.name}}: акции, скидки, распродажи и промкоды - {{ _local_date('', '%BRUS %G', true) }}
                        {% elseif current_store.name != '' %}
                            Акции, скидки, распродажи и промкоды {{current_store.name}} - {{ _local_date('', '%BRUS %G', true) }}
                        {% else %}
                            Лучшие акции, скидки, распродажи и промокоды от наших <a href="/stores">интернет-магазинов</a>
                        {% endif %}
                        <span>({{total_v}})</span>
                    {% endif%}
                </h1>
                {#выбор и отображение сортировки#}
                <div class="margin page-wrap-flex catalog-stores_sort">
                    {% include('parts/list_type_switcher.twig') %}

                    <div class="catalog-stores_sort-desctop">
                        <span class="catalog-stores_sort-desctop-title">Сортировать по:</span>
                        <ul >
                            {% for sortLink in sortlinks%}
                                <li><a href="{{sortLink.link}}" {% if sortLink.active == 1 %} class="active" {% endif %} >{{sortLink.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="catalog-stores_sort-mobile">
                        <ul>
                        {% for sortLink in sortlinks%}
                            <li><a href="{{sortLink.link}}" {% if sortLink.active == 1 %} class="active" {% endif %} >{{sortLink.title_mobile}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="catalog-stores_sort-info">Показано {% if total_v > 0 %}{{offset_coupons + 1}}{% else %}0{% endif %}-{{offset_coupons + show_coupons}} из {{total_v}}</div>
                </div>



                <div class="category-title-wrapper">
                    {% include 'parts/dropdown-limit-catalog.twig' %}
                </div>

                <div  class="catalog-coupons margin">


                    {% if coupons|length > 0 %}
                        <div class="catalog_list catalog-coupons_list coupons-list margin">
                          {% if coupons|length > 0 %}
                            {% for coupon in coupons %}
                                  {% include 'parts/coupon.twig' %}
                            {% endfor %}
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                            <div class="coupons coupons-empty"></div>
                          {% else %}
                            <div class="col-md-12">
                              Ничего не найдено.
                            </div>
                          {% endif %}

                        </div>

                        <div class="catalog-stores_pagination catalog_pagination">
                            {% if pagination %}
                                {{pagination|raw}}
                            {% endif %}
                        </div>


                    {% else %}
                        <p>Ничего не найдено.</p>
                    {% endif %}
                </div>

                {% if show_expired == 1 %}
                    <div class="coupons_buttons align-center">
                        {% if counts.actual > 0 %}
                            {% if current_store %}
                                <a class="btn btn-round coupons_buttons-margin" href="/coupons/{{ current_store.routeUrl }}"><span>Новые промокоды этого магазина ({{ counts.actual }})</span></a>
                            {% endif %}
                            {% if current_category %}
                                <a class="btn btn-round coupons_buttons-margin" href="/coupons/{{ current_category.route }}"><span>Новые промокоды этой категории ({{ counts.actual }})</span></a>
                            {% endif %}
                        {% endif %}
                        <a class="btn  btn-round" href="/coupons"><span>Новые промокоды всех магазинов ({{ total_all_coupons }})</span></a>
                    </div>
                {% endif %}
                {% if show_expired == null and counts.expired %}
                    <div class="coupons_buttons align-center margin">
                        {% if current_store %}
                            <a class="btn  btn-round coupons_buttons-margin" href="/coupons/{{ current_store.routeUrl }}/expired"><span>Завершившиеся акции, купоны и промокоды ({{ counts.expired }})</span></a>
                        {% elseif current_category %}
                            <a class="btn  btn-round coupons_buttons-margin" href="/coupons/{{ current_category.route }}/expired"><span>Завершившиеся акции, купоны и промокоды ({{ counts.expired }})</span></a>
                        {% else %}
                            <a class="btn  btn-round coupons_buttons-margin" href="/coupons/expired"><span>Завершившиеся акции, купоны и промокоды ({{ counts.expired }})</span></a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if content and page==1%}
                    <div class="catalog_category-content margin">
                        {{ content | raw}}
                    </div>
                {% endif %}
                    {#</div>#}

            </div>
        </div>
    </section>
