    {{ use('frontend/components/CategoryCouponsMenu') }}
    {% set category_tree = category_coupons_menu_widget({'search_item':1}) %}
    {% if category_tree %}
        <div class="tree-cat accordeon">
            {{category_tree|raw}}
        </div>
        {% if popular_stores %}
            <div class="catalog-categories_popular-stores">
                <h3 class="catalog-categories_popular-stores-header">Самые популярные магазины с промокодами</h3>
                <div class="catalog-categories_popular-stores-content">
                    {% for store in popular_stores %}
                        {% if app.request.pathinfo == 'coupons/'~store.route %}
                            <span>{{ store.name }}</span>
                        {% else %}
                            <a href="/coupons/{{ store.route }}">{{ store.name }}</a>
                        {% endif %}
                        {#<a href="/coupons/{{ store.route }}" {% if app.request.pathinfo == 'coupons/'~store.route %}class="active"{% endif %}>{{ store.name }}</a>#}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if coupons_top5 and coupons_top5|length > 0 %}
            <div  class="catalog-categories_popular-stores">
                <h3 class="catalog-categories_popular-stores-header">Лучшие промокоды</h3>
                <div class="catalog-categories_popular-stores-content coupons-list left-menu">
                    {% for coupon in coupons_top5 %}
                        {% include 'parts/coupon.twig' %}
                    {% endfor %}
                </div>
                <div class="catalog-categories_popular-stores-links">
                    <a href="/coupons">Показать все</a>
                </div>
            </div>
        {% endif %}

        {% if not hide_menu_subscribe %}
            {% include('parts/mail_subscribe.twig') %}
        {% endif %}

        {{ use('frontend/components/Banner') }}
        {%  set banners  = banner_widget({'place':['coupons-left-menu','coupons-'~current_category.uid~'-left-menu'],'options':{'wrapper_class':'banner__wrapper',}}) %}
        {% if banners %}
            {{ banners|raw }}
        {% endif %}

    {% endif %}

