{% if not products_store %}
    {% set products_store = store %}
{% endif %}

<div class="catalog_products_item shop hover-box ">
    {% set url=product.url %}
    {% set product_url='/category/product/'~product.id %}
    {% set href_class = user_id ? '' : 'catalog_product_link' %}

    {% set old_price = product.old_price  %}
    <div class="catalog_products_item_in">

        <div class="catalog_products_item_content">
            <div class="catalog_products_item_image">
                <a href="{{ product_url }}" target="_blank" class="">
                 <div class="catalog_products_item_image-wrap">
                     {% if product.price < old_price %}
                         <span class="catalog_products_item_image-discount">
                             {% set discount = (((old_price - product.price) / old_price) * 100)|round(0, 'floor') %}
                             -{{ discount }}%
                         </span>
                     {% endif %}
                     {% if product.image %}
                        <img {% if 'http' in product.image %} src="{{ product.image }}" {% else %} src="/images/product/{{ product.image }}" {% endif %} alt="{{ product.name }}">
                     {% else %}
                        <span class="catalog_products_item_image-empty">{{ t('shop', 'image_empty')|raw }}</span>
                     {% endif %}
                 </div>

                </a>
            </div>
            <div class="catalog_products_item_text">
                <div class="catalog_products_item_text_brand">
                    <a href="/category?shop={{ product.store_route }}" target="_blank" class="">
                        {{ product.store_name }}
                    </a>
                </div>
                <div class="catalog_products_item_text_brand">
                    <a href="/category?vendor={{ product.vendor }}" target="_blank" class="">
                        {{ product.vendor }}
                    </a>
                </div>
                <div class="catalog_products_item_text_title">
                    <a href="{{ product_url }}" target="_blank" class="">
                        {% if product.name == '-' %} {{ t('main', 'product_no_title') }} {% else %} {{ product.name }} {% endif %}
                    </a>
                </div>

            </div>
        </div>
        <div class="catalog_products_item_prices">
            <div class="catalog_products_item_price">
                {% if product.price < old_price %}
                    <div class="catalog_products_item_price-old">
                        {{ old_price }}<span class="catalog_products_item_price_currency">{{ t('main', product.product_currency) }}</span>
                    </div>
                {% endif %}
                {{ product.price }}<span class="catalog_products_item_price_currency">{{ t('main', product.product_currency) }}</span>
            </div>
            <div class="catalog_products_item_cashback">
                {% if product.displayed_cashback %}
                    {{ cashback(product, 'product_catalog')|raw }}
                {% endif %}
            </div>
            <div class="catalog_products_item_prices-vaforite">
                {#{% if product.favorite %}#}
                {% if false %}
                <a class="catalog_products_item_cashback-favorite product-favorite-remove" href="#" data-toggle="tooltip" data-placement="top"
                   data-original-title="{{ t('shop', 'product_vaforite_remove')|raw }}">
                    {{ svg('heart', '', '@frontend')|raw }}
                </a>
                {% else %}
                    <a class="catalog_products_item_cashback-favorite product-favorite-add" href="#" data-toggle="tooltip" data-placement="top"
                       data-original-title="{{ t('shop', 'product_vaforite_add')|raw }}">
                        {{ svg('heart-o', '', '@frontend')|raw }}
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</div>