{% set title = 'Личный кабинет' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="home-page">
    <h1>{{ html.encode(title) }}</h1>
    <h3>Мои магазины</h3>
    {% if stores %}

        <table class="users-stores">
            <thead><tr>
                <th></th>
                <th>Название</th>
                <th>Контактное лицо</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Logo</th>
            </tr></thead>
        {% for index, store in stores %}
            <tr>

                {#<td>#}
                {#<a href="{{ store.affiliate_link }}">{{ store.affiliate_link }}</a>#}
                {#</td>#}
                <td>
                    {{ index+1 }}.
                </td>
                <td>
                    {{ store.name }}
                </td>
                <td>
                    {{ store.contact_name }}
                </td>
                <td>
                    {{ store.contact_phone }}
                </td>
                <td>
                    {{ store.contact_email }}
                </td>
                <td>
                    <img src="https://secretdiscounter.ru/images/logos/{{ store.logo }}" alt="{{ store.name }} logo">
                </td>
            </tr>
                {% if store.is_offline == 1 or store.cpa_id == 2 %}
                <tr>
                    <th colspan="1"></th>
                    <th colspan="5" class="users-stores__stores-points">
                        <h4 class="users-stores__stores-points_header">Точки продаж</h4>
                        <a class="users-stores__stores-points_add-point" href="/stores_points/create?route={{ store.route }}{% if store.is_offline %}-offline{% endif %}">Добавить точку продаж</a>

                            {% if store.points %}
                                <table class="users-stores__stores-points_table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Название</th>
                                        <th>Адрес</th>
                                        <th>Время работы</th>
                                        <th>Телефон</th>
                                        <th>QR-код</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    {% for key, point  in store.points %}
                                        <tr class="users-stores__stores-points_row">
                                            <th>{{ key+1 }}.</th>
                                            <th>
                                                {{ point.name }}
                                                {% if point.password ==  null or point.password == '' %}
                                                <div class="alert">Необходимо задать пароль для точки продаж!</div>
                                                {% endif %}
                                            </th>
                                            <th>{{ point.country }}, {{ point.city }}, {{ point.address }}</th>
                                            <th>{% include('parts/work_time.twig') %}</th>
                                            <th>
                                                {{ point.phones }}
                                            </th>
                                            <th class="users-stores__stores-points_qrcode">
                                                <img src="https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl={{ point.access_code }}" alt="qr code">
                                            </th>
                                            <th>
                                                <a href="/stores_points/update?id={{ point.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                                {% set form = active_form_begin({
                                                    'options': {
                                                        'class':'table-action-form',
                                                        },
                                                    'action': '/stores_points/delete'
                                                }) %}
                                                <input type="hidden" name="id" value="{{ point.id }}">
                                                <button type="submit" class="table-action-button action_user_confirm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                {{ active_form_end() }}

                                                {#<a href="/stores_points/delete?id={{ point.id }}"><i class="fa fa-trash" aria-hidden="true"></i></a>#}
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                    </th>
                </tr>
                {% endif %}


        {% endfor %}
        </table>
    {% else %}
        <div>
            У вас нет магазинов!
        </div>
    {% endif %}


</div>