{% set title = 'Личный кабинет' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="site-login">
    <h1>{{ html.encode(title) }}</h1>
    {% if stores %}
    {% for store in stores %}
        <div>
            <a href="{{ store.affiliate_link }}">{{ store.affiliate_link }}</a>
            <img src="https:/secretdiscounter.ru/images/logos/{{ store.logo }}" alt="{{ store.name }} logo">
            {{ store.name }} {{ store.contact_name }} {{ store.contact_phone }} {{ store.contact_email }}
            cpa-type {{ store.cpa_id }}
            {% if store.cpa_id == 2 %}
            <div>
                {% if store.points %}
                    <h5>Точки продаж</h5>
                    <ul>
                        {% for point  in store.points %}
                            <li>
                                {{ point.name }} {{ point.address }}
                                <img src="https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl={{ point.access_code }}" alt="qr code">
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="/stores_points/create?route={{ store.route }}">Добавить точку продаж</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <div>
            У вас нет магазинов!
        </div>
    {% endif %}


</div>