{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/ActiveForm') }}
{{ use('yii/helpers/ArrayHelper') }}
{{ use('app/models/User') }}
{% set title = 'Login' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
  {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="site-login">
  <h1>{{ html.encode(title) }}</h1>

  <p>Заполните следующие поля для авторизации:</p>

  {% set form = Active_Form_begin({
    'id': 'login-form',
    'options': {'class': 'form-horizontal'},
    'fieldConfig': {
      'template': "{label}\n<div class=\"col-lg-3\">{input}</div>\n<div class=\"col-lg-8\">{error}</div>",
      'labelOptions': {'class': 'col-lg-1 control-label'},
    },
  }) %}

  {{ form.field(model, 'email').textInput({'autofocus': true})|raw }}


  {{ form.field(model, 'password').passwordInput()|raw }}

  {{ form.field(model, 'rememberMe').checkbox({'template': "<div class=\"col-lg-offset-1 col-lg-3\">{input} {label}</div>\n<div class=\"col-lg-8\">{error}</div>", })|raw }}



<div class="form-group">
    <div class="col-lg-offset-1 col-lg-11">
      {{ html.submitButton('Login', {'class': 'btn btn-primary', 'name': 'login-button'})|raw }}
    </div>
  </div>

  {{ Active_Form_end() }}

</div>