{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/ActiveForm') }}
{{ use('yii/helpers/ArrayHelper') }}
{{ use('app/models/User') }}
{% set title = 'Авторизация' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
  {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="site-login clearfix">
  <div class="col-sm-8 site-login__left">
    <h1 class="site-login__header">Вход в личный кабинет</h1>
    <p>Если Вы уже являетесь нашим партнёром, войдите в личный кабинет при помощи логина и пароля</p>

  </div>
  <div class="col-sm-4 site-login__right">

    <div class="site-login__right-header">
      <h4 class="site-login__right-text">Вход на сайт</h4>
    </div>
    {% set form = Active_Form_begin({
      'id': 'login-form',
      'options': {'class': 'form-horizontal'},
      'fieldConfig': {
        'template': "{label}\n<div class=\"col-lg-12\">{input}</div>\n<div class=\"col-lg-12\">{error}</div>",
        'labelOptions': {'class': 'col-lg-12 control-label'},
      },
    }) %}

    {{ form.field(model, 'email').textInput({'autofocus': true})|raw }}


    {{ form.field(model, 'password').passwordInput()|raw }}

    {#{{ form.field(model, 'rememberMe').checkbox({'template': "<div class=\"col-lg-offset-1 col-lg-3\">{input} {label}</div>\n<div class=\"col-lg-8\">{error}</div>", })|raw }}#}



    <div class="form-group site-login__right-buttons">
      <div class="col-lg-6">
        {{ html.submitButton('<i class="fa fa-user" aria-hidden="true"></i> Войти', {'class': 'btn btn-primary', 'name': 'login-button'})|raw }}
      </div>
      <div class="col-lg-6">
        <a href="/registration" class="btn btn-primary site-login__right-buttons-register">Регистрация</a>
      </div>
      <div class="col-lg-12">
        <p class="site-login__forget-password"><a href="/resetpassword" >Забыли пароль?</a></p>
      </div>
    </div>

    {{ Active_Form_end() }}
  </div>

</div>