{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/ActiveForm') }}
{% set title = 'Запрос на восстановление пароля' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
  {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
<div class="site-request-password-reset">
  <h1>{{ html.encode(this.title) }}</h1>

  <p>Пожалуйста, введите ваш Email. Вы получите ссылку на восстановление пароля.</p>

  <div class="row">
    <div class="col-lg-5">
      {%  set form = Active_form_begin({'id': 'request-password-reset-form'}) %}

      {{ form.field(model, 'email').textInput({'autofocus': true})|raw }}

      <div class="form-group">
        {{  html.submitButton('Отправить', {'class': 'btn btn-primary'})|raw }}
      </div>

      {{ Active_Form_end() }}
    </div>
  </div>
</div>