{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/ActiveForm') }}
{% set title = 'Восстановление пароля' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
    {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
<div class="site-request-password-reset">
    <h1>{{ html.encode(this.title) }}</h1>

    <p>Пожалуйста, введите новый пароль.</p>

    <div class="row">
        <div class="col-lg-5">
            {%  set form = Active_form_begin({'id': 'password-reset-form'}) %}

            {{ form.field(model, 'password').textInput({'autofocus': true})|raw }}

            {{ form.field(model, 'password_confirm').textInput()|raw }}

            <div class="form-group">
                {{  html.submitButton('Send', {'class': 'btn btn-primary'})|raw }}
            </div>

            {{ Active_Form_end() }}
        </div>
    </div>
</div>

