<td style="background: {{ background }}">
  <hr style="background:none;border:solid {{ width }}px {{ color }};border-width:{{ width }}px 0 0 0;margin: {{ padding_v }}px {{ padding_h }}px {{ padding_v }}px {{ padding_h }}px;">
</td>