<td style="background: {{ background }};text-align: {{ align }};">
    <img src="{{ logo }}" style="height: {{ height }}px; padding:{{ padding_v }}px {{ padding_h }}px {{ padding_v }}px {{ padding_h }}px">
</td>