<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="banners-form">
                    {% set form = active_form_begin() %}

                        <div class="row">
                            <div class="col-sm-12">
                                {{ form.field(model, 'url').textInput({'maxlength':true})|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">

                                {{ form.field(model, 'show_desctop').dropDownList({0:"Выключен",1:"Включён"})|raw }}

                                {{ form.field(model, 'show_mobile').dropDownList({0:"Выключен",1:"Включён"})|raw }}

                                {{ form.field(model, 'picture_file').fileInput()|raw }}
                                {#{{ form.field(model, 'picture').textInput({'maxlength':true})|raw }}#}
                                <img for="Banners[pictuew]" style="max-width: 300px;" src="images/banners/{{ model.picture }}">
                            </div>
                            <div class="col-sm-6">
                                {{ form.field(model, 'new_window').dropDownList({0:"В текущем окне",1:"В новом окне"})|raw }}

                                {{ form.field(model, 'is_active').dropDownList({0:"Выключен",1:"Включён"})|raw }}

                                {{ form.field(model, 'order').textInput()|raw }}

                                <h4>Позиции</h4>
                                {% for key, item in model.places_array %}
                                    <div class="form-group field-banners-places">
                                        <input type="checkbox" id="banner-banner-places-{{ key }}" name="Banners[banner_places][]" value="{{ key }}"
                                               {% if item.checked %} checked {% endif %}
                                        >
                                        <label class="control-label" for="banner-banner-places-{{ key }}">{{ item.name }}</label>
                                        <div class="help-block"></div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>
                    <div class="form-group">
                        <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Применить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    </div>
                    {{ active_form_end() }}
                </div>
            </div>
        </div>
    </section>
</div>