<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="banners-form">
                    {% set form = active_form_begin() %}

                        <div class="row">
                            <div class="col-sm-12">
                                {{ form.field(model, 'url').textInput({'maxlength':true})|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form.field(model, 'picture_file').fileInput()|raw }}
                                {#{{ form.field(model, 'picture').textInput({'maxlength':true})|raw }}#}
                                <img for="Banners[pictuew]" style="max-height: 180px;" src="images/banners/{{ model.picture }}">

                            </div>
                            <div class="col-sm-6">
                                {{ form.field(model, 'new_window').dropDownList({0:"В текущем окне",1:"В новом окне"})|raw }}

                                {{ form.field(model, 'is_active').dropDownList({0:"Выключен",1:"Включён"})|raw }}

                                {{ form.field(model, 'places').textInput({'maxlength':true})|raw }}

                                {{ form.field(model, 'order').textInput()|raw }}
                            </div>
                        </div>
                    <div class="form-group">
                        <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Применить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    </div>
                    {{ active_form_end() }}
                </div>
            </div>
        </div>
    </section>
</div>