<div class="content-wrapper">
  <section class="account-home">
    <div class="row">
      <div class="col-md-12">
        <div class="balance">
          {% include('parts/user_balance.twig') %}
        </div>
      </div>
    </div>
  </section>
  <section class="account-padding">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ t('account', 'history_bonuses') }}</h3>
        <p>
            {{ t('account', 'history_bonuses_text') }}
        </p>
      </div>
      {% if bonuses|length > 0 %}
      <div class="col-md-12">
        <table class="table table-bonuses">
          <thead>
            <tr>
              <th>{{ t('common', 'type') }}</th>
              <th>{{ t('common', 'description') }}</th>
              <th>{{ t('common', 'date') }}</th>
              <th>{{ t('common', 'amount') }}</th>
              <th style="width: 140px;">{{ t('common', 'status') }}</th>
            </tr>
          </thead>
          <tbody>
          {% set curr_icon = app.params.currencies[app.params.valuta].icon ? app.params.currencies[app.params.valuta].icon : '' %}
            {% for bonus in bonuses %}
            <tr>
              <td>
                {{bonus.title}}
              </td>
              <td>
                {{bonus.text | raw}}
              </td>
              <td>{{_date(bonus.added)}}</td>
              <td class="cashback {{bonus.status}}">
                {{bonus.amount}} {{ curr_icon|raw }}
              </td>
              <td class="status status_{{bonus.status}}">
                {% if bonus.status == '0' %}
                  <span class="fa fa-clock-o"></span>
                {% endif %}
                {% if bonus.status == '2' %}
                  <span class="fa fa-check"></span>
                {% endif %}
                {% if bonus.status == '1' %}
                  <span class="fa fa-times"></span>
                {% endif %}
                  {{bonus.status_title}}
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="col-md-12">
        <div class="not-found">{{ t('account', 'history_bonuses_empty') }}</div>
      </div>
      {% endif %}
    </div>
  </section>
  {% include '/parts/pagination.twig' %}
</div>