{% include('parts/account/user_balance.twig') %}


  <section class="account account-padding">

        <h1>{{ t('account', 'history_bonuses') }}</h1>
        <p>
            {{ t('account', 'history_bonuses_text') }}
        </p>

      {% if bonuses|length > 0 %}

        <table class="table ta_left adaptive adaptive-tablets">

            <tr>
              <th>{{ t('common', 'type') }}</th>
              <th>{{ t('common', 'description') }}</th>
              <th>{{ t('common', 'date') }}</th>
              <th>{{ t('common', 'amount') }}</th>
              <th style="width: 140px;">{{ t('common', 'status') }}</th>
            </tr>

          {% set curr_icon = currencyIcon(app.params.valuta) %}
            {% for bonus in bonuses %}
            <tr>
              <td>
                {{bonus.title}}
              </td>
              <td>
                <div>
                  {{bonus.text | raw}}
                </div>
              </td>
              <td>{{_date(bonus.added)}}</td>
              <td class="cashback {{bonus.status}}">
                {{bonus.amount}} {{ curr_icon|raw }}
              </td>
              <td class="status status_{{bonus.status}}">
                {% if bonus.status == '0' %}
                  {{ svg('clock-o','currency-icon')|raw }}
                {% endif %}
                {% if bonus.status == '2' %}
                  {{ svg('check','currency-icon')|raw }}
                {% endif %}
                {% if bonus.status == '1' %}
                  {{ svg('times','currency-icon')|raw }}
                {% endif %}
                  {{bonus.status_title}}
              </td>

            </tr>
            {% endfor %}

        </table>

      {% else %}

        <div class="not-found">{{ t('account', 'history_bonuses_empty') }}</div>

      {% endif %}

  {% include '/parts/pagination.twig' %}
  </section>

