{{ use('yii/helpers/Html') }}
{{ use('yii/web/View') }}

{{ register_asset_bundle(assetBundle) }}

{% if js %}
  {{ this.registerJs(js) }}
{% endif %}

<div class="eauth sd-eauth" id="{{ id }}">
  <ul class="eauth-list{{ dop_class }}">
    {% for service in services  %}
      {% if region in service.regions %}
        {% set title = vertical ? service.title : '' %}
        {% set source = service.source %}
        {% set id = _if(replace[source][service.code],replace[source][service.code],service.code) %}
        {% set icon = _if(replace["nodge"][service.code],replace["nodge"][service.code],service.code) %}
        {% set link = action[source]~id %}

        <li class="eauth-service {% if vertical %} vertical {% endif %}">
          {{ html.a(svg(icon~'-round','eauth-icon')~title, link,{
            'class': 'eauth-service-link_sd '~id,
            'data-eauth-service': id,
          })|raw }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>