
<div class="catalog-categories-account_menu{% if header == 1 %}-header{% endif %}" >

    {% set curr = t('main', app.user.identity.currency) %}

    <div class="account-menu_header">
        <div class="account-menu_header-avatar">
            <div class="account-menu_header-avatar-image">
                <img src="{{ user_avatar }}" class="no_optomize" alt="{{ this.user.name }}">
            </div>
        </div>
        <div class="account-menu_header-info">
            <div class="account-menu_header-info-name">
                {{ this.user.name }}
            </div>
            <div class="account-menu_header-info-balance">
                <a href="{{ _href('/account/payments', 'https://secretdiscounter.com')|raw }}" class="account-menu_header-info-balance-link">
                    <span class="account-menu_header-info-balance-link-confirmed" >
                  {{ _nf(this.balance.current) | raw}} {{ curr|raw }}</span>
                    <span class="account-menu_header-info-balance-link-all">&nbsp;/&nbsp;{{ _nf(this.balance.pending) | raw}} {{ curr|raw }} </span>
                </a>
            </div>
            <div class="account-menu_header-info-id">
                ID:&nbsp;{{ this.user.uid }} {% if header == 0 %}<a
                    class="set_clipboard"
                    data-clipboard="{{ this.user.uid }}"
                    data-clipboard-notify="{{ t('account', 'account_id_copied') }}"
                    href=""
                    >{{ t('common', 'copy_lower') }}</a> {% endif %}
            </div>
        </div>
    </div>

    <ul>

        <li class="overview users">
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account',
                'title': t('account', 'menu_main_page'),
                'left-icon': 'user',
            })|raw }}
        </li>
        <li class="favorite-icon fasicon">
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/deferred',
                'title': t('shop', 'menu_favorites'),
                'left-icon': 'heart-o'
            })|raw }}
        </li>

        <li class="favorite-icon fasicon">
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/viewed-products',
                'title': t('shop', 'menu_viewed'),
                'left-icon': 'star-o'
            })|raw }}
        </li>

        <li>
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/payments',
                'left-icon': 'history',
                'title': t('shop', 'menu_payments'
                )})|raw }}
        </li>
        <li>
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/affiliate',
                'left-icon': 'money-bag',
                'title': t('account', 'affiliate_referrals_payments'
                )})|raw }}
        </li>
        <li class="offlineshop-icon fasicon">
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/offline',
                'title': t('account', 'menu_offline'),
                'left-icon': 'bay'
            })|raw }}
        </li>

        <li class="settings-icon fasicon">
            {{ get_menu_item({
                'href':'https://secretdiscounter.com/account/settings',
                'title': t('account', 'menu_settings'),
                'left-icon': 'cogs'
            })|raw }}
        </li>

        <li>
            {{ get_menu_item({
              'href':'https://secretdiscounter.com/account/support',
              'left-icon': 'question-circle-o',
              'title': t('account', 'menu_help'
              )})|raw }}
        </li>

        <li class="action-btn"> {{ get_menu_item({
                'href':'https://secretdiscounter.com/logout',
                'title': t('common', 'logout'),
                'left-icon': 'sign-out'
            })|raw }}
        </li>
    </ul>
</div>