{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-sm-12">


            {% set form = active_form_begin() %}

            {{ form.field(model, 'parameter_id').dropDownList(parameterList, {'prompt':'Выберите параметр'})|raw }}

            {#{{ form.field(model, 'name').textInput({'maxlength':true})|raw }}#}

            {{ form.field(model, 'synonym').dropDownList(valuesList, {'prompt':'Значение, для которого будет являться синонимом'})|raw }}

            {{ form.field(model, 'active').dropDownList(activeFilter, {'prompt':'Выберите статус'})|raw }}

            <div class="form-group">
                <label for="product-parameter-category-tree">Категория</label>
                    <input class="form-control" id="product-parameter-category-tree" value="{{ model.parameter.categoryTree }}" disabled/>
            </div>

            {{ form.field(model, 'created_at').textInput({'disabled':true})|raw }}

            <h3>Локальная информация</h3>
            <div class="tarif_select_blk">
                <input type="radio" class="controls_option" value="ru-RU" checked id="option_tab_ru-RU"
                       name="tabs_open">
                {% for k,lang in languages %}
                    <input type="radio" class="controls_option" value="{{ k }}" id="option_tab_{{ k }}"
                           name="tabs_open">
                {% endfor %}
                <ul class="tab_control">
                    <li class="tab_butt_ru-RU">
                        <label for="option_tab_ru-RU">
                            <img src="/images/flag/ru-RU.svg" height="12px">
                            Русский
                        </label>
                    </li>
                    {% for k,lang in languages %}
                        <li class="tab_butt_{{ k }}">
                            <label for="option_tab_{{ k }}">
                                <img src="/images/flag/{{ k }}.svg" height="12px">
                                {{ lang.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

                <div class="content_tab">
                    <div class="cpa_box tab_ru-RU">
                        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}
                    </div>
                    {% for k,lang in languages %}
                        <div class="cpa_box tab_{{ k }}">
                            {{ form.field(lang.model, 'name').textInput({'maxlength':true})|raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}"
                       class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
            </div>
            {{ active_form_end() }}
            </div>

        </div>
    </section>
    {% set product_category = model.parameter.category_id %}
    {{ include('@frontend/modules/params/views/admin/products.twig') }}
</div>
{{ include('parts/admin/tabs_styles_simple.twig') }}

