{{ use('/yii/widgets/ActiveForm') }}
<div class="product-parameters-values-form">
    {% set form = active_form_begin() %}

    {{ form.field(model, 'parameter_id').dropDownList(parameterList, {'prompt':'Выберите параметр'})|raw }}

    {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

    {{ form.field(model, 'synonym').dropDownList(valuesList, {'prompt':'Значение, для которого будет являться синонимом'})|raw }}

    {{ form.field(model, 'active').dropDownList(activeFilter, {'prompt':'Выберите статус'})|raw }}

    {{ form.field(model, 'created_at').textInput()|raw }}


    <div class="form-group">
        <label>Категории</label>
        <div>
            <label for="items_toggle_check" style="padding: 10px 20px;">
                <input id="items_toggle_check" class="toggle_items_check" type="checkbox"
                       name="items_toggle_check" value="1">
                Выбрать всё/отменить выбор
            </label>
        </div>
        {% include('category_tree.twig') %}
    </div>

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}"
               class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>