{{ use('/yii/grid/GridView') }}
{% set title = 'Product Parameters Values' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="product-parameters-values-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                </div>
            </div>
            <div class="row">
                <div  class="col-md-12">
                {{ grid_view_widget({
                        'dataProvider': dataProvider,
                        'filterModel': searchModel,
                            'columns': [
                            {'class': '\\yii\\grid\\SerialColumn'},

                            'id',
                            {
                                'attribute':'parameter_id',
                                'format':'raw',
                                'filter': parameterFilter,
                                'value' : 'parameter.name'

                            },
                            'name',
                            {
                                'attribute':'synonym',
                                'format':'raw',
                                'value': tableData.synonym_name,
                            },
                            {
                                'attribute':'product_categories',
                                'format':'raw',
                                'value' : tableData.categories,
                                'filter': product_categories
                            },
                            {
                                'attribute':'active',
                                'format':'raw',
                                'value': tableData.active,
                                'filter': activeFilter
                            },
                            'created_at',

                            {'class': '\\yii\\grid\\ActionColumn', 'template': '{update}'},
                        ],
                    })
                }}
                </div>
            </div>
        </section>
    </div>
</div>