{{ use('/yii/widgets/ActiveForm') }}
<div class="foundations-search">
    {% set form = active_form_begin({
            'action': ['index'],
            'method': 'get',
        })
    %}

    {{ form.field(model, 'uid')|raw }}

    {{ form.field(model, 'title')|raw }}

    {{ form.field(model, 'description')|raw }}

    {{ form.field(model, 'image')|raw }}

    {{ form.field(model, 'is_active')|raw }}

    <div class="form-group">
        <input type="submit" value="{{ 'Search' }}" class="btn btn-primary">
        <input type="reset" value="{{ 'Reset' }}" class="btn btn-default">
    </div>
    {{ active_form_end() }}
</div>