{% if categories|length %}
    <ul class="shops-category-menu_list level_{{ level }}" >
        {% for category in categories  %}
            <li class="shops-category-menu_item level_{{ category.level }}">
                <a class="shops-category-menu_link" href="/category/{{ category.route }}">{{ category.name }} ({{ category.count }})</a>
                {% if category.childs|length %}
                    {% set categories = category.childs %}
                    {% set level = category.level %}
                    {% include('category_menu.twig') %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}