<div class="template-send popup-content">
  {% set form = active_form_begin({
    'id' : 'send-form',
    'action' : 'admin/template/send',
    'layout' : 'horizontal',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'template-send-form',
      'role' : 'form'
    },
  }) %}

  {{ html.input("hidden","id",id) | raw }}
  {{ html.input("hidden","data",data) | raw }}

    <div class="form-group">
        <label for="template-send-email">Email</label>
       {{ html.input("email","email",email,{class:"form-control",required:true}) | raw }}
    </div>
    <div class="form-group">
        <label for="template-lang">Язык</label>
       {{ html.dropDownList("language",language,languageList,{class:"form-control",required:true}) | raw }}
    </div>

    <hr>


  <button type="submit"
          class="btn block_margin-auto btn-min_width240 btn-margin_top">Отправить</button>
  {{ active_form_end() }}
</div>