<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h2>Вход на сайт</h2>
  {% set form = active_form_begin({
    'id' : isAjax?'login-form-ajax':'login-form',
    'layout' : 'horizontal',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}
  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Введите ваш e-mail','required':true}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Введите ваш пароль','required':true}) | raw }}
  <div class="form_right_blk">
    <a href="#resetpassword" class="modals_open">Забыли пароль?</a>
  </div>

  <button type="submit" class="btn block_margin-auto btn-min_width240">Войти</button>
  {{ active_form_end() }}


  <div class="terms">Или при помощи соцсетей</div>
  <div>
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ eauth_widget_widget() }}
  </div>
  <div class="gray-box">
    <a href="#registration" class="btn btn-round btn-transform btn-max_width180 block_margin-auto modals_open">Зарегистрироваться</a>
    <div class="text-dop text-dop_gray">Если вы новый пользователь</div>
  </div>

</div>