<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h3>Вход на сайт</h3>
  <p class="sign-up-tagline">Совершая вход на сайт, вы соглашаетесь с нашими <a href="/terms">Правилами</a></p>
  {% set form = active_form_begin({
    'id' : isAjax?'login-form-ajax':'login-form',
    'layout' : 'horizontal',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}
  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i class="fa fa-envelope"></i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Введите ваш e-mail','required':true}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i class="fa fa-lock"></i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Введите ваш пароль','required':true}) | raw }}

  <button type="submit" class="btn-fill sign-up-btn">Войти в личный кабинет</button>
  {{ active_form_end() }}
  <div class="sign-up-buttons"><a href="#registration" class="btn ignore-hash">Зарегистрироваться</a></div>
  <p class="terms"><a href="#resetpassword" class="ignore-hash">Забыли пароль?</a></p>

  <p class="terms">Войти через социальные сети</p>
  {{ use('frontend/components/socials/EauthWidget') }}
  {{ eauth_widget_widget() }}

</div>