<div class="sign-up popup-sign-up" style="opacity: 1;">
  {% if not isAjax %}
    <h2 class="title-no-line">{{ t('common', 'login_to_site')|raw }}</h2>
  {% endif %}
  {% set form = active_form_begin({
    'id' : isAjax?'login-form-ajax':'login-form',
    'layout' : 'horizontal',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}
  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder': t('account', 'enter_your_email'),'required':true}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder': t('account', 'enter_your_remembered_password'),'required':true}) | raw }}

  <div class="flex-line form-input-recaptcha-wrap">
    {{ form.field(model, 'reCaptcha', {
          'template': "<div>{input}</div>{error}"
    }).widget(reCaptcha)|raw }}

    <div class="form_right_blk">
      <a href="{{ _href('#resetpassword')|raw }}" class="blue modals_open">{{ t('account', 'password_is_fogotten')|raw }}?</a>
    </div>
  </div>

  <button type="submit" class="btn block_margin-auto btn-min_width240">{{ t('common', 'do_login')|raw }}</button>
  {{ active_form_end() }}


  <div class="terms">{{ t('common', 'do_login_by_socials')|raw }}</div>
  <div>
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ eauth_widget_widget() }}
  </div>
  <div class="gray-box">
    <a href="{{ _href('#registration')|raw }}" class="btn btn-transform btn-mini modals_open btn-max_width180 block_margin-auto">{{ t('common', 'do_register') }}</a>
    <div class="text-dop text-dop_gray">{{ t('account', 'if_you_new_user')|raw }}</div>
  </div>

</div>