<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h3 style="margin-bottom: 35px;">Вход на сайт</h3>
  {% set form = active_form_begin({
    'id' : isAjax?'login-form-ajax':'login-form',
    'layout' : 'horizontal',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}
  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i class="fa fa-envelope"></i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Введите ваш e-mail','required':true}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i class="fa fa-lock"></i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Введите ваш пароль','required':true}) | raw }}
  <div style="text-align: right; width:75%; margin: 0 auto 20px;"><a href="#resetpassword" class="ignore-hash" style="text-decoration: underline; font-size: 12px;">Забыли пароль?</a></div>

  <button type="submit" class="btn-fill sign-up-btn" style="padding: 10px;">Войти</button>
  {{ active_form_end() }}


  <div class="terms" style="margin-top:30px; text-transform: uppercase; font-size: 12px; text-transform: uppercase;">
    <div style="display: inline-block; border-bottom: 2px solid #eee; margin-bottom: 2px;width: 30%;" ></div>
    <div style="display: inline-block;color: #888;">
      Или при помощи соцсетей
    </div>
    <div style="display: inline-block;border-bottom: 2px solid #eee;margin-bottom: 2px;width: 30%;" ></div>
  </div>
  <div style="margin-top: 10px;margin-bottom:5px;">
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ eauth_widget_widget() }}
  </div>
  <div class="gray-box">
    <div class="sign-up-buttons"><a href="#registration" class="btn ignore-hash">Зарегистрироваться</a></div>
    <div class="text-dop"  style="color: #888;">Если вы новый пользователь</div>
  </div>

</div>