<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h2  class="title-no-line">{{ t('common', 'register') }}</h2>
  {% set form = active_form_begin({
    'id' : 'registration-web-form-ajax',
    'layout' : 'horizontal',
    'action':isAjax?"/registration-web",
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}


  {{ form.field(model, 'traffType',{
    'template' :
    '{beginWrapper}<i>'~svg("exchange",'form-icon')~'</i>{input}\n{endWrapper}\n{error}',
  }).dropDownList(trafficTypeList,{
    'prompt': t('account', 'choose_traffic_type'),
  }) | raw }}


  {{ form.field(model, 'url',{
    'template' :
    '{beginWrapper}<i>'~svg("link",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder': t('account', 'url_to_web_resource')}) | raw }}

  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder': t('account', 'enter_your_email')}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder': t('account', 'enter_your_password')}) | raw }}

  {{ form.field(model, 'password_repeat',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder': t('account', 'enter_password_repeat')}) | raw }}

  <div class="text-dop text-dop_gray btn-max_width400 block_margin-auto">{{ t('account', 'agree_to_the_terms_of_parthner_agreement')|raw }}</div>

  <button type="submit" class="btn block_margin-auto btn-min_width240 btn-margin_top">{{ t('common', 'do_register') }}</button>
  {{ active_form_end() }}

</div>