<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h3 style="margin-bottom: 35px;">Регистрация</h3>
  {% set form = active_form_begin({
    'id' : 'registration-web-form-ajax',
    'layout' : 'horizontal',
    'action':isAjax?"/registration-web",
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}


  {{ form.field(model, 'traffType',{
    'template' :
    '{beginWrapper}<i class="fa fa-exchange"></i>{input}\n{endWrapper}\n{error}',
  }).dropDownList(trafficTypeList,{
    'prompt':'Выберите тип трафика',
  }) | raw }}


  {{ form.field(model, 'url',{
    'template' :
    '{beginWrapper}<i class="fa fa-link"></i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Ссылка на вашу площадку'}) | raw }}

  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i class="fa fa-envelope"></i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Введите ваш e-mail'}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i class="fa fa-lock"></i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Придумайте пароль'}) | raw }}

  {{ form.field(model, 'password_repeat',{
    'template' :
    '{beginWrapper}<i class="fa fa-lock"></i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Повторите пароль'}) | raw }}

  <div style="text-align: center; width:75%; margin: 10px auto 20px; color: #888; font-size: 12px;">Я принимаю условия <a href="/webmaster-terms" class="ignore-hash" style="text-decoration: underline;" target="_blankssssss">Партнерского соглашения</a></div>

  <button type="submit" class="btn-fill sign-up-btn" style="padding: 10px;">Зарегистрироваться</button>
  {{ active_form_end() }}

</div>