<div class="sign-up popup-sign-up">
  <h2>Регистрация</h2>
  {% set form = active_form_begin({
    'id' : isAjax?'registration-form-ajax':'registration-form',
    'layout' : 'horizontal',
    'action':isAjax?"/registration":'/registration?index=2',
    'fieldConfig':{
      'horizontalCssClasses':{
        'wrapper':'form-input-group',
      }
    },
    'options' : {
      'class' : 'signup-form ajax_form',
      'role' : 'form'
    },
  }) %}

  {{ form.field(model, 'email',{
    'template' :
    '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).textInput({'placeholder':'Введите ваш e-mail'}) | raw }}

  {{ form.field(model, 'password',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Придумайте пароль'}) | raw }}

  {{ form.field(model, 'password_repeat',{
    'template' :
    '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
  }).passwordInput({'placeholder':'Повторите пароль'}) | raw }}

  <div class="text-dop text-dop_gray btn-max_width400 block_margin-auto">Я принимаю условия <a href="/terms">Пользовательского соглашения</a> и
    <a class="ignore-hash" href="/">политики конфиденциальности</a></div>

  <button type="submit" class="btn block_margin-auto btn-min_width240 btn-margin_top">Зарегистрироваться</button>
  {{ active_form_end() }}


  <div class="terms">Или при помощи соцсетей</div>
  <div>
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ use('frontend/components/socials/EauthWidget') }}
      {{ eauth_widget_widget() }}
  </div>
  <div class="gray-box">
    <a href="#login" class="btn btn-round btn-transform btn-max_width180 block_margin-auto modals_open">Я уже зарегистрирован</a>
    <div class="text-dop" style="color: #888;">Войдите, если у вас есть аккаунт</div>
  </div>


</div>