<div class="sign-up popup-sign-up">
    <h2 class="title-no-line">{{ t('account', 'password_reset')|raw }}</h2>
    <p class="align-center">
        {{ t('account', 'password_reset_description')|raw }}
    </p>
    {% set form = active_form_begin({
    'id' : isAjax?'resetpassword-form-ajax':'lresetpassword-form',
    'layout' : 'horizontal',
    'action': action,
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group',
    }
    },
    'options' : {
    'class' : 'signup-form ajax_form',
    'role' : 'form'
    },
    }) %}
    {{ form.field(model, 'email',{
        'template' :
        '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).textInput({'placeholder': t('account', 'enter_your_email'),'required':true}) | raw }}

    {{ form.field(model, 'password',{
        'template' :
        '{beginWrapper}<i>'~svg("lock",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).passwordInput({'placeholder': t('account', 'enter_password_you_want'),'required':true}) | raw }}

    <button type="submit" class="btn block_margin-auto btn-min_width240 btn-margin_top">{{ t('account', 'do_password_reset')|raw }}</button>
    {{ active_form_end() }}
</div>
</br>