{{ use('/yii/widgets/ActiveForm') }}
<div class="users-social-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'user_id').textInput()|raw }}

        {{ form.field(model, 'social_name').dropDownList(social_list)|raw }}

        {{ form.field(model, 'social_id').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'email').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'email_manual').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'url').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'photo').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'status').textInput()|raw }}

        {{ form.field(model, 'sex').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'bdate').textInput()|raw }}

        {{ form.field(model, 'created_at').textInput()|raw }}

        {{ form.field(model, 'updated_at').textInput()|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>