{{ use('/yii/widgets/ActiveForm') }}
<div class="coupons-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'uid').textInput({'disabled': 'disabled'})|raw }}

        {{ form.field(model, 'coupon_id').textInput({'disabled': 'disabled'})|raw }}

        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

        <p><span>Image:</span> <img src="/images/logos/{{model.store.logo}}"></p>

        {{ form.field(model, 'description').textarea({'rows':6})|raw }}

        <p><span>Магазин:</span> <a href="/admin/stores/update/id:{{model.store.uid}}">{{model.store.name}}</a></p>

        {{ form.field(model, 'date_start').textInput()|raw }}

        {{ form.field(model, 'date_end').textInput()|raw }}

        {{ form.field(model, 'goto_link').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'promocode').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'exclusive').textInput()|raw }}

        {{ form.field(model, 'species').textInput()|raw }}

        <div class="form-group field-coupons-language">
            <label class="control-label" for="coupons-language">Язык</label>
            <select id="coupons-language" class="form-control" name="Coupons[language]">
                {% for language in languages %}
                   <option value="{{ language }}" {% if model.language == language %}selected{% endif %}>{{ _ucfirst(language) }}</option>
                {% endfor %}
            </select>
            <div class="help-block"></div>
        </div>

        <p><span>Посещений:</span> {{model.visit}}</p>

    <div class="form-group">
        <button type="submit">{{ model.isNewRecord ? 'Создать' : 'Изменить' }}</button>
    </div>
    {{ active_form_end() }}
</div>