<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            {% if coupon %}
                <div class="col-md-12">
                    {{ include('_form.twig', {
                        'model': coupon,
                        })
                    }}

                    {% if categories|length > 0 %}
                        <p class="title">Категории купона</p>
                        <form method="post" action="/admin/coupons/update/id:{{coupon.uid}}">
                            <input type="hidden" name="{{ app.request.csrfParam }}" value="{{ app.request.csrfToken }}">
                            <p>
                                {% for category in categories %}
                                    <input {% if category.uid in coupon_categories %} checked {% endif %} type="checkbox" name="category_id[]" value="{{category.uid}}"><span>{{category.name}}</span><br>
                                {% endfor %}
                                <input type="hidden" name="coupon_id" value="{{coupon.coupon_id}}">
                                <input type="hidden" name="type" value="update_categories">
                                <input type="submit" class="btn btn-primary" value="Изменить">
                            </p>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="not-found">Купон не найден.</div>
                </div>
            {% endif %}
        </div>
    </section>
</div>