{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
            </div>
            <div class="col-md-12">
                {% set form = active_form_begin() %}

                {{ form.field(model, 'route').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'hide_high_menu').dropDownList({0:'Отобразить',1:'Скрыть'})|raw }}


                <div class="tarif_select_blk">
                    <input type="radio" class="controls_option" value="ru-RU" checked id="option_tab_ru-RU"
                           name="tabs_open">
                    {% for k,lang in languages %}
                        <input type="radio" class="controls_option" value="{{ k }}" id="option_tab_{{ k }}"
                               name="tabs_open">
                    {% endfor %}
                    <ul class="tab_control">
                        <li class="tab_butt_ru-RU">
                            <label for="option_tab_ru-RU">
                                <img src="/images/flag/ru-RU.svg" height="12px">
                                Русский
                            </label>
                        </li>
                        {% for k,lang in languages %}
                            <li class="tab_butt_{{ k }}">
                                <label for="option_tab_{{ k }}">
                                    <img src="/images/flag/{{ k }}.svg" height="12px">
                                    {{ lang.name }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="content_tab">
                        <div class="cpa_box tab_ru-RU">
                            {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

                            {{ form.field(model, 'description').widget(TinyMce.className(),params('TinyMce'))|raw }}

                            {{ form.field(model, 'short_description').widget(TinyMce.className(),params('TinyMce'))|raw }}

                            {{ form.field(model, 'short_description_offline').widget(TinyMce.className(),params('TinyMce'))|raw }}
                        </div>
                        {% for k,lang in languages %}
                            <div class="cpa_box tab_{{ k }}">
                                {{ form.field(lang.model, 'name').textInput({'maxlength':true})|raw }}

                                {{ form.field(lang.model, 'description').widget(TinyMce.className(),params('TinyMce'))|raw }}

                                {{ form.field(lang.model, 'short_description').widget(TinyMce.className(),params('TinyMce'))|raw }}

                                {{ form.field(lang.model, 'short_description_offline').widget(TinyMce.className(),params('TinyMce'))|raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                </div>
            </div>
            {{ active_form_end() }}
        </div>
    </section>
    {% if stores_categories|length > 0 %}
    <section  class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <p class="title">Категории магазинов</p>
            </div>
            <div class="col-md-12">
                    <form method="post" action="/admin-categories/coupons/update-stores-categories?id={{ model.uid }}">
                        <ul class="ch_tree">
                            {% for category in stores_categories %}
                                <li>
                                    <label>
                                        <input {% if category.uid in model_stores_categories %} checked {% endif %} data-uid="{{category.uid}}" data-parent-id="{{category.parent_id}}" type="checkbox" name="stores_category_id[]" value="{{category.uid}}"><span>{{category.name}}</span>
                                    </label>
                                    {% if category.childrens|length > 0 %}
                                        <ul>
                                            {% for category_ch in category.childrens %}
                                                <li>
                                                    <label>
                                                        <input {% if category_ch.uid in model_stores_categories %} checked {% endif %} data-uid="{{category_ch.uid}}" data-parent-id="{{category_ch.parent_id}}" type="checkbox" name="stores_category_id[]" value="{{category_ch.uid}}"><span>{{category_ch.name}}</span>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <input type="hidden" name="id" value="{{model.uid}}">
                            {#<input type="hidden" name="type" value="update_categories">#}
                            <button type="submit">Изменить</button>
                        </ul>
                    </form>
            </div>
        </div>
    </section>
    {% endif %}
</div>
<style>
    ul.tab_control li label {
        cursor: pointer;
    }

    #option_tab_ru-RU:checked ~ ul .tab_butt_ru-RU {
        background: #fbcf4a;
    }

    #option_tab_ru-RU:checked ~ .content_tab .tab_ru-RU {
        display: block;
    }

    #option_tab_ru-RU:checked {
        color: #000;
    }

    {% for k,lang in languages %}
    #option_tab_{{ k }}:checked ~ ul .tab_butt_{{ k }} {
        background: #fbcf4a;
    }

    #option_tab_{{ k }}:checked ~ .content_tab .tab_{{ k }} {
        display: block;
    }

    #option_tab_{{ k }}:checked {
        color: #000;
    }

    {% endfor %}
</style>
