{{ use('/yii/grid/GridView') }}
{% set title = 'Категории купонов' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
    {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="stores-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                    {# include('_search.twig', {'model': searchModel}) #}
                    <p>
                        <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Categories Coupons' }}</a>
                    </p>
                    {{ grid_view_widget({
                        'dataProvider': dataProvider,
                        'filterModel': searchModel,
                        'columns': [
                        {'class': '\\yii\\grid\\SerialColumn'},

                        'uid',
                        'name',
                        'route',
                        {
                            'format':'raw',
                            'attribute':'hide_high_menu',
                            'filter':{
                            '':'Любое',
                                0:"Нет",
                                1:"Скрыто"
                            },
                            'value':table.hide_high_menu
                        },
                        {'class': '\\yii\\grid\\ActionColumn',
                            'template' : '{update} {delete}',
                        },
                        ],
                    })
                    }}
                </div>
            </div>
        </section>
    </div>
</div>