<section id="header" class="header">
  <div class="header-upline">
    <div class="page-wrap page-wrap-flex">

      <div class="header-logo">
        <div class="menu-toggle">
          <a href="/">
              {{ svg('bars', 'menu-toggle_button open')|raw }}
              {{ svg('close', 'menu-toggle_button close')|raw }}
          </a>
        </div>
        <div class="header-logo-center">
          <a href="/"><img src="images/templates/sd_logo.png" alt="secretdiscounter logo"></a>
        </div>

        {% if this.favorites %}
            {#если есть избранные#}
          <div class="btn-header btn-header_favorite mobile" >
            <a data-toggle="tooltip" data-original-title="Избранные магазины" href="/account/favorites">{{ svg('heart-o', 'btn-header_button')|raw }}</a>
          </div>
        {% endif %}
        {% if this.user_id > 0 %}
            {#если есть уведомления добавлен класс#}
          <div class="header-logo_noty  btn-header mobile {% if this.notys %} has-noty {% endif %}">
            <a data-toggle="tooltip" data-original-title="Уведомления" href="/account/notification">{{ svg('bell-o', 'header-logo_noty_button btn-header_button')|raw }}</a>
          </div>
        {% endif %}

        <div class="search-toggle  btn-header mobile">
          <a href="/">{{ svg('search', 'search-toggle_button btn-header_button')|raw }}</a>
        </div>

      </div>

      <div class="header-item header-search">
        <form action="/search" class="header-search_form" name="search" method="get">
          <input type="text" name="query" id="search" class="header-search_form-input" value="" placeholder="Найти магазин" autocomplete="off">
          <a href="#">{{ svg('search','header-search_form-button')|raw }}</a>
        </form>
        <div id="autocomplete" class="autocomplete"><ul class="autocomplete_list"></ul></div>
      </div>

      <div class="header-right">
        {#{% if this.user_id %}#}
        {% if this.user_id == 0 %}
        {#если не зарегистрирован#}
          <a href="/howitworks" class="header-right_link header-other-btn">Как это работает</a>
            {#<a href="/howitworks" class="header-right_link">Помощь</a>#}
          <div class="header-authorization">
            <a href="#login" rel="nofollow" class="header-authorization-btn header-authorization-btn-enter modals_open">Вход</a>
            <span class="header-authorization-separate">/</span>
            <a href="#registration" rel="nofollow" class="header-authorization-btn modals_open">Регистрация</a>
          </div>
        {% else %}
            {#зарегистрирован#}
          <div class="btn-header " >
            <a href="/account" class="btn-header-ballance">{{ svg('circle', 'btn-header_button_money')|raw }}
              <span class="ballance-confirmed" data-toggle="tooltip"
                    {#title="Сумма кэшбека за покупки, которая зачислена на ваш баланс"#}
                    data-original-title="Сумма кэшбэка, уже доступная к выводу">
                  {{ _nf(this.balance.current) | raw}} руб </span>
              <span class="ballance-all" data-toggle="tooltip"
                    {#title="Сумма кэшбека, которая будет доступна для вывода, после подтверждения вашей покупки интернет-магазином"#}
                    data-original-title="Сумма кэшбэка за еще неподтвержденные магазином покупки">
                &nbsp;/&nbsp;{{ _nf(this.balance.total - this.balance.charity - this.balance.withdraw) | raw}} руб </span>
            </a>
          </div>
          {% if this.favorites %}
              {#если есть избранные#}
            <div class="btn-header btn-header_favorite" >
              <a data-toggle="tooltip"  data-original-title="Избранные магазины" href="/account/favorites">{{ svg('heart-o', 'btn-header_button')|raw }}</a>
            </div>
          {% endif %}

            <div class="header-logo_noty btn-header last {% if this.notys %} has-noty {% endif %}" >
              <a data-toggle="tooltip" data-original-title="Уведомления" href="/account/notification">{{ svg('bell-o', 'btn-header_button')|raw }}</a>
            </div>

          <div class="avatar account-menu-toggle" data-toggle="tooltip" data-original-title="Личный кабинет" >
          <a href="#"><img class="avatar_image" src="{{ this.user.photo }}" alt="{{ this.user.name }}"></a>
          </div>
            {% include 'parts/account_menu.twig' %}
        {% endif %}

      </div>
    </div>
  </div>
  <div class="header-secondline">
    <div class="page-wrap page-wrap-flex header-secondline_inner">
      <ul class="page-wrap-flex drop-menu">
        {% if this.user_id == 0 %}
          <li class="mobile">
            <a href="#login" class="header-right_link mobile modals_open">Войти</a>
          </li>
          <li class="mobile">
            <a href="#registration" class="header-right_link mobile modals_open">Зарегистрироваться</a>
          </li>
          <li class="mobile">
            <a href="/howitworks" class="header-right_link mobile">Как это работает</a>
          </li>
        {% else %}
          <li class="mobile">
            <a href="/account">Личный кабинет</a>
          </li>
        {% endif %}
        <li class="drop-menu_group__up">
          <a href="/stores">
            Интернет-магазины
            {{ svg('angle-down','menu_angle-down')|raw }}
          </a>

          {{ use('frontend/components/CategoryMenu') }}
          {% set category_tree = category_menu_widget({'show_hidden': false, 'ext_items':'favorite'}) %}
          {% if category_tree %}
            {{category_tree|raw}}
          {% endif %}
        </li>
        <li class="mobile">
          <a>Двойной кэшбэк</a>
        </li>
        <li class="drop-menu_group__up">
          <a href="/coupons">Промокоды
              {{ svg('angle-down','menu_angle-down')|raw }}
          </a>
            {{ use('frontend/components/CategoryCouponsMenu') }}
            {% set category_coupons = category_coupons_menu_widget() %}
            {% if category_coupons %}
                {{category_coupons|raw}}
            {% endif %}
        </li>
        <li>
          <a>Оффлайн-магазины</a>
        </li>
        <li class="desctop">
          <a>Двойной кэшбэк</a>
        </li>
        <li class="drop-menu_group__up">
          <span >Сервисы
              {{ svg('angle-down','menu_angle-down')|raw }}
          </span>
          <ul>
            <li>
              <a href="#">Отследить посылку</a>
            </li>
            <li>
              <a href="#">Таблица размеров</a>
            </li>
            <li>
              <a href="#">Плагин для браузера</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="header-right page-wrap-flex drop-menu">
        <li>
          <a class="" href="#">
            {{ svg('heart','header-heart heart-red')|raw }}
            Делаем добро
          </a>
        </li>
        <li>
          <a class="flex-start" href="#">
          Приведи друга ({{ svg('dollar','header-icon-money')|raw }})
        </a>
        </li>
        {% if this.user_id > 0 %}
        <li class="drop-menu_group__up">
          <span class="dashed">Помощь
              {{ svg('angle-down','menu_angle-down')|raw }}
          </span>
          <ul class="left-">
            <li>
              <a href="">С чего начать</a>
            </li>
            <li>
              <a href="">Служба поддержки</a>
            </li>
            <li>
              <a href="">Сообщить о потерянном кэшбэке</a>
            </li>
            <li>
              <a href="">Правила совершения покупок</a>
            </li>
            <li>
              <a href="">Накопительная система</a>
            </li>
            <li>
              <a href="">Вопросы и ответы</a>
            </li>
            <li>
              <a href="">Жалобы и предложения</a>
            </li>
            <li>
              <a href="">Сообщить об ошибке на сайте</a>
            </li>
            <li>
              <a href="">Подключить ваш магазин</a>
            </li>
          </ul>
        </li>
        <li class="mobile">
            <a href="/logout">Выйти</a>
        </li>
        {% else %}
        <li>
          <a href="/faw">Помощь</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</section>