<section id="header" class="header">
  <div class="header-upline">
    <div class="page-wrap page-wrap-flex">

      <div class="header-logo">
        <div class="menu-toggle">
          <a href="/"> {{ svg('bars', 'menu-toggle_button')|raw }}</a>
        </div>
        <div class="header-logo-center">
          <a href="/"><img src="images/templates/sd_logo.png" alt="secretdiscounter logo"></a>
        </div>

            {#если есть уведомления добавлен класс#}
          <div class="header-logo_noty  btn-header mobile {% if this.noty_count > 0 %}has-noty{% endif %}">
            <a title="Уведомления" href="/account/notification">{{ svg('bell-o', 'header-logo_noty_button btn-header_button')|raw }}</a>
          </div>

        <div class="search-toggle  btn-header mobile">
          <a href="/">{{ svg('search', 'search-toggle_button btn-header_button')|raw }}</a>
        </div>

      </div>

      <div class="header-item header-search">
        <form action="/search" class="header-search_form" name="search" method="get">
          <input type="text" name="query" id="search" class="header-search_form-input" value="" placeholder="Найти магазин" autocomplete="off">
          {{ svg('search','header-search_form-button')|raw }}
        </form>
      </div>
      <div class="header-right">
        {#{% if this.user_id %}#}
        {% if this.user_id == 0 %}
        {#если не зарегистрирован#}
          <a href="/howitworks" class="header-right_link">Как это работает</a>
            {#<a href="/howitworks" class="header-right_link">Помощь</a>#}
          <div class="header-authorization">
            <a href="#login" rel="nofollow" class="header-authorization-btn header-authorization-btn-enter modals_open">Вход</a>
            <span class="header-authorization-separate">/</span>
            <a href="#registration" rel="nofollow" class="header-authorization-btn modals_open">Регистрация</a>
          </div>
        {% else %}
            {#зарегистрирован#}
          <div class="btn-header" title="Баланс">
            <a href="/account">{{ svg('dollar', 'btn-header_button')|raw }}
              <span class="ballance-all tooltip"
                    title="Сумма кэшбека за покупки, которая зачислена на ваш баланс"
                    data-tooptip="Сумма кэшбека за покупки, которая зачислена на ваш баланс">
                  {{ _nf(this.balance.total) | raw}} руб </span>
              <span class="tooltip"
                    title="Сумма кэшбека, которая будет доступна для вывода, после подтверждения вашей покупки интернет-магазином"
                    data-tooptip="Сумма кэшбека, которая будет доступна для вывода, после подтверждения вашей покупки интернет-магазином">
                / {{ _nf(this.balance.current) | raw}} руб </span>
            </a>
          </div>
          {% if 1==1 %}
              {#если есть избранные#}
            <div class="btn-header" >
              <a title="Избранные магазины" href="/account/favorites">{{ svg('star-o', 'btn-header_button')|raw }}</a>
            </div>
          {% endif %}
              {#если есть уведомления добавлен класс#}
            <div class="header-logo_noty btn-header {% if this.noty_count > 0 %}has-noty{% endif %}" >
              <a title="Уведомления" href="/account/notification">{{ svg('bell-o', 'btn-header_button')|raw }}</a>
            </div>

          <div class="avatar account-menu-toggle" title="{{ this.user.name }}">
          <a href="#"><img class="avatar_image" src="{{ this.user.photo }}" alt="{{ this.user.name }}"></a>
          </div>
          <div class="account-menu hidden">
            <h6>{{ this.user.name }}</h6>
            <ul>
              <li><a href="/account">Мой аккаунт</a></li>
              <li><a href="#logout">Выход</a></li>
            </ul>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="header-secondline">
    <div class="page-wrap page-wrap-flex header-secondline_inner">
      <ul class="page-wrap-flex drop-menu">
        {% if this.user_id == 0 %}
          <li class="mobile">
            <a href="#login" class="header-right_link mobile">Войти</a>
          </li>
          <li class="mobile">
            <a href="#registration" class="header-right_link mobile">Зарегистрироваться</a>
          </li>
          <li class="mobile">
            <a href="/howitworks" class="header-right_link mobile">Как это работает</a>
          </li>
        {% endif %}
        <li class="drop-menu_group__up">
          <a href="/stores/s-povyshennym-cashback" class="title">
            Интернет-магазины
            {{ svg('angle-down','menu_angle-down')|raw }}
          </a>

          {{ use('frontend/components/CategoryMenu') }}
          {% set category_tree = category_menu_widget({'show_hidden': false, 'ext_items':'favorite'}) %}
          {% if category_tree %}
            {{category_tree|raw}}
          {% endif %}
        </li>
        <li>
          <a>Промокоды</a>
        </li>
        <li>
          <a>Оффлайн-магазины</a>
        </li>
        <li>
          <a>Двойной кэшбэк</a>
        </li>
      </ul>
      <ul class="header-right header-item page-wrap-flex drop-menu">
        <li>
          <a class="header-secondline-link" href="#">
            {{ svg('heart','header-heart heart-red')|raw }}
            Делаем добро
          </a>
        </li>
        <li>
          <a class="header-secondline-link" href="#">
          Приведи друга
        </a>
        </li>
        <li class="drop-menu_group__up">
          <a href="">Помощь
              {{ svg('angle-down','menu_angle-down')|raw }}
          </a>
          <ul>
            <li>
              <a href="">Как это работает</a>
            </li>
            <li>
              <a href="">Служба поддержки</a>
            </li>
            <li>
              <a href="">Правила совершения покупок</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>