{% include('parts/account/user_balance.twig') %}

<section class="support account-padding">

  {{ _constant('account_support')|raw }}

  <form action="/" method="post" role="form" name="support-form">
    <div>
      <div class="form-input-group">
        <i>{{ svg("envelope",'form-icon')|raw }}</i>
        <input autocomplete="off" name="title" type="text"
               placeholder="{{ t('account', 'support_mail_topic') }}" required>
      </div>

      <textarea cols="30" rows="10"
                class="account-textarea"
                name="message"
                placeholder="{{ t('account', 'support_mail_text') }}"
                required
      ></textarea>
    </div>
    <button type="submit" class="btn">{{ t('account', 'support_button') }}</button>
  </form>


</section>
