{#<div class="page-wrap">#}

    {% include 'parts/slider.twig' %}

    {% include 'parts/catalog_breadcrumbs.twig' %}



    <!--краткая информация категории-->
    {% if current_category.short_description %}
        <section class="margin">
            <div class="page-wrap">

                <h3 class="title-center">{{current_category.name}}</h3>
                <div class="short-description">
                    {{current_category.short_description|raw}}
                </div>

            </div>
        </section>
    {% endif %}

    <!--поле контент из метатегов только для категории-->
    {% if 1==2 and content and current_category and page == 1 %}
    <section class="store-information short-description">
        <div class="container">
            <div class="row">
                <div class="col-md-12 short-description__description">
                    <div class="description">
                        {{content|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="catalog margin">
        <div class="page-wrap page-wrap-flex">

            <div class="catalog-categories">
                {#<h3 class="cathead">Категории</h3>#}
                {{ use('frontend/components/CategoryMenu') }}
                {% set category_tree = category_menu_widget({'ext_items':'favorite,all_shops'}) %}
                {% if category_tree %}
                    <div class="tree-cat accordeon">
                    {{category_tree|raw}}
                    </div>
                    {{ use('frontend/components/Banner') }}
                    {%  set banners  = banner_widget({'place':'shops-left-menu','options':{'wrapper_class':'banner__wrapper',}}) %}
                    {% if banners %}
                        {{ banners|raw }}
                    {% endif %}

                {% endif %}

            </div>
            <div class="catalog-stores ">

                <h1 >
                    {% if h1 %}
                        <!--h1 из базы-->
                        {{h1|raw}}
                    {% else %}
                        <!--если нет, то -->
                        {% if current_category.name != '' %}
                            {{current_category.name}}: магазины с кэшбэком
                        {% else %}
                            Лучшие магазины с кэшбэком
                        {% endif %}
                        <span>({{total_v}})</span>
                    {% endif%}
                </h1>
                <div class="margin page-wrap-flex">
                    <ul class="sort-menu">
                        <li class="title">Сортировать по:</li>
                        {% for sortLink in sortlinks%}
                            <li><a href="{{sortLink.link}}" {% if sortLink.active == 1 %} class="active" {% endif %} >{{sortLink.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="sort-menu-mobile">
                        {% for sortLink in sortlinks%}
                            <li><a href="{{sortLink.link}}" {% if sortLink.active == 1 %} class="active" {% endif %} >{{sortLink.title_mobile}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                        <p class="view-items">Показано {% if total_v > 0 %}{{offset_stores + 1}}{% else %}0{% endif %}-{{offset_stores + show_stores}} из {{total_v}}</p>

                    <div class="category-title-wrapper">
                    {% include 'parts/dropdown-limit-catalog.twig' %}
                    </div>

                <div  class="catalog-stores_stores">


                    {% if stores|length > 0 %}
                        <div class="catalog-stores_list">
                            {% for store in stores %}
                                {#<div class="col-sm-3 col-md-3">#}
                                    {% include 'parts/shop.twig' %}
                                {#</div>#}
                            {% endfor %}
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 shops-pagination">
                            {% include 'parts/pagination.twig' %}
                        </div>

                        {% if current_category.down_description %}
                            <div class="col-md-12 down-description">
                                {{current_category.down_description|raw}}
                            </div>
                        {% endif %}

                    {% else %}
                        Ничего не найдено.
                    {% endif %}
                    {% if content and page==1%}
                        <div class="col-md-12" style="margin-top: -20px;">
                            {{ content | raw}}
                        </div>
                    {% endif %}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>
{#</div>#}
