{% if h1 %}
  {#h1 из базы#}
    {% set h1_final =  h1 %}
{% else %}
  {#если нет, то#}
    {% if current_category.name != '' %}
        {% set h1_final = t('main', '{category}_stores_default_h1', {'category': current_category.name}) %}
    {% else %}
        {% set h1_final = t('main', 'stores_default_h1') %}
    {% endif %}
    {% set h1_final = h1_final~'<span>('~total_v~')</span>' %}
{% endif %}
{#краткая информация категории#}
{% set short_description = offline ? current_category.short_description_offline : current_category.short_description %}
    {% if short_description %}
      <section class="gray-box wrap-round margin">
        <h1 class="page-header align-center laptop-no-margin-bottom" >{{ h1_final|raw }}</h1>
        <div class="catalog_category-short-description laptop_hide catalog_category-content">
          {{ _tags_class(short_description, {'a':'blue'})|raw }}
        </div>
      </section>
    {% endif %}

<section class="catalog margin">
  <div class="page-wrap page-wrap-flex">
    {#слева категории#}
    <div class="catalog-categories">
      {% include('parts/stores/left_menu.twig') %}
    </div>

    {#справа шопы#}
    <div class="catalog-stores ">
      {% if short_description == null or short_description == '' %}
        <h1 class="page-header">{{ h1_final|raw }}</h1>
      {% endif %}

      <div class="catalog-categories_tree-toggle">
        {{ svg('bars-slim', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-close')|raw }}
        {{ svg('close', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-open')|raw }}
        <span class="catalog-categories_tree-toggle-tittle">{{ t('main', 'stores_change_category')|raw }}</span>
      </div>

      {#выбор и отображение сортировки#}
      <div class="margin-half page-wrap-flex catalog-stores_sort">
        {% include('parts/sort-links.twig') %}
        <div class="catalog-stores_sort-info">
           {{ t('main','show_{start}-{end}_from_{total}', {'start':  (total_v > 0 ? offset_stores + 1 : '0'), 'end': offset_stores + show_stores, 'total': total_v})|raw }}
        </div>
      </div>

      {% include('parts/stores/abc_search.twig') %}

      <div class="category-title-wrapper">
        {% include 'parts/dropdown-limit-catalog.twig' %}
      </div>

      <div class="catalog-stores_stores margin">
        {% if stores|length > 0 %}
          <div class="catalog-stores_list shops margin">
            {% for store in stores %}
              {#<div class="col-sm-3 col-md-3">#}
              {% include 'parts/shop.twig' %}
              {#</div>#}
            {% endfor %}
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
          </div>

          {% include('parts/pagination.twig') %}


        {% else %}
          <p>{{ t('main', 'not_found')|raw }}</p>
        {% endif %}
      </div>

      {% set down_description = offline and current_category.down_description_offline ? current_category.down_description_offline : current_category.down_description %}
      {% if down_description %}
        <div class="catalog_category-down-description margin">
          {{ _tags_class(down_description, {'a':'blue'})|raw }}
        </div>
      {% endif %}

      {% if content and  pagination_page==1 %}
        <div class="catalog_category-content margin">
          {{ _tags_class(content, {'a':'blue'})|raw }}
        </div>
      {% endif %}

      {% if coupons and pagination_page==1 %}
        {% set coupons_target_blank = true %}
        {% include 'parts/stores/coupons.twig' %}
      {% endif %}

      {% if posts and pagination_page==1 %}
        <h2 class="content-header">{{ t('main', 'news_in_blog')|raw }}</h2>
        <div class="flex-line flex-wrap tablets_flex-col instruction-list instruction-list-x3">
          {% set post_in_line=3 %}
          {% include 'parts/blog_posts.twig' %}
        </div>
        <div class="align-center">
          <a href="https://blog.secretdiscounter.ru/" class="btn btn-transform" target="_blank" rel="nofollow noopener noreferrer">{{ t('main', 'more_articles')|raw }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

