, 'limit' => 4]{{ use('frontend/components/Banner') }}

<section class="shop_header_big tablets_order-2">
  <div class="page-wrap can-overflow">
    <h1 class="shop_header_big-header">
      {% if h1 %}
        {{ h1|raw }}
      {% else %}
        {{ t('main', 'store_default_h1_{store}_name', {'store': current_store.name})|raw }}
      {% endif %}
    </h1>
    <div class="shop_header_big-wrap">
      <div class="shop_header_big-item shop_header_big-item_ticket">

        {{ cashback(current_store,'store') | raw}}

      </div>

      <div class="shop_header_big-item shop_header_big-item-logo_box">
        <div class="shop_header_big-item-logo">
          <div class="favorite">

            {% if user_id %}
              {% if current_store.uid in fav_ids %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{ current_store.uid }}"
                   data-toggle="tooltip" data-state="delete" data-placement="top"
                   data-original-title="{{ t('account', 'favorites_shop_shop_do_remove')|raw }}">
                  {{ svg('heart','shop_panel-item_icon')|raw }}
                </a>
              {% else %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{ current_store.uid }}"
                   data-toggle="tooltip" data-state="add" data-placement="top"
                   data-original-title="{{ t('account', 'favorites_shop_shop_do_add')|raw }}">
                  {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
                </a>
              {% endif %}
            {% else %}
              <a class="shop_panel-item favorite-link" href="#" data-toggle="tooltip" data-placement="top"
                 data-original-title="{{ t('account', 'favorites_shop_do_add')|raw }}">
                {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
              </a>
            {% endif %}

          </div>
          <div class="logo">
            <img class="no_optomize" src="/images/logos/{{ current_store.logo }}" alt="{{ current_store.name }}" height="59px">
          </div>
          <div class="rating">
            {% if store_rating.value > 0 %}
              <a class="site-rating modals_open" href="#reviews/send/{{ store_rating.uid }}">
                {% if store_rating.value > 0 %}
                  {% for i in range(1, store_rating.value|round()) %}
                    {{ svg('star', 'site-rating_star-icon')|raw }}
                  {% endfor %}
                {% endif %}

                {% set estar =  5 - store_rating.value|round() %}
                {% if estar != 0 %}
                  {% for i in range(1, estar) %}
                    {{ svg('star-o', 'site-rating_star-icon')|raw }}
                  {% endfor %}
                {% endif %}
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="shop_header_big-item">
        <div class="shop_header_big-item-head ">
          {{ _if(current_store.is_offline==0, t('main', 'online_shop'), t('main', 'offline_shop')) | raw }}
        </div>
        <div class="shop_header_big-item-body">

          <div class="shop_header_big-share">
            <div class="footer-share-text">{{ t('common', 'share')|raw }}:</div>
            <div class="share42init accauntSoc accauntSoc_32"
                 data-url="{{ _href('/stores/'~current_store.route ~ (current_store.is_offline ? '-offline' : ''), 'https://secretdiscounter.ru')|raw }}"
                 data-title="{{ html.encode(this.title) }}"
                 data-description="{{ this.description }}"
                 data-socials="{{ app.params.regions_list[app.params.region].socialsShareList }}"
                 data-icon-type="svg"
                 data-icon-size=28
            >
            </div>
          </div>

          <div class="shop-howgetcashback">
            <a href="#howgetcashback" class="btn scroll_to">
              {{ t('main', 'store_instruction')|raw }}
            </a>
          </div>

          <div class="shop_header_big-info_line">
            <div class="align-center">
              {{ t('main', 'cashback_will_be_active_in_{timie}_day', {'time': current_store.hold_time})|raw }}
              <span class="avg">
                  {{ t('main', 'average_process_time') }}
                  <a class="shop-name-question" data-placement="top" data-toggle="tooltip" data-clickable="1"
                     data-original-title="{{ t('main', 'time_to_sure_no_money_back')|raw }}"
                  >{{ svg('question-circle-o', 'shop_header_big-question_icon')|raw }}</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shop_header_big-end" id="gotostore">
  {% if current_store.is_active==0 %}
    {% set btn_text =  _constant('shop_offline_text','goto') %}
  {% else %}
    {% set btn_text = t('main', 'start_shopping') %}
  {% endif %}

  {% if current_store.is_offline==0 %}
    {% if user_id %}
      {% if current_store.is_active == 1 %}
        <a href="{{ _href('/goto/store:'~current_store.uid)|raw }}" target="_blank" rel="nofollow noopener"
           class="btn btn-round tablets-btn-red tablets-btn-big shop_header-goto-button">{{ btn_text }}</a>
        <div class="shop_header-goto-agree">
          <input id="shop_header-goto-checkbox" class="checkbox shop_header-goto-checkbox account" type="checkbox" checked><label class="shop_header-goto-agree-label" for="shop_header-goto-checkbox">{{ t('main', 'agree_with_<a href="{href}">terms</a>', {'href':_href('/recommendations')})|raw }}</label>
        </div>
      {% else %}
        <a href="#shop_not_active" ref="confirm" class="btn btn-round tablets-btn-red tablets-btn-big">{{ btn_text }}</a>
      {% endif %}
    {% else %}
      <a href="{{ _href('#login')|raw }}" class="btn btn-round tablets-btn-red tablets-btn-big modals_open">{{ btn_text }}</a>
    {% endif %}
  {% endif %}


  {% if current_store.related and current_store.relatedData.is_active in [0, 1] %}
    <a class="btn btn-black btn-relink btn-block btn-max_width400 btn-margin_vertical btn-margin_auto"
       href="/stores/{{ current_store.relatedData.routeUrl }}">
      {{ _if(current_store.is_offline==0, t('main', 'shop_is_in_offline_too'), t('main', 'shop_is_in_online_too')) }}
    </a>
  {% endif %}
</section>

{% if current_store.is_active==-1 %}
  <section class="shop-no_active margin page-wrap">
    <div class="black_box align-center">
      <h2 class="title-no-line">{{ t('main', 'shop_is_off')|raw }}</h2>
    </div>
  </section>
{% endif %}

{% if current_store.short_description or content %}
  <section class="shop_information tablets_order-1 page-wrap">
    <div class="accordion accordion-only_one accordion_pc_off">

      <div class="shop_information-border">
        <h2 class="accordion-control accordion-title">
          {{ t('main', 'information_about_{store}_', {'store': current_store.name})|raw }}
        </h2>
        <div class="accordion-content">
          {% if current_store.short_description %}
            {{  _tags_class(current_store.short_description, {'a':'blue'})|raw }}
          {% else %}
            {{ _tags_class(content, {'a':'blue'})|raw }}
          {% endif %}
        </div>

      </div>
    </div>
  </section>
{% endif %}


{% if user_id and current_store.test_link==1 %}
  {% include 'parts/stores/link_test.twig' %}
{% endif %}

{% if _is_empty(current_store.displayed_cashback) %}
  <section class="margin page-wrap">
    <div class="red_box red_box-border">
        {{ _constant('shop_no_cashback')|raw }}
    </div>
  </section>
{% endif %}

{% if current_store.is_active==0 %}
  {#<section class="shop_temporaty-inactive margin page-wrap">#}
    {#<div class="black_box align-center">#}
      {#{{ _constant('shop_not_active_description')|raw }}#}
    {#</div>#}
  {#</section>#}
  {#блок с похожими шопами для временно неактивных шопов сюда#}
  {% include 'parts/stores/additional_stores.twig' %}
{% endif %}

{% if current_store.show_products==1 %}
 <section class="margin">
   <div class="page-wrap">
     <h2 class="content-header">{{ t('main', 'shops_produncts_{store}', {'store': current_store.name})|raw }}</h2>

     {% set products = current_store.topProducts  %}

     {% if products|length > 0 %}
       <div class="catalog-stores_list shops margin">
         {% set store = current_store %}
         {% for product in products %}
           {% include 'parts/product.twig' %}
         {% endfor %}
       </div>
     {% else %}
       <p>{{ t('main', 'not_found')|raw }}</p>
     {% endif %}

     <div class="align-center">
       <a href="/products/{{ current_store.route }}" class="btn btn-transform"  target="_blank" rel="noopener noreferrer nofollow">{{ t('main', 'all_shops_produncts_{store}', {'store': current_store.name})|raw }} →</a>
     </div>
   </div>
 </section>
{% endif %}

{% include 'parts/calc_cashback.twig' %}

{% set photos = current_store.photoList %}
{% set videos = current_store.videos %}
{% if photos | length or  videos | length %}
  {% include 'parts/stores/photos.twig' %}
{% endif %}

{% set related_stores = current_store.relatedStores %}
{% if related_stores and  related_stores | length %}

  <section class="tablets_order-1">
    <div class="page-wrap">
      <div class="accordion accordion-only_one accordion_pc_off">
        <h2 class="accordion-control accordion-title">{{ t('main', 'all_shops_of_{network}_', {'network': current_store.network_name})|raw }}</h2>
        <div class="accordion-content">
          <div class="shops">
            {% for store in related_stores %}

              {% include 'parts/shop.twig' %}
            {% endfor %}
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endif %}

{% if current_store.is_offline==1 %}
  {% if store_points and store_points.points|length > 0 %}
    {% include 'parts/stores/store_points.twig' %}
  {% endif %}
{% endif %}

{% include 'parts/stores/comments.twig' %}

{% include 'parts/stores/coupons.twig' %}

{% if current_store.is_active != 0 %}
  {% include 'parts/stores/additional_stores.twig' %}
{% endif %}


  {% if current_store.is_offline==0 and current_store.show_tracking==1 %}
    {% include 'parts/stores/tracker.twig' %}
  {% endif %}

  {% if current_store.description %}
    <section class="tablets_order-1 tablets_hide">
      <div class="page-wrap margin">
        <div class="accordion accordion-only_one accordion_pc_off">
          <h2 class="accordion-control accordion-title">{{ t('main', 'detail_information_about_{store}_', {'store': current_store.name})|raw }}</h2>
          <div class="accordion-content">
            {{ _tags_class(current_store.description, {'a':'blue'})|raw }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% set banners  = banner_widget({
      'place':'shop-page','options':{'random': 1, 'wrapper_class':'page-wrap margin shop-banners', 'item_class':' banner__item shop-banner-item'}
  }) %}
  {% if banners %}
      <section>
          {{ banners|raw }}
      </section>
  {% endif %}

{#<section class="tablets_order-1 gray-box padding-box-mini laptop_no_padding">#}
<section class="tablets_order-1 gray-box gray-box-accordeon padding-box-bottom padding-box-bottom-accordeon">
  <div class="page-wrap">
    <div class="accordion accordion-only_one accordion_pc_off" id="howgetcashback">
      <h2 class="accordion-control accordion-title">
        {% if infotitle %}
          {{ infotitle }}
        {% else %}
          {{ t('main', 'how_to_get_cashback_in_{store}_', {'store': current_store.name}) }}
        {% endif %}
      </h2>
      <div class="accordion-content">
        {% if current_store.is_offline==0 %}
          {% if current_store.cpaLink.cpa_id==2 %}
            {% include 'parts/stores/instruction_online_offline.twig' %}
          {% else %}
            {% include 'parts/stores/instruction_online.twig' %}
          {% endif %}
        {% else %}
          {% include 'parts/stores/instruction_offline.twig' %}
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% if current_store.is_active==0 %}
  <div id="shop_not_active"
      class="notification_data"
      data-title=""
      data-button-no=""
      data-notyfy_class="notify_white"
      data-button-yes="{{ t('main', 'shoose_other_shop')|raw }}"
      data-callback-yes="window.location='{{ _href('/stores'~(referrer_category and referrer_category.route ? '/'~referrer_category.route : ''))|raw }}';"
       >
    {{ _constant('shop_not_active_message')|raw }}
  </div>
{% endif %}

<noindex>
  <div class="catalog_products_store_conditions" id="store_tariffs_id">
    <div class="catalog_products_store_conditions_content">
      {% if current_store.conditions != '' %}
        {{ _no_br(current_store.conditions)|raw }}
      {% else %}
        {{ t('main', 'extended_tarifs_for_{store}_is_empty_cashback_{cashback}', {'store': current_store.name,'cashback': _cashback(current_store.displayed_cashback, current_store.currency, current_store.action_id)})|raw }}
      {% endif %}
    </div>
  </div>
</noindex>
{#
  {% include 'parts/store_rating_microdata.twig' %}
  <a name="reviews"></a>
#}