<section class="shop_header_big">
  <div class="page-wrap">
    <h1 class="shop_header_big-header">
      {% if h1%}
        {{ h1|raw }}
      {% else %}
        Кэшбэк с покупок на {{current_store.name}}
      {% endif %}
    </h1>
    <div class="shop_header_big-wrap">
      <div class="shop_header_big-item">
        <div class="shop_header_big-item-head">
          {{
            _if(current_store.is_offline,
          'Оффлайн-магазин',
          'Интернет-магазин') | raw
          }}

        </div>
        <div class="shop_header_big-item-body">
          Кэшбэк станет активным для вывода через
          <span>{{current_store.hold_time}} дней
                        <a href="#" class="shop-name-question" data-placement="bottom" data-toggle="tooltip"
                           title="Это время требуется магазину, чтобы убедиться, что не будет возврата товара. Нередко кэшбэк подтверждается и раньше.">
                            <i data-tooltip=""
                               class="fa fa-question-circle-o" aria-hidden="true">
                            </i>
                        </a>
                    </span>
          <span class="avg">(среднее время обработки)</span>
          <a href="#" class="btn">Для получения кэшбэка необходимо</a>
        </div>
      </div>

      <div class="shop_header_big-item shop_header_big-item-logo_box">
        <div class="shop_header_big-item-logo">
          <div class="favorite">

            {% if user_id %}
              {% if store.uid in fav_ids %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Удалить магазин из Избранного">
                  {{ svg('heart','shop_panel-item_icon')|raw }}
                </a>
              {% else %}
                <a class="shop_panel-item favorite-link" href="#" data-affiliate-id="{{store.uid}}" data-toggle="tooltip" data-state="add" data-placement="top" data-original-title="Добавить магазин в Избранное">
                  {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
                </a>
              {% endif %}
            {% else %}
              <a class="shop_panel-item favorite-link" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Добавить в Избранное">
                {{ svg('heart','shop_panel-item_icon svg-no-fill')|raw }}
              </a>
            {% endif %}

          </div>
          <div class="logo">
            <img src="/images/logos/{{current_store.logo}}" alt="{{current_store.name}}" height="59px">
          </div>
          <div class="rating">
            {% if store_rating.value > 0 %}
              <a class="site-rating modals_open" href="#reviews/send/{{ store_rating.uid }}">
                {% if store_rating.value > 0 %}
                  {% for i in range(1, store_rating.value|round()) %}
                    {{ svg('star', 'site-rating_star-icon')|raw }}
                  {% endfor %}
                {% endif %}

                {% set estar =  5 - store_rating.value|round() %}
                {% if estar != 0 %}
                  {% for i in range(1, estar) %}
                    {{ svg('star-o', 'site-rating_star-icon')|raw }}
                  {% endfor %}
                {% endif %}
              </a>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="shop_header_big-item">
        <div class="shop_header_big-item-head cashback">
          <div class="{% if current_store.action_id != 0 %}old{% endif %}">
            Кэшбэк
            <span>{{ _cashback(current_store.displayed_cashback, current_store.currency)|raw }}</span>
          </div>
          {% if current_store.action_id != 0 %}
            <div class="promo">
              Кэшбэк
              <span>{{ _cashback(current_store.displayed_cashback, current_store.currency, current_store.action_id)|raw }}</span>
            </div>
          {% endif %}
        </div>
        <div class="shop_header_big-item-body">
          {% if current_store.conditions != '' or current_store.is_active==0 %}
            <div class="additional-information">
              <span>Дополнительная информация:</span>
              <div class="additional-information__content">
                {% if current_store.is_active==0 %}
                  {{ _constant('shop_not_info')|raw}}
                {% endif %}
                {{ _no_br(current_store.conditions)|raw}}
              </div>
              <div >
                <div class="additional-information__handle more"><a href="#">Подробнее<i class="fa fa-small fa-angle-down"></i></a></div>
                <div class="additional-information__handle less"><a href="#">Скрыть<i class="fa fa-small fa-angle-up"></i></a></div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="shop_header_big-end">
    <a href="#" class="btn btn-round">Перейти к покупкам</a>
  </div>
</section>
