<section class="view-store triangle-background">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="shop-name {% if current_store.name|length < 14 %} big {% endif %}">
                    {{ _if(current_store.is_offline,'<span class="shop-name-offline">Offline:</span>') | raw}}
                    {{current_store.name}}
                </div>
                <div class="hold-name">
                    Кэшбэк станет активным для вывода через
                    <span>{{current_store.hold_time}} дней
                        <a href="#" class="shop-name-question" data-placement="bottom" data-toggle="tooltip"
                           title="Это время требуется магазину, чтобы убедиться, что не будет возврата товара. Нередко кэшбэк подтверждается и раньше.">
                            <i data-tooltip=""
                               class="fa fa-question-circle-o" aria-hidden="true">
                            </i>
                        </a>
                    </span>
                    <span class="avg">(среднее время обработки)</span>
                </div>
                <div class="" ></div>
            </div>
            <div class="col-md-4">
                <div class="favorite">
                    {% if user_id %}
                        {% if current_store.uid in fav_ids %}
                        <a class="favorite-link ignore-hash ia" href="#" data-affiliate-id="{{current_store.uid}}" data-toggle="tooltip" data-state="delete" data-placement="top" data-original-title="Удалить из Избранного">
                            {#<span class="fa fa-star"></span>#}
                            <span class="fa fa-heart"></span>
                        </a>
                        {% else %}
                        <a class="favorite-link ignore-hash ia" href="#" data-affiliate-id="{{current_store.uid}}" data-toggle="tooltip" data-state="add" data-placement="top" data-original-title="Добавить в Избранное">
                            {#<span class="fa fa-star-o muted"></span>#}
                            <span class="fa fa-heart-o muted"></span>
                        </a>
                        {% endif %}
                    {% else %}
                    <a class="favorite-link ignore-hash" href="#login" data-toggle="tooltip" data-placement="top" data-original-title="Добавить в избранное">
                        {#<span class="fa fa-star-o muted"></span>#}
                        <span class="fa fa-heart-o muted"></span>
                    </a>
                    {% endif %}
                </div>
                <div class="logo">
                    <img src="/images/logos/{{current_store.logo}}" alt="{{current_store.name}}" height="59px">
                </div>
                <div class="rating">
                    {% if store_rating.value > 0 %}
                        {% for i in range(1, store_rating.value|round()) %}
                            <span class="fa fa-star"></span>
                        {% endfor %}
                    {% endif %}

                    {% set estar =  5 - store_rating.value|round() %}
                    {% if estar != 0 %}
                        {% for i in range(1, estar) %}
                        <span class="fa fa-star-o"></span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="goto {% if current_store.is_offline==1 %}offline{% endif %}" id="goto">
                    {% if current_store.is_offline==0 %}
                        {% if user_id %}
                            {% if current_store.is_active == 1 %}
                                <a href="/goto/store:{{current_store.uid}}" id="gotostore" target="_blank" rel="nofollow noopener" class="btn btn-fill btn-large">Перейти к покупкам</a>
                            {% else %}
                                 <a href="#shop_not_active" ref="popup" class="btn btn-fill btn-large fancybox">Перейти к покупкам</a>
                            {% endif %}
                        {% else %}
                            <a href="#login" id="gotostore" class="btn btn-fill btn-large">Перейти к покупкам</a>
                        {% endif %}
                        <a href="#howgetcashback" class="howgetcashback">Как получить кэшбэк?</a>
                    {% else %}
                        <a href="#howgetcashback" id="gotostore" class="btn btn-fill btn-large">Как получить кэшбэк?</a>
                    {% endif %}
                </div>

            </div>
            <div class="col-md-4">
                <div class="cashback">
                    <div class="{% if current_store.action_id != 0 %}old{% endif %}">
                        Кэшбэк
                        <span>{{ _cashback(current_store.displayed_cashback, current_store.currency)|raw }}</span>
                    </div>
                    {% if current_store.action_id != 0 %}
                        <div class="promo">
                            Кэшбэк
                            <span>{{ _cashback(current_store.displayed_cashback, current_store.currency, current_store.action_id)|raw }}</span>
                        </div>
                    {% endif %}
                </div>
                {% if current_store.conditions != '' or current_store.is_active==0 %}
                <div class="additional-information">
                    <span>Дополнительная информация:</span>
                    <div class="additional-information__content">
                        {% if current_store.is_active==0 %}
                            {{ _constant('shop_not_info')|raw}}
                        {% endif %}
                        {{ _no_br(current_store.conditions)|raw}}
                    </div>
                    <div >
                        <div class="additional-information__handle more"><a href="#">Подробнее<i class="fa fa-small fa-angle-down"></i></a></div>
                        <div class="additional-information__handle less"><a href="#">Скрыть<i class="fa fa-small fa-angle-up"></i></a></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="container">
  <div class="row">
    <h1 class="store-h1">
        {% if h1%}
            {{ h1|raw }}
        {% else %}
            Кэшбэк с покупок на {{current_store.name}}
        {% endif %}
    </h1>
      {% if current_store.related and current_store.relatedData.is_active in [0, 1] %}
          <div class="row" style="text-align: center;">
              <a class="btn btn-relink" style=";display: inline-block;" href="/stores/{{ current_store.relatedData.routeUrl }}">
                  {{ _if(current_store.is_offline==0,'Этот магазин также представлен в оффлайне','Этот магазин также торгует в Интернете') }}
              </a>
          </div>
      {% endif %}
      <div class="store-recommendation-link">
        <p>
            <input id="store-recommendation-link-checkbox" class="checkbox-blue" type="checkbox" checked>
            <label class="checkbox-blue__label" for="store-recommendation-link-checkbox">
                Я ознакомлен и согласен с <a href="/recommendations">Правилами покупок с кэшбэком
                </a>
            </label>
        </p>
      </div>
  </div>
</div>

{% if current_store.is_active==-1 %}
    <section class="store-information store-not-active">
        <div class="container">
            <div class="row">
                <div class="col-md-12 store-not-active__content">
                    <div class="description" style="color:red;text-align: center;">
                        Магазин ВЫКЛЮЧЕН и не доступен посетителям сайта
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if current_store.short_description or content %}
<section class="store-information short-description">
    <div class="container">
        <div class="row">
            {% if current_store.short_description %}
                <div class="col-md-12">
                    <h3 class="text-center">Информация о {{current_store.name}}</h3>
                </div>
                {#<div class="col-md-12 short-description__description less">#}
                <div class="col-md-12 short-description__description">
                    <div class="description">
                        {{ current_store.short_description|raw }}
                    </div>
                </div>
                {#<div >#}
                    {#<div class="short-description__handle more"><a href="#">Подробнее<i class="fa fa-small fa-angle-down"></i></a></div>#}
                    {#<div class="short-description__handle less"><a href="#">Скрыть<i class="fa fa-small fa-angle-up"></i></a></div>#}
                {#</div>#}
            {% else %}
                <div class="col-md-12 short-description__description">
                    <div class="description">
                        {{ content|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}

{% if current_store.is_active==0 %}
    <section class="store-information store-not-active">
        <div class="container">
            <div class="row">
                <div class="col-md-12 store-not-active__content">
                    <div class="description">
                        {{ _constant('shop_not_active_description')|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#блок с похожими шопами для временно неактивных шопов сюда#}
    {% include 'parts/additional_stores.twig' %}
{% endif %}

{% if _is_empty(current_store.displayed_cashback) %}
<section class="store-information store-not-active">
    <div class="container">
        <div class="row no-cashback">
            <div class="col-md-12 store-not-active__content">
                <div class="description">
                    {{ _constant('shop_no_cashback')|raw}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% include 'parts/calc_cashback.twig' %}

{% set photos = current_store.photoList %}
{% set videos = current_store.video %}
{% if photos | length or  videos | length %}
    {% include 'parts/photos.twig' %}
{% endif %}

{% set related_stores = current_store.relatedStores %}
{% if related_stores and  related_stores | length %}
    <section class="store-intro shops" style="padding-top: 0px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Все магазины сети {{ current_store.network_name }}
                    </h3>
                </div>
                {% for store in related_stores %}
                    <div class="col-sm-3 col-md-2">
                        {% include 'parts/shop.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}


{% if current_store.is_offline==1 %}
    {% if store_points and store_points.points|length > 0 %}
        {% include 'parts/store_points.twig' %}
    {% endif %}
{% endif %}

<section class="store-2line">
    <div class="container">
        <div class="row">
            {#% if current_store.is_active==1 %#}
            {% set not_active = 1-current_store.is_active %}
            <div class="col-sm-12 col-md-12">
                <div class="coupons">
                    <h3>Промокоды, купоны и скидки {{current_store.name}}</h3>
                    {% if store_coupons|length > 0 %}
                    <div class="coupons-list" data-mcs-theme="dark">
                        {% for coupon in store_coupons %}
                        <div class="col-sm-12 col-md-6 coupons-item {% if loop.index > 6 %}more{% endif %}">
                        {% include 'parts/coupon.twig' %}
                        </div>
                            {% if (loop.index == 6 and (store_coupons|length > 6)) %}
                                <div class="col-xs-12 store-coupons__buttons more">
                                    <a class="btn store-coupons__show-more" href="#">Показать все ({{ coupons_counts.actual }})</a>
                                </div>
                            {% endif %}

                        {% endfor %}
                        {% if store_coupons|length > 6 or coupons_counts.expired > 0 %}
                            <div class="col-xs-12 store-coupons__buttons {% if store_coupons|length > 6 %}less{% endif %}">
                                {% if store_coupons|length > 6 %} <a class="btn store-coupons__show-less" href="#">Скрыть</a> {% endif %}
                                <a class="btn" target="_blank" href="/coupons"><span>Все купоны и акции ({{ all_coupons_counts.actual }})</span></a>
                                {% if coupons_counts.expired > 0 %}
                                    <a class="btn" target="_blank" href="/coupons/{{ current_store.route }}/expired"><span>Завершившиеся акции, купоны и промокоды ({{ coupons_counts.expired }})</span></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <p class="text-center">На данный момент промокоды, купоны или скидки для магазина</p>
                    <p class="text-center">{{current_store.name}} отсутствуют.</p>
                        {% if coupons_counts.expired > 0 %}
                            <div class="col-xs-12 store-coupons__buttons">
                                <a class="btn" target="_blank" href="/coupons/{{ current_store.routeUrl }}/expired"><span>Завершившиеся акции, купоны и промокоды ({{ coupons_counts.expired }})</span></a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {#% endif %#}
            <a name="reviews"></a>
            <div class="col-sm-12 col-md-12">
                <div class="comments">
                    <h3>Отзывы о {{current_store.name}}</h3>
                    {% if store_reviews|length > 0 %}
                    <div class="cm-wrapper reviews-list" data-mcs-theme="dark">
                        {% for review in store_reviews %}
                            <div class="col-sm-12 col-md-6 reviews-item store-reviews-item {% if loop.index > 6 %}more{% endif %}">
                                {% include 'parts/comment.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="comments-handler">
                    {% if store_reviews|length == 0 %}
                        <p class="ntfnd">На данный момент отзывы о магазине</p>
                        <p>{{current_store.name}} отсутствуют. Будь первым!</p>
                    {% endif %}
                    {% if store_reviews|length > 6 %}
                        <a class="btn store-reviews__show-more" href="#">Показать все ({{ store_reviews|length }})</a>
                        <a class="btn store-reviews__show-less" href="#" style="display: none;">Скрыть все</a>
                    {% endif %}

                    {% if user_id %}
                        <a href="#reviews/send?shop={{ current_store.uid }}" class="btn btn-ghost btn-accent btn-revert ignore-hash ajaxFormOpen">Оставить отзыв</a>
                    {% else %}
                        <p>
                            Для того, чтобы иметь возможность оставлять отзывы, Вам нужно
                            <a href="#login" rel="nofollow">зарегистрироваться</a> или <a href="#login" rel="nofollow">войти в свой аккаунт</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if current_store.is_active != 0 %}
    {% include 'parts/additional_stores.twig' %}
{% endif %}

{#<section class="store-intro shops">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#{% if additional_stores_category %}#}
                    {#<h3>Популярные магазины из раздела#}
                        {#<a href="/stores/{{additional_stores_category.route}}">#}
                            {#{{ additional_stores_category.name }} с кэшбэком#}
                        {#</a>#}
                    {#</h3>#}
                {#{% else %}#}
                    {#<h3>Популярные магазины из <a href="/stores">нашего каталога</a></h3>#}
                {#{% endif %}#}
            {#</div>#}
            {#{% for store in additional_stores %}#}
            {#<div class="col-sm-3 col-md-2">#}
            {#{% include 'parts/shop.twig' %}#}
            {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{% if current_store.is_offline==0  %}
    {% include 'parts/tracker.twig' %}
{% endif %}

{% if current_store.description %}
<section class="store-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Информация о кэшбэк в {{current_store.name}}</h3>
            </div>
            <div class="col-md-12">
                <div class="description">
                {{current_store.description|raw}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if current_store.is_offline==0 %}
    {% if current_store.cpaLink.cpa_id==1 %}
        {% include 'parts/instruction_online.twig' %}
    {% else %}
        {% include 'parts/instruction_online_offline.twig' %}
    {% endif %}
{% else %}
    {% include 'parts/instruction_offline.twig' %}
{% endif %}

<div id="store-information" class="hide" data-store-name="{{current_store.name}}" data-store-id="{{current_store.uid}}"></div>
{% include 'parts/popups/popup-givefeedback.twig' %}

{% if current_store.is_active==0 %}
<div id="shop_not_active" class="notification_data" data-notyfy_class="notify_white" data-button-yes="Продолжить">
    {{ _constant('shop_not_active_message')|raw}}
</div>
{% endif %}

{% include 'parts/store_rating_microdata.twig' %}
