<section class="dobro dobro-head margin align-center">
  <h3 class="dobro-head_header1 align-center">SecretDiscounter</h3>
  <h1 class="align-center">{{ t('main', 'dobro_h1')|raw }}</h1>
</section>

<section class="dobro dobro-body margin section-padding">
  <div class="description">
    <div class="desc-wrapper">
      {{ _constant('dobro_description')|raw }}
    </div>
  </div>
</section>

{% if funds|length > 0 %}
  <section class="dobro-funds margin">
    <h2 class="align-items">{{ t('main', 'dobro_funds')|raw }}</h2>
    {% include('parts/dobro_list.twig') %}
  </section>
{% endif %}
<section class="dobro margin">
  <h2>{{ t('main','dobro_do_together')|raw }}</h2>
  <div class="dobro-advantages margin">
      {{ _constant('dobro_process')|raw }}
  </div>
  <div class="dobro-advantages_button align-center">
    <a href="{{ _href('/stores')|raw }}" class="btn btn-black">{{ t('main', 'dobro_start')|raw }}</a>
  </div>
</section>