{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ html.encode(this.title) }}</h3>
            </div>
            {% set form = active_form_begin() %}

                {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'url').textInput()|raw }}

                {{ form.field(model, 'description').textarea({'rows':6})|raw }}

                {{ form.field(model, 'date_start').textInput()|raw}}

                {{ form.field(model, 'date_end').textInput()|raw }}

                {{ form.field(model, 'type').textInput()|raw }}

                {{ form.field(model, 'html').textarea({'rows':6})|raw }}

                {{ form.field(model, 'image').fileInput()|raw }}
                <img for="Slider[image]" style="max-height: 150px;" src="/images/slides/{{ model.image }}">


                {{ form.field(model, 'show_as').dropDownList({
                    'text' : 'Название+Описание',
                    'html' : 'HTML',
                    'image' : 'Изображение'
                })|raw }}

                {{ form.field(model, 'is_showed').dropDownList({
                    '0' : 'Отключен',
                    '1' : 'Активен',
                })|raw }}

                <div class="form-group">
                    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>