{{ use('/yii/widgets/ActiveForm') }}
<div class="slider-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'description').textarea({'rows':6})|raw }}

        {{ form.field(model, 'date_start').textInput()|raw }}

        {{ form.field(model, 'date_end').textInput()|raw }}

        {{ form.field(model, 'type').textInput()|raw }}

        {{ form.field(model, 'html').textarea({'rows':6})|raw }}

        {{ form.field(model, 'image').textInput({'maxlength':true})|raw }}
        <img for="Slider[image]" style="max-height: 150px;" src="{{ model.image }} | raw }}">

        {{ form.field(model, 'show_as').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'is_showed').textInput()|raw }}

        {{ form.field(model, 'store_id').textInput()|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>