{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ html.encode(this.title) }}</h3>
            </div>
            {% set form = active_form_begin() %}

            <div class="col-md-6">
                {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'sort_index').textInput()|raw}}

                {{ form.field(model, 'is_showed').dropDownList({
                    '0' : 'Отключен',
                    '1' : 'Активен',
                })|raw }}
            </div>
            <div class="col-md-6">
                {{ form.field(model, 'date_start').textInput()|raw}}

                {{ form.field(model, 'date_end').textInput()|raw }}
            </div>


            <link rel="stylesheet" href="/test/slider.css">
            <link rel="stylesheet" href="/test/animationsKeyFrame.css">
            <link rel="stylesheet" href="/test/filebrowser.css">
            <script type="text/javascript" src="/test/slider.js"></script>

            <section id="mega_slider"></section>
            <section id="mega_slider_controle"></section>

            <script type="application/javascript">
                document.addEventListener("DOMContentLoaded", function(event) {
                    data ={{ model.json | raw }};
                    megaslider.init([data], 'Slider[json]');
                });
            </script>

            <div class="form-group col-md-12">
                <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
            </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>