{{ use('/yii/widgets/ActiveForm') }}
{{ use('zxbodya/yii2/elfinder/ElFinderWidget') }}
{{ use('zxbodya/yii2/elfinder/InputWidget') }}
{{ use('mihaildev/elfinder/InputFile') }}
<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ html.encode(this.title) }}</h3>
            </div>
            {% set form = active_form_begin() %}

            <div class="col-md-6">
                {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'sort_index').textInput()|raw}}

                {{ form.field(model, 'is_showed').dropDownList({
                    '0' : 'Отключен',
                    '1' : 'Активен',
                })|raw }}
            </div>
            <div class="col-md-6">
                {{ form.field(model, 'date_start').textInput()|raw}}

                {{ form.field(model, 'date_end').textInput()|raw }}

                {{ form.field(model, 'lang').dropDownList(app.params.language_list)|raw}}
            </div>
            <div class="col-md-6">
            <h4>Позиции</h4>
                {% for key, item in model.places_array %}
                    <div class="form-group field-banners-places">
                        <input type="checkbox" id="banner-banner-places-{{ key }}" name="Slider[slide_places][]" value="{{ key }}"
                            {% if item.checked %} checked {% endif %}
                        >
                        <label class="control-label" for="banner-banner-places-{{ key }}">{{ item.name }}</label>
                        <div class="help-block"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h4>Регионы</h4>
                {% for item in model.regions_array %}
                    <div class="form-group field-banners-places">
                        <input type="checkbox" id="slider-region-{{ key }}" name="Slider[slide_regions][]" value="{{ item.code }}" {% if item.checked %}checked{% endif %}>
                        <label class="control-label" for="slider-region-{{ key }}">{{ item.name }}</label>
                        <div class="help-block"></div>
                    </div>
                {% endfor %}
            </div>

            <section id="mega_slider"></section>
            <section id="mega_slider_controle"></section>

            <script type="application/javascript">
                document.addEventListener("DOMContentLoaded", function(event) {
                    data ={{ model.json | raw }};
                    megaslider.init([data], 'Slider[json]');
                    $('#roxyCustomPanel2 .close').click(function(){
                        $('#roxyCustomPanel2').removeClass('open')
                    })
                });
            </script>

            {{ InputFile_widget({
                'name':'myinput',
                'controller' : 'elfinder',
                'filter' : 'image'
            }) }}
            <div class="form-group col-md-12">
                <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
            </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>
