<span class="catalog_product_cashback-title">+ {{ t('main', 'cashback') }} </span>
<span class="catalog_product_cashback-cashback {% if value == value_new %}is_not_old{% endif %}">
  {% if has_up_to %}
    {{ t('main', 'up_to') }}
  {% endif %}
  {% if value != value_new %}
    {% if is_persent %}
      <span class="shop-cashback-link_cashback_old shop-cashback_old">
        {{ value |raw }}
      </span>
      {{ value_new |raw }}
    {% else %}
      <span class="shop-cashback-link_cashback_old shop-cashback_old_cash">
        {{ value |raw }}
        <span>
          {{ value_new |raw }}
        </span>
      </span>
    {% endif %}
  {% else %}
    {{ value_new |raw }}
  {% endif %}
    <a class="catalog_product_cashback-question modals_popup"
       data-original-html="product_store_cachback_modal_id"
       data-original-h="{{ t('shop', 'product_cashback_modal_title') }}">
        {{ svg('question-circle-o', '', '@frontend')|raw }}
    </a>

</span>
