<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="actions-form">
                    {% set form = active_form_begin() %}

                        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'image').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'page').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'active').checkbox()|raw }}

                        {{ form.field(model, 'date_start').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'date_end').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'action_time').textInput({'maxlength':true})|raw }}

                        <h5>Информировать пользователя</h5>

                        {% for key,item in model.inform_types_select %}
                            <div class="form-group field-actions-inform_types_form-{{ key }}">
                                <label for="actions-inform_types_form-{{ key }}">
                                    <input type="checkbox" id="actions-inform_types_form-{{ key }}"
                                           name="Actions[inform_types_form][]" value="{{ key }}"
                                    {% if key in model.inform_types_array %}checked{% endif %} >
                                    {{ item }}
                                </label>
                                <div class="help-block"></div>
                            </div>
                        {% endfor %}

                        {{ form.field(model, 'promo_start').dropDownList(promos, {'prompt': 'Выберите помокод'})|raw }}

                        {{ form.field(model, 'promo_end').dropDownList(promos, {'prompt': 'Выберите промокод'})|raw }}

                    <div class="form-group">
                        <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Изменить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    </div>
                    {{ active_form_end() }}
                </div>
            </div>
        </div>
        {% if model.isNewRecord == 0 %}
        <div class="row">
            <div class="col-md-12">
                <h3>Условия</h3>
                <a href="admin/actions/add-condition/id:{{ model.uid }}" class="btn btn-success">Добавить условие</a>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Количество рефферралов</th>
                        <th>Количество покупок</th>
                        <th>Статус лояльности</th>
                        <th>Статус вебмастера</th>
                        <th>Дата регистрации от</th>
                        <th>Дата регистрации до</th>
                        <th>Для шопов</th>
                        <th></th>
                    </thead>
                    {% for condition in model.conditions %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ condition.referral_count }}</td>
                            <td>{{ condition.payment_count }}</td>
                            <td>{{ condition.loyalty_status }}</td>
                            <td>{{ condition.bonus_status }}</td>
                            <td>{{ condition.date_register_from }}</td>
                            <td>{{ condition.date_register_to }}</td>
                            <td>{{ condition.stores_list }}</td>
                            <td>
                                <a href="admin/actions/update-condition/id:{{ condition.uid }}" title="Редактировать условие">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="/admin/actions/delete-condition/id:{{ condition.uid }}" title="Удалить условие"
                                   aria-label="Удалить" data-pjax="0"
                                   data-confirm="Вы уверены, что хотите удалить этот элемент?"
                                   data-method="post">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Действия</h3>
                <a href="admin/actions/add-action/id:{{ model.uid }}" class="btn btn-success">Добавить действие</a>
            </div>
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Количество покупок</th>
                        <th>Количество покупок реферралов</th>
                        <th>Количество покупок новых реферралов</th>
                        <th>Покупки в шопах</th>
                        <th>Количество приведённых реферралов</th>
                        <th></th>
                    </thead>
                    {% for action in model.actionsActions %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ action.payment_count }}</td>
                            <td>{{ action.users_payment_count }}</td>
                            <td>{{ action.new_users_payment_count }}</td>
                            <td>{{ action.payment_stores_list }}</td>
                            <td>{{ action.referral_count }}</td>
                            <td>
                                <a href="admin/actions/update-action/id:{{ action.uid }}" title="Редактировать действие">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="/admin/actions/delete-action/id:{{ action.uid }}" title="Удалить действие"
                                   aria-label="Удалить" data-pjax="0"
                                   data-confirm="Вы уверены, что хотите удалить этот элемент?"
                                   data-method="post">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </section>
</div>