{% set title = model.isNewRecord ? 'Создать условие' : 'Изменить условие: id = ' ~ model.uid %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Actions', 'url': path(['index'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([{'label': model.isNewRecord ? 'Create' : 'Update: '~model.uid }]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="actions-update">
    <h1>{{ html.encode(this.title) }}</h1>
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                    {{ use('/yii/widgets/ActiveForm') }}
                    <div class="actions-form">
                        {% set form = active_form_begin() %}

                        {{ form.field(model, 'action_id').hiddenInput().label(false)|raw }}

                        {{ form.field(model, 'referral_count').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'payment_count').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'loyalty_status').dropDownList(loyalty_statuses, {'prompt': 'Выберите статус'})|raw }}

                        {{ form.field(model, 'bonus_status').dropDownList(bonus_statuses, {'prompt': 'Выберите статус'})|raw  }}

                        {{ form.field(model, 'date_register_from').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'date_register_to').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'stores_list').textInput({'maxlength':true})|raw  }}

                        <div class="form-group">
                            <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Изменить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                        </div>
                        {{ active_form_end() }}
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>