{% set title = model.isNewRecord ? 'Создать условие' : 'Изменить условие: id = ' ~ model.uid~' акции '~model.action.name %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Actions', 'url': path(['index'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([{'label': model.isNewRecord ? 'Create' : 'Update: '~model.uid }]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="actions-update">
    <h1>{{ html.encode(this.title) }}</h1>
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                    {{ use('/yii/widgets/ActiveForm') }}
                    <div class="actions-form">
                        {% set form = active_form_begin() %}

                        {{ form.field(model, 'action_id').hiddenInput().label(false)|raw }}

                        <div class="form-group field-actionsconditions-referral_count">
                            <label class="control-label" for="actionsconditions-referral_count">Количество рефералов</label>
                            <div class="form-group-inline">
                                <select class="form-control form-control-inline-10" name="ActionsConditions[referral_count_operator]" id="actionsconditions-referral_count_operator">
                                    {% for operator in model.operators %}
                                        <option value="{{ operator }}" {% if operator == model.referral_count_operator %}selected{% endif %}>{{ operator }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" id="actionsconditions-referral_count" class="form-control form-control-inline form-control-inline-90 " name="ActionsConditions[referral_count]" value="{{ model.referral_count }}">
                            </div>
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-actionsconditions-payment_count">
                            <label class="control-label" for="actionsconditions-payment_count">Количество покупок</label>
                            <div class="form-group-inline">
                                <select class="form-control form-control-inline-10" name="ActionsConditions[payment_count_operator]" id="actionsconditions-payment_count_operator">
                                    {% for operator in model.operators %}
                                        <option value="{{ operator }}" {% if operator == model.payment_count_operator %}selected{% endif %}>{{ operator }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" id="actionsconditions-payment_count" class="form-control form-control-inline form-control-inline-90 " name="ActionsConditions[payment_count]" value="{{ model.payment_count }}">
                            </div>
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-actionsconditions-loyalty_status">
                            <label class="control-label" for="actionsconditions-loyalty_status">Статус лояльности</label>
                            <div class="form-group-inline">
                                <select class="form-control form-control-inline-10" name="ActionsConditions[loyalty_status_operator]" id="actionsconditions-loyalty_status_operator">
                                    {% for operator in model.operators %}
                                        <option value="{{ operator }}" {% if operator == model.loyalty_status_operator %}selected{% endif %}>{{ operator }}</option>
                                    {% endfor %}
                                </select>
                                <select id="actionsconditions-loyalty_status" class="form-control form-control-inline-90" name="ActionsConditions[loyalty_status]">
                                    <option value="">Выберите статус</option>
                                    {% for key,status in loyalty_statuses %}
                                        <option value="{{ key }}" {% if model.loyalty_status != "" and key == model.loyalty_status %}selected{% endif %} >{{ status }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="help-block"></div>
                        </div>

                        <div class="form-group field-actionsconditions-bonus_status">
                            <label class="control-label" for="actionsconditions-bonus_status">Статус вебмастера</label>
                            <div class="form-group-inline">
                                <select class="form-control form-control-inline-10" name="ActionsConditions[bonus_status_operator]" id="actionsconditions-bonus_status_operator">
                                    {% for operator in model.operators %}
                                        <option value="{{ operator }}" {% if operator == model.bonus_status_operator %}selected{% endif %}>{{ operator }}</option>
                                    {% endfor %}
                                </select>
                                <select id="actionsconditions-bonus_status" class="form-control" name="ActionsConditions[bonus_status]">
                                    <option value="">Выберите статус</option>
                                    {% for key,status in bonus_statuses %}
                                        <option value="{{ key }}" {% if model.bonus_status != "" and key == model.bonus_status %}selected{% endif %}>{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="help-block"></div>
                        </div>

                        {{ form.field(model, 'date_register_from').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'date_register_to').textInput({'placeholder' :"YYYY-MM-DD HH:ММ:CC"})|raw }}

                        {{ form.field(model, 'stores_list').textInput({'maxlength':true})|raw  }}

                        <div class="form-group">
                            <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Изменить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                        </div>
                        {{ active_form_end() }}
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>