{{ use('/yii/grid/GridView') }}
{% set title = 'Пожертвования' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="charity-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <h1>{{ html.encode(this.title) }}</h1>
                <div class="col-md-12" style="text-align:right;">
                    <a href="" class="charity-action btn btn-default status_0" data-value="0"><span class="fa fa-clock-o"></span> В ожидании</a>
                    <a href="" class="charity-action btn btn-default status_1" data-value="1"><span class="fa fa-times"></span> Отклонён</a>
                    <a href="" class="charity-action btn btn-default status_2" data-value="2"><span class="fa fa-check"></span> Проведён</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">



                    {# include('_search.twig', {'model': searchModel}) #}
                    {#<p>#}
                        {#<a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Charity' }}</a>#}
                    {#</p>#}
                    {{ grid_view_widget({
                            'id': 'grid-charity',
                            'dataProvider': dataProvider,
                            'filterModel': searchModel,
                                'columns': [
                                {'class': '\\yii\\grid\\SerialColumn'},
                                {'class': '\\yii\\grid\\CheckboxColumn',
                                    'headerOptions' : {
                                    'class' : 'col-md-1',
                                    },
                                },
                                {
                                    'attribute':'uid',
                                    'headerOptions' : {
                                        'class' : 'col-md-1',
                                    },
                                },
                                {
                                    'format':'raw',
                                    'attribute':'user_id',
                                    'value' : tableValue.user,
                                },
                                {
                                    'format':'raw',
                                    'attribute':'foundation_id',
                                    'value' : tableValue.foundation,
                                },
                                'amount',
                                {
                                    'format':'raw',
                                    'attribute':'added',
                                    'headerOptions' : {
                                        'class' : 'col-md-2'
                                    },
                                    'filter': dataRanger
                                },
                                {
                                    'format':'raw',
                                    'attribute':'is_listed',
                                    'filter':{
                                        '':'Любой',
                                        0:"В ожидании",
                                        1:"Отменен",
                                        2:"Подтвержден",
                                    },
                                    'value' : tableValue.status
                                },
                            ],
                        })
                    }}
                {#
                'note',
                'is_showed',
                #}
                </div>
            </div>
        </section>
    </div>
</div>