<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="meta-form">
                    
                    <p>
                        В метотегах можно использовать <a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank" rel="noreferrer nofollow">emoji</a>
                    </p>
                    {% set form = active_form_begin() %}

                        {{ form.field(model, 'page').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'description').textarea({'rows':6})|raw }}

                        {{ form.field(model, 'keywords').textarea({'rows':6})|raw }}

                        {{ form.field(model, 'h1').textInput({'maxlength':true})|raw }}
                        {{ form.field(model, 'h1_class').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'content').widget(TinyMce.className(),params('TinyMce'))|raw }}

                        <h4>Изображение заставка</h4>
                        <p>
                            <img for="Meta[backgroundImageImage]" style="max-height: 480px;" src="img/{{ model.backgroundImageImage | raw }}">
                        </p>
                        {{ form.field(model, 'backgroundImageImage').fileInput().label(false)|raw }}

                        {#{{ form.field(model, 'backgroundImageAlt').textInput({'maxlength':true})|raw }}#}

                        {{ form.field(model, 'backgroundImageClassName').dropDownList({"":"Стандартное отображение", "plugin":"Страница установки плагина"})|raw }}

                        {{ form.field(model, 'h2').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'show_breadcrumbs').dropDownList({0:"Скрыть",1:"Отобразить"})|raw }}

                        <h4>Тэги микрозазметки</h4>

                        {% for attribute, groups in model.metaTags  %}
                            {% for name, property in groups %}
                                {#{{ model.metaTagArray[attribute~'.'~name][0] }}#}
                                {#{{ form.field(model, 'metaTagArray['~attribute~'.'~name~']').widget(MultipleInput.className(), {#}
                                    {#'allowEmptyList':true,#}
                                    {#'columns': [#}
                                        {#{#}
                                            {#'name': 'data_meta',#}
                                            {#'title': 'data_meta',#}
                                            {#'value': meta_table.data_meta#}
                                        {#},#}
                                    {#]#}
                                {#}).label(attribute~' '~name)|raw }}#}
                                <div class="form-group field-meta-metatagarray-{{ attribute }}-{{ name }}">
                                    <label class="meta-metatagarray-label">&lt;meta {{ attribute }}="{{ name }}" content="{{ property }}"&gt;</label>
                                    <table class="table" data-attribute="{{ attribute }}" data-name="{{ name }}">
                                        {% for key, value in model.metaTagArray[attribute~'.'~name] %}
                                            <tr class="multiple-input-list__item">
                                                <td class="list-cell__data_meta">
                                                    <div class="form-group">
                                                        <input type="text"
                                                               class="form-control meta-metatagarray" name="Meta[metaTagArray][{{ attribute }}.{{ name }}][]"
                                                            value="{{ value }}">
                                                    </div>

                                                </td>
                                                <td class="list-cell__button">
                                                    <div class="btn multiple-input-list__btn meta-input-remove btn btn-danger"><i class="glyphicon glyphicon-remove"></i></div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="list-cell__data_meta">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" list="meta-metatagarray-datalist"/>
                                                </div>

                                            </td>
                                            <td class="list-cell__button">
                                                <div data-key="{{ attribute }}.{{ name }}" class="btn multiple-input-list__btn meta-input-plus btn btn-default"><i class="glyphicon glyphicon-plus"></i></div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            <br>

                        {% endfor %}
                        {% endfor %}
                    <datalist id="meta-metatagarray-datalist">
                        {% for prop_key, prop_value in model.metaProperties %}
                            <option value="{{ prop_key }}">{{ prop_value }}</option>
                        {% endfor %}
                    </datalist>
                        
                    <div class="form-group">
                        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    </div>
                    {{ active_form_end() }}
                </div>
            </div>
        </div>
    </section>
</div>