<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="meta-form">
                    
                    <p>
                        В метотегах можно использовать <a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank" rel="noreferrer nofollow">emoji</a>
                    </p>
                    {% set form = active_form_begin() %}

                        {{ form.field(model, 'page').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'title').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'description').textarea({'rows':6})|raw }}

                        {{ form.field(model, 'keywords').textarea({'rows':6})|raw }}

                        {{ form.field(model, 'h1').textInput({'maxlength':true})|raw }}
                        {{ form.field(model, 'h1_class').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'content').widget(TinyMce.className(),params('TinyMce'))|raw }}

                        <h4>Изображение заставка</h4>
                        <p>
                            <img for="Meta[backgroundImageImage]" style="max-height: 480px;" src="img/{{ model.backgroundImageImage | raw }}">
                        </p>
                        {{ form.field(model, 'backgroundImageImage').fileInput().label(false)|raw }}

                        {#{{ form.field(model, 'backgroundImageAlt').textInput({'maxlength':true})|raw }}#}

                        {{ form.field(model, 'backgroundImageClassName').dropDownList({"":"Стандартное отображение", "plugin":"Страница установки плагина"})|raw }}

                        {{ form.field(model, 'h2').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'show_breadcrumbs').dropDownList({0:"Скрыть",1:"Отобразить"})|raw }}



                </div>
            </div>
            <div class="col-md-12 tarif_select_blk">
                <h3>Переводы</h3>
                {% for k,lang in languages %}
                    <input type="radio" class="controls_option" value="{{ k }}" checked="" id="option_tab_{{ k }}"
                           name="tabs_open">
                {% endfor %}
                <ul class="tab_control">
                    {% for k,lang in languages %}
                        <li class="tab_butt_{{ k }}">
                            <label for="option_tab_{{ k }}">
                                <img src="/images/flag/{{ k }}.svg" height="12px">
                                {{ lang.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <div class="content_tab">
                    {% for k,lang in languages %}
                        <div class="cpa_box tab_{{ k }}">
                            {{ form.field(lang.model, 'title').textInput({'maxlength':true})|raw }}

                            {{ form.field(lang.model, 'description').textarea({'rows':6})|raw }}

                            {{ form.field(lang.model, 'keywords').textarea({'rows':6})|raw }}

                            {{ form.field(lang.model, 'h1').textInput({'maxlength':true})|raw }}

                            {{ form.field(lang.model, 'content').widget(TinyMce.className(),params('TinyMce'))|raw }}

                            <h4>Изображение заставка</h4>
                            <p>
                                <img for="Meta_{{ k }}[backgroundImageImage]" style="max-height: 480px;" src="img/{{ lang.model.backgroundImageImage | raw }}">
                            </p>
                            {{ form.field(lang.model, 'backgroundImageImage').fileInput().label(false)|raw }}

                            {{ form.field(lang.model, 'backgroundImageClassName').dropDownList({"":"Стандартное отображение", "plugin":"Страница установки плагина"})|raw }}

                            {{ form.field(lang.model, 'h2').textInput({'maxlength':true})|raw }}

                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
            </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>

<style>
    {% for k,lang in languages %}
    #option_tab_{{ k }}:checked ~ ul .tab_butt_{{ k }} {
        background: #fbcf4a;
    }

    #option_tab_{{ k }}:checked ~ .content_tab .tab_{{ k }} {
        display: block;
    }

    #option_tab_{{ k }}:checked {
        color: #000;
    }

    {% endfor %}
</style>