<div class="content-wrapper">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ html.encode(this.title) }}</h1>
                {{ use('/yii/widgets/ActiveForm') }}
                <div class="meta-form">
                    
                    <p>
                        В метатегах можно использовать <a href="https://unicode.org/emoji/charts/full-emoji-list.html" target="_blank" rel="noreferrer nofollow">emoji</a>
                    </p>
                    {% set form = active_form_begin() %}

                        {{ form.field(model, 'page').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'h1_class').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'show_breadcrumbs').dropDownList({0:"Скрыть",1:"Отобразить"})|raw }}

                        {{ form.field(model, 'meta_tags_type').dropDownList({0:"По умолчанию",1:"Ручной ввод"})|raw }}

                        <h4>Тэги микрозазметки</h4>

                        {{ form.field(model, 'metaTitle').textInput({'maxlength':true})|raw }}

                        {{ form.field(model, 'metaDescription').textArea({'rows':6})|raw }}

                        {{ form.field(model, 'metaImage').textInput({'maxlength':true})|raw }}


                </div>
            </div>
            <div class="col-md-12 tarif_select_blk">
                <h3>Содержимое</h3>
                {% for k,lang in languages %}
                    <input type="radio" class="controls_option" value="{{ lang.code }}" {% if lang.code == app.params.base_lang %}checked{% endif %} id="option_tab_{{ lang.code }}"
                           name="tabs_open">
                {% endfor %}
                <ul class="tab_control">
                    {% for k,lang in languages %}
                        <li class="tab_butt_{{ lang.code }}">
                            <label for="option_tab_{{ lang.code }}">
                                <img src="/images/flag/{{ lang.code }}.svg" height="12px">
                                {{ lang.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>

                <div class="content_tab">
                    {% for k,lang in languages %}

                        {% set loop_model = lang.code == app.params.base_lang ? model : lang.model %}

                        <div class="cpa_box tab_{{ lang.code }}">
                            {% for r, region in lang.regions %}
                                <input type="radio" class="controls_option" value="{{ lang.code }}_{{ str_replace('.', '_', r) }}" id="option_tab_{{ lang.code }}_{{ str_replace('.', '_', r) }}"
                                       name="tabs_open_{{ lang.code }}" {% if loop.first %}checked{% endif %}>
                            {% endfor %}
                            <ul class="tab_control">
                                {% for r,region in lang.regions %}
                                    <li class="tab_butt_{{ lang.code }}_{{ str_replace('.', '_', r) }}">
                                        <label for="option_tab_{{ lang.code }}_{{ str_replace('.', '_', r) }}">
                                            {{ region.name }} {{ lang.name }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="content_tab">
                                {% for r,region in lang.regions %}
                                    <div class="tab_{{ lang.code }}_{{ str_replace('.', '_', r) }}">
                                        {{ form.field(loop_model, 'regionsPostData[title]['~r~']').textInput({'maxlength':true, 'value': loop_model.regionsData.title[r]}).label('Title')|raw }}
                                        {{ form.field(loop_model, 'regionsPostData[h1]['~r~']').textInput({'maxlength':true, 'value': loop_model.regionsData.h1[r]}).label('H1')|raw }}
                                        {{ form.field(loop_model, 'regionsPostData[description]['~r~']').textInput({'maxlength':true, 'value': loop_model.regionsData.description[r]}).label('Description')|raw }}
                                    </div>
                                {% endfor %}
                            </div>

                            {{ form.field(loop_model, 'keywords').textarea({'rows':6})|raw }}

                            {{ form.field(loop_model, 'content').widget(TinyMce.className(),params('TinyMce'))|raw }}

                            <h4>Изображение заставка</h4>
                            <p>
                                <img for="Meta_{{ k }}[backgroundImageImage]" style="max-height: 480px;" src="img/{{ loop_model.backgroundImageImage | raw }}">
                            </p>
                            {{ form.field(loop_model, 'backgroundImageImage').fileInput().label(false)|raw }}

                            {{ form.field(loop_model, 'backgroundImageClassName').dropDownList({"":"Стандартное отображение", "plugin":"Страница установки плагина"})|raw }}

                            {{ form.field(loop_model, 'h2').textInput({'maxlength':true})|raw }}

                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">

                </div>
            </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>

{% include('parts/admin/tabs_styles.twig') %}