{{ use('/yii/widgets/ActiveForm') }}
<div class="product-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'categoriesTree').textInput({'maxlength':true, 'disabled':true}).label('Категории')|raw }}

        <div class="form-group field-product-category_id">
            <label class="control-label" for="product-category_id">Категория</label>
            <input class="category_tree_input" id="product-category_id" type="hidden"
               name="Product[category_id]" value="{{ model.categoryId }}" data-root="Корень">
            <div class="help-block"></div>
        </div>

        {{ form.field(model, 'article').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'namesort').textInput({'disabled':true})|raw }}

        {{ form.field(model, 'description').textarea({'rows':6})|raw }}

        {{ form.field(model, 'price').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'old_price').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'currency').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'available').dropDownList(availableFilter, {'prompt':'Выберите доступность'})|raw }}

        {{ form.field(model, 'image').textInput({'maxlength':true})|raw }}

        <div class="form-group">
            <img src="{{ img }}" style="max-height: 200px;" >
        </div>

        {{ form.field(model, 'url').textInput({'maxlength':true})|raw }}

        {{ form.field(model, 'vendor_id').textInput({'maxlength':true})|raw }}

        <div class="form-group">
            <label>Params</label>
            <ul style="margin: 10px 0;">
                {% for key,params in model.params %}
                    <li style="list-style-type:none">
                        {{ key }}:{% for param in params %} {{ param }}{% if loop.last == false %},{% endif %} {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {{ form.field(model, 'params_original').textInput({'maxlength':true, 'disabled':true})|raw }}

        <div class="form-group field-product-store">
            <label class="control-label" for="product-store">Магазин</label>
            <span id="product-store" class="form-control" disabled>{{ model.store.name }}</span>
        </div>

        {{ form.field(model, 'modified_time').textInput({'disabled': true})|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}

    {#<div class="form-group">#}
        {#<label>Категории</label>#}
        {#{% include('category_tree.twig') %}#}
    {#</div>#}
</div>

<script>
    var category_data='{{ product_categories_data|raw }}';
</script>