{{ use('/yii/widgets/ActiveForm') }}
<div class="product-search">
    {% set form = active_form_begin({
            'action': ['index'],
            'method': 'get',
        })
    %}

    {{ form.field(model, 'id')|raw }}

    {{ form.field(model, 'article')|raw }}

    {{ form.field(model, 'available')|raw }}

    {{ form.field(model, 'currency')|raw }}

    {{ form.field(model, 'description')|raw }}

    {# form.field(model, 'store')|raw #}

    {# form.field(model, 'modified_time')|raw #}

    {# form.field(model, 'name')|raw #}

    {# form.field(model, 'old_price')|raw #}

    {# form.field(model, 'price')|raw #}

    {# form.field(model, 'params')|raw #}

    {# form.field(model, 'image')|raw #}

    {# form.field(model, 'url')|raw #}

    {# form.field(model, 'vendor')|raw #}

    <div class="form-group">
        <input type="submit" value="{{ 'Search' }}" class="btn btn-primary">
        <input type="reset" value="{{ 'Reset' }}" class="btn btn-default">
    </div>
    {{ active_form_end() }}
</div>