{{ use('/yii/grid/GridView') }}
{% set title = 'Products' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="product-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                </div>
            </div>
            <div class="row">
                <form method="get">
                    {% for key, value in get if key != 'param' and key !='value' and value %}
                        <input type="hidden" name="ProductSearch[{{ key }}]" value="{{ value }}">
                    {% endfor %}
                    <div class="col-md-4">
                        {% set values_option = '' %}
                        <select id="form-product-select-param" class="form-control " name="ProductSearch[param]" >
                            <option value="">Выберите параметр</option>
                            {% for param in params %}
                                {% set values_options = '<option value="">Выберите значение</option>' %}
                                {% for param_values in param.values %}
                                    {% set values_options = values_options~'<option '~(get and param_values.name == get.value ? 'selected' : '')~' value="'~param_values.name~'" data-id="'~param_values.id~'">'~param_values.name~'</option>' %}
                                {% endfor %}
                                <option value="{{ param.name }}" data-id="{{ param.id }}" data-options="{{ values_options}}"
                                     {% if get and param.name == get.param %} selected {% set values_option = values_options %} {% endif %}>{{ param.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="form-product-select-value" class="form-control" name="ProductSearch[value]" >
                            {{ values_option|raw }}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-primary" type="submit" value="Поиск">
                        <a class="btn btn-primary" href="/admin/product" >Сбросить фильтр</a>
                    </div>
                </form>
            </div>
            <div class="row">

                <div  class="col-md-12">
                {{ grid_view_widget({
                        'dataProvider': dataProvider,
                        'filterModel': searchModel,
                            'columns': [
                            {'class': '\\yii\\grid\\SerialColumn'},

                            'id',
                            'name',
                            {
                                'attribute':'store_id',
                                'value': 'store.name',
                                'format': 'raw',
                                'filter': filterStores
                            },
                            {
                                'attribute':'catalog_id',
                                'value': 'catalog.name',
                                'format':'raw',
                                'filter': filterCatalog
                            },
                            {
                                'format':'raw',
                                'attribute':'image',
                                'value':tableData.image,
                                'filter':false
                            },
                            'article',
                            'old_price',
                            'price',
                            'currency',
                            {
                                'format':'raw',
                                'attribute':'product_categories',
                                'value':tableData.categories,
                                'filter':categories,
                            },
                            {
                                'attribute':'params',
                                'format': 'raw',
                                'filter': null,
                                'value': tableData.params
                            },
                            {
                                'format':'raw',
                                'attribute':'url',
                                'value':tableData.url,
                            },
                            'vendor',
                            {
                                'format':'raw',
                                'attribute':'available',
                                'value':tableData.available,
                                'filter':availableFilter,
                            },
                            {'class': '\\yii\\grid\\ActionColumn', 'template': '{update} {delete}'},
                        ],
                    })
                }}
                </div>
            </div>
        </section>
    </div>
{#
'store',
'modified_time',
'name',
'old_price',
'price',
'params:ntext',
'image',
'url:url',
'vendor'
                            {
                                'attribute':'cpa_id',
                                'value': 'cpa.name',
                                'filter': filterCpa
                            },
#}
</div>