{{ use('/yii/grid/GridView') }}
{% set title = 'Products' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="product-index">
    <div class="content-wrapper">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ html.encode(this.title) }}</h1>
                </div>
            </div>
            <div class="row">
                <form method="get">
                    <div class="col-md-4">
                        <select id="form-product-select-param" class="form-control " name="ProductSearch[param]" >
                            <option value="">Выберите параметр</option>
                            {% for param in params %}
                            <option value="{{ param.id }}" data-values="{{ param.values }}">{{ param.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="form-product-select-value" class="form-control" name="ProductSearch[value]" >
                            <option value="">Выберите значение</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-primary" type="submit" value="Поиск">
                    </div>
                </form>
            </div>
            <div class="row">

                <div  class="col-md-12">
                {{ grid_view_widget({
                        'dataProvider': dataProvider,
                        'filterModel': searchModel,
                            'columns': [
                            {'class': '\\yii\\grid\\SerialColumn'},

                            'id',
                            'name',
                            {
                                'format':'raw',
                                'attribute':'image',
                                'value':tableData.image,
                                'filter':false,
                            },
                            'article',
                            'old_price',
                            'price',
                            'currency',
                            {
                                'format':'raw',
                                'attribute':'product_categories',
                                'value':tableData.categories,
                                'filter':categories,
                            },
                            {
                                'format':'raw',
                                'attribute':'url',
                                'value':tableData.url,
                            },
                            'vendor',
                            {
                                'format':'raw',
                                'attribute':'available',
                                'value':tableData.available,
                                'filter':availableFilter,
                            },
                            {'class': '\\yii\\grid\\ActionColumn', 'template': '{update} {delete}'},
                        ],
                    })
                }}
                </div>
            </div>
        </section>
    </div>
{#
'store',
'modified_time',
'name',
'old_price',
'price',
'params:ntext',
'image',
'url:url',
'vendor'
#}
</div>