{{ use('/yii/widgets/ActiveForm') }}
<div class="catalog-stores-form">
  {% set form = active_form_begin() %}

  {{ form.field(model, 'id').textInput({'disabled':true})|raw }}

  {{ form.field(model, 'cpa_link_id').textInput()|raw }}
  <div>
    <b>Магазин:</b>
    {{ model.store.name }}
  </div>

  {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

  {{ form.field(model, 'csv').textInput({'maxlength':true})|raw }}

  {{ form.field(model, 'product_count').textInput()|raw }}

  {{ form.field(model, 'active').dropDownList(activeFilter)|raw }}

  {{ form.field(model, 'date_import').textInput()|raw }}

  {{ form.field(model, 'date_download').textInput({'disabled':true})|raw }}

  <div>
    <h3>Регионы:</h3>
      {% for region,areas in regionsList %}
        <b>{{ region }}</b>
          <div>
          {% for area in areas %}
            <div class="form-group field-banners-places">
              <input type="checkbox" id="banner-region-{{ area }}" name="CatalogStores[catalog_regions][]" value="{{ area }}" {% if area in model.regions %}checked{% endif %}>
              <label class="control-label" for="banner-region-{{ area }}">{{ area }}</label>
              <div class="help-block"></div>
            </div>
          {% endfor %}
          </div>
      {% endfor %}
  </div>


  {{ form.field(model, 'crated_at').textInput({'disabled':true})|raw }}



  <div class="form-group">
    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}"
           class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
  </div>
  {{ active_form_end() }}
</div>