{{ use('/yii/widgets/ActiveForm') }}
<div class="catalog-stores-form">
  {% set form = active_form_begin() %}

  {{ form.field(model, 'id').textInput({'disabled':true})|raw }}

  {{ form.field(model, 'cpa_link_id').textInput()|raw }}
  <div>
    <b>Магазин:</b>
    {{ model.store.name }}
  </div>

  {{ form.field(model, 'name').textInput({'maxlength':true})|raw }}

  {{ form.field(model, 'csv').textInput({'maxlength':true})|raw }}

  {{ form.field(model, 'product_count').textInput()|raw }}

  {{ form.field(model, 'active').dropDownList(activeFilter)|raw }}

  {{ form.field(model, 'date_import').textInput()|raw }}

  {{ form.field(model, 'date_download').textInput({'disabled':true})|raw }}

  <div class="form-group">
    <label for="catalog-stores-catalog-regions">Регион</label>
    <select class="form-control" name="CatalogStores[catalog_regions]"  id="catalog-stores-catalog-regions">
      <option value="">Задайте регион</option>
      {% for region, regionName in regionsList %}
        <option value="{{ region }}" {% if region in model.regions %}selected{% endif %}>{{ regionName }}</option>
      {% endfor %}
    </select>
  </div>

  {{ form.field(model, 'crated_at').textInput({'disabled':true})|raw }}

  <div class="form-group">
    <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}"
           class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
  </div>
  {{ active_form_end() }}
</div>