
<div class="catalog-categories-account_menu{% if header == 1 %}-header{% endif %}" >

    {% set curr = t('main', app.user.identity.currency) %}

    <div class="account-menu_header">
        <div class="account-menu_header-avatar">
            <div class="account-menu_header-avatar-image">
                <img src="{{ user_avatar }}" class="no_optomize" alt="{{ this.user.name }}">
            </div>
        </div>
        <div class="account-menu_header-info">
            <div class="account-menu_header-info-name">
                {{ this.user.name }}
            </div>
            <div class="account-menu_header-info-balance">
                <a href="/account/payments" class="account-menu_header-info-balance-link">
                    <span class="account-menu_header-info-balance-link-confirmed" >
                  {{ _nf(this.balance.current) | raw}} {{ curr|raw }}</span>
                    <span class="account-menu_header-info-balance-link-all">&nbsp;/&nbsp;{{ _nf(this.balance.pending) | raw}} {{ curr|raw }} </span>
                </a>
            </div>
            <div class="account-menu_header-info-id">
                ID:&nbsp;{{ this.user.uid }} {% if header == 0 %}<a
                    class="set_clipboard"
                    data-clipboard="{{ this.user.uid }}"
                    data-clipboard-notify="{{ t('account', 'account_id_copied') }}"
                    href=""
                    >{{ t('common', 'copy_lower') }}</a> {% endif %}
            </div>
        </div>
    </div>

    <ul>
        {% if header != 1 %}
            <li>
                {% if this.isWebMaster or this.user.waitModeration==1 %}
                    {{ get_menu_item({'href':'/account/webmaster', 'left-icon': 'dollar', 'title': t('account', 'menu_web_master')})|raw }}
                {% else %}
                    {{ get_menu_item({'href':'/account/affiliate', 'left-icon': 'dollar', 'title': t('account', 'menu_affiliate')})|raw }}
                {%  endif %}
            </li>
        {% endif %}

        <li class="overview users">
            {{ get_menu_item({
                'href':'/account',
                'title': t('account', 'menu_main_page'),
                'left-icon': 'user',
            })|raw }}
        </li>

        {% if header == 1 %}
            <li>
                {{ get_menu_item({
                    'href':'/account/payments',
                    'left-icon': 'history',
                    'title': t('account', 'menu_history'
                    )})|raw }}
            </li>
            <li>
                {{ get_menu_item({
                    'href':'/account/affiliate',
                    'left-icon': 'money-bag',
                    'title': t('account', 'affiliate_referrals_payments'
                    )})|raw }}
            </li>
        {% else %}
            <li class="has-children bookmarks">
                {{ get_menu_item({
                    'href':'/account/payments',
                    'title': t('account', 'menu_history'),
                    'left-icon': 'history',
                    'right-icon': 'angle-right'
                })|raw }}
                <ul>
                    <li>
                        {{ get_menu_item({'href':'/account/payments', 'title': t('account', 'menu_history_payments')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/bonuses', 'title': t('account', 'menu_history_bonuses')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/transitions', 'title': t('account', 'menu_history_visits')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/withdraw/history', 'title': t('account', 'menu_history_withdraw')})|raw }}
                    </li>
                    <li>
                        {{ get_menu_item({'href':'/account/charity', 'title': t('account', 'menu_history_charity')})|raw }}
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if header != 1 %}
            <li class="notifications">
                {% set noty_count=noty_novi_count ? '<span class="count">'~noty_novi_count~'</span>' : '' %}
                {{ get_menu_item({
                    'href':'/account/notification',
                    'title': t('account','menu_notify')~noty_count,
                    'left-icon':'bell-o'
                })|raw }}
            </li>
        {% endif %}

        {% if header != 1 %}
            <li class="favorite-icon fasicon">
                {{ get_menu_item({
                    'href':'/account/favorites',
                    'title': t('account', 'menu_favorites'),
                    'left-icon': 'heart-o'
                })|raw }}
            </li>
            <li class="favorite-icon fasicon">
                {{ get_menu_item({
                    'href':'/account/deferred',
                    'title': t('shop', 'menu_favorites'),
                    'left-icon': 'heart-o',
                })|raw }}
            </li>
        {% endif %}

        <li class="offlineshop-icon fasicon">
            {{ get_menu_item({
                'href':'/account/offline',
                'title': t('account', 'menu_offline'),
                'left-icon': 'bay'
            })|raw }}
        </li>
        <li class="settings-icon fasicon">
            {{ get_menu_item({
                'href':'/account/settings',
                'title': t('account', 'menu_settings'),
                'left-icon': 'cogs'
            })|raw }}
        </li>

        <li class="action-btn">
            {{ get_menu_item({
                'href':'/account/withdraw',
                'title': t('account', 'menu_withdraw'),
                'left-icon': 'coins'
            })|raw }}
        </li>
      {% if header == 1 %}
          <li>
            {{ get_menu_item({
              'href':'/account/support',
              'left-icon': 'question-circle-o',
              'title': t('account', 'menu_help'
              )})|raw }}
          </li>
      {% else %}
          <li class="help-icon fasicon has-children">
            {{ get_menu_item({
              'href':'/account/support',
              'title': t('account', 'menu_help'),
              'left-icon': 'question-circle-o',
              'right-icon': 'angle-right'
            })|raw }}
              <ul>
                  <li>
                    {{ get_menu_item({'href':'/account/support', 'title': t('account', 'menu_help_support')})|raw }}
                  </li>
                  <li>
                    {{ get_menu_item({'href':'/howitworks', 'title': t('account', 'menu_help_howitworks')})|raw }}
                  </li>
                  <li>
                    {{ get_menu_item({'href':'/faq', 'title': t('account', 'menu_help_faq')})|raw }}
                  </li>
                  <li>
                    {{ get_menu_item({'href':'/loyalty', 'title': t('account', 'menu_help_loyalty')})|raw }}
                  </li>
                  <li>
                    {{ get_menu_item({'href':'/recommendations', 'title': t('account', 'menu_help_recommendations')})|raw}}
                  <li>
                    {{ get_menu_item({'href':'/reviews', 'title': t('account', 'menu_help_reviews')})|raw }}
                  </li>
              </ul>
          </li>
      {% endif %}
        <li class="action-btn"> {{ get_menu_item({
                'href':'/logout',
                'title': t('common', 'logout'),
                'left-icon': 'sign-out'
            })|raw }}
        </li>
    </ul>
</div>