{% if action.image %}
    <div class="margin-half flex-line flex-line-around flex-line-untill-tablets flex-align-center">
        {% if action.page %}
            <a href="{{ _href('/'~action.page) }}">
                <img class="account-image-height-200" src="{{ action.image }}" alt="{{ action.name }}">
            </a>
        {% else %}
            <img class="account-image-height-200" src="{{ action.image }}" alt="{{ action.name }}">
        {% endif %}
        <div>
            {% if action.page %}
                <a href="{{ _href('/'~action.page) }}"><h3 class="margin-half">{{ action.name }}</h3></a>
            {% else %}
                <h3 class="margin-half">{{ action.name }}</h3>
            {% endif %}
            <div class="ajax_form">
                {% if action.joined %}
                    <div class="margin-half">
                        {{ t('account', 'you_are_joined_to_action')|raw }}
                    </div>
                {% else %}
                    <form action="{{ _href('/account/users/join-action')|raw }}" method="post">
                        <input type="hidden" name="action_id" value="{{ action.uid }}">
                        <input type="submit" class="btn" value="{{ t('account', 'join_action')|raw }}">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% else %}
    {% if action.page %}
        <a href="{{ _href('/'~action.page) }}"><h3 class="margin-half">{{ action.name }}</h3></a>
    {% else %}
        <h3 class="margin-half">{{ action.name }}</h3>
    {% endif %}
    <div class="ajax_form">
        {% if action.joined %}
            <div class="margin-half">
                {{ t('account', 'you_are_joined_to_action')|raw }}
            </div>
        {% else %}
            <form action="{{ _href('/account/users/join-action')|raw }}" method="post">
                <input type="hidden" name="action_id" value="{{ action.uid }}">
                <input type="submit" class="btn" value="{{ t('account', 'join_action')|raw }}">
            </form>
        {% endif %}
    </div>
{% endif %}