{% set curr = currencyIcon(app.user.identity.currency) %}

<section class="account-balance">

  <div class="account-balance-row">

    {% if this.user_id %}
      <div class="account-balance-block">
        {{ t('account', 'user_id') }}:
        <span>{{ this.user_id }}</span>
      </div>
    {% endif %}

    <div class="account-balance-block">
      {{ t('account', 'user_balance') }}:
      <span class="account-balance-confirm">{{ _nf(this.balance.current)|raw }}&nbsp{{ curr|raw }}</span>
    </div>
    <div class="account-balance-block">
      {{ t('account', 'user_balance_in_waiting') }}:
      <span class="account-balance-pending">{{ _nf(this.balance.pending)|raw }}&nbsp{{ curr|raw }}</span>
    </div>
    <div class="account-balance-block">
      {{ t('account', 'user_balance_charity') }}:
      <span class="account-balance-charity">{{ _nf(this.balance.charity)|raw }}&nbsp;{{ curr|raw }} </span>
    </div>
  </div>

  <div class="account-balance-row {% if show_payment_link == false %}account-balance-row-right{% endif %}">
    {% if show_payment_link %}
      <div class="account-balance-block account-balance-block-link"><a class="blue" href="{{ _href('/account/payments')|raw }}">{{ t('account', 'view_payments_history') }}</a></div>
    {% endif %}

    <div class="account-balance-block account-balance-block-btn">
      <a href="{{ _href('/account/dobro/transfer')|raw }}" class="btn btn-mini btn-red">{{ t('common', 'charity') }}</a>
    </div>
  </div>


</section>
