<div id="transition-wrapper" class="transition">
    <div class="center-block">
        <div class="phrase">
            <p>
                {{ t('main', 'goto_to_{store}', {'store': store.name})|raw }}
            </p>
            <p class="phrase_cashback">
                {{ t('main', 'goto_you_ll_get_{cashback}', {'cashback': _cashback(store.displayed_cashback, store.currency,store.action_id)})|raw }}
            </p>
            <div class="manual-shift">{{ t('main', 'push_to_<a id="transition-href" href="{link}">here</a>_if_not_redirected', {'link': link})|raw }}</div>
        </div>
        <div class="svg-container">
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <g class="anim-0">
                    <circle cx="50" cy="50" r="50" fill="#ffc107" />
                </g>
                <g class="anim-1">
                    <circle cx="50" cy="50" r="5" fill="white" />
                </g>
                <g class="anim-2">
                    <circle cx="75" cy="50" r="5" fill="white" />
                    <line x1="25" y1="50" x2="75" y2="50" stroke="white" stroke-width="3" />
                </g>
                <g class="anim-3">
                    <circle cx="50" cy="25" r="5" fill="white" />
                    <line x1="50" y1="25" x2="25" y2="75" stroke="white" stroke-width="3" />
                    <line x1="50" y1="25" x2="75" y2="75" stroke="white" stroke-width="3" />
                </g>
                <g class="anim-4">
                    <circle cx="75" cy="25" r="5" fill="white" />
                    <line x1="75" y1="25" x2="25" y2="25" stroke="white" stroke-width="3" />
                </g>
            </svg>
        </div>

    </div>
    <div id="transition-message" style="display: none;">
        <div class="transition-message_item">
            <div class="transition-message_item-alert">
                <h3><span style="color:red;">ВАШ КЭШБЭК НЕ ОТСЛЕЖИВАЕТСЯ :(</span></h3>
                <p class="transition-message_paragraph">Настройки вашего браузера не позволяют использовать файлы cookies, без которых невозможно отследить
                    ваш кэшбэк или использовать промокод, возможны и другие ошибки.
                </p>
            </div>
        </div>
        <h3 class="transition-message_header-yellow">Как решить проблему?</h3>
        <div class="transition-message_item">
            <p class="transition-message_paragraph">
                1) На время покупки <a href="https://secretdiscounter.ru/adblock" target="_blank"  rel="nofollow noopener">отключите блокировщики рекламы</a> типа AdBlock, AdGuard, uBlock и т.п. Либо добавьте наш сайт в <a href="abp:subscribe?location=https://secretdiscounter.ru/adblock.txt&title=SecretDiscounter" target="_blank" rel="nofollow noopener">белый список</a>
            </p>
            <p class="transition-message_paragraph">
                2) Если это не помогло, зайдите в настройки браузера и разрешите использование <a href="https://support.kaspersky.ru/common/windows/2843#block2" target="_blank"  rel="nofollow noopener">файлов cookie</a>
            </p>
            <p class="transition-message_paragraph">
                3) После этого нажмите <a id="transition-message-transition-link" href="https://secretdiscounter.ru/stores/{{ store.route }}"  rel="nofollow noopener">Перейти в магазин</a>
            </p>

            <p class="transition-message_paragraph-between" style="
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    padding: 0 17px;
    margin-top: 32px;
">
                <a href="https://secretdiscounter.ru/adblock/adblock"  target="_blank" rel="nofollow noopener">Полная инструкция</a>
                <a href="https://secretdiscounter.ru/adblock/recommendations"  target="_blank" rel="nofollow noopener">Правила совершения покупок</a>
                <a id="transition-message-transition-link" href="https://secretdiscounter.ru/stores/{{ store.route }}"  rel="nofollow noopener">Перейти в магазин =></a>
            </p>
        </div>
    </div>
</div>
<img class="ad-detect" src="/images/banner_468x60.png" style="position: absolute;top:-100px;" data-store-route="{{ store_route }}" onerror="this.parentElement.removeChild(this)"/>
{{ this.registerJsFile('/js/cookie_check.js') }}