<div id="transition-wrapper" class="transition">
    <div class="center-block">
        <div class="phrase">
            <p>
                {{ t('main', 'goto_to_{store}', {'store': store.name})|raw }}
            </p>
            <p class="phrase_cashback">
                {{ t('main', 'goto_you_ll_get_{cashback}', {'cashback': _cashback(store.displayed_cashback, store.currency,store.action_id)})|raw }}
            </p>
            <div class="manual-shift">{{ t('main', 'push_to_<a id="transition-href" href="{link}">here</a>_if_not_redirected', {'link': link})|raw }}</div>
        </div>
        <div class="svg-container">
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <g class="anim-0">
                    <circle cx="50" cy="50" r="50" fill="#ffc107" />
                </g>
                <g class="anim-1">
                    <circle cx="50" cy="50" r="5" fill="white" />
                </g>
                <g class="anim-2">
                    <circle cx="75" cy="50" r="5" fill="white" />
                    <line x1="25" y1="50" x2="75" y2="50" stroke="white" stroke-width="3" />
                </g>
                <g class="anim-3">
                    <circle cx="50" cy="25" r="5" fill="white" />
                    <line x1="50" y1="25" x2="25" y2="75" stroke="white" stroke-width="3" />
                    <line x1="50" y1="25" x2="75" y2="75" stroke="white" stroke-width="3" />
                </g>
                <g class="anim-4">
                    <circle cx="75" cy="25" r="5" fill="white" />
                    <line x1="75" y1="25" x2="25" y2="25" stroke="white" stroke-width="3" />
                </g>
            </svg>
        </div>

    </div>
    {#<div id="transition-message" style="display: none;">{{ _constant('goto_adblock')|raw }}</div>#}
</div>
<img class="ad-detect" src="/images/ad.gif" style="position: absolute;" data-store-route="{{ store_route }}"/>
{{ this.registerJsFile('/js/cookie_check.js') }}