{{ use('/yii/widgets/ActiveForm') }}
<div class="promo-search">
    {% set form = active_form_begin({
            'action': ['index'],
            'method': 'get',
        })
    %}

    {{ form.field(model, 'uid')|raw }}

    {{ form.field(model, 'name')|raw }}

    {{ form.field(model, 'title')|raw }}

    {{ form.field(model, 'loyalty_status')|raw }}

    {{ form.field(model, 'referrer_id')|raw }}

    {# form.field(model, 'bonus_status')|raw #}

    {# form.field(model, 'new_loyalty_status_end')|raw #}

    {# form.field(model, 'date_to')|raw #}

    {# form.field(model, 'on_form')|raw #}

    {# form.field(model, 'created_at')|raw #}

    <div class="form-group">
        <input type="submit" value="{{ 'Search' }}" class="btn btn-primary">
        <input type="reset" value="{{ 'Reset' }}" class="btn btn-default">
    </div>
    {{ active_form_end() }}
</div>