{{ use('/yii/widgets/ActiveForm') }}
<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ html.encode(this.title) }}</h3>
            </div>
            {% set form = active_form_begin({
                'options' : {
                    'enctype' : 'multipart/form-data',
                },
            }) %}

            <div class="col-md-6">

                {% if(not(model.isNewRecord)) %}

                    <label>
                        ID <a href="/admin/users/login?id={{model.uid}}">Login</a>
                    </label>
                    {{ form.field(model, 'uid').textInput({'disabled':true}).label(false)|raw }}

                {% endif %}

                {{ form.field(model, 'email').textInput({
                    'maxlength':true,
                    'disabled':true,
                    'class' : 'form-control editible',
                    'autocomplete':'off'
                })|raw }}

                {{ form.field(model, 'email_verified').dropDownList({
                    '0' : 'Ожидает валидации',
                    '1' : 'Подтвержден'
                })|raw }}

                {{ form.field(model, 'email_verify_time').textInput({'disabled':true})|raw }}

                {{ form.field(model, 'name').textInput({
                    'maxlength':true,
                    'disabled':true,
                    'class' : 'form-control editible',
                    'autocomplete':'off'
                })|raw }}

                {{ form.field(model, 'new_password').passwordInput({'maxlength':true})|raw }}


                {{ form.field(model, 'birthday').textInput()|raw }}

                {{ form.field(model, 'sex').dropDownList({
                    '' : 'Не определен',
                    'f' : 'Женский',
                    'm' : 'Мужской'
                })|raw }}

                {{ form.field(model, 'new_photo').fileInput()|raw }}
                <img for="Users[new_photo]" style="max-height: 150px;" src="{{ _if(
                    model.photo,
                    model.photo,
                    '/images/templates/avatar-'~_if(model.sex=='f','female','male')~'.jpg'
                    ) | raw }}">

                {{ form.field(model, 'notice_email').dropDownList({
                    '0' : 'Отключенно',
                    '1' : 'Включенно',
                })|raw }}

                {{ form.field(model, 'referrer_id').textInput()|raw }}

                {{ form.field(model, 'is_active').dropDownList({
                    '0' : 'Отключен',
                    '1' : 'Активен',
                })|raw }}

                {{ form.field(model, 'registration_source').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'added').textInput({'disabled':true})|raw }}

                {{ form.field(model, 'url').textInput({'maxlength':true})|raw }}

                {{ form.field(model, 'traffType').dropDownList(traffTypeList)|raw }}

                {{ form.field(model, 'loyalty_status').dropDownList(loyalty_status_list)|raw }}

                {{ form.field(model, 'bonus_status').dropDownList(bonus_status_list)|raw }}

                {{ form.field(model, 'email_verified').dropDownList({
                    '0' : 'Ожидает валидации',
                    '1' : 'Подтвержден'
                })|raw }}

                {{ form.field(model, 'waitModeration').dropDownList({
                    '0' : 'Подтвержден',
                    '1' : 'Ожидает подтверждение на Вебмастра'
                })|raw }}
            </div>
            {% if(not(model.isNewRecord)) %}
                <div class="col-md-6">

                    {{ form.field(model, 'last_ip').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'reg_ip').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'last_login').textInput({'disabled':true})|raw }}


                    {{ form.field(model, 'ref_total').textInput({'disabled':true})|raw }}

                    <div class="form-group field-users-ref_total-active">
                        <label class="control-label" for="users-ref_total-active">Из них активных</label>
                        <input type="text" id="users-ref_total-active" class="form-control" value="{{ refs_active }}" disabled>
                        <div class="help-block"></div>
                    </div>

                    {{ form.field(model, 'sum_pending').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'cnt_pending').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_confirmed').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'cnt_confirmed').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_from_ref_pending').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_from_ref_confirmed').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_foundation').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_withdraw').textInput({'disabled':true})|raw }}

                    {{ form.field(model, 'sum_bonus').textInput({'disabled':true})|raw }}
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="{{ model.isNewRecord ? 'Создать' : 'Сохранить' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
                    <a href="/admin/users" class="btn btn-info">К списку пользователей</a>
                </div>
            </div>
            {{ active_form_end() }}
        </div>
    </section>
</div>