{{ use('/yii/widgets/ActiveForm') }}
<div class="users-search">
    {% set form = active_form_begin({
        'action': '/admin/users',
        'method': 'get',
    }) %}

    <div class="form-group">
        <h4>Поиск</h4>
        <input type="text" placeholder="Поиск по User ID" name="user_id" value="{{ get.user_id }}">
        <input type="text" placeholder="Поиск по IP" name="ip" value="{{ get.ip }}">
        <input type="text" placeholder="Поиск по Ref ID" name="ref_id" value="{{ get.ref_id }}">
        <input type="text" placeholder="Поиск по email" name="email" value="{{ get.email }}">
        <select name="is_active">
            <option value="" {% if (get.is_active == null) %}selected{% endif %}>Любой статус</option>
            <option value="0" {% if (get.is_active == '0') %}selected{% endif %}>Неактивен</option>
            <option value="1" {% if (get.is_active == '1') %}selected{% endif %}>Активен</option>
        </select>

    </div>
    <div class="form-group">
        <label for="select_loaylty_status">Статус лояльности</label>
        <select name="loyalty_status" id="select_loaylty_status">
            <option value="" {% if (get.loyalty_status == null) %}selected{% endif %}>Выберить статус</option>
            <option value="0" {% if (get.loyalty_status == '0') %}selected{% endif %}>Start</option>
            <option value="1" {% if (get.loyalty_status == '1') %}selected{% endif %}>Bronze</option>
            <option value="2" {% if (get.loyalty_status == '2') %}selected{% endif %}>Silver</option>
            <option value="3" {% if (get.loyalty_status == '3') %}selected{% endif %}>Gold</option>
            <option value="4" {% if (get.loyalty_status == '4') %}selected{% endif %}>Platinum</option>
            <option value="5" {% if (get.loyalty_status == '5') %}selected{% endif %}>Personal 5%</option>
            <option value="6" {% if (get.loyalty_status == '6') %}selected{% endif %}>Personal 10%</option>
            <option value="7" {% if (get.loyalty_status == '7') %}selected{% endif %}>Personal 15%</option>
            <option value="8" {% if (get.loyalty_status == '8') %}selected{% endif %}>Personal 20%</option>
            <option value="9" {% if (get.loyalty_status == '9') %}selected{% endif %}>Personal 25%</option>
            <option value="10" {% if (get.loyalty_status == '10') %}selected{% endif %}>Personal 30%</option>
            <option value="11" {% if (get.loyalty_status == '11') %}selected{% endif %}>Personal 35%</option>
            <option value="12" {% if (get.loyalty_status == '12') %}selected{% endif %}>Personal 40%</option>
            <option value="13" {% if (get.loyalty_status == '13') %}selected{% endif %}>Personal 45%</option>
            <option value="14" {% if (get.loyalty_status == '14') %}selected{% endif %}>Personal 50%</option>
            <option value="15" {% if (get.loyalty_status == '15') %}selected{% endif %}>Personal 55%</option>
            <option value="16" {% if (get.loyalty_status == '16') %}selected{% endif %}>Personal 60%</option>
            <option value="17" {% if (get.loyalty_status == '17') %}selected{% endif %}>Personal 65%</option>
            <option value="18" {% if (get.loyalty_status == '18') %}selected{% endif %}>Personal 70%</option>
            <option value="19" {% if (get.loyalty_status == '19') %}selected{% endif %}>Personal 75%</option>
            <option value="20" {% if (get.loyalty_status == '20') %}selected{% endif %}>Personal 80%</option>
            <option value="21" {% if (get.loyalty_status == '21') %}selected{% endif %}>Personal 95%</option>
        </select>
    </div>
    <div class="form-group">
        <label for="search_sort">Сортировать по</label>
        <select name="sort" id="search_sort">
            <option value="">Выберите поле</option>
            <option {% if get.sort == 'sum_confirmed' %}selected{% endif %} value="sum_confirmed">По накопленному кэшбэку</option>
            <option {% if get.sort == 'sum_from_ref_confirmed' %}selected{% endif %} value="sum_from_ref_confirmed">По накопленному за рефералов</option>
            <option {% if get.sort == 'sum_withdraw' %}selected{% endif %} value="sum_withdraw">По выплаченной сумме</option>
            <option {% if get.sort == 'sum_foundation' %}selected{% endif %} value="sum_foundation">По благотворительности</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Поиск" class="btn btn-primary">
        <a href="/admin/users" class="btn btn-default">Сброс</a>
        <a href="/admin/users/create" class="btn btn-success" style="color:#fff">Создать пользователя</a>
    </div>
    {{ active_form_end() }}
</div>