{{ use('/yii/widgets/ActiveForm') }}
<div class="users-search">
    {% set form = active_form_begin({
        'action': '/admin/users',
        'method': 'get',
    }) %}

    <div class="form-group">
        <h4>Поиск</h4>
        <input type="text" placeholder="Поиск по User ID" name="user_id" value="{{ get.user_id }}">
        <input type="text" placeholder="Поиск по IP" name="ip" value="{{ get.ip }}">
        <input type="text" placeholder="Поиск по Ref ID" name="ref_id" value="{{ get.ref_id }}">
        <input type="text" placeholder="Поиск по email" name="email" value="{{ get.email }}">
        <select name="is_active">
            <option value="" {% if (get.is_active == null) %}selected{% endif %}>Любой статус</option>
            <option value="0" {% if (get.is_active == '0') %}selected{% endif %}>Неактивен</option>
            <option value="1" {% if (get.is_active == '1') %}selected{% endif %}>Активен</option>
        </select>

    </div>
    <div class="form-group">
        <input type="submit" value="Поиск" class="btn btn-primary">
        <a href="/admin/users" class="btn btn-default">Сброс</a>
        <a href="/admin/users/create" class="btn btn-success" style="color:#fff">Создать пользователя</a>
    </div>
    {{ active_form_end() }}
</div>