{{ use('/yii/widgets/LinkPager') }}
{% set title = 'Пользователи' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}


<div class="content-wrapper">
  <section>
    <div class="row">
      <div class="col-md-12">
        <h1 style="padding: 0;">{{ html.encode(this.title) }}
          {% if notes.users_reviews %}<a href="/admin/reviews?ReviewsSearch%5Bis_active%5D=0"><span title="Неактивных отзывов" class="notes_users reviews">{{ notes.users_reviews }}</span></a>{% endif %}
          {% if notes.users_withdraw %}<a href="/admin/withdraw?UsersWithdrawSearch%5Bstatus%5D=1"><span title="Запросов на вывод средств в ожидании" class="notes_users withdraw">{{ notes.users_withdraw }}</span></a>{% endif %}
          {% if notes.users_charity %}<a href="/admin/charity"><span title="Запросов на благотвроительность в ожидании" class="notes_users charity">{{ notes.users_charity }}</span></a>{% endif %}
          {% if notes.b2b_users_requests %}<a href="/admin/b2b_users?B2bUsersSearch%5Bis_active%5D=0"><span title="Запросов на регистрацию пользователей B2b" class="notes_users b2b_users">{{ notes.b2b_users_requests }}</span></a>{% endif %}
          {% if notes.users_wait_moderation %}<a href="/admin/users?wait-moderation=1"><span title="Пользователей ожидает модерации" class="notes_users wait_moderation">{{ notes.users_wait_moderation }}</span></a>{% endif %}
        </h1>
      </div>
      <div class="col-md-6">
        <div class="sum_information">
          <div class="line">
            <div class="name">Кол-во пользователей</div>
            <div class="value">
              <span>всего</span>
              {{ _nf(users_total.total,0)  | raw}}
            </div>
            <div class="value">
              <a href="/admin/users?is_active=1&user_id={{ get.user_id }}&ip={{ get.ip }}&ref_id={{ get.ref_id }}&email={{ get.email }}">
                <span>активных</span>
                {{ _nf(users_total.active,0) | raw}}
              </a>
            </div>
          </div>
          <div class="line">
            <div class="name">Кэшбэк(confirmed)</div>
            <div class="value">
              {{ users_total.cnt_confirmed }}
            </div>
            <div class="value">
              {{ _nf(users_total.sum_confirmed) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Кэшбэк(pending)</div>
            <div class="value">
              {{ _nf(users_total.cnt_pending,0) | raw }}
            </div>
            <div class="value">
              {{ _nf(users_total.sum_pending) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Ref(pending)</div>
            <div class="value">
              <span>from</span>
              {{ _nf(users_total.sum_from_ref_pending) | raw }} р
            </div>
            <div class="value">
              <span>to</span>
              {{ _nf(users_total.sum_to_ref_pending) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Ref(confirmed)</div>
            <div class="value">
              <span>from</span>
              {{ _nf(users_total.sum_from_ref_confirmed) | raw }} р
            </div>
            <div class="value">
              <span>to</span>
              {{ _nf(users_total.sum_to_ref_confirmed) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Выплаченно</div>
            <div class="value">
              {{ _nf(users_total.sum_withdraw) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Пожертвовано</div>
            <div class="value">
              {{ _nf(users_total.sum_foundation) | raw }} р
            </div>
          </div>
          <div class="line">
            <div class="name">Бонусов</div>
            <div class="value">
              {{ _nf(users_total.sum_bonus) | raw }} р
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {{  include('_search.twig') }}
      </div>

      </div>
      <div class="col-md-12">
        {% if users|length > 0 %}
          <table class="table table-users">
            <thead>
            <tr>
              <th>Профиль</th>
              <th>Баланс</th>
              <th>Привелегии</th>
              <th>Действия</th>
            </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>
                    <div class="sum_information long_value">
                      <div class="line">
                        <div class="name">ID</div>
                        <div class="value">{{user.uid}}</div>
                      </div>
                      <div class="line">
                        <div class="name">Email</div>
                        <div class="value">
                          <a href="/admin/users/update?id={{user.uid}}">{{ _hyphen_email(user.email) | raw}}</a>
                          {% if user.email_verified==1 %}
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                          {% endif %}
                        </div>
                      </div>
                      <div class="line">
                        <div class="name">Регистр.</div>
                        <div class="value">{{user.registration_source_href | raw}}</div>
                      </div>
                      <div class="line">
                        <div class="name name-none"></div>
                        <div class="value">{{user.added}}</div>
                      </div>
                      <div class="line">
                        <div class="name">Визит</div>
                        <div class="value">{{user.last_login}}</div>
                      </div>
                      <div class="line">
                        <div class="name">IP-авториз</div>
                        <div class="value">
                          {% if(user.last_ip_count>1) %}
                            <a href="/admin/users?ip={{ user.last_ip }}">{{ user.last_ip }} ({{ user.last_ip_count }})</a>
                          {% else %}
                            {{ user.last_ip }} ({{ user.last_ip_count }})
                          {% endif %}
                        </div>
                      </div>
                      <div class="line">
                        <div class="name">IP-рег.</div>
                        <div class="value">
                          {% if(user.reg_ip_count>1) %}
                            <a href="/admin/users?ip={{ user.reg_ip }}">{{ user.reg_ip }} ({{ user.reg_ip_count }})</a>
                          {% else %}
                            {{ user.reg_ip }} ({{ user.reg_ip_count }})
                          {% endif %}
                        </div>
                      </div>
                      <div class="line">
                        <div class="name">Привел</div>
                        <div class="value">
                          {% if  user.referrer_id>0 %}
                           <a href="/admin/users?ref_id={{ user.referrer_id }}">
                             {{ _hyphen_email(user.drive) | raw}} <wbr>({{ user.referrer_id }})
                           </a>
                          {% else %}
                            {{ _hyphen_email(user.drive) | raw}}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="sum_information">
                      <b>Кэшбэк</b>
                      <div class="line">
                        <div class="name">confirmed</div>
                        <div class="value">
                          {{ _nf(user.cnt_confirmed,0) | raw}}
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_confirmed) | raw }} р
                        </div>
                      </div>
                      <div class="line">
                        <div class="name">pending</div>
                        <div class="value">
                          {{ _nf(user.cnt_pending,0) | raw }}
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_pending) | raw }} р
                        </div>
                      </div>
                      <b>За рефералов</b>
                      <div class="line">
                        <div class="name">confirmed</div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_from_ref_confirmed) | raw }} р
                        </div>
                      </div>
                      <div class="line">
                        <div class="name">pending</div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_from_ref_pending) | raw }} р
                        </div>
                      </div>
                      <div class="line">
                        <div class="name"><b>Бонусы</b></div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_bonus) | raw }} р
                        </div>
                      </div>
                      <div class="line">
                        <div class="name"><b>Благотворит.</b></div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_foundation) | raw }} р
                        </div>
                      </div>
                      <div class="line">
                        <div class="name"><b>Выплачено</b></div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.sum_withdraw) | raw }} р
                        </div>
                      </div>
                      <div class="line sum">
                        <div class="name"><b>Баланс</b></div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.currentBalance,2,false) | raw }}
                        </div>
                      </div>
                      <div class="line">
                        <div class="name"><b>В ожидании</b></div>
                        <div class="value">
                        </div>
                        <div class="value">
                          {{ _nf(user.pending) | raw }}
                        </div>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="sum_information">
                      <div class="line">
                        <div class="name">Кэшбэк</div>
                        <div class="value">
                          {{user.loyalty_status_data.display_name}}
                          ({{user.loyalty_status_data.bonus}}%)
                          {% if user.loyalty_status_data.is_vip==1 %}
                            <br>VIP клиент
                          {% endif %}
                        </div>
                      </div>
                      {% if user.new_loyalty_status_end>0 %}
                        <div class="line">
                          <div class="name">до </div>
                          <div class="value">
                            {{ date(user.new_loyalty_status_end) }}
                          </div>
                        </div>
                        <div class="line">
                          <div class="name">после</div>
                          <div class="value">
                            {{user.old_loyalty_status_data.display_name}}
                            ({{user.old_loyalty_status_data.bonus}}%)
                          </div>
                        </div>
                      {% endif %}
                      <div class="line">
                        <div class="name">За рефералов</div>
                        <div class="value">
                          {{user.bonus_status_data.display_name}}
                          ({{user.bonus_status_data.bonus}}%)
                          {% if user.bonus_status_data.is_webmaster==1 %}
                            <br>для веб мастеров
                          {% endif %}
                        </div>
                      </div>

                      <div class="line">
                        <div class="name">Рефералов</div>
                        <div class="value">{{ _nf(user.ref_total,0) | raw }}</div>
                      </div>
                      <div class="line">
                        <div class="name">Активен</div>
                        <div class="value">{{ _if(user.is_active==1,'ДА','НЕТ') }}</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a href="/admin/users/update?id={{user.uid}}">Редактировать</a>
                    <br>
                    <a href="/admin/users/login?id={{user.uid}}">Login</a>

                    <span class="ajax_remove" uid="{{user.uid}}" url="/admin/users/delete">
                      Удалить
                    </span>
                    <!--<br>
                    <a class="delete" href="/admin/users/delete?id={{user.uid}}" onclick="if(!confirm('Уверены?')) return false;">Удалить</a>-->
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ LinkPager_widget({ 'pagination': pages }) }}

        {% else %}
            <div class="col-md-12">
              <div class="not-found">На данный момент таких пользователей нет.</div>
            </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
