{% set title = 'Обновление пользователя: ' ~ model.name %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Users', 'url': path(['index'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([{'label': model.name, 'url': path('view', {'id': model.uid})}]) %}
{% set breadcrumbs = breadcrumbs|merge(['Обновление']) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}


{{ include('_form.twig', {
        'model': model
    })
}}

<div class="content-wrapper">
    <section class="account-padding view-list view-current">
        <div class="row">
            <div class="col-md-12">
                <h3>Избранные магазины</h3>
                {% if fav_store | length >0 %}
                  <ul>
                    {% for store in fav_store %}
                      <li><a href="/admin/stores/update/id:{{ store.uid }}">
                              {{ store.name }} ({{ store.uid }})
                      </a></li>
                    {% endfor %}
                  </ul>
                {% else %}
                    Пользователь еще не добавлял магазины в избранное
                {% endif %}
            </div>
            <div class="col-md-12">
                <h3>Рефералы</h3>
                {% if ref_users | length >0 %}
                    <table class="table">
                        <tr>
                            <th>Друг</th>
                            <th>Дата регистрации</th>
                            <th>Визит</th>
                            <th>IP-авториз</th>
                            <th>Заказов (c/p)</th>
                            <th>Для друга (c/p)</th>
                        </tr>
                        {% for user in ref_users %}
                            <tr>
                                <td class="line">
                                    <a href="/admin/users/update/id:{{ user.uid }}">
                                        {{ user.email }} ({{ user.uid }})
                                    </a>
                                </td>

                                <td>
                                    {{ user.added }}
                                </td>
                                <td>
                                    {{user.last_login}}
                                </td>
                                <td>
                                    {% if(user.last_ip_count>1) %}
                                        <a href="/admin/users?ip={{ user.last_ip }}">{{ user.last_ip }} ({{ user.last_ip_count }})</a>
                                    {% else %}
                                        {{ user.last_ip }} ({{ user.last_ip_count }})
                                    {% endif %}
                                </td>
                                <td>
                                    {{ _nf(user.cnt_confirmed,0) | raw}} /
                                    {{ _nf(user.cnt_pending,0) | raw }}
                                </td>
                                <td class="line">
                                    {{ _nf(user.sum_to_friend_confirmed) | raw }} р /
                                    {{ _nf(user.sum_to_friend_pending) | raw }} р
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% include '/parts/pagination.twig' %}
                {% else %}
                    Пользователь еще не приглашал друзей
                {% endif %}
            </div>
            <div class="col-md-12">
                <h3>API клиент</h3>
                {% if api_client %}
                    <div class="">
                        <form action="admin/users/update-api-client" method="POST">
                            <input type="hidden" name="OauthClients[user_id]" value="{{ model.uid }}">
                            <div class="form-group">
                                <label class="control-label" for="oauth-client-client_id">Client ID</label>
                                <input class="form-control" id="oauth-client-client_id" type="text" name="OauthClients[client_id]" value="{{ api_client.client_id }}">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="oauth-client-client_secret">Client Secret</label>
                                <input class="form-control" id="oauth-client-client_secret" type="text" name="OauthClients[client_secret]" value="{{ api_client.client_secret }}">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="oauth-client-grant_types">Grant Types</label>
                                <input class="form-control" id="oauth-client-grant_types" type="text" name="OauthClients[grant_types]" value="{{ api_client.grant_types }}">
                                <div class="help-block"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="oauth-client-is_active">
                                    <input id="oauth-client-is_active" type="checkbox" name="OauthClients[is_active]" value="1" {% if api_client.is_active == 1 %}checked{% endif %}>
                                    Активен
                                </label>
                                <div class="help-block"></div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Изменить" />

                        </form>
                    </div>
                {% else %}
                    <div class="">
                        <form action="admin/users/create-api-client" method="POST">
                            <input type="hidden" name="OauthClients[user_id]" value="{{ model.uid }}">
                            <input type="submit" class="btn btn-primary" value="Создать" />
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>