<div class="content-wrapper">
    <section class="account-stat">
        <div class="row">
            <div class="col-md-6">
                <div class="stat-block">
                    <div class="stat-head">
                        Пользователей зарегистрировано
                    </div>
                    <div class="stat-curr">
                        Всего
                        <span>{{users_count}}</span>
                    </div>
                    <div class="stat-curr">
                        Сегодня
                        <span>{{users_today_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="stat-block">
                    <div class="stat-head">
                        Совершено платежей
                    </div>
                    <div class="stat-curr">
                        Всего
                        <span>{{payments_count}}</span>
                    </div>
                    <div class="stat-curr">
                        Сегодня
                        <span>{{payments_today_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="stat-block-cashback">
                    Всего выплачено кэшбэка<br>
                    <span>{{_nf(total_cashback)|raw}} <i class="fa fa-rub" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        {% if notes.users_reviews or notes.users_withdraw %}
                <div class="row">
                    <div class="col-md-12 stat-block-actions">
                        Ожидает действий администратора
                        {% if notes.users_reviews %}<a href="/admin/reviews?ReviewsSearch%5Bis_active%5D=0"><span title="Неактивных отзывов" class="notes_users reviews">{{ notes.users_reviews }}</span></a>{% endif %}
                        {% if notes.users_withdraw %}<a href="/admin/withdraw?UsersWithdrawSearch%5Bstatus%5D=1"><span title="Запросов на вывод средств в ожидании" class="notes_users withdraw">{{ notes.users_withdraw }}</span></a>{% endif %}
                    </div>
                </div>
        {% endif %}

    </section>
</div>