<div class="content-wrapper">
    <section class="account-stat">
        <div class="row">
            <div class="col-md-6">
                <div class="stat-block">
                    <div class="stat-head">
                        Пользователей зарегистрировано
                    </div>
                    <div class="stat-curr">
                        Всего
                        <span>{{users_count}}</span>
                    </div>
                    <div class="stat-curr">
                        Сегодня
                        <span>{{users_today_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="stat-block">
                    <div class="stat-head">
                        Совершено платежей
                    </div>
                    <div class="stat-curr">
                        Всего
                        <span>{{payments_count}}</span>
                    </div>
                    <div class="stat-curr">
                        Сегодня
                        <span>{{payments_today_count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="stat-block-cashback">
                    Всего выплачено кэшбэка<br>
                    <span>{{_nf(total_cashback)|raw}} <i class="fa fa-rub" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        {% if notes.users_reviews or notes.users_withdraw or notes.users_charity or notes.b2b_users_requests %}
                <div class="row">
                    <div class="col-md-12 stat-block-actions">
                        Ожидает действий администратора
                        {% if notes.users_reviews %}<a href="/admin/reviews?ReviewsSearch%5Bis_active%5D=0"><span title="Неактивных отзывов" class="notes_users reviews">{{ notes.users_reviews }}</span></a>{% endif %}
                        {% if notes.users_withdraw %}<a href="/admin/withdraw?UsersWithdrawSearch%5Bstatus%5D=0"><span title="Запросов на вывод средств в ожидании" class="notes_users withdraw">{{ notes.users_withdraw }}</span></a>{% endif %}
                        {% if notes.users_charity %}<a href="/admin/charity"><span title="Запросов на благотвроительность в ожидании" class="notes_users charity">{{ notes.users_charity }}</span></a>{% endif %}
                        {% if notes.b2b_users_requests %}<a href="/admin/b2b_users?B2bUsersSearch%5Bis_active%5D=0"><span title="Запросов на регистрацию пользователей B2b" class="notes_users b2b_users">{{ notes.b2b_users_requests }}</span></a>{% endif %}
                        {% if notes.users_wait_moderation %}<a href="/admin/users?wait-moderation=1"><span title="Пользователей ожидает модерации" class="notes_users wait_moderation">{{ notes.users_wait_moderation }}</span></a>{% endif %}
                        {% if notes.users_on_actions %}<a href="/admin/users/action"><span title="Пользователей на акции" class="notes_users users_on_actions">{{ notes.users_on_actions }}</span></a>{% endif %}
                    </div>
                    <div class="col-md-12 stat-block-actions">
                        Переходы за сегодня:
                            {% for key, visit in visits_today %}
                                {% if key > 0 %},{% endif %} {{ _if(visit.source==0, 'в шопы', 'в купоны ') }} ({{ visit.count }})
                            {% endfor %}
                    </div>

                </div>
        {% endif %}

    </section>
</div>