<section class="greeting">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="greeting-content text-center">
                    <h1>
                        {%if h1 %}
                            {{ h1 }}
                        {% else %}
                            Кэшбэк-сервис SecretDiscounter
                        {% endif %}
                    </h1>

                    <div class="greeting-links-box">
                        {% if not user_id %}
                            <a href="#registration" class="btn btn-fill btn-large">Бесплатная регистрация</a>
                        {% else %}

                        {% endif%}
                        <div class="greeting-links-box__item">
                            <a href="/howitworks">Как работает кэшбэк-сервис</a>
                        </div>
                        <div>
                            <a href="#popular-shops">Популярные магазины с кэшбэком</a>
                        </div>
                    </div>
                    <div class="intro">
                        {{ _constant('main_page_intro')|raw }}
                    </div>
                    <!--<a href="#popular-shops" class="btn btn-fill btn-large btn-margin-right">Популярные магазины</a>-->
                    <!--<a href="/howitworks" class="btn btn-large btn-accent">Как это работает</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="intro section-padding" id="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature wp4">
                <div class="intro-icon">
                    <span data-icon="&#xe007;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Выберите магазин</h5>
                    <p>
                    {% if not user_id %} 
                    Пройдите <a href="#registration" class="ignore-hash" rel="nofollow">простую регистрацию</a> в кэшбэк-сервисе <strong>SecretDiscounter</strong> и выберите Ваш любимый магазин из <a href="/stores">нашего каталога</a>. 
                    {% else %}
                    Выберите Ваш любимый магазин из <a href="/stores">каталога</a> кэшбэк-сервиса SecretDiscounter. 
                    {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-4 intro-feature wp5">
                <div class="intro-icon">
                    <span data-icon="&#xe027;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Совершите покупку</h5>
                    <p>Перейдите в выбранный магазин и совершайте покупки так, как Вы это обычно делаете. Цена при этом будет <strong>такой же</strong>, как если бы вы зашли напрямую.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature wp6">
                <div class="intro-icon">
                    <span data-icon="&#xe016;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Получите деньги</h5>
                    <p>Мы получаем комиссионные от магазина за совершенную Вами покупку, и часть этих денег отдаём Вам. Это называется <strong>кэшбэк</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <div class="feature-list">
                    <h3>Почему стоит выбрать нас?</h3>
                    <p>На просторах интернета существует немало кэшбэк-сервисов, 
                    но мы выгодно отличаемся от них по следующим причинам:</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe023;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Бонус за регистрацию</h5>
                                <p>Всем новым пользователям – <span>премиум-аккаунт (+30% кэшбэка)</span> на 10 дней после регистрации.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe039;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5><a href="/loyalty">Накопительная система</a></h5>
                                <p>Чем больше Вы покупаете через наш сайт, тем 
                                <span>больший процент кэшбэка</span> Вы будете получать при следующих покупках.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe017;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Ежедневные бонусы и акции</h5>
                                <p>"Двойной кэшбэк", "Каждый день по 1000 рублей", "Счастливый пользователь" <a href="/promo"><span>и многие другие</span></a>.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="device-showcase">
        <div class="devices">
            <div class="nwoman-wrap wp1"></div>
        </div>
    </div>
    <div class="responsive-feature-img"><img src="/images/templates/woman_600.png" alt="responsive devices"></div>
</section>
<section class="shops section-padding" id="popular-shops">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center popular-shops__header">Популярные магазины с кэшбэком</h2>
            </div>
        </div>
        <div class="row des-stores">
            {% for store in stores %}
            <div class="col-sm-3 col-md-2">
            {% include 'parts/shop.twig' %}
            </div>
            {% endfor %}
        </div>
        <div class="row mobile-stores">
            <div class="flexslider">
                <ul class="slides">
                    {% for store in stores %}
                    <li>
                        <div class="col-sm-12 col-md-12">
                        {% include 'parts/shop.twig' %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="more-shops">
                    <a href="/stores" class="btn btn-accent btn-large">Все магазины с кэшбэком ({{total_all_stores}})</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% if false %}
<section class="statistics section-padding" id="some-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                Немного информации о нашем сервисе <span class="sketch">SecretDiscounter <i class="version">cashback</i></span>
                </h2>
                <p>Информация ниже обновляется каждые 10 минут</p>
            </div>
        </div>
        <div class="row advantages">
            <div class="col-md-4 text-center">
                <h4><span>магазины</span> 0</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4><span>купоны</span> 0</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4><span>пользователи</span> 5</h4>
            </div>
        </div>
        <div class="row total-cashback">
            <div class="col-md-12 text-center">
                <h4><span>кэшбэка в общей сложности выплачено</span> 0, 00 <span class="fa fa-rub"></span></h4>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="faq section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Часто задаваемые вопросы</h3>
            </div>
        </div>
        <div class="row">
        {% include 'parts/faq.twig' %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/faq" class="btn btn-accent btn-large">Больше полезной информации</a>
            </div>
        </div>
    </div>
</section>
{% if top_reviews|length > 0 %}
<section class="testimonial-slider section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        {% for review in top_reviews %}
                        <li>
                            <div class="avatar" style="background-image: url({{review.photo|replace({ 'http:':'https:'}) }});"></div>
                            <h2>{{review.text}}</h2>
                            <div class="rating">
                                {% for i in range(1, review.rating) %}
                                <span class="fa fa-star"></span>
                                {% endfor %}

                                {% set estar =  5 - review.rating %}
                                {% if estar != 0 %}
                                    {% for i in range(1, estar) %}
                                    <span class="fa fa-star-o"></span>
                                    {% endfor %}
                                {% endif %}         
                            </div>
                            <p class="author">{{review.name}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="text-center more-reviews">
                    <a href="/reviews" class="btn btn-fill btn-large">Все отзывы</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if content %}
<section class="section-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ content | raw}}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if not user_id %}
<section id="registation-footer" class="sign-up section-padding text-center" style="padding-top:0; margin-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ajax_load" res="/registration?index=1">

            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>