<section class="static-page margin">

    {% if background_image_full.image %}
        <div class="static-page_background-image {{ background_image_full.class_name }}">
            <div class="static-page_background-image-in" style="background-image: url(images/templates/{{ background_image_full.image }});" >
                <h1 class="align-center {{ h1_class }}">
                    {{ h1|raw }}
                </h1>
                {% if h2 %}
                    <h2 class="title-no-line">{{ h2|raw }}</h2>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1 class="align-center {{ h1_class }}">
            {{ h1|raw }}
        </h1>
    {% endif %}
    <div  class="static-page-content margin">
        {{ content | raw}}
    </div>

    {% if dopline %}
        <div class="static-page_dopline gray-box">
            {% if infotitle %} <h3 class="dopline-header align-center no_print">{{ infotitle }} </h3> {% endif %}
            {{ dopline | raw }}
        </div>
    {% endif %}

</section>
