<section class="static-page margin">

    {% if background_image_full.image and background_image_full.class_name == 'narrow-page' %}
        {#имеем картинку и она  класса narrow-page - h1 и ниже картинка#}

        <h1 class="align-center {{ h1_class }} page-header">
            {{ h1|raw }}
        </h1>
        <div class="static-page_background-image {% if background_image_full.class_name %} static-page_background-image-{{ background_image_full.class_name }}{% endif %}">
            <img class="static-page_background-image" src="/img/{{ background_image_full.image }}" />

        </div>
    {% elseif background_image_full.image %}
        {# иначе просто имеем картинку - картинка, на ней h1 h2#}

        <div class="static-page_background-image {% if background_image_full.class_name %} static-page_background-image-{{ background_image_full.class_name }}{% endif %}">
            <div class="static-page_background-image-in" style="background-image: url(/img/{{ background_image_full.image }});" >
                <h1 class="align-center {{ h1_class }}">
                    {{ h1|raw }}
                </h1>
                {% if h2 %}
                    <h2 class="title-no-line content-header">{{ h2|raw }}</h2>
                {% endif %}
            </div>
        </div>
    {% else %}
        {#картинки нет - только h1#}
        <h1 class="align-center {{ h1_class }} page-header">
            {{ h1|raw }}
        </h1>
    {% endif %}

    <div  class="static-page-content margin {% if background_image_full.class_name %} static-page-content-{{ background_image_full.class_name }}{% endif %}">
        {{ _tags_class(content, {'a':'blue'}) | raw}}
    </div>

    {% if dopline %}
        <div class="static-page_dopline gray-box">
            {% if infotitle %} <h3 class="dopline-header align-center no_print">{{ infotitle }} </h3> {% endif %}
            {{ dopline | raw }}
        </div>
    {% endif %}

</section>
