{{ use('/yii/widgets/ActiveForm') }}
<div class="products-category-search">
  {% set form = active_form_begin({
    'action': ['index'],
    'method': 'get',
  })
  %}

  {{ form.field(model, 'id')|raw }}

  {{ form.field(model, 'name')|raw }}

  {{ form.field(model, 'parent')|raw }}

  {{ form.field(model, 'crated_at')|raw }}

  <div class="form-group">
    <input type="submit" value="{{ 'Search' }}" class="btn btn-primary">
    <input type="reset" value="{{ 'Reset' }}" class="btn btn-default">
  </div>
  {{ active_form_end() }}
</div>