{{ use('/yii/grid/GridView') }}
{% set title = 'Products Categories' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
  {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="products-category-index">
  <div class="content-wrapper">
    <section>
      <div class="row">
        <div class="col-md-12">
          <h1>{{ html.encode(this.title) }}</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Category' }}</a>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-2">
              <button class=" btn btn-primary" data-toggle="modal" data-target="#toolsModal" ><span class="fa fa-cogs"></span> Операции</button>
          </div>
      </div>
      <div class="row">
        <div  class="col-md-12">
          {{ grid_view_widget({
            'id': 'grid-ajax-action',
            'dataProvider': dataProvider,
            'filterModel': searchModel,
            'columns': [
              {'class': '\\yii\\grid\\SerialColumn'},
              {'class': '\\yii\\grid\\CheckboxColumn'},
              'id',
              {'attribute':'parent','format':'raw','value':tableData.parents,'filter':parents, 'label': 'Родительские категории'},
              {'attribute':'name', 'format':'raw', 'value':tableData.name},
              'route',
              {
                'attribute':'store_id',
                'format':'raw',
                'filter':storeFilter,
                'value': 'store.name'
              },
              {'attribute':'active','format':'raw','value':tableData.active,'filter':activeFilter},
              {'attribute':'synonyms','format':'raw','value':tableData.synonyms,'label': 'Синонимы'},
              {'attribute':'synonym','format':'raw','value':tableData.synonym,'filter':synonymFilter},
              {'attribute':'products','format':'raw','value':tableData.products,'label':'Товаров'},
              'crated_at',
              {'class': '\\yii\\grid\\ActionColumn', 'template':'{update}'},
            ],
          })
          }}
        </div>
      </div>
    </section>

  </div>

</div>
<!-- Modal -->
<div class="modal fade update-ajax " id="toolsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ajax-action-content">
            <div class="modal-header">
                <span class="modal-title" id="exampleModalCenterTitle">Update selected Product Categories</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="tools-modal-active">Активна</label>
                    <select class="form-control"  name="active" id="tools-modal-active">
                        <option value="">Оставить без изменения</option>
                        {% for key, active in activeFilter %}
                            <option value="{{ key }}">{{ active }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="form-group field-productscategory-parent">
                    <label class="control-label" for="productscategory-parent">Родительская категория</label>
                    <input class="category_tree_input" id="productscategory-parent_hidden" type="hidden" name="parent" value="" data-root="Корень"
                           data-empty="Оставить без изменения" />
                            {# eсли задано то для null значение 0 для Оставить без изменения значение "" #}
                </div>


                <div class="form-group field-productscategory-synonym">
                    <label class="control-label" for="productscategory-synonym">Является синонимом для</label>
                    <input class="category_tree_input" id="productscategory-synonym_hidden" type="hidden" name="synonym" value=""
                           data-empty="Оставить без изменения" data-root="Самостоятельная категория"/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <a href="/admin-category/product/update-all"  class="btn btn-primary ajax-action" >Применить</a>
            </div>
        </div>
    </div>
</div>
<script>
    var category_data='{{ data|raw }}';
</script>
