{{ use('/yii/grid/GridView') }}
{% set title = 'Products Categories' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
  {{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="products-category-index">
  <div class="content-wrapper">
    <section>
      <div class="row">
        <div class="col-md-12">
          <h1>{{ html.encode(this.title) }}</h1>
          <p>
            <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create Category' }}</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div  class="col-md-12">
          {{ grid_view_widget({
            'dataProvider': dataProvider,
            'filterModel': searchModel,
            'columns': [
              {'class': '\\yii\\grid\\SerialColumn'},
              'id',
              {'attribute':'parent','format':'raw','value':tableData.parents,'filter':parents, 'label': 'Родительские категории'},
              {'attribute':'name', 'format':'raw', 'value':tableData.name},
              'route',
              {'attribute':'active','format':'raw','value':tableData.active,'filter':activeFilter},
              {'attribute':'synonym','format':'raw','value':tableData.synonym,'filter':synonymFilter},
              'crated_at',
              {'class': '\\yii\\grid\\ActionColumn', 'template':'{update}'},
            ],
          })
          }}
        </div>
      </div>
    </section>
  </div>
</div>
