{{ use('yii/bootstrap') }}
{{ use('yii\bootstrap\ActiveForm') }}
{{ use('yii/helpers/Html') }}
{{ use('yii/bootsrap/Nav') }}
{{ use('yii/bootsrap/NavBar') }}
{{ use('yii/widgets/Breadcrumbs') }}
{{ use('b2b/components/ContentMenu') }}
{#{{ use('common/widgets/Alert') }}#}
{{ register_asset_bundle('b2b/assets/AppAsset') }}

{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{   void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}
<div class="wrap">

    {{ nav_bar_begin({
        'brandLabel': '<img src="/images/templates/secretdiscounter-logo.png" width="170" alt="Secretdiscounter logo">',
        'brandUrl' : '/',
        'options' : {'class': 'navbar-inverse navbar-fixed-top'}
    })  }}
    {% if app.storePointUser.id %}
        {% set menuItems = [{'label': 'Добавить платёж', 'url': ['/stores_points/payments']}] %}
        {% set label='Выход ('~app.storePointUser.name~')' %}
        {% set menuItems = menuItems|merge([{'label': label, 'url': ['/stores_points/logout']}]) %}
    {% elseif app.user.isGuest %}
        {% set menuItems = [{'label': 'Личный кабинет', 'url': ['/login']}] %}
        {% set menuItems = menuItems|merge([{'label': 'Личный кабинет точки продаж', 'url': ['/stores_points/login']}]) %}
        {% set menuItems = menuItems|merge([{'label': 'Подключить магазин', 'url': ['/registration']}]) %}
    {% else %}
        {%  set menuItems = [{'label': 'Личный кабинет', 'url': ['/home']}] %}
        {% set label='Выход ('~app.user.identity.username~')' %}
        {% set menuItems = menuItems|merge([{'label': 'Платежи', 'url': ['/payments']}]) %}
        {% set menuItems = menuItems|merge([{'label': label, 'url': ['/logout']}]) %}
    {% endif %}
    {{ nav_widget({'options': {'class': 'navbar-nav navbar-right'}, 'items': menuItems,}) }}
    {{ nav_bar_end() }}


    <div class="container">
        {{ breadcrumbs_widget({'links': this.params.breadcrumbs}) }}
        {#{{ alert_widget() }}#}
        {% set content_menu = content_menu_widget({'current_item':this.title, 'is_guests':app.user.isGuest}) %}

        {% if content_menu and  app.request.pathinfo|slice(0,8) != 'payments' and app.request.pathinfo != 'home' %}
            <div class="col-sm-3">
                {{ content_menu|raw }}
            </div>
            <div class="col-sm-9">
                {{ content|raw }}
            </div>
        {% else %}
            <div class="col-sm-12">
                {{ content|raw }}
            </div>
        {% endif %}

    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; Secret Discounter Ltd., 2016–{{ year() }}. Все права защищены</p>
        <p class="pull-right">
            <a class="footer__href" href="">Политика конфиденциальности</a> | <a class="footer__href" href="">Условия использования</a>
        </p>
    </div>
</footer>

{{   void(this.endBody()) }}
</body>
{{ Notification()|raw }}
</html>
{{   void(this.endPage()) }}

